<div class="az-header az-header-dashboard-four">
  <div class="container-fluid">
    <div class="az-header-left">
      <a href="index.html" class="az-logo"><img src="../../../assets/img/trinoks-logo3.png" /></a>
      <a href="" id="azNavShow" class="az-header-menu-icon d-lg-none"><span></span></a>
    </div>
    <!-- az-header-left -->
    <div class="az-header-center">
      <input type="search" class="form-control" placeholder="Search for schedules and events..." />
      <button class="btn"><i class="fas fa-search"></i></button>
    </div>
    <!-- az-header-center -->
    <div class="az-header-right">
      <div class="btn-group">
        <button type="button" class="btn-exit-dd" data-toggle="dropdown" aria-expanded="false">
          <i class="typcn icon-default typcn-user-outline"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" (click)="logout()" type="button">Çıkış Yap</button>
        </div>
      </div>

      <!-- az-header-notification -->
    </div>
    <!-- az-header-right -->
  </div>
  <!-- container -->
</div>
<!-- az-header -->

<div class="az-navbar az-navbar-two">
  <div class="container-fluid">

    <div class="stellarnav">
      <ul>
        <li class="nav-item active"><a class="nav-link" routerLink="/dashboard" routerLinkActive="active"><i
              class="typcn typcn-clipboard"></i>Dashboard</a></li>
        <li class="drop-right nav-item">
          <a href="#" onclick="return false" class="nav-link with-sub"><i class="typcn typcn-edit"></i>Tanımlamalar</a>
          <ul class="nav-link-item-ul">
            <li class="nav-link-item-parent">
              <a class="nav-link-item-parent-link" href="#" onclick="return false">Genel Tanımlar <span
                  class="typcn typcn-chevron-right"></span></a>
              <ul class="nav-link-item-ul-sub">
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/company"
                    routerLinkActive="active">Şirket Tanımlama</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/location"
                    routerLinkActive="active">Lokasyon Tanımlama</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/department"
                    routerLinkActive="active">Departman Tanımlama</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/user"
                    routerLinkActive="active">Kullanıcı Tanımlama</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/role" routerLinkActive="active">Rol
                    Tanımlama</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/roleauthorization"
                    routerLinkActive="active">Rol ve Yetki Tanımlama</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/expensecenter"
                    routerLinkActive="active">Masraf Yeri Tanımlama</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/checkedoutreason"
                    routerLinkActive="active">Çıkış Tipi Tanımlama</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/status"
                      routerLinkActive="active">Statü Listesi</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/agreement"
                    routerLinkActive="active">Sözleşme Tanımlama</a></li>
              </ul>
            </li>
            <li class="nav-link-item-parent">
              <a class="nav-link-item-parent-link" href="#" onclick="return false">Demirbaş Tanımları<span
                  class="typcn typcn-chevron-right"></span></a>
              <ul class="nav-link-item-ul-sub">
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/fixedassetcard"
                    routerLinkActive="active">Kart Tanımlama</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/fixedassetcardcategory"
                    routerLinkActive="active">Kategori Tanımlama</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/fixedassetcardproperty"
                    routerLinkActive="active">Kart Özellikleri</a></li>    
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/fixedassetcardbrand"
                    routerLinkActive="active">Marka Tanımlama</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/fixedassetcardmodel"
                    routerLinkActive="active">Model Tanımlama</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="drop-right nav-item">
          <a href="#" onclick="return false" class="nav-link with-sub"><i class="typcn typcn-clipboard"></i>Demirbaş
            İşlemleri</a>
            <ul class="nav-link-item-ul-sub">
              <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/fixedasset"
                  routerLinkActive="active">Demirbaş Operasyonları</a></li>   
            </ul>
          <!--<ul>
            <li><a href="#" onclick="return false">Genel Tanımlar</a>
              <ul>
                <li><a href="#">x Tanımlama</a></li>
                <li><a href="#">y Tanımlama</a></li>
              </ul>
            </li>
          </ul>-->
        </li>
        <li class="drop-right nav-item">
          <a href="#" onclick="return false" class="nav-link with-sub"><i class="typcn typcn-clipboard"></i>Amortisman
            İşlemleri</a>
          <!--<ul>
            <li><a href="#" onclick="return false">Genel Tanımlar</a>
              <ul>
                <li><a href="#">x Tanımlama</a></li>
                <li><a href="#">y Tanımlama</a></li>
              </ul>
            </li>
          </ul>-->
        </li>
        <li class="drop-right nav-item">
          <a href="#" onclick="return false" class="nav-link with-sub"><i class="typcn typcn-clipboard"></i>Bakım
            Yönetimi</a>
          <!--<ul>
            <li><a href="#" onclick="return false">Genel Tanımlar</a>
              <ul>
                <li><a href="#">x Tanımlama</a></li>
                <li><a href="#">y Tanımlama</a></li>
              </ul>
            </li>
          </ul>-->
        </li>
        <li class="drop-right nav-item">
          <a href="#" onclick="return false" class="nav-link with-sub"><i class="typcn typcn-clipboard"></i>Sarf Malzeme
            Yönetimi</a>
          <!--<ul>
            <li><a href="#" onclick="return false">Genel Tanımlar</a>
              <ul>
                <li><a href="#">x Tanımlama</a></li>
                <li><a href="#">y Tanımlama</a></li>
              </ul>
            </li>
          </ul>-->
        </li>
        <li class="nav-item"><a class="nav-link" href="">Dosya Aktarma</a></li>
        <!--<li class="drop-left"><a href="" onclick="return false">Drop Left</a>
          <ul>
            <li><a href="#" onclick="return false">How deep?</a>
              <ul>
                <li><a href="#" onclick="return false">Deep</a>
                  <ul>
                    <li><a href="#" onclick="return false">Even deeper</a>
                    </li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                  </ul>
                </li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
              </ul>
            </li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </li>-->
      </ul>
    </div><!-- .stellarnav -->

  </div>
  <!-- container -->
</div>
<!-- az-navbar -->