<div class="az-header az-header-dashboard-four">
  <div class="container-fluid">
    <div class="az-header-left">
      <h1 class="az-logo">fat<span>s<sup class="trade-mark">&reg;</sup></span></h1>
      <div class="nav-mobile-button">
        <span class="fa fa-list">
        </span>
      </div>
    </div>
    <!-- az-header-left -->
    <div class="az-header-center">
      <input type="search" (keyup)="onDescriptionKeyUp($event)" [(ngModel)]="searchDescription" class="form-control"
        placeholder="Demirbaş barkodu ya da demirbaş açıklaması ara…" />
      <button (click)="onClickSearch()" class="btn"><i class="fas fa-search"></i></button>
    </div>
    <div class="az-header-center">

    </div>
    <!-- az-header-center -->
    <div class="az-header-right">
      <div class="dropdown firm-dropdown">
        <button class="btn btn-secondary dropdown-toggle firm-dropdown-button" (click)="loadFirms()" type="button"
          id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="dropdown-button-content">
            {{baseService.authenticationService.currentFirm ? baseService.authenticationService.currentFirm.Name : ''}}
          </div>
        </button>
        <div class="dropdown-menu">
          <ng-container *ngFor="let firm of baseService.authenticationService.Firms">

            <button class="dropdown-item" (click)="changeFirm(firm.FirmId)" type="button">
              {{firm.Name}}
            </button>

          </ng-container>
        </div>
      </div>
      <div class="btn-group">  
          <button type="button" class="bell-custom-button" (click)="redirectToTerminal('/cyclecountterminal')">
              <i class="fas fa-barcode"></i>
            </button>
        <button type="button" class="info-custom-button" data-container="body" data-popover-color="head-secondary"
          data-placement="bottom" title="Bilgilendirme" data-html="true"
          [attr.data-content]="drawnContentForApplicationInfo">
          <i class="typcn icon-default typcn-info-large-outline"></i>
        </button>
    
        <button type="button" class="bell-custom-button">
          <i class="far fa-bell fa-bell-custom"></i>
        </button>
        <button type="button" class="btn-exit-dd" data-toggle="dropdown" aria-expanded="false">
          <i class="far fa-user fa-user-custom"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" (click)="userSettings()" type="button">{{getLanguageValue('Settings')}}</button>
          <button class="dropdown-item" (click)="logout()" type="button">{{getLanguageValue('Log_Out')}}</button>
        </div>
      </div>

      <!-- az-header-notification -->
    </div>
    <!-- az-header-right -->
  </div>
  <!-- container -->
</div>
<!-- az-header -->

<div class="az-navbar az-navbar-two">
  <div class="container-fluid">

    <div class="stellarnav">
      <ul>
        <li class="nav-item" routerLink="/dashboard" routerLinkActive="active">
          <a class="nav-link">
            <i class="typcn icon-default typcn-home-outline" style="font-size: 22px;"></i>{{getLanguageValue('Dashboard')}}
          </a>
        </li>
        <li class="drop-right nav-item">
          <a href="#" onclick="return false" class="nav-link with-sub">
            <i class="typcn typcn-edit"></i>{{getLanguageValue('Definitions')}}</a>
          <ul class="nav-link-item-ul">
            <li class="nav-link-item-parent">
              <a class="nav-link-item-parent-link" href="#" onclick="return false">{{getLanguageValue('General_Definitions')}}<span
                  class="typcn typcn-chevron-right"></span></a>
              <ul class="nav-link-item-ul-sub">
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/company"
                    routerLinkActive="active">{{getLanguageValue('Companies')}}</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/location"
                    routerLinkActive="active">{{getLanguageValue('Locations')}}</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/department"
                    routerLinkActive="active">{{getLanguageValue('Departments')}}</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/user"
                    routerLinkActive="active">{{getLanguageValue('Users')}}</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/role"
                    routerLinkActive="active">{{getLanguageValue('Roles')}}</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/roleauthorization"
                    routerLinkActive="active">{{getLanguageValue('Role_Authorization')}}</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/expensecenter"
                    routerLinkActive="active">{{getLanguageValue('Expense_Centers')}}</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/checkedoutreason"
                    routerLinkActive="active">{{getLanguageValue('Exit_Types')}}</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/suspension"
                    routerLinkActive="active">{{getLanguageValue('Suspention_Reasons')}}</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/agreement"
                    routerLinkActive="active">{{getLanguageValue('Agreements')}}</a></li>
              </ul>
            </li>
            <li class="nav-link-item-parent">
              <a class="nav-link-item-parent-link" href="#" onclick="return false">{{getLanguageValue('Fixed_Asset_Definitions')}}<span
                  class="typcn typcn-chevron-right"></span></a>
              <ul class="nav-link-item-ul-sub">
                  <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/fixedassetcardcategory"
                    routerLinkActive="active">{{getLanguageValue('Fixed_Asset_Card_Categories')}}</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/fixedassetcard"
                    routerLinkActive="active">{{getLanguageValue('Fixed_Asset_Cards')}}</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/fixedassetcardproperty"
                    routerLinkActive="active">{{getLanguageValue('Fixed_Asset_Card_Properties')}}</a></li>                
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/fixedassetcardbrand"
                    routerLinkActive="active">{{getLanguageValue('Fixed_Asset_Brands')}}</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/fixedassetcardmodel"
                    routerLinkActive="active">{{getLanguageValue('Fixed_Asset_Models')}}</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/status"
                    routerLinkActive="active">{{getLanguageValue('Fixed_Asset_Status')}}</a></li>
              </ul>
            </li>
            <li class="nav-link-item-parent">
              <a class="nav-link-item-parent-link" href="#" onclick="return false">{{getLanguageValue('Consumable_Definitions')}}<span
                  class="typcn typcn-chevron-right"></span></a>
              <ul class="nav-link-item-ul-sub">
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/consumablecard"
                    routerLinkActive="active">{{getLanguageValue('Consumable_Cards')}}</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/consumablecategory"
                    routerLinkActive="active">{{getLanguageValue('Consumable_Card_Categories')}}</a></li>
                <li class="nav-link-item"><a class="nav-link-item-link" routerLink="/consumableunit"
                    routerLinkActive="active">{{getLanguageValue('Consumable_Units')}}</a></li>
              </ul>
            </li>
            <!-- <li class="nav-link-item-parent">
              <a class="nav-link-item-link" href="/filesave">Dosya Aktarma</a>
            </li> -->
          </ul>
        </li>
        <li class="drop-right nav-item">
          <a href="#" onclick="return false" class="nav-link with-sub">
            <i class="fas fa-desktop" style="font-size:15px"></i>
            {{getLanguageValue('Fixed_Asset_Management')}}
          </a>
          <ul class="nav-link-item-ul">
            <li class="nav-link-item-parent">
              <a class="nav-link-item-link" routerLink="/fixedasset" routerLinkActive="active">
                {{getLanguageValue('Fixed_Asset_Operations')}}
              </a>
            </li>
            <li class="nav-link-item-parent">
              <a class="nav-link-item-link" routerLink="/suspendedfixedasset" routerLinkActive="active">
                {{getLanguageValue('Suspended_Fixed_Assets')}}
              </a>
            </li>
            <li class="nav-link-item-parent">
              <a class="nav-link-item-link" routerLink="/lostfixedasset" routerLinkActive="active">
                {{getLanguageValue('Lost_Fixed_Assets')}}
              </a>
            </li>
            <li class="nav-link-item-parent">
              <a class="nav-link-item-link" routerLink="/checkoutfixedasset" routerLinkActive="active">
                {{getLanguageValue('Exit_Fixed_Assets')}}
              </a>
            </li>
            <li class="nav-link-item-parent">
              <a class="nav-link-item-link" routerLink="/relationshipfixedasset" routerLinkActive="active">
                {{getLanguageValue('Related_Fixed_Assets')}}             
              </a>
            </li>
            <li class="nav-link-item-parent">
              <a class="nav-link-item-link" routerLink="/transactionlist" routerLinkActive="active">
                {{getLanguageValue('Transaction_List')}}
              </a>
            </li>
            <li class="nav-link-item-parent">
              <a class="nav-link-item-link" routerLink="/cyclecount" routerLinkActive="active">
                {{getLanguageValue('Fixed_Asset_Counting')}}
              </a>
            </li>
          </ul>
          <!--<ul>
            <li><a href="#" onclick="return false">Genel Tanımlar</a>
              <ul>
                <li><a href="#">x Tanımlama</a></li>
                <li><a href="#">y Tanımlama</a></li>
              </ul>
            </li>
          </ul>-->
        </li>
        <li class="drop-right nav-item">
          <!-- <a class="nav-link with-sub" href="#"  routerLinkActive="active" >
            <i class="typcn icon-default typcn-chart-line-outline" style="font-size:23px"></i>
            Amortisman Yönetimi
          </a> -->
          <a href="#" onclick="return false" class="nav-link with-sub">
              <i class="typcn typcn-chart-line-outline"></i> {{getLanguageValue('Depreciation_Management')}}</a>
          <ul class="nav-link-item-ul">
              <li class="nav-link-item-parent">
                <a class="nav-link-item-link" routerLink="/depreciation" routerLinkActive="active">
                  {{getLanguageValue('Depreciation_Informations')}}
                </a>
              </li>
              <li class="nav-link-item-parent">
                <a class="nav-link-item-link" routerLink="/depreciationdetaillist" routerLinkActive="active">
                  {{getLanguageValue('Detailed_Depreciation_List')}}
                </a>
              </li>
            </ul>
        </li>

        <li class="drop-right nav-item">
          <a href="#" onclick="return false" class="nav-link with-sub">
            <i class="typcn icon-default typcn-cog-outline" style="font-size: 20px"></i>
            {{getLanguageValue('Maintanence_Management')}}
          </a>
        </li>
        

        <li class="drop-right nav-item">
            <a href="#" onclick="return false" class="nav-link with-sub">
              <i class="typcn typcn-tabs-outline"></i>Sarf Malzeme Yönetimi</a>
            <ul class="nav-link-item-ul">
              <li class="nav-link-item-parent">
                  <a class="nav-link-item-link" routerLinkActive="active" routerLink="/consumablelist">
                    {{getLanguageValue('Consumable_List')}}
                  </a>
                </li>
              <li class="nav-link-item-parent">
                  <a class="nav-link-item-link"  routerLinkActive="active"  routerLink="/consumablerequestlist">
                    {{getLanguageValue('Consumable_Requests')}}
                  </a>
                </li>
                <li class="nav-link-item-parent">
                    <a class="nav-link-item-link" routerLink="/consumabletransactionlist" routerLinkActive="active">
                      {{getLanguageValue('Consumable_Consumption')}}
                    </a>
                  </li>
              <!-- <li class="nav-link-item-parent">
                <a class="nav-link-item-link" href="/filesave">Dosya Aktarma</a>
              </li> -->
            </ul>
          </li>


        <!--<li class="drop-left"><a href="" onclick="return false">Drop Left</a>
          <ul>
            <li><a href="#" onclick="return false">How deep?</a>
              <ul>
                <li><a href="#" onclick="return false">Deep</a>
                  <ul>
                    <li><a href="#" onclick="return false">Even deeper</a>
                    </li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                  </ul>
                </li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
              </ul>
            </li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </li>-->
      </ul>
    </div><!-- .stellarnav -->

  </div>
  <!-- container -->
</div>
<!-- az-navbar -->