<div class="az-header az-header-dashboard-four">
  <div class="container-fluid">
    <div class="az-header-left">
      <a href="index.html" class="az-logo"><img src="../../../assets/img/trinoks-logo3.png" /></a>
      <a href="" id="azNavShow" class="az-header-menu-icon d-lg-none"><span></span></a>
    </div>
    <!-- az-header-left -->
    <div class="az-header-center">
      <input type="search" class="form-control" placeholder="Search for schedules and events..." />
      <button class="btn"><i class="fas fa-search"></i></button>
    </div>
    <!-- az-header-center -->
    <div class="az-header-right">
      <div class="az-header-message">
        <a href="app-chat.html"><i class="typcn typcn-messages"></i></a>
      </div>
      <!-- az-header-message -->
      <div class="dropdown az-header-notification">
        <a href="" class="new"><i class="typcn typcn-bell"></i></a>
        <div class="dropdown-menu">
          <div class="az-dropdown-header mg-b-20 d-sm-none">
            <a href="" class="az-header-arrow"><i class="icon ion-md-arrow-back"></i></a>
          </div>
          <h6 class="az-notification-title">Notifications</h6>
          <p class="az-notification-text">You have 2 unread notification</p>
          <div class="az-notification-list"></div>
          <!-- az-notification-list -->
          <div class="dropdown-footer">
            <a href="">View All Notifications</a>
          </div>
        </div>
        <!-- dropdown-menu -->
      </div>
      <!-- az-header-notification -->
    </div>
    <!-- az-header-right -->
  </div>
  <!-- container -->
</div>
<!-- az-header -->

<div class="az-navbar az-navbar-two">
  <div class="container-fluid">

    <div class="stellarnav">
      <ul>
          <li class="drop-right"><a href="">Drop Right</a>
            <ul>
              <li><a href="#">How deep?</a>
                <ul>
                  <li><a href="#">Deep</a>
                    <ul>
                      <li><a href="#">Even deeper</a>
                      </li>
                      <li><a href="#">Item</a></li>
                      <li><a href="#">Item</a></li>
                      <li><a href="#">Item</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Item</a></li>
                  <li><a href="#">Item</a></li>
                  <li><a href="#">Item</a></li>
                  <li><a href="#">Item</a></li>
                </ul>
              </li>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
            </ul>
          </li>
        <li><a href="">Item 2</a></li>
        <li><a href="">Item 3</a></li>
        <li><a href="">Item 4</a></li>
        <li><a href="">Item 5</a></li>
        <li><a href="">Item 6</a></li>
        <li class="drop-left"><a href="">Drop Left</a>
          <ul>
            <li><a href="#">How deep?</a>
              <ul>
                <li><a href="#">Deep</a>
                  <ul>
                    <li><a href="#">Even deeper</a>
                    </li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                  </ul>
                </li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
                <li><a href="#">Item</a></li>
              </ul>
            </li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- .stellarnav -->

  </div>
  <!-- container -->
</div>
<!-- az-navbar -->