<div class="modal-header">
  <h6 class="modal-title">Zimmet iptali için gerekli bilgileri giriniz.</h6>
  <button id="CloseModal" (click)="resetForm(data)" type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form name="form" #data="ngForm" (ngSubmit)="DeleteDebit(data)">
  <div class="modal-body">

    <!-- BARKOD -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>{{getLanguageValue('Barcode')}}</label>
        <input name="Barcodes" value="{{ faBarcode.Barcode }}" type="text" class="form-control" disabled />
      </div>
    </div>

    <!-- DEMİRBAŞ ADI -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>{{getLanguageValue('Fixed_Asset_Card_Name')}}</label>
        <input name="Name" value="{{ faBarcode.FixedAssetCard.Name }}" type="text" class="form-control" disabled />
      </div>
    </div>

    <!-- YENİ ZİMMET -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>{{getLanguageValue('Embezzled_Staff')}}</label>
        <ng-multiselect-dropdown [placeholder]="getLanguageValue('Choose')" [data]="users" [(ngModel)]="UserIds" name="userIds"
          #userIds="ngModel" [ngClass]="{ 'is-invalid': data.submitted && userIds.invalid }"
          [settings]="dropdownSettings">
        </ng-multiselect-dropdown>
        <div *ngIf="data.submitted && userIds.invalid" class="invalid-feedback">
          <div *ngIf="userIds.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
        </div>
      </div>
    </div>

  </div>

  <!-- modal-body -->
  <div class="modal-footer">
    <button class="btn btn-orange" id="btnDeleteDebit" type="submit" data-toggle="modal"
      data-target="#modalDeleteDebit">
      Zimmeti İptal Et
    </button>
  </div>
</form>