<div class="az-content az-content-dashboard-four">
  <div class="media media-dashboard">
    <div class="media-body">
      <!-- Bread Crumb -->
      <div class="az-content-breadcrumb">
        <span>{{getLanguageValue('Fixed_Asset_Management')}}</span>
        <span>{{getLanguageValue('Exit_Fixed_Assets')}}</span>
      </div>
      <!-- END Bread Crumb END -->
      <div class="card card-dashboard-twelve mg-b-20">
        <div class="card-header">
          <h2 class="az-content-title">{{getLanguageValue('Exit_Fixed_Assets')}}</h2>
          <div class="grp-btn-action">

            <button class="btn btn-success btn-excel-custom" (click)="exportAsExcelFile(dataTable)" style="margin-right:10px" data-toggle="tooltip" data-placement="bottom" title="Excel">
              <i [ngClass]="{'far fa-file-excel':isTableExporting == false}"
                [class.btn-refresh-loader]="isTableExporting == true"></i>
            </button>

            <button class="btn btn-success btn-excel-custom" (click)="downloadForm()" style="margin-right:10px" data-toggle="tooltip"
            data-placement="bottom" title="Form"><i class="fas fa-file-download"></i></button>

            <button id="btnFixedAssetInfo" class="btn btn-az-primary btn-create-assets" data-toggle="modal"
                style="display:none" data-target="#modalFixedAssetInfo" title="Demirbaş Girişi"></button>

            <button type="button" (click)="refreshTable()" style="margin-right:0"
              class="btn btn-success btn-refresh-custom">
              <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}"
                [class.btn-refresh-loader]="isTableRefreshing == true"></i>
            </button>

          </div>

        </div>
        <div class="sales-overview">
          <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>
        </div>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->

<div id="modalFixedAssetInfo" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 915px;">
    <div class="modal-content modal-content-demo table-scroll">
      <div class="modal-header">
        <h6 class="modal-title" style="margin-top: 7px;
        margin-bottom: 7px;">{{getLanguageValue('Enter_fixed_asset_informations')}}</h6>
        <button id="CloseModal" type="button" class="close" (click)="resetForm()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <fieldset class="field_set" style="padding-left: 10px; margin-right: 10px; margin-left: 10px;">
          <legend>{{getLanguageValue('General_Informations')}}</legend>

          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Barcode')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.Barcode}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Fixed_Asset_Card_Name')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.FixedAssetCard.Name}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Fixed_Asset_Category_Name')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{category == null ? " " : category}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Location')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.Location.Name}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Department')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{department}}</span>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Fixed_Asset_Statu')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{status}}</span>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Serial_Number')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.SerialNumber}}</span>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Staff')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{user}}</span>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Fixed_Asset_Brand_Name')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetBrand == null ? " " : fixedAssetBrand}}</span>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Fixed_Asset_Model_Name')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetModel == null ? " " : fixedAssetModel}}</span>
                </div>
              </div>


            </div>

            <div class="col-md-6">
              <div class="row justify-content-center">
                <div *ngIf="!imagePath" class="form-group well my-drop-zone">
                </div>
                <div *ngIf="imagePath" style="    width: 100%; height: 100%;; margin: 20px;">
                  <img [src]="imagePath" style="    width: 100%;
                  height: 100%;">
                </div>
              </div>
            </div>

          </div>
        </fieldset>
        <fieldset class="field_set" style="margin-top: 10px;padding-left: 10px;margin-right: 10px; margin-left: 10px;">
          <legend>{{getLanguageValue('Financial_Informations')}}</legend>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Fixed_Asset_Price')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.Price}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Expense_Center')}} :</label>
                </div>
                <div class="col-md-6">
                  <span></span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Invoice_No')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.InvoiceNo}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Invoice_Date')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.InvoiceDate ? fixedAssetInfo.InvoiceDate.substring(0, 10).split("-").reverse().join("-") : ""}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Receipt_Date')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.InvoiceDate ? fixedAssetInfo.InvoiceDate.substring(0, 10).split("-").reverse().join("-") : ""}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Demirbaş Aktif mi ? :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.IsActive == true ? "Aktif" : "Pasif"}}</span>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Fixed_Asset_Activation_Date')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.ActivationDate ? fixedAssetInfo.ActivationDate.substring(0, 10).split("-").reverse().join("-") : ""}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Insurance_Company')}} :</label>
                </div>
                <div class="col-md-6">
                  <span></span>
                </div>
              </div>

            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Will_Depreciation_Be_Calculated')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.WillDepreciationBeCalculated == true ? "Evet" : "Hayır"}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Depreciation_Period')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.DepreciationPeriod}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Depreciation_Method')}} :</label>
                </div>
                <div class="col-md-6">
                  <span></span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Will_IFRS_Be_Calculated')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.WillIfrsbeCalculated == true ? "Evet" : "Hayır"}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('IFRS_Price')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.Ifrsprice}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Guarentee_Start_Date')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.GuaranteeStartDate ? fixedAssetInfo.GuaranteeStartDate.substring(0, 10).split("-").reverse().join("-") : ""}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{getLanguageValue('Guarentee_End_Date')}} :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.GuaranteeEndDate ? fixedAssetInfo.GuaranteeEndDate.substring(0, 10).split("-").reverse().join("-") : ""}}</span>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="row justify-content-center" style="margin-top: 10px;padding-left: 10px; padding-right: 10px;">
          <div class="property-add-value col-md-6">
            <tree-grid-table [dataTable]="dataTablePropertyValue">
            </tree-grid-table>
          </div>
          <div class="property-add-value col-md-6">
            <tree-grid-table [dataTable]="dataTableFixedAssetFile">
            </tree-grid-table>
          </div>
        </div>
      </div>
      <!-- modal-body -->
      <div class="modal-footer">

      </div>
    </div>
  </div>
  <!-- modal-dialog -->
</div>