<div class="az-content az-content-dashboard-four">
  <div class="media media-dashboard">
    <div class="media-body">
      <!-- Bread Crumb -->
      <div class="az-content-breadcrumb">
        <span>DEMİRBAŞ YÖNETİMİ</span>
        <span>ÇIKIŞI YAPILMIŞ DEMİRBAŞLAR</span>
      </div>
      <!-- END Bread Crumb END -->
      <div class="card card-dashboard-twelve mg-b-20">
        <div class="card-header">
          <h2 class="az-content-title">Çıkışı Yapılmış Demirbaşlar</h2>
          <div class="grp-btn-action">

            <button class="btn btn-success btn-excel-custom" (click)="exportAsExcelFile(dataTable)" style="margin-right:10px">
              <i [ngClass]="{'far fa-file-excel':isTableExporting == false}"
                [class.btn-refresh-loader]="isTableExporting == true"></i>
            </button>

            <button class="btn btn-success" (click)="downloadForm()" style="margin-right:10px" data-toggle="tooltip"
            data-placement="bottom" title="Form"><i class="fas fa-file-download"></i></button>

            <button id="btnFixedAssetInfo" class="btn btn-az-primary btn-create-assets" data-toggle="modal"
                style="display:none" data-target="#modalFixedAssetInfo" title="Demirbaş Girişi"></button>

            <button type="button" (click)="refreshTable()" style="margin-right:0"
              class="btn btn-success btn-refresh-custom">
              <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}"
                [class.btn-refresh-loader]="isTableRefreshing == true"></i>
            </button>

          </div>

        </div>
        <div class="sales-overview">
          <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>
        </div>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->

<div id="modalFixedAssetInfo" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 915px;">
    <div class="modal-content modal-content-demo table-scroll">
      <div class="modal-header">
        <h6 class="modal-title" style="margin-top: 7px;
        margin-bottom: 7px;">Demirbaş bilgileri</h6>
        <button id="CloseModal" type="button" class="close" (click)="resetForm()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <fieldset class="field_set" style="padding-left: 10px; margin-right: 10px; margin-left: 10px;">
          <legend>Genel Bilgiler</legend>

          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Barkod :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.Barcode}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Demirbaş Adı :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.FixedAssetCard.Name}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Demirbaş Kategorisi :</label>
                </div>
                <div class="col-md-6">
                  <span>{{category == null ? " " : category}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Lokasyon :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.Location.Name}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Departman :</label>
                </div>
                <div class="col-md-6">
                  <span>{{department}}</span>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                  <label>Demirbaş Statüsü :</label>
                </div>
                <div class="col-md-6">
                  <span>{{status}}</span>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                  <label>Seri Numarası :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.SerialNumber}}</span>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                  <label>Personel :</label>
                </div>
                <div class="col-md-6">
                  <span>{{user}}</span>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                  <label>Marka :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetBrand == null ? " " : fixedAssetBrand}}</span>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                  <label>Model :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetModel == null ? " " : fixedAssetModel}}</span>
                </div>
              </div>


            </div>

            <div class="col-md-6">
              <div class="row justify-content-center">
                <div *ngIf="!imagePath" class="form-group well my-drop-zone">
                </div>
                <div *ngIf="imagePath" style="    width: 100%; height: 100%;; margin: 20px;">
                  <img [src]="imagePath" style="    width: 100%;
                  height: 100%;">
                </div>
              </div>
            </div>

          </div>
        </fieldset>
        <fieldset class="field_set" style="margin-top: 10px;padding-left: 10px;margin-right: 10px; margin-left: 10px;">
          <legend>Finansal Bilgiler</legend>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Fiyat :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.Price}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Masraf Merkezi :</label>
                </div>
                <div class="col-md-6">
                  <span></span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Fatura No :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.InvoiceNo}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Fatura Tarihi :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.InvoiceDate ? fixedAssetInfo.InvoiceDate.substring(0, 10).split("-").reverse().join("-") : ""}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Makbuz Tarihi :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.InvoiceDate ? fixedAssetInfo.InvoiceDate.substring(0, 10).split("-").reverse().join("-") : ""}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Demirbaş Aktif mi ? :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.IsActive == true ? "Aktif" : "Pasif"}}</span>
                </div>
              </div>

              <div class="row">
                <div class="form-group col-md-6">
                  <label>Aktifleştirme Tarihi :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.ActivationDate ? fixedAssetInfo.ActivationDate.substring(0, 10).split("-").reverse().join("-") : ""}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Sigorta Şirketi :</label>
                </div>
                <div class="col-md-6">
                  <span></span>
                </div>
              </div>

            </div>

            <div class="col-md-6">
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Amortisman Hesaplanacak mı?:</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.WillDepreciationBeCalculated == true ? "Evet" : "Hayır"}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Amortisman Periyodu :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.DepreciationPeriod}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Amortisman Yöntemi :</label>
                </div>
                <div class="col-md-6">
                  <span></span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>IFRS Hesaplanacak mı? :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.WillIfrsbeCalculated == true ? "Evet" : "Hayır"}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>IFRS Fiyatı :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.Ifrsprice}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Garanti Başlangıç Tarihi :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.GuaranteeStartDate ? fixedAssetInfo.GuaranteeStartDate.substring(0, 10).split("-").reverse().join("-") : ""}}</span>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label>Garanti Bitiş Tarihi :</label>
                </div>
                <div class="col-md-6">
                  <span>{{fixedAssetInfo.GuaranteeEndDate ? fixedAssetInfo.GuaranteeEndDate.substring(0, 10).split("-").reverse().join("-") : ""}}</span>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="row justify-content-center" style="margin-top: 10px;padding-left: 10px; padding-right: 10px;">
          <div class="property-add-value col-md-6">
            <tree-grid-table [dataTable]="dataTablePropertyValue">
            </tree-grid-table>
          </div>
          <div class="property-add-value col-md-6">
            <tree-grid-table [dataTable]="dataTableFixedAssetFile">
            </tree-grid-table>
          </div>
        </div>
      </div>
      <!-- modal-body -->
      <div class="modal-footer">

      </div>
    </div>
  </div>
  <!-- modal-dialog -->
</div>