
  .field_set{
    border:1;
    border-color: #d0cbcb;
    border-style: solid;
  }
  .fieldset_text{
      color:#e67300;
  }

  .flexProperty {
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
  }