<div class="modal-header">
  <h6 class="modal-title">{{getLanguageValue('Identify_filter_values')}}</h6>
  <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form name="form" #data="ngForm" (ngSubmit)="FilterFixedAsset(data)">
  <div class="modal-body" style="width:900px;">

    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <fieldset class="field_set">
          <legend class="fieldset_text">{{getLanguageValue('General_Informations')}}</legend>
          <!-- BARKOD, DEMİRBAŞ ADI, KATEGORİ -->
          <div class="row justify-content-center">

            <!-- BARKOD -->
            <div class="col-md-4 form-group">
              <label>{{getLanguageValue('Barcode')}}</label>
              <input [(ngModel)]="fixedAsset.Barcode" name="Barcode" type="text" class="form-control" />
            </div>

            <!-- DEMİRBAŞ ADI -->
            <!-- <div class="col-md-4 form-group">
              <label>Demirbaş Adı</label>
              <ng-multiselect-dropdown [placeholder]="getLanguageValue('Choose')" [data]="fixedAssetCards"
                [(ngModel)]="fixedAsset.FixedAssetCardId" name="FixedAssetCardId" [settings]="dropdownSettingsForCard"
                (onSelect)="onSelectFixedAssetCard($event)" (onSelectAll)="onSelectAllFixedAssetCard($event)">
              </ng-multiselect-dropdown>
            </div> -->

            <div class="col-md-4 form-group">
              <div>
                <label class="required-span" style="margin-bottom: 0;
                font-weight: 700;">{{getLanguageValue('Fixed_Asset_Card')}}</label>
                <div style="display:flex;">
                  <button id="btnFaCard" (click)="toggleDropdown('card')" class="dropdown-button" type="button" >{{selectedCard ? selectedCard.Name : getLanguageValue('Choose') }}</button>
                    <span class="span-dropdown"  (click)="resetDropdown('card')" class="typcn icon-default typcn-times span-dropdown"></span>
                  </div>
                </div>
                <div class="custom-dropdown" *ngIf="isFaCardDropdownOpen==true">
                    <tree-grid-table (onClickItem)="onClickFaCard($event,item)" [dataTable]="dataTableFixedAssetCard"></tree-grid-table>
                </div>
            </div>

            <!-- KATEGORİ -->
            <!-- <div class="col-md-4 form-group">
              <label>Kategori</label>
              <ng-multiselect-dropdown [placeholder]="getLanguageValue('Choose')" [data]="fixedassetcategories"
                [(ngModel)]="fixedAsset.FixedAssetCardCategoryId" name="FixedAssetCardCategoryId"
                [settings]="dropdownSettingsForCategory" (onSelect)="onSelectCategory($event)"
                (onSelectAll)="onSelectAllCategory($event)">
              </ng-multiselect-dropdown>
            </div> -->

            <div class="col-md-4 form-group">
              <div>
                <label class="required-span" style="margin-bottom: 0;
                font-weight: 700;" >{{getLanguageValue('Fixed_Asset_Category_Name')}}</label>        
              <div style="display:flex;">
              <button id="btnFaCategory" (click)="toggleDropdown('category') " class="dropdown-button" type="button"  >{{selectedCategory ? selectedCategory.Name : getLanguageValue('Choose') }}</button>
                <span class="span-dropdown"  (click)="resetDropdown('category')" class="typcn icon-default typcn-times span-dropdown"></span>
              </div>
          </div>
          <div class="custom-dropdown" *ngIf="isFaCardCategoryDropdownOpen==true">
                  <tree-grid-table (onClickItem)="onClickFaCategory($event,item)" [dataTable]="dataTableFixedAssetCategory"></tree-grid-table>
          </div>
            </div>

          </div>

          <!-- DEPARTMAN, MARKA, DEMİRBAŞ STATÜSÜ -->
          <div class="row justify-content-center">

            <!-- DEPARTMAN -->
            <!-- <div class="col-md-4 form-group">
              <label>Departman</label>
              <ng-multiselect-dropdown [placeholder]="getLanguageValue('Choose')" [data]="departments"
                [(ngModel)]="fixedAsset.DepartmentId" name="DepartmentId" [settings]="dropdownSettingsForDepartment"
                (onSelect)="onSelectDepartment($event)" (onSelectAll)="onSelectAllDepartment($event)">
              </ng-multiselect-dropdown>
            </div> -->

            <div class="col-md-4 form-group">
              <div>
                  <label style="margin-bottom: 0;
                  font-weight: 700;" >{{getLanguageValue('Department')}}</label>
                  <div style="display:flex;">
                  <button id="btnDepartment" (click)="toggleDropdown('department')" class="dropdown-button" type="button"  >{{selectedDepartment ? selectedDepartment.Name : getLanguageValue('Choose') }}</button>
                    <span class="span-dropdown"  (click)="resetDropdown('department')" class="typcn icon-default typcn-times span-dropdown"></span>
                  </div>
              </div>
              <div class="custom-dropdown" *ngIf="isDepartmentDropdownOpen==true">
                      <tree-grid-table (onClickItem)="onClickDepartment($event,item)" [dataTable]="dataTableDepartment"></tree-grid-table>
              </div>
            </div>

            <!-- MARKA -->
            <!-- <div class="col-md-4 form-group">
              <label>Marka</label>
              <ng-multiselect-dropdown [placeholder]="getLanguageValue('Choose')" [data]="brands"
                [(ngModel)]="fixedAsset.FixedAssetCardBrandId" name="FixedAssetCardBrandId"
                [settings]="dropdownSettingsForBrand" (onSelect)="onSelectFixedAssetCardBrand($event)"
                (onSelectAll)="onSelectAllFixedAssetCardBrand($event)">
              </ng-multiselect-dropdown>
            </div> -->

            <div class="col-md-4 form-group">
              <div>
                  <label style="margin-bottom: 0;
                  font-weight: 700;" >{{getLanguageValue('Fixed_Asset_Brand_Name')}}</label>
                  <div style="display:flex;">
                  <button id="btnBrand" (click)="toggleDropdown('brand')" class="dropdown-button" type="button"  >{{selectedBrand ? selectedBrand.Name : getLanguageValue('Choose') }}</button>
                    <span class="span-dropdown"  (click)="resetDropdown('brand')" class="typcn icon-default typcn-times span-dropdown"></span>
                  </div>
              </div>
              <div class="custom-dropdown" *ngIf="isBrandDropdownOpen==true">
                      <tree-grid-table (onClickItem)="onClickBrand($event,item)" [dataTable]="dataTableBrand"></tree-grid-table>
              </div>
            </div>

            <!-- DEMİRBAŞ STATÜSÜ -->
            <div class="col-md-4 form-group">
              <div>
                  <label style="margin-bottom: 0;
                  font-weight: 700;" >{{getLanguageValue('Fixed_Asset_Statu')}}</label>
                  <div style="display:flex;">
                  <button id="btnStatus" (click)="toggleDropdown('status')" class="dropdown-button" type="button"  >{{selectedStatus ? selectedStatus.Name : getLanguageValue('Choose') }}</button>
                    <span class="span-dropdown"  (click)="resetDropdown('status')" class="typcn icon-default typcn-times span-dropdown"></span>
                  </div>
              </div>
              <div class="custom-dropdown" *ngIf="isStatusDropdownOpen==true">
                      <tree-grid-table (onClickItem)="onClickStatus($event,item)" [dataTable]="dataTableStatus"></tree-grid-table>
              </div>
            </div>

             <!-- <div class="col-md-4 form-group">
              <label>{{getLanguageValue('Fixed_Asset_Statu')}}</label>
              <ng-multiselect-dropdown [placeholder]="getLanguageValue('Choose')" [data]="statuses" [(ngModel)]="fixedAsset.StatusId"
                name="StatusId" [settings]="dropdownSettingsForStatus" (onSelect)="onSelectFixedAssetStatus($event)"
                (onSelectAll)="onSelectAllFixedAssetStatus($event)">
              </ng-multiselect-dropdown>
            </div> -->
          </div> 

          <!-- LOKASYON, MODEL, PERSONEL, GARANTİSİ BİTENLER -->
          <div class="row justify-content-center">

            <!-- LOKASYON -->
            <!-- <div class="col-md-4 form-group">
              <label>Lokasyon</label>
              <ng-multiselect-dropdown [placeholder]="getLanguageValue('Choose')" [data]="locations" [(ngModel)]="fixedAsset.LocationId"
                name="LocationId" [settings]="dropdownSettingsForLocation" (onSelect)="onSelectLocation($event)"
                (onSelectAll)="onSelectAllLocation($event)">
              </ng-multiselect-dropdown>
            </div> -->
            <div class="col-md-4 form-group">
              <div>
                  <label style="margin-bottom: 0;
                  font-weight: 700;" >{{getLanguageValue('Location')}}</label>
                  <div style="display:flex;">
                  <button id="btnLocation" (click)="toggleDropdown('location')" class="dropdown-button" type="button"  >{{selectedLocation ? selectedLocation.Name : getLanguageValue('Choose') }}</button>
                    <span class="span-dropdown"  (click)="resetDropdown('location')" class="typcn icon-default typcn-times span-dropdown"></span>
                  </div>
              </div>
              <div class="custom-dropdown" *ngIf="isLocationDropdownOpen==true">
                      <tree-grid-table (onClickItem)="onClickLocation($event,item)" [dataTable]="dataTableLocation"></tree-grid-table>
              </div>
            </div>

            <!-- MODEL -->
            <!-- <div class="col-md-4 form-group">
              <label>Model</label>
              <ng-multiselect-dropdown [placeholder]="getLanguageValue('Choose')" [data]="models"
                [(ngModel)]="fixedAsset.FixedAssetCardModelId" name="FixedAssetCardModelId"
                [settings]="dropdownSettingsForModel" (onSelect)="onSelectFixedAssetCardModel($event)"
                (onSelectAll)="onSelectAllFixedAssetCardModel($event)">
              </ng-multiselect-dropdown>
            </div> -->
            <div class="col-md-4 form-group">
              <div>
                  <label style="margin-bottom: 0;
                  font-weight: 700;" >{{getLanguageValue('Fixed_Asset_Model_Name')}}</label>
                  <div style="display:flex;">
                  <button id="btnModel" (click)="toggleDropdown('model')" class="dropdown-button" type="button" >{{selectedModel ? selectedModel.Name : getLanguageValue('Choose') }}</button>
                    <span class="span-dropdown"  (click)="resetDropdown('model')" class="typcn icon-default typcn-times span-dropdown"></span>
                  </div>
              </div>
              <div class="custom-dropdown" *ngIf="isModelDropdownOpen==true">
                      <tree-grid-table (onClickItem)="onClickModel($event,item)" [dataTable]="dataTableModel"></tree-grid-table>
              </div>
            </div>

            <!-- PERSONEL -->
            <div class="col-md-4 form-group">
              <div>
                  <label class="required-span" style="margin-bottom: 0;
                  font-weight: 700;" >{{getLanguageValue('Staff')}}</label>
                  <div style="display:flex;">
                  <button id="btnUser" (click)="toggleDropdown('user')" class="dropdown-button" type="button" >{{selectedUser ? selectedUser.FirstName + ' ' + selectedUser.LastName : getLanguageValue('Choose') }}</button>
                    <span class="span-dropdown"  (click)="resetDropdown('user')" class="typcn icon-default typcn-times span-dropdown"></span>
                  </div>
              </div>
              <div class="custom-dropdown" *ngIf="isUserDropdownOpen==true">
                      <tree-grid-table (onClickItem)="onClickUser($event,item)" [dataTable]="dataTableUser"></tree-grid-table>
              </div>
            </div>

          </div>

        </fieldset>
      </div>
    </div>

    <!-- DEMİRBAŞ GİRİŞ TARİHİ BAŞLANGIÇ, BİTİŞ -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <fieldset class="field_set">
          <legend class="fieldset_text">{{getLanguageValue('Fixed_Asset_Creation_Date')}}</legend>

          <div class="row justify-content-center">

            <!-- DEMİRBAŞ GİRİŞ TARİHİ BAŞLANGIÇ -->
            <div class="form-group col-md-6">
              <div class="input-group">
                <div class="input-group-append">
                  <div (click)="startDate.toggle()" class="input-group-text">
                    <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                  </div>
                </div>
                <input class="form-control" type="text" placeholder="yyyy-mm-dd" name="startDate"
                  [(ngModel)]="fixedAsset.StartDate" ngbDatepicker #startDate="ngbDatepicker"
                  #startDateModel="ngModel" />
              </div>
            </div>

            <!-- DEMİRBAŞ GİRİŞ TARİHİ BİTİŞ -->
            <div class="form-group col-md-6">
              <div class="input-group">
                <div class="input-group-append">
                  <div (click)="endDate.toggle()" class="input-group-text">
                    <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                  </div>
                </div>
                <input class="form-control" type="text" placeholder="yyyy-mm-dd" name="endDate"
                  [minDate]="fixedAsset.StartDate" [(ngModel)]="fixedAsset.EndDate" ngbDatepicker
                  #endDate="ngbDatepicker" #endDateModel="ngModel" />
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>


    <!-- ÖZELLİK TİPİ, ÖZELLİK DEĞERİ, ÖZELLİK TABLOSU -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <fieldset class="field_set">
          <legend class="fieldset_text">{{getLanguageValue('Fixed_Asset_Card_Properties')}}</legend>

          <!-- ÖZELLİK TİPİ, ÖZELLİK DEĞERİ -->
          <div class="row justify-content-center">

            <!-- ÖZELLİK TİPİ -->
            <div class="col-md-6">

              <div class="col-md-12 form-group">
                <label>{{getLanguageValue('Fixed_Asset_Card_Property_Name')}}</label>
                <select #FixedAssetCardPropertyId [(ngModel)]="fixedAssetPropertyDetail.FixedAssetCardPropertyId"
                  name="FixedAssetCardPropertyId" (click)="loadFixedAssetProperties()"
                  (change)="loadValuesByPropertyId($event)" class="form-control select2-no-search" style="width:100%">
                  <option value="-1">{{getLanguageValue('Choose_a_property')}}</option>
                  <option *ngFor="let property of fixedassetproperty" value="{{property.FixedAssetCardPropertyId}}">
                    {{property.Name}}</option>
                </select>
              </div>

              <!-- ÖZELLİK DEĞERİ -->
              <div class="col-md-12 form-group">
                <label>{{getLanguageValue('Fixed_Asset_Card_Property_Value')}}</label>
                <div class="flexProperty">
                  <div style="flex:1;">
                    <select [(ngModel)]="fixedAssetCardPropertyValue.FixedAssetPropertyValueId"
                      name="FixedAssetPropertyValueId" *ngIf="isListSelected==true" (change)="getPropertyValue($event)"
                      class="form-control select2-no-search" style="font-size: 13px;height: 27px;">
                      <option [ngValue]="null">{{getLanguageValue('Choose_a_property_value')}}</option>
                      <option *ngFor="let value of fixedassetpropertyvalues" value="{{value.Value}}">{{value.Value}}
                      </option>
                    </select>
                    <input [(ngModel)]="fixedAssetPropertyDetail.Value" name="Value" *ngIf="isListSelected==false"
                      class="form-control" type="text" style="font-size: 13px;height: 27px;">
                  </div>
                  <div class="property-add-value">
                    <span class="tree-table-sign typcn icon-default typcn-plus"
                      (click)="insertPropertyValueToArray(FixedAssetCardPropertyId)"></span>
                  </div>
                </div>
              </div>

            </div>


            <!-- ÖZELLİK TABLOSU -->
            <div class="col-md-6">
              <div class="property-values-table" style="height: 150px; padding-top:0px;">
                <tree-grid-table class="table-scroll" style="overflow-y: scroll; margin-left:20px;"
                  [dataTable]="dataTablePropertyValue"></tree-grid-table>
              </div>
            </div>
          </div>

        </fieldset>
      </div>
    </div>


    <!-- GARANTİSİ OLANLAR, AMORTİSMANI HESAPLANANLAR -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <fieldset class="field_set">
          <legend class="fieldset_text">{{getLanguageValue('General_Informations')}}</legend>
          <div class="row justify-content-center">

            <!-- GARANTİSİ OLANLAR -->
            <div class="form-group col-md-3">
              <label class="ckbox">
                <input type="checkbox" [(ngModel)]="fixedAsset.IsGuaranteed" id="IsGuaranteed"
                  name="IsGuaranteed" /><span>{{getLanguageValue('Guaranteed_Fixed_Assets')}}</span>
              </label>
            </div>

            <!-- AMORTİSMANI HESAPLANANLAR -->
            <div class="form-group col-md-4">
              <label class="ckbox">
                <input type="checkbox" [(ngModel)]="fixedAsset.IsCalculatedDepreciation" id="IsCalculatedDepreciation"
                  name="IsCalculatedDepreciation" /><span>{{getLanguageValue('Calculating_Depreciation')}}</span>
              </label>
            </div>

            <!-- IFRS AMORTİSMANI HESAPLANANLAR -->
            <div class="form-group col-md-5">
              <label class="ckbox">
                <input type="checkbox" [(ngModel)]="fixedAsset.IsCalculatedIFRSDepreciation" id="IsCalculatedIFRSDepreciation"
                  name="IsCalculatedIFRSDepreciation" /><span>{{getLanguageValue('Calculating_IFRS')}}</span>

               <!-- <input type="checkbox" [(ngModel)]="fixedAsset.IsCalculatedIFRSDepreciation"  name="IsCreateSuspendForm" #IsCreateSuspendForm="ngModel" /><span>Askıya alma formu basılsın.</span> -->
                  
              </label>
            </div>
          </div>

          <div class="row justify-content-center">

            <div class="form-group col-md-3">
              <label class="ckbox">
                <input type="checkbox" (change)="IsPassiveFa($event)" id="IsPassive"
                  name="IsPassive" /><span>{{getLanguageValue('Passive_Fixed_Assets')}}</span>
              </label>
            </div>

            <div class="form-group col-md-3">
              <label class="ckbox">
                <input type="checkbox" (change)="IsActiveFa($event)" id="IsActive"
                  name="IsCalculatedDepreciation" /><span>{{getLanguageValue('Active_Fixed_Assets')}}</span>
              </label>
            </div>
            <div class="form-group col-md-6">
            </div>
          </div>

        </fieldset>
      </div>
    </div>
  </div>

  <!-- modal-body -->
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="resetFilter()">
      {{getLanguageValue('Reset_Filter')}}
    </button>
    <button class="btn btn-az-primary" id="btnFilterFixedAsset" type="submit" data-toggle="modal"
      data-target="#modalFilterFixedAsset">
      {{getLanguageValue('Filter')}}
    </button>
  </div>
</form>