<div class="az-content">  
  <div class="container-fluid">
    <div class="az-content-body">
      <div class="card card-dashboard-twelve mg-b-20">
      <h2 class="az-content-title">Rol - Kullanıcı Tanımlama</h2>      
      <div class="grp-btn-action"> 
          <button type="button" (click)="deleteRoleUser()" class="btn btn-danger btn-delete-custom">
              {{dataTableUserRole.TGT_getSelectedItems().length > 0 ? dataTableUserRole.TGT_getSelectedItems().length : '' }}
              <i class="fas fa-trash"></i></button>
        <button id="btnAddUserRole" class="btn btn-orange btn-new-custom" data-toggle="modal"   
        data-target="#modalUserRoleDefinition" (click)="resetForm(data,true)"
       >Role Kullanıcı Ata</button>
       <button style="display:none" id="btnEditUserRole" data-toggle="modal"
       data-target="#modalUserRoleDefinition" (click)="resetForm(data,false)">Role Kullanıcı Ata
        </button>
      </div>
        <p class="mg-b-20"></p>
            <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTableUserRole"></tree-grid-table>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<div class="pd-20 bg-gray-800">
  <!-- this modal is static modal for presentation purpose. -->
  <!-- class .d-block annd .pos-relative in .modal is for demo only -->
  <div id="modalUserRoleDefinition" class="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-demo">
          <div class="modal-header">
            <h6 class="modal-title">Role atanacak kullanıcıları belirleyiniz.</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!--USER ROLE MODAL-->
        <form name="form" #data="ngForm" (ngSubmit)="onSubmit(data)">
          <div class="modal-body">
              <div class="row  justify-content-center">
                  <input type="hidden" name="UserRoleId" [(ngModel)]="userRole.UserRoleId"/>
                  <div class="form-group col-md-8">
                    <label>Rol</label>
                    <select [(ngModel)]="userRole.RoleId" name="RoleId" class="form-control select2-no-search" style="width: 250px">
                      <option value="-1">Seçiniz</option>
                        <option *ngFor="let role of roles" value={{role.RoleId}}>{{role.Name}}</option>
                    </select>     
                    <label>Kullanıcı</label>
                    <div *ngIf="visible;then insertUserRole else updateUserRole"></div>
                    <ng-template #insertUserRole>
                      <ng-multiselect-dropdown
                      [placeholder]="'Seçiniz'"
                      [data]="systemUsers"
                      [(ngModel)]="userRole.UserId"
                      name="UserId"                    
                      [settings]="dropdownSettings"
                      (onSelect)="onItemSelect($event)"
                      (onSelectAll)="onSelectAll($event)">
                      </ng-multiselect-dropdown>
                    </ng-template>
                    <ng-template #updateUserRole>
                      <label>Rol</label>
                      <select [(ngModel)]="userRole.UserId" name="UserId" class="form-control select2-no-search" style="width: 250px">
                        <option value="-1">Seçiniz</option>
                          <option *ngFor="let user of systemUsers" value={{user.UserId}}>{{user.UserMail}}</option>
                      </select>   
                    </ng-template>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button id="btnAddRole" type="submit" class="btn btn-orange btn-block btn-height" data-toggle="modal" data-target="#modalAddUserRole">Kaydet</button>   
          </div>
        </form>
        <!--USER ROLE MODAL-->
          <!-- modal-body -->
        </div>
      </div>
      <!-- modal-dialog -->
    </div>
  <!-- modal -->
</div>