<div class="az-content az-content-dashboard-four">
  <div class="media media-dashboard">
    <div class="media-body">
      <!-- Bread Crumb -->
      <div class="az-content-breadcrumb">
        <span>{{getLanguageValue('Definitions')}}</span>
        <span>ROL TANIMLAMA</span>
        <span> {{getLanguageValue('Add_User_To_Role')}}</span>
      </div>
      <!-- END Bread Crumb END -->
      <div class="card card-dashboard-twelve mg-b-20">
        <div class="card-header">

          <h2 class="az-content-title" style="margin-left: 0px;">{{getLanguageValue('Add_User_To_Role')}}</h2>
          <div class="grp-btn-action">

            <button type="button" routerLink="/role" class="btn btn-danger btn-back-custom">
              <i class="fas fa-arrow-left"></i></button>

            <button type="button" *ngIf="IsAuthForDelete==true" (click)="deleteRoleUser()"
              class="btn btn-danger btn-delete-custom">
              {{dataTableUserRole.TGT_getSelectedItems().length > 0 ? dataTableUserRole.TGT_getSelectedItems().length : '' }}
              <i class="fas fa-trash"></i></button>

            <button id="refreshUserRole" type="button" (click)="refreshTable()"
              class="btn btn-success btn-refresh-custom">
              <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}"
                [class.btn-refresh-loader]="isTableRefreshing == true"></i></button>

            <button id="btnAddUserRole" *ngIf="IsAuthForInsert==true" class="btn btn-az-primary" data-toggle="modal"
              data-target="#modalUserRoleDefinition" (click)="resetForm(data,true)">{{getLanguageValue('Add_User_To_Role')}}</button>

            <button style="display:none" *ngIf="IsAuthForEdit==true" id="btnEditUserRole" data-toggle="modal"
              data-target="#modalUserRoleDefinition" (click)="resetForm(data,false)">Role Kullanıcı Ata Düzenle
            </button>

          </div>
        </div>
        <p class="mg-b-20"></p>
        <div class="sales-overview">
          <tree-grid-table  [dataTable]="dataTableUserRole">
              <!-- (onDoubleClickItem)="onDoubleClickItem($event,item)" -->
          </tree-grid-table>
        </div>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>

<!-- this modal is static modal for presentation purpose. -->
<!-- class .d-block annd .pos-relative in .modal is for demo only -->
<div id="modalUserRoleDefinition" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">{{getLanguageValue('Choose_user_to_add_role')}}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--USER ROLE MODAL-->
      <form name="form" #data="ngForm" (ngSubmit)="onSubmit(data)">
        <div class="modal-body">
          <div class="row justify-content-center">
              <div class="form-group col-md-12">
                  <label class="required-span">Rol</label>
                  <select [(ngModel)]="userRole.RoleId" name="RoleId" #RoleId="ngModel"
                    class="form-control select2-no-search" required
                    [ngClass]="{ 'is-invalid': data.submitted && RoleId.invalid }">
                    <option value="-1">Seçiniz</option>
                    <option *ngFor="let role of roles" value={{role.RoleId}}>{{role.Name}}</option>
                  </select>
                  <div *ngIf="data.submitted && RoleId.invalid" class="invalid-feedback">
                    <div *ngIf="RoleId.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
                  </div>
                </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-md-12">
                <label class="required-span">Kullanıcı</label>
                <div *ngIf="visible;then insertUserRole else updateUserRole"></div>
                <ng-template #insertUserRole>
                  <ng-multiselect-dropdown [placeholder]="getLanguageValue('Choose')"
                    [ngClass]="{ 'is-invalid': data.submitted && UserId.invalid }" required [data]="systemUsers"
                    [(ngModel)]="userRole.UserId" name="UserId" [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                  </ng-multiselect-dropdown>
                  <div *ngIf="data.submitted && UserId.invalid" class="invalid-feedback">
                    <div *ngIf="UserId.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
                  </div>
                </ng-template>
                <ng-template #updateUserRole>
                  <select [(ngModel)]="userRole.UserId" [disabled] name="UserId" class="form-control select2-no-search"
                    style="width: 100%">
                    <option value="-1">Seçiniz</option>
                    <option *ngFor="let user of systemUsers" value={{user.UserId}}>{{user.UserMail}}</option>
                  </select>
                </ng-template>
              </div>
          </div>

        </div>
        <div class="modal-footer">
          <button id="btnAddRole" type="submit" class="btn btn-az-primary" data-toggle="modal"
            data-target="#modalAddUserRole" *ngIf="isWaitingInsertOrUpdate == false">
            {{userRole.UserRoleId ? getLanguageValue('Reedit_User_Role') : getLanguageValue('Add_User_Role')}}
          </button>
          <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
        </div>
      </form>
      <!--USER ROLE MODAL-->
      <!-- modal-body -->
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->