<div class="az-content">
  <div class="container">
    <div class="az-content-body">

      <h2 class="az-content-title">Departmanlar</h2>
      <div class="row">
        <div class="col-md-2 btnAddDepartment-right">
          <button class="btn btn-orange btn-block btnAddDepartment-height" id="btnAddDepartment" data-toggle="modal"
            data-target="#modalDepartment" (click)="LoadDropdownList()">Departman Ekle
          </button>
        </div>
      </div>

      <p class="mg-b-20"></p>
      <div class="row">
        <div class="table-column-helper">
          <div class="table-column-helper-sub">
            <div class="table-column-helper-header">
              <span>Sütunlar</span>
              <span class="typcn icon-default typcn-delete close-table-helper"></span>
            </div>
            <div class="table-column-helper-body">
              <ul class="table-column-helper-items" *ngFor="let column of dataTable.dataColumns">
                <li class="table-column-helper-item">
                  <ul>
                    <li><input type="checkbox" (click)="dataTable.TGT_toggleColumns(column)"
                        [checked]="column.isActive">
                      {{column.columnDisplayName}}</li>
                    <li class="table-column-item-offset"></li>
                    <li>
                      <span (click)="dataTable.TGT_offsetColumns(column,true)"
                        class="typcn icon-default typcn-arrow-sorted-down table-column-helper-down"></span>
                      <span (click)="dataTable.TGT_offsetColumns(column,false)"
                        class="typcn icon-default typcn-arrow-sorted-up table-column-helper-up"></span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <table class="tree-table">
          <thead>
            <th class="table-config-button"><span class="typcn icon-default typcn-cog-outline"></span></th>
            <th *ngFor="let column of dataTable.dataColumns" (click)="dataTable.TGT_doOrder(column.columnName)">
              {{column.columnDisplayName}}
              <span class="{{dataTable.TGT_getOrderSign(column.columnName)}}"></span> </th>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td class="{{dataTable.TGT_getColumnVisibility('Name')}}">
                <input type="text" placeholder="İsim" class="form-control" [(ngModel)]="dataTable.dataFilters.Name">
              </td>
              <td class="{{dataTable.TGT_getColumnVisibility('Description')}}">
                <input type="text" placeholder="Açıklama" class="form-control"
                  [(ngModel)]="dataTable.dataFilters.Description">
              </td>
            </tr>
            <tr *ngFor="let data of dataTable.dataSource | toPage:dataTable.currentPage:dataTable.perInPage">
              <td></td>
              <td [ngStyle]="{'padding-left': (data.childIndex * 17 + 5).toString() + 'px' }"
                class="{{dataTable.TGT_getColumnVisibility('Name')}}">
                <span (click)=dataTable.TGT_doCollapse(data) class='tree-table-sign {{dataTable.TGT_getSign(data)}}'>
                </span>
                {{data.Name}}
              </td>
              <td class="{{dataTable.TGT_getColumnVisibility('Description')}}">{{data.Description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-md-10">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <ng-container *ngFor="let page of dataTable.pages">
                <li class="page-item" [class.disabled]="page.isDisabled" [class.active]="page.isActive"><button
                    (click)="dataTable.TGT_goToPage(page.value)" class="page-link">{{page.display}}</button>
                </li>
              </ng-container>
            </ul>
          </nav>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="dataTable.perInPage">
              <option *ngFor="let perIn of dataTable.perInPages" value="{{perIn}}">{{perIn}}</option>
              <option value="-1">Hepsi</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->

<div id="modalDepartment" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title model-title-center">Yeni departman oluşturmak için aşağıdaki alanları doldurunuz.</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <!-- <h6>Yeni departman oluşturmak için aşağıdaki alanları doldurunuz.</h6> -->
        <form #data="ngForm" (ngSubmit)="InsertDepartment(data)" class="form-register">
          <div class="row">
            <label>*Departman Adı</label>
            <input type="text" id="Name" ngModel name="Name" required class="form-control txt-width" value="" />
            <!-- <span class="help-block" *ngIf="registerForm.get('password').hasError('required')">İsim gereklidir.</span> -->
          </div>
          <div class="row">
            <label>*Açıklama</label>
            <input type="text" id="Description" ngModel name="Description" required class="form-control txt-width"
              value="" />
            <!-- <span class="help-block" *ngIf="registerForm.get('password').hasError('required')">Soyisim gereklidir.</span>                 -->
          </div>
          <!-- form-group -->
          <div class="row">
            <div class="col-sm-6">
              <label>*Bağlı Olduğu Departman</label>
              <select id="ParentDepartmentId" ngModel name="ParentDepartmentId" required class="form-control txt-width"
                value="">
                <option value="">Seçiniz</option>
                <option *ngFor="let department of departments" value={{department.DepartmentId}}>
                  {{department.Name}}
                </option>
              </select>              
            </div>      
            <div class="col-sm-6">
              <label>*Bağlı Olduğu Lokasyon</label>
              <select id="LocationId" ngModel name="LocationId" required class="form-control txt-width"
                value="">
                <option value="">Seçiniz</option>
                <option *ngFor="let location of locations" value={{location.LocationId}}>
                  {{location.Name}}
                </option>
              </select>              
            </div>
          </div>
          <!-- form-group -->
          <div class="modal-footer">
            <button class="btn btn-orange btn-block btn-height" id="btnCreateDepartment" type="submit"
              data-toggle="modal" data-target="#modalInsertDepartment">Departman Ekle</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->