.btn-orange {
  background: #e67300;
  color: white;
  border-radius: 5px;
}
.btnAddDepartment-height {
  min-height: 15px;
}
.btnAddDepartment-right {
  float: right;
  margin-bottom:10px;
  padding-right:0px;
}
.left {
  margin-left: 90px;
}
.txt-width{
  border-radius: 5px;
  height:30px;
}
.btn-height{
min-height:15px;
}

.custom-dropdown {
  position: absolute;
  border: 1px solid;
  background: #fdfdfd;
  width: 87%;
  height: 200px;
  z-index: 1000;
  top: 46px;
  display: inline-grid;
  max-height: 200px;
  overflow-y: auto;
  
}

.dropdown-button {
  background: white; 
  border: 1px solid #ced4da;
  flex:1;
  height: 27px;
}

.dropdown-button-valid {
  height: 27px;
  border: 1px solid red;
}
