<app-header></app-header>
<div class="az-content">
  <div class="container">
    <div class="az-content-body">
      <!-- <div class="az-content-breadcrumb">
        <span>Table</span>
        <span>DataTables</span>
      </div> -->
      <h2 class="az-content-title">Kişiler</h2>
      <div class="col-md-2 btnAddUser-right">
        <button
          class="btn btn-orange btn-block btnAddUser-height"
          id="btnAddUser"
          data-toggle="modal"
          data-target="#modalUser"
        >Kişi Ekle
        </button>
      </div>
      <p class="mg-b-20"></p>

      <table
        id="tblUser"
        class="display responsive dataTables_wrapper dataTable no-footer dtr-inline table-bordered deneme"
        role="grid"
      >
        <thead>
          <tr>
            <th class="wd-15p sorting">İsim</th>
            <th class="wd-15p sorting">Soyisim</th>
            <th class="wd-20p sorting">Unvan</th>
            <th class="wd-15p sorting">Departman</th>
            <th class="wd-10p sorting">Lokasyon</th>
            <th class="wd-10p sorting">Şirket</th>
            <th class="wd-15p sorting">E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Eda</td>
            <td>Ekiz</td>
            <td>Yazılım Uzman Yardımcısı</td>
            <td>Yazılım</td>
            <td>Ataşehir</td>
            <td>Trinoks A.Ş.</td>
            <td>eda.ekiz@trinoks.com</td>
          </tr>
          <tr>
            <td>Sena Selin</td>
            <td>Sarıyılmaz</td>
            <td>Yazılım Uzman Yardımcısı</td>
            <td>Yazılım</td>
            <td>Ataşehir</td>
            <td>Trinoks A.Ş.</td>
            <td>sena.sariyilmaz@trinoks.com</td>
          </tr>
          <tr>
            <td>Burak</td>
            <td>Akbal</td>
            <td>Yazılım Uzman Yardımcısı</td>
            <td>Yazılım</td>
            <td>Ataşehir</td>
            <td>Trinoks A.Ş.</td>
            <td>burak.akbal@trinoks.com</td>
          </tr>
          <tr>
            <td>Baran Can</td>
            <td>Aydın</td>
            <td>Kıdemli Yazılım Uzman</td>
            <td>Yazılım</td>
            <td>Ataşehir</td>
            <td>Trinoks A.Ş.</td>
            <td>baran.aydin@trinoks.com</td>
          </tr>
          <tr>
            <td>Melis</td>
            <td>Aydın</td>
            <td>İş Analisti</td>
            <td>İş Analistliği</td>
            <td>Ataşehir</td>
            <td>Trinoks A.Ş.</td>
            <td>melis.aydin@trinoks.com</td>
          </tr>
          <tr>
            <td>Raif</td>
            <td>Aslan</td>
            <td>İş Analisti</td>
            <td>İş Analistliği</td>
            <td>Ataşehir</td>
            <td>Trinoks A.Ş.</td>
            <td>raif.aslan@trinoks.com</td>
          </tr>
          <tr>
            <td>Soner</td>
            <td>Atmaca</td>
            <td>İş Analisti</td>
            <td>İş Analistliği</td>
            <td>Ataşehir</td>
            <td>Trinoks A.Ş.</td>
            <td>soner.atmaca@trinoks.com</td>
          </tr>
          <tr>
            <td>Cengiz</td>
            <td>Karabulut</td>
            <td>İş Analisti</td>
            <td>İş Analistliği</td>
            <td>Ataşehir</td>
            <td>Trinoks A.Ş.</td>
            <td>cengiz.karabulut@trinoks.com</td>
          </tr>
        </tbody>
      </table>
      
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->
<app-footer></app-footer>

<div id="modalUser" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Yeni kullanıcı oluşturmak için aşağıdaki alanları doldurunuz.</h6>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <h6>Yeni kullanıcı oluşturmak için aşağıdaki alanları doldurunuz.</h6> -->
        <form #data="ngForm" (ngSubmit)="register(data)" class="form-register">
          <div class="row">
            <div class="col-sm-6">
              <label>*İsim</label>
              <input type="text" id="registerUser.FirstName" ngModel name="registerUser.FirstName" required class="form-control txt-width" />
              <!-- <span class="help-block" *ngIf="registerForm.get('password').hasError('required')">İsim gereklidir.</span> -->
            </div>
            <div class="col-sm-6">
              <label>*Soyisim</label>
              <input type="text" id="registerUser.LastName" ngModel name="registerUser.LastName" required class="form-control txt-width" />
              <!-- <span class="help-block" *ngIf="registerForm.get('password').hasError('required')">Soyisim gereklidir.</span>                 -->
            </div>
          </div>
          <!-- form-group -->
          <div class="row">
            <div class="col-sm-6">
              <label>*Departman</label>
              <!-- <input type="text" id="department" name="department" class="form-control txt-width" /> -->
              <select  id="registerUser.DepartmentID" ngModel name="registerUser.DepartmentID" required class="form-control txt-width">
                <option value="">Seçiniz</option>                                    
                <option value="1">Yazılım</option>
                <option value="2">IT</option>
                <option value="3">Finans</option>
              </select>
              <!-- <span class="help-block" *ngIf="registerForm.get('password').hasError('required')">Departman gereklidir.</span>                 -->
            </div>
            <div class="col-sm-6">
              <label>*Lokasyon</label>
              <!-- <input type="" id="location" name="location" class="form-control txt-width" /> -->
              <select  id="registerUser.LocationID" ngModel name="registerUser.LocationID" required class="form-control txt-width">
                <option value="">Seçiniz</option>                  
                <option value="1">Kurfalı</option>
                <option value="2">Ataşehir</option>
                <option value="3">Zeytinburnu</option>
              </select>
              <!-- <span class="help-block" *ngIf="registerForm.get('password').hasError('required')">Lokasyon gereklidir.</span> -->
            </div>
          </div>
          <!-- form-group -->
          <div class="row">
            <div class="col-sm-6">
              <label>*Unvan</label>
              <input type="text" id="registerUser.UserTitle" ngModel name="registerUser.UserTitle" required class="form-control txt-width" />
              <!-- <span class="help-block" *ngIf="registerForm.get('password').hasError('required')">Unvan gereklidir.</span>                 -->
            </div>
            <div class="col-sm-6">
              <label>*Şirket</label>
              <input type="text" id="registerUser.FirmID" ngModel name="registerUser.FirmID" required class="form-control txt-width" />
              <!-- <span class="help-block" *ngIf="registerForm.get('password').hasError('required')">Şirket bilgisi gereklidir.</span>                 -->
            </div>           
          </div>
          <!-- form-group -->
          <div  class="row">
              <div class="col-sm-6">
                  <label>*Rol</label>
                <select  id="registerUser.RoleID" ngModel name="registerUser.RoleID" required class="form-control txt-width">
                  <option value="">Seçiniz</option>                  
                  <option value="1">Admin</option>
                  <option value="2">IT</option>
                </select>
              </div> 
              <div class="col-sm-6">
                  <label>*Şifre</label>
                  <input type="password" id="registerUser.Password" ngModel name="registerUser.Password" required class="form-control txt-width" />
                <!-- <span class="help-block" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">Parola gereklidir.</span> 
                <span class="help-block" *ngIf="registerForm.get('password').hasError('min-length') && registerForm.get('password').touched">Şifre 4 karakterden az olamaz.</span>                                 
                <span class="help-block" *ngIf="registerForm.get('password').hasError('max-length') && registerForm.get('password').touched">Şifre 8 karakterden fazla olamaz.</span>                                  -->
                </div>
          </div>
          <input type="hidden" id="registerUser.ConfirmPassword" ngModel name="registerUser.ConfirmPassword" value="registerUser.Password">
          <!-- form-group -->          
          <div class="row">
              <div class="col-sm-12">
                  <label>*E-posta</label>
                  <input type="text" id="registerUser.UserMail" ngModel name="registerUser.UserMail" required class="form-control txt-width" />
                <!-- <span class="help-block" *ngIf="registerForm.get('password').hasError('required')">E-posta gereklidir.</span>                   -->
                </div>
          </div>
          <!-- form-group -->          
          <div class="row">
            
          </div>
          <div class="modal-footer">
              <button class="btn btn-orange btn-block btn-height" id="btnCreateUser" type="submit" data-toggle="modal" data-target="#modalInsertUser">Hesap Oluştur</button>       
            </div>
        </form>
      </div>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->
<script>
  $(function() {
    "use strict";

    // showing modal with effect
    $(".modal-effect").on("click", function(e) {
      e.preventDefault();
      var effect = $(this).attr("data-effect");
      $("#modaldemo8").addClass(effect);
    });

    // hide modal with effect
    $("#modaldemo8").on("hidden.bs.modal", function(e) {
      $(this).removeClass(function(index, className) {
        return (className.match(/(^|\s)effect-\S+/g) || []).join(" ");
      });
    });
  });
  $(document).ready( function () {
    $('#tblUser').DataTable({
        "columnDefs": [ {
            "type": "salary-grade",
            "targets": -1
        } ],
        "order": [[0,asc]]
      });
} );
</script>
