<div class="modal-header">
  <h6 class="modal-title">Zimmet değişikliği için gerekli bilgileri giriniz.</h6>
  <button id="CloseModal" (click)="resetForm(data)" type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form name="form" #data="ngForm" (ngSubmit)="ChangeDebit()">
  <div class="modal-body">

          <input type="hidden" name="btnPressDebitForm" (click)="PressDebitForm()"/>
    
    <!-- BARKOD -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>{{getLanguageValue('Barcode')}}</label>
        <input name="Barcodes" value="{{ faBarcode.Barcode }}" type="text" class="form-control" disabled />
      </div>
    </div>

    <!-- DEMİRBAŞ ADI -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>{{getLanguageValue('Fixed_Asset_Card_Name')}}</label>
        <input name="Name" value="{{ faBarcode.FixedAssetCard.Name }}" type="text" class="form-control" disabled />
      </div>
    </div>

    <!-- YENİ ZİMMET -->
    <!-- <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>Zimmetli Personel</label>
        <ng-multiselect-dropdown [placeholder]="getLanguageValue('Choose')" [data]="users" [(ngModel)]="selectedUser" name="userIds"
          #userIds="ngModel" [ngClass]="{ 'is-invalid': data.submitted && userIds.invalid }"
          [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
        </ng-multiselect-dropdown>
        <div *ngIf="data.submitted && userIds.invalid" class="invalid-feedback">
          <div *ngIf="userIds.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
        </div>
      </div>
    </div> -->

    <!-- YENİ ZİMMET -->
    <div class="row justify-content-center" style="width:600px;">

        <!-- KULLANICI LİSTESİ -->
        <div class="col-md-5 form-group" >
            <tree-grid-table class="table-scroll" style="margin-left:20px;" [dataTable]="dataTableDebit"></tree-grid-table>
        </div>

        <!-- ZİMMET DEĞİŞTİRME BUTONLARI -->
        <div class="col-md-1 form-group" style="padding-left:6px;">
          <div class="form-group">
              <button class="btn btn-az-primary" type="button" id="btnAddDebit" (click)="AddDebitUser()" style="margin-top:20px; margin-left:13px; padding: 8px; min-height: 13px;" data-toggle="tooltip" data-placement="bottom" title="Zimmetle"><i class="fas fa-arrow-right"></i></button>
          </div>
          <div class="form-group">
              <button class="btn btn-az-primary" type="button" id="btnDeleteDebit" (click)="DeleteDebitUser()" style="margin-top:10px; margin-left:13px;  padding: 8px; min-height: 13px;" data-toggle="tooltip" data-placement="bottom" title="Zimmeti İptal Et"><i class="fas fa-arrow-left"></i></button>
          </div>
        </div>


        <!-- ZİMMETLİ PERSONEL -->
        <div class="col-md-5 form-group" style="margin-left: 12px;">
            <tree-grid-table class="table-scroll" style="margin-right:20px;" [dataTable]="dataTableOldDebit"></tree-grid-table>
        </div>

    </div>

    <!-- ZİMMET FORMU BASILSIN -->
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="form-group">
          <label class="ckbox">
            <input type="checkbox" [(ngModel)]="fixedAssetUser.IsCreateDebitForm" (change)="isCreateDebitForm($event)" name="IsCreateDebitForm" #IsCreateDebitForm="ngModel" /><span>Zimmet formu
              basılsın.</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <!-- modal-body -->
  <div class="modal-footer">
    <button class="btn btn-orange" id="btnChangeDebit" type="submit" data-toggle="modal"
      data-target="#modalChangeDebit">
      Zimmeti Değiştir
    </button>
  </div>
</form>