<form name="form" #data="ngForm" (ngSubmit)="ChangeDebit(data)">
    <div class="modal-body">

        <!-- BARKOD -->            
        <div class="row justify-content-center">
          <div class="col-md-12 form-group">
            <label>Barkod</label>
            <input
              name="Barcodes"
              value="{{ faBarcode.Barcode }}"
              type="text"
              class="form-control"
              disabled
            />
          </div>
        </div>

        <!-- DEMİRBAŞ ADI -->
        <div class="row justify-content-center">
          <div class="col-md-12 form-group">
            <label>Demirbaş Adı</label>
            <input
              name="Name"
              value="{{ faBarcode.FixedAssetCard.Name }}"
              type="text"
              class="form-control"
              disabled
            />
          </div>
        </div>

        <!-- YENİ ZİMMET -->
        <div class="row justify-content-center">
          <div class="col-md-12 form-group">
            <label>Zimmetli Personel</label>
            <ng-multiselect-dropdown
              [placeholder]="'Seçiniz'"
              [data]="users"
              [(ngModel)]="UserId"
              name="userIds"
              #userIds="ngModel"
              [ngClass]="{ 'is-invalid': data.submitted && UserId.invalid }"
              [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (click)="loadUsers()"
            >
            </ng-multiselect-dropdown>
            <div *ngIf="data.submitted && UserId.invalid" class="invalid-feedback">
              <div *ngIf="UserId.errors.required">Bu alan zorunludur.</div>
            </div>
          </div>
        </div>

        <!-- ZİMMET FORMU BASILSIN -->        
        <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-group">
                <label class="ckbox">
                  <input type="checkbox" id="PressDebitForm" 
                    name="PressDebitForm"/><span>Zimmet formu basılsın.</span>
                </label>
              </div>
            </div>
          </div>
    </div>
 
    <!-- modal-body -->
    <div class="modal-footer">
      <button
        class="btn btn-orange"
        id="btnChangeDebit"
        type="submit"
        data-toggle="modal"
        data-target="#modalChangeDebit"
      >
        Zimmeti Değiştir
      </button>
    </div>
  </form>
