<div class="modal-header" id="modalDeletePopupForFaExit">
    <h6 class="modal-title">{{getLanguageValue('Enter_information_for_exit_process')}}</h6>
    <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

<form name="form" #data="ngForm" (ngSubmit)="onSubmit(data)">
  <div class="modal-body">
    <input type="hidden" name="TransactionLogId" [(ngModel)]="transactionLog.TransactionLogId" />

    <!-- BARKODLAR -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>{{getLanguageValue('Barcode')}}</label>
        <input name="Barcodes" value="{{faBarcode}}" type="text" class="form-control" disabled />
      </div>
    </div>

    <!-- ÇIKIŞ TİPİ -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label class="required-span">{{getLanguageValue('Exit_Type')}}</label>
        <select [(ngModel)]="transactionLog.CheckOutReasonId" name="CheckOutReasonId" class="form-control"
          #CheckOutReasonId="ngModel" [ngClass]="{ 'is-invalid': data.submitted && CheckOutReasonId.invalid }" required>
          <option>Yok</option>
          <option *ngFor="let checkedOutReason of checkedOutReasons" value={{checkedOutReason.CheckOutReasonId}}>
            {{checkedOutReason.Name}}
          </option>
        </select>
        <div *ngIf="data.submitted && CheckOutReasonId.invalid" class="invalid-feedback">
          <div *ngIf="CheckOutReasonId.errors.required">Bu alan zorunludur.</div>
        </div>
      </div>
    </div>

    <!-- FİYAT & PARA BİRİMİ -->
    <div class="row justify-content-center">
      <div class="col-md-6 form-group">
        <label>{{getLanguageValue('Fixed_Asset_Price')}}</label>
        <input [(ngModel)]="transactionLog.CheckoutPrice" name="CheckoutPrice" class="form-control" type="number" trim="blur"
          #CheckoutPrice="ngModel">
      </div>

      <div class="col-md-6 form-group">
        <label>{{getLanguageValue('Currency')}}</label>
        <select [(ngModel)]="transactionLog.CurrencyId" name="CurrencyId" style="resize:none0" class="form-control"
          type="text">
          <option [ngValue]="null">Yok</option>
          <option *ngFor="let currency of currencies" value={{currency.CurrencyId}}>
            {{currency.Name}}
          </option>
        </select>
      </div>
    </div>

    <!-- AÇIKLAMA -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>{{getLanguageValue('Description')}}</label>
        <textarea [(ngModel)]="transactionLog.Description" name="Description" style="resize:none" rows="2"
          class="form-control" type="text" maxlength="100" #Description="ngModel"></textarea>
      </div>
    </div>

    <!-- FORM BASMA -->
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="form-group">
          <label class="ckbox">
            <input type="checkbox" [(ngModel)]="transactionLog.IsCreateExitForm" (change)="isCreateExitForm($event)" name="IsCreateExitForm" #IsCreateExitForm="ngModel"/><span>{{getLanguageValue('Create_fixed_asset_exit_Form')}}</span>
          </label>
        </div>
      </div>
    </div>

  </div>

  <!-- modal-body -->
  <div class="modal-footer">
    <button class="btn btn-az-primary" id="btnExitFixedAsset" type="submit" data-toggle="modal"
      data-target="#modalExitFixedAsset">
      {{getLanguageValue('Save')}}
    </button>
  </div>
</form>


<!-- SİLME ONAY -->
<div class="modal" data-backdrop="static" id="modalShowDeletePopupForFaExit" style=" overflow-y: hidden !important;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content tx-size-sm">
      <div class="modal-body tx-center pd-y-20 pd-x-20">
        <button id="CloseModalExit" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="icon icon ion-ios-information-circle-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
        <h4 class="mg-b-20">{{getLanguageValue('Are_you_sure_you_want_to_delete')}}</h4>
        <p class="mg-b-20 mg-x-20">{{getLanguageValue('This_operation_can_not_be_undone')}}</p>
   
        <div class="row" style="margin-bottom:20px;">
          <div class="col-md-6" style="padding-right: 0px;">
            <button class="btn btn-az-danger" style="float:right; padding-left:32px; padding-right:32px;" data-dismiss="modal" data-toggle="modal" aria-label="Close" >{{getLanguageValue('Cancel')}}</button>        
          </div>
       
          <div class="col-md-6">        
          <button class="btn btn-az-primary" id="btnYes" type="submit" style="padding: 5px 20px;" (click)="exitFixedAsset(data)">{{getLanguageValue('Delete')}}</button>
            </div>   
        </div>

      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->
