<div class="az-content az-content-dashboard-ten">
  <div class="az-content-body">
    <div class="az-content-body-left">
      <h2 class="az-content-title tx-24 mg-b-5">Merhaba!</h2>
      <p class="mg-b-20">Demirbaşlarınızın güncel özetini görüntülüyorsunuz.</p>

      <div class="row row-sm mg-b-20">
        <div class="col-sm-6 col-lg-4">
          <div class="card card-dashboard-twentysix">
            <div class="card-header">
              <h6 class="card-title">TOPLAM DEMİRBAŞ</h6>
              <div class="chart-legend">
                <div (click)="loadCounts($event,'totalGroupType',countEnums.Day)"><span class="bg-primary"></span> GÜN
                </div>
                <div (click)="loadCounts($event,'totalGroupType',countEnums.Month)"><span
                    class="bg-primary primary-active"></span> AY</div>
                <div (click)="loadCounts($event,'totalGroupType',countEnums.Year)"><span class="bg-primary"></span> YIL
                </div>
              </div><!-- chart-legend -->
            </div><!-- card-header -->
            <div class="card-body">
              <div class="pd-x-15">
                <h6>
                  {{countValues.TOTAL ? countValues.TOTAL.TOTAL_ITEMS : 0 }}
                  <span class="tx-success">
                    %{{countValues.TOTAL && countValues.TOTAL.TOTAL_PREV2_ITEMS != 0 ? math.floor(countValues.TOTAL.TOTAL_ITEMS / countValues.TOTAL.TOTAL_PREV2_ITEMS) * 100 : 0 }}
                    <i class="icon ion-md-arrow-up"></i>
                  </span>
                </h6>
                <label>Top. Demirbaş/Ay</label>
              </div>
              <div class="chart-wrapper">
                <div id="flotChart7" class="flot-chart"></div>
              </div><!-- chart-wrapper -->
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-sm-6 col-lg-4 mg-t-20 mg-sm-t-0">
          <div class="card card-dashboard-twentysix card-dark-one">
            <div class="card-header">
              <h6 class="card-title">AKTİF DEMİRBAŞLAR</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="pd-x-15">
                <h6>{{countValues.ACTIVE ? countValues.ACTIVE.TOTAL_ITEMS : 0 }}
                  <span>
                    %{{countValues.ACTIVE && countValues.ACTIVE.TOTAL_PREV2_ITEMS != 0 ? math.floor(countValues.ACTIVE.TOTAL_ITEMS / countValues.ACTIVE.TOTAL_PREV2_ITEMS) * 100 : 0 }}
                    <i class="icon ion-md-arrow-up"></i>
                  </span>
                </h6>
                <label>Toplam</label>
              </div>
              <div class="chart-wrapper">
                <div id="flotChart8" class="flot-chart"></div>
              </div><!-- chart-wrapper -->
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-lg-4 mg-t-20 mg-lg-t-0">
          <div class="card card-dashboard-twentysix card-dark-two">
            <div class="card-header">
              <h6 class="card-title">DEMİRBAŞ DEĞERİ</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="pd-x-15">
                <h6>
                  {{countValues.PRICE ? countValues.PRICE.TOTAL_ITEMS : 0 }} ₺
                </h6>
                <label>Toplam</label>
              </div>
              <div class="chart-wrapper">
                <div id="flotChart9" class="flot-chart"></div>
              </div><!-- chart-wrapper -->
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
      </div><!-- row -->

      <div class="card card-body card-dashboard-twentyfive mg-b-20">
        <h6 class="card-title">DEMİRBAŞLAR</h6>
        <div class="row row-sm">
          <div class="col-6 col-sm-4 col-lg fixed-asset-info" routerLink="/relationshipfixedasset">
            <label class="card-label">İLİŞKİLİ DEMİRBAŞLAR</label>
            <h6 class="card-value">{{assetValues.RelatedFixedAssets}}</h6>
            <div class="chart-wrapper">
              <div id="flotChart1" class="flot-chart"></div>
            </div><!-- chart-wrapper -->
          </div><!-- col -->
          <div class="col-6 col-sm-4 col-lg fixed-asset-info" routerLink="/suspendedfixedasset">
            <label class="card-label">ASKIDAKİ DEMİRBAŞLAR</label>
            <h6 class="card-value">{{assetValues.SuspendedFixedAssets}}</h6>
            <div class="chart-wrapper">
              <div id="flotChart2" class="flot-chart"></div>
            </div><!-- chart-wrapper -->
          </div><!-- col -->
          <div class="col-6 col-sm-4 col-lg fixed-asset-info" routerLink="/lostfixedasset">
            <label class="card-label">KAYIP DEMİRBAŞLAR</label>
            <h6 class="card-value">{{assetValues.LostFixedAssets}}</h6>
            <div class="chart-wrapper">
              <div id="flotChart3" class="flot-chart"></div>
            </div><!-- chart-wrapper -->
          </div><!-- col -->
          <div class="col-6 col-sm-4 col-lg fixed-asset-info" routerLink="/fixedasset">
            <label class="card-label">GARANTİLİ DEMİRBAŞLAR</label>
            <h6 class="card-value">{{assetValues.GuaranteedFixedAssets}}</h6>
            <div class="chart-wrapper">
              <div id="flotChart6" class="flot-chart"></div>
            </div><!-- chart-wrapper -->
          </div><!-- col -->
          <div class="col-6 col-sm-4 col-lg fixed-asset-info" routerLink="/fixedasset">
            <label class="card-label">PASİF DEMİRBAŞLAR</label>
            <h6 class="card-value">{{assetValues.PassiveFixedAssets}}</h6>
            <div class="chart-wrapper">
              <div id="flotChart5" class="flot-chart"></div>
            </div><!-- chart-wrapper -->
          </div><!-- col -->
          <div class="col-6 col-sm-4 col-lg fixed-asset-info" routerLink="/checkoutfixedasset">
            <label class="card-label">ÇIKIŞI YAPILMIŞ DEMİRBAŞLAR</label>
            <h6 class="card-value">{{assetValues.CheckedOutFixedAssets}}</h6>
            <div class="chart-wrapper">
              <div id="flotChart4" class="flot-chart"></div>
            </div><!-- chart-wrapper -->
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- card -->
      <div class="row row-sm tx-center">
        <div class="col-sm-4">
          <div class="card card-body card-dashboard-twentyfive mg-b-20">
            <div class="morris-donut-title">
              <h6 class="card-title">LOKASYON BAZLI</h6>
            </div>
            <div id="morrisDonut1" class="morris-donut-wrapper-demo"></div>
          </div><!-- col-6 -->
        </div>
        <div class="col-sm-4">
          <div class="card card-body card-dashboard-twentyfive mg-b-20">
            <div class="morris-donut-title">
              <h6 class="card-title">DEPARTMAN BAZLI</h6>
            </div>
            <div id="morrisDonut3" class="morris-donut-wrapper-demo"></div>
          </div><!-- col-6 -->
        </div>
        <div class="col-sm-4">
          <div class="card card-body card-dashboard-twentyfive mg-b-20">
            <div class="morris-donut-title">
              <h6 class="card-title">KATEGORİ BAZLI</h6>
            </div>
            <div id="morrisDonut2" class="morris-donut-wrapper-demo"></div>
          </div><!-- col-6 -->
        </div>
      </div><!-- row -->
      <div class="row row-sm">
        <div class="col-md-8 mg-t-20 mg-lg-t-0">
          <div class="card card-dashboard-twentyfour">
            <div class="card-header">
              <h6 class="card-title">DEMİRBAŞ DEĞERİ</h6>
              <div class="card-title-categories">
                <span (click)="loadFixedAssetPriceLine($event,countEnums.Month)">Aylık</span>
                <span (click)="loadFixedAssetPriceLine($event,countEnums.Week)">Haftalık</span>
                <span (click)="loadFixedAssetPriceLine($event,countEnums.Day)" class="current">Günlük</span>
              </div>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="card-body-top">
                <div *ngIf="totalPrices && totalPrices.length > 0">
                  <h6>{{totalPrices[totalPrices.length-1].TotalOfItems.toLocaleString() + ' TL'}}</h6>
                  <label>Toplam Değer</label>
                </div>
                <!--<div>
                  <h6>38,130</h6>
                  <label>Visits per Day</label>
                </div>
                <div>
                  <h6>35.07%</h6>
                  <label>Bounce Rate</label>
                </div>-->
              </div><!-- card-body-top -->

              <div class="d-flex justify-content-between mg-b-15">
                <label class="az-content-label">ANLIK DEMİRBAŞ DEĞERİ</label>
              </div>
              <div class="chart-wrapper">
                <div id="flotLine1" class="flot-chart"></div>
              </div><!-- chart-wrapper -->
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-md-4">
          <div class="card card-body card-dashboard-twentyfive mg-b-20" style="padding-bottom:48px">
            <div class="morris-donut-title">
              <h6 class="card-title">STATÜ BAZLI</h6>
            </div>
            <div id="flotPie2" style="height:210px;margin-top:0px" class="ht-200 ht-sm-300"></div>
          </div><!-- col-6 -->
        </div>
      </div><!-- row -->
    </div>
    <div class="az-content-body-right">
      <div class="row mg-b-20">
        <div class="col">
          <label class="az-rating-label">SİSTEM KULLANICI SAYISI</label>
          <h6 class="az-rating-value">{{personalValues.CountOfSUsers}}</h6>
        </div><!-- col -->
        <div class="col">
          <label class="az-rating-label">TOPLAM PERSONEL SAYISI</label>
          <h6 class="az-rating-value">{{personalValues.CountOfUsers}}</h6>
        </div><!-- col -->
      </div><!-- row -->
      <hr class="mg-y-20">
      <label class="az-content-label tx-base mg-b-25">Son Hareketler</label>
      <div class="az-media-list-activity mg-b-20">
        <div *ngFor="let t of transactions" class="media">
          <div class="media-icon {{icon.backClass}}" *ngIf="transactionIcons(t.TTId); let icon">
            <i [ngStyle]="{'font-size':icon.fontSize}" class="{{icon.fontIcon}}"></i>
          </div>
          <div class="media-body">
            <h6>{{t.TTitle}}</h6>
            <span>{{t.TUser}}</span>
          </div>
          <div class="media-right">{{t.getDate}}</div>
        </div><!-- media -->
        <div *ngIf="!transactions || transactions.length == 0" style="justify-content: center;font-weight: 500;"
          class="media">
          Henüz Hareket Yapılmadı.
        </div>
      </div><!-- az-media-list-activity -->
      <a routerLink="/transactionlist" class="btn btn-outline-light btn-block">Tüm Hareketler</a>
    </div>
  </div><!-- az-content-body -->
</div>