<div class="az-content az-content-dashboard-ten">
  <div class="az-content-body">
    <div class="az-content-body-left">
      <h2 class="az-content-title tx-24 mg-b-5">{{getLanguageValue('Hello')}} {{ username }}</h2>
      <p class="mg-b-20">{{getLanguageValue('You_are_viewing_the_actual_summary_of_your_fixed_assets')}}</p>

      <div class="row row-sm mg-b-20">
        <div class="col-sm-6 col-lg-4">
          <div class="card card-dashboard-twentysix">
            <div class="card-header">
              <h6 class="card-title">{{getLanguageValue('Fixed_Asset_Total')}}</h6>
              <!-- <div class="chart-legend">
                <div (click)="loadCounts($event,'totalGroupType',countEnums.Day)"><span class="bg-primary"></span> {{getLanguageValue('Day')}}
                </div>
                <div (click)="loadCounts($event,'totalGroupType',countEnums.Month)"><span class="bg-primary primary-active"></span>{{getLanguageValue('Monh')}}</div>
                <div (click)="loadCounts($event,'totalGroupType',countEnums.Year)"><span class="bg-primary"></span> {{getLanguageValue('Year')}}
                </div>
              </div> -->
              <!-- chart-legend -->
            </div><!-- card-header -->
            <div class="card-body">
              <div class="pd-x-15">
                <h6>
                  {{countValues.TOTAL ? countValues.TOTAL.TOTAL_ITEMS : 0 }}
                  <span class="tx-success">
                    %{{countValues.TOTAL && countValues.TOTAL.TOTAL_PREV2_ITEMS != 0 ? math.floor(((countValues.TOTAL.TOTAL_ITEMS - countValues.TOTAL.TOTAL_PREV2_ITEMS) / countValues.TOTAL.TOTAL_ITEMS) * 100) : 0 }}
                    <i class="icon ion-md-arrow-up"></i>
                  </span>
                </h6>
                <label>{{getLanguageValue('Total_Fixed_Asset_Month')}}</label>
              </div>
              <div class="chart-wrapper">
                <div id="flotChart7" class="flot-chart"></div>
              </div><!-- chart-wrapper -->
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-sm-6 col-lg-4 mg-t-20 mg-sm-t-0">
          <div class="card card-dashboard-twentysix card-dark-one">
            <div class="card-header">
              <h6 class="card-title">AKTİF DEMİRBAŞLAR</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="pd-x-15">
                <h6>{{countValues.ACTIVE ? countValues.ACTIVE.TOTAL_ITEMS : 0 }}
                  <span>
                    %{{countValues.ACTIVE && countValues.ACTIVE.TOTAL_PREV2_ITEMS != 0 ? math.floor(((countValues.ACTIVE.TOTAL_ITEMS-countValues.ACTIVE.TOTAL_PREV2_ITEMS) / countValues.ACTIVE.TOTAL_PREV2_ITEMS) * 100) : 0 }}
                    <i class="icon ion-md-arrow-up"></i>
                  </span>
                </h6>
                <label>{{getLanguageValue('Total')}}</label>
              </div>
              <div class="chart-wrapper">
                <div id="flotChart8" class="flot-chart"></div>
              </div><!-- chart-wrapper -->
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
        <div class="col-lg-4 mg-t-20 mg-lg-t-0">
          <div class="card card-dashboard-twentysix card-dark-two">
            <div class="card-header">
              <h6 class="card-title">ATIL DEMİRBAŞLAR</h6>
            </div><!-- card-header -->
            <div class="card-body">
              <div class="pd-x-15">
                <h6>
                  {{assetValues.PassiveFixedAssets}}
                </h6>
                <label>{{getLanguageValue('Total')}}</label>
              </div>
              <div class="chart-wrapper">
                <div id="flotChart9" class="flot-chart"></div>
              </div><!-- chart-wrapper -->
            </div><!-- card-body -->
          </div><!-- card -->
        </div><!-- col -->
      </div><!-- row -->

      <div class="card card-body card-dashboard-twentyfive mg-b-20">
        <h6 class="card-title">{{getLanguageValue('Fixed_Assets')}}</h6>
        <div class="row row-sm">
          <div class="col-6 col-sm-4 col-lg fixed-asset-info" routerLink="/relationshipfixedasset">
            <label class="card-label">{{getLanguageValue('Related_Fixed_Assets')}}</label>
            <h6 class="card-value">{{assetValues.RelatedFixedAssets}}</h6>
                <div class="chart-wrapper">
                  <div id="flotChart1" class="flot-chart"></div>
                </div><!-- chart-wrapper -->
              </div><!-- col -->
              <div class="col-6 col-sm-4 col-lg fixed-asset-info" routerLink="/suspendedfixedasset">
                <label class="card-label">{{getLanguageValue('Suspended_Fixed_Assets')}}</label>
                <h6 class="card-value">{{assetValues.SuspendedFixedAssets}}</h6>
                <div class="chart-wrapper">
                  <div id="flotChart2" class="flot-chart"></div>
                </div><!-- chart-wrapper -->
              </div><!-- col -->
              <div class="col-6 col-sm-4 col-lg fixed-asset-info" routerLink="/lostfixedasset">
                <label class="card-label">{{getLanguageValue('Lost_Fixed_Assets')}}</label>
                <h6 class="card-value">{{assetValues.LostFixedAssets}}</h6>
                <div class="chart-wrapper">
                  <div id="flotChart3" class="flot-chart"></div>
                </div><!-- chart-wrapper -->
              </div><!-- col -->
              <div class="col-6 col-sm-4 col-lg fixed-asset-info" (click)="onClickGuaranteedFixedAsset()">
                <label class="card-label">{{getLanguageValue('Guaranteed_Fixed_Assets')}}</label>
                <h6 class="card-value">{{assetValues.GuaranteedFixedAssets}}</h6>
                <div class="chart-wrapper">
                  <div id="flotChart6" class="flot-chart"></div>
                </div><!-- chart-wrapper -->
              </div><!-- col -->
              <div class="col-6 col-sm-4 col-lg fixed-asset-info" routerLink="/checkoutfixedasset">
                <label class="card-label">{{getLanguageValue('Exited_Fixed_Assets')}}</label>
                <h6 class="card-value">{{assetValues.CheckedOutFixedAssets}}</h6>
                <div class="chart-wrapper">
                  <div id="flotChart4" class="flot-chart"></div>
                </div><!-- chart-wrapper -->
              </div><!-- col -->
            </div><!-- row -->
          </div><!-- card -->
          <div class="row row-sm tx-center">
            <div class="col-sm-4">
              <div class="card card-body card-dashboard-twentyfive mg-b-20">
                <div class="morris-donut-title">
                  <h6 class="card-title">{{getLanguageValue('Location_Based')}}</h6>
                </div>
                <div id="morrisDonut1" class="morris-donut-wrapper-demo"></div>
              </div><!-- col-6 -->
            </div>
            <div class="col-sm-4">
              <div class="card card-body card-dashboard-twentyfive mg-b-20">
                <div class="morris-donut-title">
                  <h6 class="card-title">{{getLanguageValue('Department_Based')}}</h6>
                </div>
                <div id="morrisDonut2" class="morris-donut-wrapper-demo"></div>
              </div><!-- col-6 -->
            </div>
            <div class="col-sm-4">
                <div class="card card-body card-dashboard-twentyfive mg-b-20">
                  <div class="morris-donut-title">
                    <h6 class="card-title">{{getLanguageValue('Category_Based')}}</h6>
                  </div>
                  <div id="morrisDonut3" class="morris-donut-wrapper-demo"></div>
                </div><!-- col-6 -->
              </div>
          </div><!-- row -->
          <div class="row row-sm">
            <div class="col-md-8 mg-t-20 mg-lg-t-0">
              <div class="card card-dashboard-twentyfour">
                <div class="card-header">
                  <h6 class="card-title">{{getLanguageValue('Fixed_Asset_Price')}}</h6>
                  <div class="card-title-categories">
                    <span (click)="loadFixedAssetPriceLine($event,countEnums.Month)">{{getLanguageValue('Monthly')}}</span>
                    <span (click)="loadFixedAssetPriceLine($event,countEnums.Week)">{{getLanguageValue('Weekly')}}</span>
                    <span (click)="loadFixedAssetPriceLine($event,countEnums.Day)" class="current">{{getLanguageValue('Daily')}}</span>
                  </div>
                </div><!-- card-header -->
                <div class="card-body">
                  <div class="card-body-top">
                    <div *ngIf="totalPrices && totalPrices.length > 0">
                      <h6>{{totalPrices[totalPrices.length-1].TotalOfItems.toLocaleString() + ' TL'}}</h6>
                      <label>{{getLanguageValue('Total_Values')}}</label>
                    </div>
                    <!--<div>
                  <h6>38,130</h6>
                  <label>Visits per Day</label>
                </div>
                <div>
                  <h6>35.07%</h6>
                  <label>Bounce Rate</label>
                </div>-->
                  </div><!-- card-body-top -->

                  <div class="d-flex justify-content-between mg-b-15">
                    <label class="az-content-label">{{getLanguageValue('Current_Fixed_Asset_Price')}}</label>
                  </div>
                  <div class="chart-wrapper">
                    <div id="flotLine1" class="flot-chart"></div>
                  </div><!-- chart-wrapper -->
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
            <div class="col-md-4">
              <div class="card card-body card-dashboard-twentyfive mg-b-20" style="padding-bottom:48px">
                <div class="morris-donut-title">
                  <h6 class="card-title">{{getLanguageValue('Statu_Based')}}</h6>
                </div>
                <div id="flotPie2" style="height:210px;margin-top:0px" class="ht-200 ht-sm-300"></div>
              </div><!-- col-6 -->
            </div>
          </div><!-- row -->
        </div>
        <div class="az-content-body-right">
          <div class="row mg-b-20">
            <div class="col">
              <label class="az-rating-label">{{getLanguageValue('System_User_Count')}}</label>
              <h6 class="az-rating-value">{{personalValues.CountOfSUsers}}</h6>
            </div><!-- col -->
            <div class="col">
              <label class="az-rating-label">{{getLanguageValue('Total_Staff_Count')}}</label>
              <h6 class="az-rating-value">{{personalValues.CountOfUsers}}</h6>
            </div><!-- col -->
          </div><!-- row -->
          <hr class="mg-y-20">
          <label class="az-content-label tx-base mg-b-25">{{getLanguageValue('Last_Transactions')}}</label>
          <div class="az-media-list-activity mg-b-20">
            <div *ngFor="let t of transactions" class="media">
              <div class="media-icon {{icon.backClass}}" *ngIf="transactionIcons(t.TTId); let icon">
                <i [ngStyle]="{'font-size':icon.fontSize}" class="{{icon.fontIcon}}"></i>
              </div>
              <div class="media-body">
                <h6>{{t.TTitle}}</h6>
                <span>{{t.TUser}}</span>
              </div>
              <div class="media-right">{{t.getDate}}</div>
            </div><!-- media -->
            <div *ngIf="!transactions || transactions.length == 0" style="justify-content: center;font-weight: 500;"
              class="media">
              {{getLanguageValue('No_movement_yet')}}
            </div>
          </div><!-- az-media-list-activity -->
          <a routerLink="/transactionlist" class="btn btn-outline-light btn-block">Tüm Hareketler</a>
        </div>
      </div><!-- az-content-body -->
    </div>