<div class="az-content az-content-dashboard-four">
    <div class="media media-dashboard">
      <div class="media-body">
        <!-- Bread Crumb -->
        <div class="az-content-breadcrumb">
          <span>{{getLanguageValue('Consumable_Definitions')}}</span>
          <span>{{getLanguageValue('Consumable_Card_Categories')}}</span>
        </div>
        <!-- END Bread Crumb END -->
        <div class="card card-dashboard-twelve mg-b-20">
          <div class="card-header">
            <h2 class="az-content-title">{{getLanguageValue('Consumable_Card_Categories')}}</h2>
            <div class="grp-btn-action">
  
              <button type="button" (click)="exportAsExcelFile(dataTable)" class="btn btn-success btn-excel-custom" data-toggle="tooltip" data-placement="bottom" title="Excel">
                <i [ngClass]="{'far fa-file-excel':isTableExporting == false}"
                  [class.btn-refresh-loader]="isTableExporting == true"></i>
              </button>
  
              <button type="button" (click)="refreshTable()"
                class="btn btn-success btn-refresh-custom" data-toggle="tooltip" data-placement="bottom" title="{{getLanguageValue('Refresh_Table')}}">
                <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}"
                  [class.btn-refresh-loader]="isTableRefreshing == true"></i>
              </button>
  
              <button type="button" data-toggle="modal" (click)="onDelete()" class="btn btn-danger btn-delete-custom" data-toggle="tooltip" data-placement="bottom" title="{{getLanguageValue('Delete')}}">
                {{dataTable.TGT_getSelectedItems().length > 0 ? dataTable.TGT_getSelectedItems().length : '' }}
                <i class="fas fa-trash"></i></button>

              
              <button class="btn btn-az-primary" *ngIf="IsAuthForInsert==true" id="btnAddConsumableCategory"
                data-toggle="modal" data-target="#modalConsumableCategory" (click)="resetForm(data,true)">Kategori
                Ekle
              </button>
  
              <button style="display:none" *ngIf="IsAuthForEdit==true" id="btnEditConsumableCategory"
              data-toggle="modal" data-target="#modalConsumableCategory" (click)="resetForm(data,false)">Kategori
              Düzenle
            </button>

            </div>
          </div>
          <div class="sales-overview">
            <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable">
            </tree-grid-table>
          </div>
        </div>
        <!-- az-content-body -->
      </div>
    </div>
  </div>
  
  <!-- LARGE MODAL -->
  <div id="modalConsumableCategory" class="modal" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">
            {{
                consumableCategory.ConsumableCategoryId ?  'Malzeme kategorisi güncellemek için bilgileri giriniz.' : 'Yeni malzeme kategorisi eklemek için bilgileri giriniz.'
              }}
          </h6>
          <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #data="ngForm" (ngSubmit)="onSubmit(data)" class="form-register">
          <div class="modal-body">
            <div class="row justify-content-center"> 
              <div class="form-group col-md-6">
                <label class="required-span">Kategori Kodu</label>
                <input [(ngModel)]="consumableCategory.ConsumableCategoryCode" name="ConsumableCategoryCode" type="text" maxlength="50" trim="blur" class="form-control"
                  #ConsumableCategoryCode="ngModel" [ngClass]="{ 'is-invalid': data.submitted && ConsumableCategoryCode.invalid }" required />
                <div *ngIf="data.submitted && ConsumableCategoryCode.invalid" class="invalid-feedback">
                  <div *ngIf="ConsumableCategoryCode.errors.required">Bu alan zorunludur.</div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label class="required-span">Kategori Adı</label>
                <input [(ngModel)]="consumableCategory.ConsumableCategoryName" name="ConsumableCategoryName" type="text" maxlength="50" trim="blur" class="form-control"
                  #ConsumableCategoryName="ngModel" [ngClass]="{ 'is-invalid': data.submitted && ConsumableCategoryName.invalid }" required />
                <div *ngIf="data.submitted && ConsumableCategoryName.invalid" class="invalid-feedback">
                  <div *ngIf="ConsumableCategoryName.errors.required">Bu alan zorunludur.</div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="form-group col-md-12">
                <label>{{getLanguageValue('Parent_Category')}}</label>
                <select [(ngModel)]="consumableCategory.ConsumableParentCategoryId"
                  name="ConsumableParentCategoryId" class="form-control" (click)="loadConsumableCategories()">
                  <option [ngValue]="null">Yok</option>
                  <option *ngFor="let consumableCategory of consumableCategoriesWithoutCurrent"
                    value={{consumableCategory.ConsumableCategoryId}}>
                    {{consumableCategory.ConsumableCategoryName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- modal-body -->
          <div class="modal-footer">
            <button class="btn btn-az-primary" id="btnInsertOrUpdateConsumableCategory" type="submit"
              data-toggle="modal" data-target="#modalInsertConsumableCategory" *ngIf="isWaitingInsertOrUpdate == false">
              {{consumableCategory.ConsumableCategoryId ?  getLanguageValue('Update_Consumable_Category') : getLanguageValue('Add_Consumable_Category')}}
            </button>
            <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
          </div>
        </form>
      </div>
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- modal -->

  
 <!-- GÜNCELLEME ONAY -->

 <div class="modal" data-backdrop="static" id="modalShowQuestionPopupForConsumableCategory" style=" overflow-y: hidden !important;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content tx-size-sm">
      <div class="modal-body tx-center pd-y-20 pd-x-20">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="icon icon ion-ios-information-circle-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
        <h4 class="mg-b-20">{{getLanguageValue('Warning!')}}</h4>
        <p class="mg-b-20 mg-x-20">{{getLanguageValue('Are_you_sure_you_want_to_update_the_record')}}</p>
   
        <div class="row" style="margin-bottom:20px;">
          <div class="col-md-6" style="padding-right: 0px;">
            <button class="btn btn-az-danger" style="float:right;" data-dismiss="modal" data-toggle="modal" aria-label="Close" >{{getLanguageValue('Cancel')}}</button>        
          </div>
       
          <div class="col-md-6">        
          <button class="btn btn-az-primary" id="btnYes" type="submit" style="padding: 5px 20px;" (click)="updateConsumableCategory()">{{getLanguageValue('Update')}}</button>
            </div>   
        </div>

      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->


<!-- SİLME ONAY -->
<div class="modal" data-backdrop="static" id="modalShowDeletePopupForConsumableCategory" style=" overflow-y: hidden !important;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content tx-size-sm">
      <div class="modal-body tx-center pd-y-20 pd-x-20">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="icon icon ion-ios-information-circle-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
        <h4 class="mg-b-20">{{getLanguageValue('Are_you_sure_you_want_to_delete')}}</h4>
        <p class="mg-b-20 mg-x-20">{{getLanguageValue('This_operation_can_not_be_undone')}}</p>
   
        <div class="row" style="margin-bottom:20px;">
          <div class="col-md-6" style="padding-right: 0px;">
            <button class="btn btn-az-danger" style="float:right; padding-left:32px; padding-right:32px;" data-dismiss="modal" data-toggle="modal" aria-label="Close" >{{getLanguageValue('Cancel')}}</button>        
          </div>
       
          <div class="col-md-6">        
          <button class="btn btn-az-primary" id="btnYes" type="submit" style="padding: 5px 20px; padding-left: 37px;padding-right: 37px;" (click)="deleteConsumableCategories()">{{getLanguageValue('Delete')}}</button>
            </div>   
        </div>

      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->


<!-- SİLEMEME UYARI -->
<div class="modal" data-backdrop="static" id="modalShowErrorPopup" style=" overflow-y: hidden !important;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content tx-size-sm">
        <div class="modal-body tx-center pd-y-20 pd-x-20">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <i class="icon icon ion-ios-information-circle-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
          <h4 class="mg-b-20">{{getLanguageValue('Warning!')}}</h4>
          <p class="mg-b-20 mg-x-20">{{ notDeletedBarcode }} {{getLanguageValue('Code_can_not_be_deleted_because_it_uses_in_the_system')}}</p>
     
          <div class="row justify-content-center" style="margin-bottom:20px;">
              <button class="btn btn-az-primary" data-dismiss="modal" data-toggle="modal" aria-label="Close" >{{getLanguageValue('Okay')}}</button>        
          </div>
  
        </div><!-- modal-body -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
  