<div class="az-content">
    <div class="container">
      <div class="az-content-body">
  
        <h2 class="az-content-title">Demirbaş Markası</h2>
            <div class=" row btn-icon-list">   
              <button class="btn btn-orange"    id="btnAddFixedAssetCardBrand" data-toggle="modal"
                data-target="#modalFixedAssetCardBrand">Demirbaş Markası Ekle
              </button>
              <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
            </div>  
        <p class="mg-b-20"></p>
        <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>
      </div>
      <!-- az-content-body -->
    </div>
  </div>
  <!-- az-content -->
  
  <div id="modalFixedAssetCardBrand" class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title model-title-center">Yeni demirbaş markası oluşturmak için aşağıdaki alanları doldurunuz.</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form #data="ngForm" (ngSubmit)="OnSubmit(data) && data.form.valid" class="form-register" novalidate>
              <input type="hidden" name="FixedAssetCardBrandId" [(ngModel)]="fixedAssetCardBrand.FixedAssetCardBrandId"/>
            <div class="row">
              <label>*Demirbaş Marka Adı</label>
              <input type="text" id="Name" [(ngModel)]="fixedAssetCardBrand.Name" name="Name" #Name="ngModel" [ngClass]="{ 'is-invalid': data.submitted && Name.invalid }" required class="form-control txt-width" value="" />
              <div *ngIf="data.submitted && Name.invalid" class="invalid-feedback">
                <div *ngIf="Name.errors.required">Bu alan zorunludur.</div>
              </div>
            </div>
            <!-- form-group -->
            <div class="modal-footer">
              <button class="btn btn-orange btn-block btn-height" id="btnCreateFixedAssetCardBrand" type="submit"
                data-toggle="modal" data-target="#modalInsertFixedAssetCardBrand">Demirbaş Markası Ekle</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- modal -->