<div class="az-content">
    <div class="container-fluid">
      <div class="az-content-body">
        <div class="card card-dashboard-twelve mg-b-20">  
        <h2 class="az-content-title">Demirbaş Markası</h2>      
        <p class="mg-b-20"></p>       
            <div class="grp-btn-action">
                <button type="button" (click)="deleteFixedAssetCardBrand()" class="btn btn-danger">
                      {{dataTable.TGT_getSelectedItems().length > 0 ? dataTable.TGT_getSelectedItems().length : '' }}
                      <i class="fas fa-trash"></i></button>   
                <button class="btn btn-orange" id="btnAddFixedAssetCardBrand" data-toggle="modal"
                  data-target="#modalFixedAssetCardBrand">Marka Ekle
                </button>      
              </div>
            <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>   
        </div>
      </div>
      <!-- az-content-body -->
    </div>
  </div>
  <!-- az-content -->  

  <!-- MODAL FIXEDASSETCARDBRAND-->
  <div id="modalFixedAssetCardBrand" class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title model-title-center">Yeni demirbaş markası oluşturmak için aşağıdaki alanları doldurunuz.</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-center">
          <form #data="ngForm" (ngSubmit)="onSubmit(data) && data.form.valid" class="form-register" novalidate>
              <input type="hidden" name="FixedAssetCardBrandId" [(ngModel)]="fixedAssetCardBrand.FixedAssetCardBrandId"/>
            <div class="form-group">
                <label>Kod</label>
                <input type="text" id="FixedAssetCardBrandCode" [(ngModel)]="fixedAssetCardBrand.FixedAssetCardBrandCode" name="FixedAssetCardBrandCode" #FixedAssetCardBrandCode="ngModel" [ngClass]="{ 'is-invalid': data.submitted && FixedAssetCardBrandCode.invalid }" required class="form-control txt-width" value="" />
                <div *ngIf="data.submitted && FixedAssetCardBrandCode.invalid" class="invalid-feedback">
                  <div *ngIf="FixedAssetCardBrandCode.errors.required">Bu alan zorunludur.</div>
                </div>
              <label>Marka Adı</label>
              <input type="text" id="Name" [(ngModel)]="fixedAssetCardBrand.Name" name="Name" #Name="ngModel" [ngClass]="{ 'is-invalid': data.submitted && Name.invalid }" required class="form-control txt-width" value="" />
              <div *ngIf="data.submitted && Name.invalid" class="invalid-feedback">
                <div *ngIf="Name.errors.required">Bu alan zorunludur.</div>
              </div>
            </div>
            <!-- form-group -->
            <div class="modal-footer">
              <button id="btnInsertOrUpdateBrand" class="btn btn-orange" type="submit"
                data-toggle="modal" data-target="#modalInsertFixedAssetCardBrand">Kaydet</button>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- modal -->
