<div class="az-content">
  <div class="container-fluid">
    <div class="az-content-body">
      <div class="card card-dashboard-twelve mg-b-20">
        <h2 class="az-content-title">Şirketler</h2>
        <div class=" row btn-icon-list col-md-2">   
          <button
            class="btn btn-orange"
            id="btnAddCompany"
            data-toggle="modal"
            data-target="#modalCompany"
            (click)="loadDropdownList()"
          >Şirket Ekle
          </button>
          <button type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
        </div>
        <p class="mg-b-20"></p>
        <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->

<!-- LARGE MODAL -->
<div id="modalCompany" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Şirket bilgilerini giriniz.</h6>
        <button id="CloseModal"
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form" #data="ngForm" (ngSubmit)="OnSubmit(data) && data.form.valid" novalidate>
        <div class="modal-body">
          <div class="row justify-content-center">
            <input type="hidden" name="CompanyId" [(ngModel)]="company.CompanyId"/>
            <div class="form-group col-md-6">
              <label>Ad</label>
              <input  [(ngModel)]="company.Name" name="Name" type="text" class="form-control" #Name="ngModel" [ngClass]="{ 'is-invalid': data.submitted && Name.invalid }" required />
              <div *ngIf="data.submitted && Name.invalid" class="invalid-feedback">
                <div *ngIf="Name.errors.required">Bu alan zorunludur.</div>
              </div>
              <label>E-posta</label>
              <input  [(ngModel)]="company.Email" name="Email" type="text" class="form-control" #Email="ngModel" [ngClass]="{ 'is-invalid': data.submitted && Email.invalid }" required email  />
              <div *ngIf="data.submitted && Email.invalid" class="invalid-feedback">                 
                  <div *ngIf="Email.errors.email">Email formatında değildir.</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <div class="col-md">
                <label>Adres</label>
                <textarea type="text"  [(ngModel)]="company.Address" name="Address" style="resize:none" rows="4" class="form-control"></textarea>        
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label>Vergi Numarası</label>
              <input [(ngModel)]="company.TaxNumber" name="TaxNumber" type="text" class="form-control" />
            </div>
            <div class="form-group col-md-6">
              <label>Ülke</label>
              <select [(ngModel)]="company.CountryId" name="CountryId" class="form-control select2-no-search">
                <option value=" ">Seçiniz</option>
                <option *ngFor="let country of countries" value={{country.CountryId}}>{{country.Name}}</option>
              </select>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label>Vergi Dairesi</label>
              <input [(ngModel)]="company.TaxOffice" name="TaxOffice" type="text" class="form-control" />
            </div>
            <div class="form-group col-md-6">
              <label>Şehir</label>
              <select [(ngModel)]="company.CityId" name="CityId" class="form-control select2-no-search">
                <option label=" "></option>
                <option *ngFor="let city of cities" value={{city.CityId}}>{{city.Name}}</option>
              </select>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label>Telefon</label>
              <input [(ngModel)]="company.Phone" name="Phone" type="text" class="form-control" />
              <label>Faks</label>
              <input [(ngModel)]="company.SecondPhone" name="SecondPhone" type="text" class="form-control" />
            </div>
            <div class="form-group col-md-6">
              <div class="col-md">
                <label>Açıklama</label>
                <textarea [(ngModel)]="company.Description" name="Description" style="resize:none" rows="4" class="form-control" type="text"></textarea>               
              </div>
            </div>
          </div>
        </div>
        <!-- modal-body -->
        <div class="modal-footer">
          <button id="btnInsertOrUpdateCompany" type="submit" class="btn btn-orange btn-block btn-height" data-toggle="modal" data-target="#modalInsertCompany">Kaydet</button>
          <button
            type="button"
            data-dismiss="modal"
            class="btn btn-outline-light">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->

<script>
  $(document).ready(function () {
    $('#tblCompany').DataTable({
        "columnDefs": [ {
            "type": "salary-grade",
            "targets": -1
        } ],
        "order": [[0,asc]]
      });
} );

</script>
