
  <div class="az-content">
    <div class="container">
      <div class="az-content-body">
   
        <h2 class="az-content-title">Şirketler</h2>
        <div class="col-md-2 right">
          <button
            class="btn btn-orange btn-block btn-height"
            id="btnAddCompany"
            data-toggle="modal"
            data-target="#modalCompany"
            (click)="LoadDropdownList()"
          >Şirket Ekle
          </button>
        </div>
        <p class="mg-b-20"></p>
        <table id="tblCompany" class="display responsive dataTables_wrapper dataTable no-footer dtr-inline" role="grid">
          <thead>
            <tr>
              <th class="wd-15p ">Şirket Adı</th>
              <th class="wd-15p">Mail</th>
              <th class="wd-25p">Adres</th>
              <th class="wd-15p">Ülke</th>
              <th class="wd-10p">İl</th>
              <th class="wd-10p">Vergi Numarası</th>
              <th class="wd-10p">Vergi Dairesi</th>
              <th class="wd-10p">Telefon</th>
              <th class="wd-10p">Faks</th>
              <th class="wd-10p">Açıklama</th>
              <th class="wd-35p"> </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let company of companies">
            <tr>
              <td>{{company.Name}}</td>
              <td>{{company.Email}}</td>
              <td>{{company.Address}}</td>
              <td>{{company.CountryId}}</td>
              <td>{{company.CityId}}</td>
              <td>{{company.TaxNumber}}</td>
              <td>{{company.TaxOffice}}</td>
              <td>{{company.Phone}}</td>
              <td>{{company.SecondPhone}}</td>
              <td>{{company.Description}}</td>
              <td>   
                <div class="btn-icon-list">
                    <button type="button" (click)="updateCompany(company)" class="btn btn-indigo btn-icon"><i class="fas fa-pencil-alt"></i></button>
                    <button type="button" class="btn btn-primary btn-icon"><i class="fas fa-trash"></i></button>
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>

      </div>
      <!-- az-content-body -->
    </div>
  </div>
  <!-- az-content -->

<!-- LARGE MODAL -->
<div id="modalCompany" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Message Preview</h6>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #data="ngForm" (ngSubmit)="addCompany(data)">
        <input type="hidden" id="CompanyId" ngModel name="CompanyId "/>
        <div class="modal-body">
          <h6>Şirket bilgilerini giriniz.</h6>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label>Ad</label>
              <input id="Name" ngModel name="Name" type="text" class="form-control" />
              <label>E-posta</label>
              <input id="CompanyMail" ngModel name="CompanyMail" type="text" class="form-control" />
            </div>
            <div class="form-group col-md-6">
              <div class="col-md">
                <label>Adres</label>
                <textarea id="Address" ngModel name="Address" rows="4" style="resize:none"  class="form-control"></textarea>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label>Vergi Numarası</label>
              <input id="TaxNumber" ngModel name="TaxNumber" type="text"  class="form-control" />
            </div>
            <div class="form-group col-md-6">
              <label>Ülke</label>
              <select id="CountryId" ngModel name="CountryId" class="form-control select2-no-search">
                <option value=" ">Seçiniz</option>   
                <option *ngFor="let country of countries" value={{country.CountryId}}>{{country.Name}}</option>    
              </select>
            </div>           
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label>Vergi Dairesi</label>
              <input id="TaxOffice" ngModel name="TaxOffice" type="text" class="form-control" />        
            </div>
            <div class="form-group col-md-6">
              <label>Şehir</label>
              <select id="City" ngModel name="City" class="form-control select2-no-search">
                <option label=" "></option>
                <option *ngFor="let city of cities"value={{city.CityId}}>{{city.Name}}</option>
           
              </select>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label>Telefon</label>
              <input id="Phone" ngModel name="Phone" type="text" class="form-control" />
              <label>Faks</label>
              <input id="SecondPhone" ngModel name="SecondPhone" type="text" class="form-control" />
            </div>
            <div class="form-group col-md-6">
              <div class="col-md">
                <label>Açıklama</label>
                <textarea id="Description" ngModel name="Description" rows="4" style="resize:none" class="form-control" placeholder="Textarea"></textarea>
              </div>
            </div>
          </div>              
        </div>
        <!-- modal-body -->
        <div class="modal-footer">
          <button id="btnInsertCompany" type="submit" class="btn btn-orange btn-block btn-height" data-toggle="modal" data-target="#modalInsertCompany">Kaydet</button>
          <button
            type="button"
            data-dismiss="modal"
            class="btn btn-outline-light">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->

<script>
$(document).ready( function () {
    $('#tblCompany').DataTable({
        "columnDefs": [ {
            "type": "salary-grade",
            "targets": -1
        } ],
        "order": [[0,asc]]
      });
} );</script>