
  <div class="az-content">
    <div class="container">
      <div class="az-content-body">
   
        <h2 class="az-content-title">Şirketler</h2>
        <div class=" row col-md-2 left">
          <button
            class="btn btn-orange"
            id="btnAddCompany"
            data-toggle="modal"
            data-target="#modalCompany"
            (click)="LoadDropdownList()"
          >Şirket Ekle
          </button>
          <button type="button" class="btn btn-primary btn-icon"><i class="fas fa-trash"></i></button>
        </div>
        <p class="mg-b-20"></p>
        <table id="tblCompany" class="display responsive dataTables_wrapper dataTable no-footer dtr-inline" role="grid">
          <thead>
            <tr>
              <th class="wd-5p"></th>
              <th class="wd-15p ">Şirket Adı</th>
              <th class="wd-15p">Mail</th>
              <th class="wd-25p">Adres</th>
              <th class="wd-15p">Ülke</th>
              <th class="wd-10p">İl</th>
              <th class="wd-10p">Vergi Numarası</th>
              <th class="wd-10p">Vergi Dairesi</th>
              <th class="wd-10p">Telefon</th>
              <th class="wd-10p">Faks</th>
              <th class="wd-10p">Açıklama</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let company of companies">
            <tr>
              <td><input type="checkbox"/></td>
              <td data-toggle="modal" data-target="#modalCompany" (click)="FillCompanyModal(company)">{{company.Name}}</td>
              <td>{{company.Email}}</td>
              <td>{{company.Address}}</td>
              <td>{{company.CountryId}}</td>
              <td>{{company.CityId}}</td>
              <td>{{company.TaxNumber}}</td>
              <td>{{company.TaxOffice}}</td>
              <td>{{company.Phone}}</td>
              <td>{{company.SecondPhone}}</td>
              <td>{{company.Description}}</td>
              <!-- <td>   
                <div class="btn-icon-list">
                    <button  type="button" data-toggle="modal" data-target="#modalCompany" (click)="FillCompanyModal(company)"  class="btn btn-indigo btn-icon"><i class="fas fa-pencil-alt"></i></button>
                    
                </div>
              </td> -->
            </tr>
          </ng-container>
          </tbody>
        </table>

      </div>
      <!-- az-content-body -->
    </div>
  </div>
  <!-- az-content -->

<!-- LARGE MODAL -->
<div id="modalCompany" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Message Preview</h6>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #data="ngForm" (ngSubmit)="OnSubmit(data)">
        <div class="modal-body">
          <h6>Şirket bilgilerini giriniz.</h6>
          <div class="row justify-content-center">
            <input type="hidden" name="CompanyId" [(ngModel)]="company.CompanyId" />
            <div class="form-group col-md-6">
              <label>Ad</label>
              <input  [(ngModel)]="company.Name" name="Name" type="text" class="form-control" />
              <label>E-posta</label>
              <input  [(ngModel)]="company.Email" name="Email" type="text" class="form-control" />
            </div>
            <div class="form-group col-md-6">
              <div class="col-md">
                <label>Adres</label>
                <input type="text"  [(ngModel)]="company.Address" name="Address" style="resize:none"  class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label>Vergi Numarası</label>
              <input [(ngModel)]="company.TaxNumber" name="TaxNumber" type="text"  class="form-control" />
            </div>
            <div class="form-group col-md-6">
              <label>Ülke</label>
              <select [(ngModel)]="company.CountryId" name="CountryId" class="form-control select2-no-search">
                <option value=" ">Seçiniz</option>   
                <option *ngFor="let country of countries" value={{country.CountryId}}>{{country.Name}}</option>    
              </select>
            </div>           
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label>Vergi Dairesi</label>
              <input [(ngModel)]="company.TaxOffice" name="TaxOffice" type="text" class="form-control" />        
            </div>
            <div class="form-group col-md-6">
              <label>Şehir</label>
              <select [(ngModel)]="company.CityId" name="CityId" class="form-control select2-no-search">
                <option label=" "></option>
                <option *ngFor="let city of cities"value={{city.CityId}}>{{city.Name}}</option>           
              </select>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label>Telefon</label>
              <input  [(ngModel)]="company.Phone" name="Phone"  type="text" class="form-control" />
              <label>Faks</label>
              <input [(ngModel)]="company.SecondPhone" name="SecondPhone" type="text" class="form-control" />
            </div>
            <div class="form-group col-md-6">
              <div class="col-md">
                <label>Açıklama</label>
                <input  [(ngModel)]="company.Description" name="Description" style="resize:none" class="form-control" type="text" placeholder="Textarea"/>
              </div>
            </div>
          </div>              
        </div>
        <!-- modal-body -->
        <div class="modal-footer">
          <button id="btnInsertCompany" type="submit" class="btn btn-orange btn-block btn-height" data-toggle="modal" data-target="#modalInsertCompany">Kaydet</button>
          <button
            type="button"
            data-dismiss="modal"
            class="btn btn-outline-light">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->

<script>
$(document).ready( function () {
    $('#tblCompany').DataTable({
        "columnDefs": [ {
            "type": "salary-grade",
            "targets": -1
        } ],
        "order": [[0,asc]]
      });
} );</script>