<div class="az-content">
  <div class="container-fluid">
    <div class="az-content-body">
      <div class="card card-dashboard-twelve mg-b-20">
        <h2 class="az-content-title">Çıkış Tipleri</h2>
        <div class="grp-btn-action">
        </div>
        <p class="mg-b-20"></p>
        <div class="col-md-6">
            <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTableFixedAssetStatus"></tree-grid-table>
        </div>
        <div class="col-md-6">
            <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>
        </div>        
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->