<div class="az-content az-content-dashboard-four">
    <div class="media media-dashboard">
      <div class="media-body">
        <!-- Bread Crumb -->
        <div class="az-content-breadcrumb">
          <span>TANIMLAMALAR</span>
          <span>ÇIKIŞ TİPLERİ</span>
        </div>
      <div class="card card-dashboard-twelve mg-b-20">
        <div class="card-header">
          <h2 class="az-content-title" style="margin-left:0">Çıkış Tipleri</h2>
          <div class="grp-btn-action">
          </div>
        </div>
        <p class="mg-b-20"></p>         
        <div class="sales-overview">
          <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>         
        </div>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->