<div class="az-content">
    <div class="container">
      <div class="az-content-body">
  
        <h2 class="az-content-title">Demirbaş Modelleri</h2>
        <div class="row">
          <div class="col-md-2 btnAddFixedAssetCardModel-right">
            <button class="btn btn-orange btn-block btnAddFixedAssetCardModel-height" id="btnAddFixedAssetCardModel" data-toggle="modal"
              data-target="#modalFixedAssetCardModel" (click)="loadDropdownList()">Demirbaş Modeli Ekle
            </button>
          </div>
        </div>
  
        <p class="mg-b-20"></p>
        <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>
      </div>
      <!-- az-content-body -->
    </div>
  </div>
  <!-- az-content -->
  
  <div id="modalFixedAssetCardModel" class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title model-title-center">Yeni departman oluşturmak için aşağıdaki alanları doldurunuz.</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <!-- <h6>Yeni demirbaş modeli oluşturmak için aşağıdaki alanları doldurunuz.</h6> -->
          <form #data="ngForm" (ngSubmit)="insertFixedAssetCardModel(data)" class="form-register">
            <div class="row">
              <label>*Departman Adı</label>
              <input type="text" id="Name" ngModel name="Name" required class="form-control txt-width" value="" />
            </div>
            <div class="row">
                <label>Marka</label>
                <select id="FixedAssetCardBrandId" ngModel name="FixedAssetCardBrandId" required class="form-control txt-width"
                  value="">
                  <option value="">Seçiniz</option>
                  <option value="-1">Yok</option>
                  <option *ngFor="let fixedAssetCardBrand of fixedAssetCardBrands" value={{fixedAssetCardBrand.FixedAssetCardBrandId}}>
                    {{fixedAssetCardBrand.Name}}
                  </option>
                </select>              
              </div>
            <div class="row">
              <label>*Açıklama</label>
              <input type="text" id="Description" ngModel name="Description" required class="form-control txt-width"
                value="" />
            </div>
            <!-- form-group -->
            <div class="modal-footer">
              <button class="btn btn-orange btn-block btn-height" id="btnCreateFixedAssetCardModel" type="submit"
                data-toggle="modal" data-target="#modalInsertFixedAssetCardModel">Demirbaş Modeli Ekle</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- modal -->