<div class="az-content">
    <div class="container">
      <div class="az-content-body">  
        <h2 class="az-content-title">Demirbaş Modelleri</h2> 
          <div class="grp-btn-action">
            <button type="button" (click)="deleteFixedAssetCardBrandOrModel()" class="btn btn-danger">
                {{dataTableModel.TGT_getSelectedItems().length > 0 ? dataTableModel.TGT_getSelectedItems().length : '' }}
                <i class="fas fa-trash"></i></button>   
            <button class="btn btn-orange" id="btnAddFixedAssetCardModel" data-toggle="modal"
              data-target="#modalFixedAssetCardModel">Model Ekle
            </button>      
        </div>
        <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTableModel"></tree-grid-table>     
      <!-- az-content-body -->
    </div>
  </div>
  <!-- az-content -->
  

   <!-- MODAL FIXEDASSETCARDMODEL -->
   <div id="modalFixedAssetCardModel" class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title model-title-center">Yeni demirbaş modeli oluşturmak için aşağıdaki alanları doldurunuz.</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center">
          <form #data="ngForm" (ngSubmit)="onSubmit(data) && data.form.valid" class="form-register" novalidate>
              <input type="hidden" name="FixedAssetCardModelId" [(ngModel)]="fixedAssetCardModel.FixedAssetCardModelId"/>
            <div class="row">      
              <div class="form-group">
                  <label>Kod</label>
                  <input type="text" id="FixedAssetCardModelCode" [(ngModel)]="fixedAssetCardModel.FixedAssetCardModelCode" name="FixedAssetCardModelCode" #FixedAssetCardModelCode="ngModel" [ngClass]="{ 'is-invalid': data.submitted && FixedAssetCardModelCode.invalid }" required class="form-control txt-width" value="" />
                  <div *ngIf="data.submitted && FixedAssetCardModelCode.invalid" class="invalid-feedback">
                    <div *ngIf="FixedAssetCardModelCode.errors.required">Bu alan zorunludur.</div>
                  </div>
                  <label>Marka</label>
                <select [(ngModel)]="fixedAssetCardModel.FixedAssetCardBrandId" (click)="loadBrands()"
                name="Name" class="form-control select2-no-search" #Name="ngModel" [ngClass]="{ 'is-invalid': data.submitted && Name.invalid }" required>
                  <option value=" ">Seçiniz</option>
                  <option *ngFor="let facbs of fixedAssetCardBrands" value={{facbs.FixedAssetCardBrandId}}>{{facbs.Name}}</option>
                </select>              
                <div *ngIf="data.submitted && Name.invalid" class="invalid-feedback">
                <div *ngIf="Name.errors.required">Bu alan zorunludur.</div>
              </div>
              <label>Model Adı</label>
              <input type="text" id="Name" [(ngModel)]="fixedAssetCardModel.Name" name="Name" #Name="ngModel" [ngClass]="{ 'is-invalid': data.submitted && Name.invalid }" required class="form-control txt-width" value="" />
              <div *ngIf="data.submitted && Name.invalid" class="invalid-feedback">
                <div *ngIf="Name.errors.required">Bu alan zorunludur.</div>
              </div>
            </div>
          </div>
            <!-- form-group -->
            <div class="modal-footer">
              <button id="btnInsertOrUpdateModel" class="btn btn-orange" type="submit"
                data-toggle="modal" data-target="#modalInsertFixedAssetCardModel">Kaydet</button>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- modal -->
  