.flexProperty {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flexProperty > div {
    padding:5px;
}

.mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background-color:#e67300 !important
}

.btn-orange {
  background: #e67300;
  color: white;
  border-radius: 0px;
  background-color: #e67300; color: white; min-height: 29px;
  min-width: 30px;
  padding: 0 16px;
  font-weight: 400; line-height: 29px
}

.field_set {
  border: 1;
  border-color: #d0cbcb;
  border-style: solid;
}

.fieldset_text {
  color: #e67300;
}

.modal-dialog-popup {
  max-width: 900px;
  margin: 1.75rem auto;
}
.ckbox span {
  padding-left: 11px;
}
.btn{
  min-height: 25px;
}

.table-scroll {
  height: 500px;
  overscroll-behavior-y: contain;
  overflow-y: scroll;
}

.table-pagination {
  padding-top: 0;
  color: #333333;
  float: right;
  text-align: center;
  width: 100%;
}

.table-pagination-select {
  height: 35px;
  float: right;
  margin-left: 20px;
  border-radius: 3px;
  border: 1px solid #bfc3c7;
  color: #5a5a5a;
  font-size: 13px;
  padding: 5px;
  border-radius: 0;
}

.pagination-nav {
  float: right;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #e67300;
  border-color: #cc6703;
  max-height: 35px;
}
