<div class="az-content az-content-dashboard-four">
    <div class="media media-dashboard">
      <div class="media-body">
        <!-- Bread Crumb -->
        <div class="az-content-breadcrumb">
          <span>AMORTİSMAN YÖNETİMİ</span>
        </div>
        <!-- END Bread Crumb END -->
        <div class="card card-dashboard-twelve mg-b-20">
          <div class="card-header" style="padding-bottom:0px;">
            <h2 class="az-content-title" style="margin-left:20px;">{{getLanguageValue('Depreciation_Management')}}</h2>
            <div *ngIf="isDetailInfo == true && isDepreciationTab == true">          
              <button class="btn btn-success btn-excel-custom" (click)="exportAsExcelFile(dataTableDepreciationDetail)"
                        data-toggle="tooltip" data-placement="bottom" title="Excel" style="margin-right:10px; min-height: 37px;"><i
                        [ngClass]="{'far fa-file-excel':isTableExporting == false}"
                        [class.btn-refresh-loader]="isTableExporting == true"></i>
              </button>
           
            </div>
            <div *ngIf="isDetailInfo == true && isIFRSTab == true"> 
                <button class="btn btn-success btn-excel-custom" (click)="exportAsExcelFile(dataTableIFRSDepreciationDetail)"
                data-toggle="tooltip" data-placement="bottom" title="Excel" style="margin-right:10px; min-height: 37px;"><i
                [ngClass]="{'far fa-file-excel':isTableExporting == false}"
                [class.btn-refresh-loader]="isTableExporting == true"></i>
                </button>
              </div>
            
          </div>            
            <div>
            
    
             <div *ngIf="isDetailInfo == false">
              <div  class="justify-content:flex-end; display:flex" style="flex: 1; justify-content: flex-end; display: flex;">
  
                  <button style="display:none" id="showModal" data-toggle="modal" data-target="#modalUpdateDepreciation"></button>  
                  <!-- <div>
                      <button class="btn btn-az-primary" id="btnFilterDepreciation" style="padding: 5px 20px; margin-right:10px; margin-top: 5px;"  id="showModal" data-toggle="modal" data-target="#modalFilterDepreciation">Filtrele</button>
                  </div>  -->
                  <div>
                      <button class="btn btn-az-primary" id="btnCalculateIFRSDepreciation" style="padding: 5px 20px; margin-right:10px; margin-top: 5px;" (click)="onClickCalculateDepreciation(2)">{{getLanguageValue('Calculation_IFRS')}}</button>
                  </div>       
                  <div>
                      <button class="btn btn-az-primary" id="btnCalculateDepreciation" style="padding: 5px 20px; margin-right:10px; margin-top: 5px;" (click)="onClickCalculateDepreciation(1)">{{getLanguageValue('Calculation_Depreciation')}}</button>
                  </div>
                  <div>
                    <button class="btn btn-az-primary" id="btnUpdateInfos"data-dismiss="modal" style="padding: 5px 20px; margin-top: 5px; margin-right:40px;" (click)="depreciationInfo()">{{getLanguageValue('Update_Information')}}</button>
                </div>
              </div>
            </div>
          </div>            
           <div class="card-body" style="padding-top:0px;">

              <div *ngIf="isDetailInfo == true">
                    <fieldset class="field_set" style="padding-left: 10px; margin-right: 10px; margin-left: 20px;">
                    <legend>{{getLanguageValue('General_Informations')}}</legend>
            
                      <div class="row">
                        <!-- BARKOD -->     
                          <div class="col-md-4">
                            <div class="col-md-12" style="padding-left:0px;">                       
                                <label><b>{{getLanguageValue('Barcode')}}:</b></label>                                            
                                <span style="margin-left:20px;">{{ fixedAsset.Barcode }}</span>
                            </div>
                        </div> 


                          <div class="col-md-4">
                              <div class="col-md-12">                       
                                  <label><b>{{getLanguageValue('Depreciation_Method')}}:</b></label>
                                  <span  style="margin-left:20px;">{{ fixedAsset.DepreciationCalculationType == null ? null : fixedAsset.DepreciationCalculationType.DepreciationCalculationTypeDescription }}</span>
                              </div>
                          </div>

                          <div class="col-md-4">               
                                  <div class="col-md-12">                
                                    <label><b>{{getLanguageValue('Revaluated_Value')}}:</b></label>                                             
                                    <span style="margin-left:20px;">{{ fixedAsset.Price }}</span>
                                  </div>
                          </div>

                                    
                        
                      </div>

                      <div class="row">
                          <!-- DEMİRBAŞ ADI -->     
                            <div class="col-md-4" style="padding-left:0px;">              
                                <div class="col-md-12">                
                                  <label><b>{{getLanguageValue('Fixed_Asset_Card_Name')}}:</b></label>                                             
                                  <span style="margin-left:20px;">{{ fixedAsset.FixedAssetCard == null ? null : fixedAsset.FixedAssetCard.Name }}</span>
                                </div>
                          </div>
                            <!-- AMOERTİSMAN PERİYODU -->
                            <div class="col-md-4">           
                              <div class="col-md-12">                
                                <label><b>{{getLanguageValue('Depreciation_Period')}}:</b></label>                                             
                                <span style="margin-left:20px;">{{ fixedAsset.DepreciationPeriod }}</span>
                              </div>
                            </div>
                            <!-- AMORTİSMAN ORANI -->
                            <div class="col-md-4">            
                                    <div class="col-md-12">                
                                      <label><b>{{getLanguageValue('Depreciation_Rate')}}:</b></label>                                           
                                      <span style="margin-left:20px;">{{ fixedAssetDepreciationDetails.length == 0 ? null : fixedAssetDepreciationDetails[0].Rate }}</span>
                                    </div>
                            </div>
    
                                      
                          
                      </div>

                      <div class="row">
                          <!-- MASRAF MERKEZİ -->     
                            <div class="col-md-4">              
                                <div class="col-md-12" style="padding-left:0px;">                
                                  <label><b>{{getLanguageValue('Expense_Center')}}:</b></label>
                                  <span>{{ fixedAsset.ExpenseCenter == null ? null : fixedAsset.ExpenseCenter.Name }}</span>
                              </div>
                              </div>                                 
                          </div>

                    </fieldset>
              </div>
              <div>

                </div> 

              <div class="card-body" style="padding-top:0px;">
              <mat-tab-group style="margin-top:10px;" (selectedTabChange)="tabChanged($event)">
                
                <!-- AMORTİSMAN VE IFRS BİLGİLERİ -->
                <mat-tab>
                    <ng-template mat-tab-label>
                      {{getLanguageValue('Depreciation_and_IFRS_Infos')}}
                    </ng-template>
                    <div class="sales-overview" style="flex-direction:column; padding-left:0px; padding-right:0px; margin-top:20px;">
                        <tree-grid-table [dataTable]="dataTable" (onClickItem)="onClickDepreciation($event,item)">
                        </tree-grid-table>
                        <!-- Pagination Side -->
                        <div class="table-pagination">
                          <!-- Per In Page Select area -->
                          <select class="table-pagination-select" (change)="loadFixedAsset(perInPage,1)" [(ngModel)]="perInPage">
                            <option *ngFor="let perIn of dataTable.perInPages" value="{{perIn}}">{{perIn}}</option>
                            <option value="1000">{{getLanguageValue('All')}}</option>
                          </select>
                          <!-- END Per In Page Select area END -->
                          <!-- Paginations -->
                          <nav class="pagination-nav">
                            <ul class="pagination">
                              <ng-container *ngFor="let page of pages">
                                <li class="page-item" [class.disabled]="page.isDisabled" [class.active]="page.isActive"><button
                                    (click)="loadFixedAsset(perInPage,page.value)" class="page-link">{{page.display}}</button>
                                </li>
                              </ng-container>
                            </ul>
                          </nav>
                          <!-- END Paginations END -->
                        </div>
                        <!-- END Pagination Side END -->
                      </div>  
                </mat-tab>

                <!-- AMORTİSMAN BİLGİLERİ -->
                <mat-tab [disabled]="dataTable.TGT_getSelectedItems().length == 1 && selectedFixedAsset.WillDepreciationBeCalculated == true ? null : 'disabled'">
                  <ng-template mat-tab-label>
                    {{getLanguageValue('Depreciation_Infos')}}
                  </ng-template>
                  <div class="sales-overview" style="flex-direction:column; padding-left:0px; padding-right:0px; margin-top:20px;">
                      <tree-grid-table [dataTable]="dataTableDepreciationDetail">
                      </tree-grid-table>
                      <!-- END Pagination Side END -->
                    </div> 
                </mat-tab>
                
                <!-- IFRS BİLGİLERİ -->
                <mat-tab [disabled]="dataTable.TGT_getSelectedItems().length == 1 && selectedFixedAsset.WillIfrsbeCalculated == true ? null : 'disabled'">
                    <ng-template mat-tab-label>
                      {{getLanguageValue('IFRS_Informations')}}
                    </ng-template>
                        <div class="sales-overview" style="flex-direction:column; padding-left:0px; padding-right:0px; margin-top:20px;">
                      <tree-grid-table [dataTable]="dataTableIFRSDepreciationDetail">
                      </tree-grid-table>
                      <!-- END Pagination Side END -->
                    </div> 
                </mat-tab>

                </mat-tab-group>
           </div>
                
           </div>
        </div>
      </div>
      <!-- az-content-body -->
    </div>
  </div>
  <!-- az-content -->


  
<!-- LARGE MODAL -->
<div id="modalUpdateDepreciation" class="modal" data-backdrop="static">
  <div class="modal-dialog-popup modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">{{getLanguageValue('Enter_Depreciation_Information')}}</h6>
        <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form" #dataDepreciation="ngForm" novalidate>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-6  form-group">
                <div class="row">

                  <!-- BARKOD -->                  
                  <div class="col-md-12 form-group">                
                    <label>{{getLanguageValue('Barcode')}}</label>
                    <input value="{{ fixedAssetBarcodes }}" name="Barcode" type="text" class="form-control" disabled />
                  </div>
                </div>
              </div>

            
              <div class="col-md-6  form-group">
                  <div class="row">
                      <!-- FİYAT -->
                      <div class="col-md-6 form-group ">
                              <label>{{getLanguageValue('Price')}}</label>
                              <input [(ngModel)]="fixedAsset.Price" name="Price" type="text" [class.is-invalid]="dataDepreciation.submitted && depreciationBeCalculated == true && fixedAsset.Price == null" class="form-control"/>               
                      </div>

                      <!-- PARA BİRİMİ -->
                      <div class="col-md-6 form-group ">
                              <label>{{getLanguageValue('Currency')}}</label>
                              <select [(ngModel)]="fixedAsset.CurrencyId" name="CurrencyId" [class.is-invalid]="dataDepreciation.submitted && depreciationBeCalculated == true && fixedAsset.CurrencyId == null" class="form-control select2-no-search">
                                <option value="null" >{{getLanguageValue('Choose')}}</option>
                                <option *ngFor="let currency of currencies" value="{{currency.CurrencyId}}">{{currency.Name}}</option>
                              </select>   
                      </div>
                      
                  </div>
              </div>
             </div>
 
        <div class="row">          
          <div class="col-md-6">
              <fieldset class="field_set">
                  <legend>{{getLanguageValue('Depreciation_Informations')}}</legend>
                  <!-- AMORTİSMAN HESAPLANACAK MI? -->
                  <div class="col-md-12" style="margin-top:10px;  padding-left:0px;">
                      <label class="ckbox">
                          <input type="checkbox" [(ngModel)]="fixedAsset.WillDepreciationBeCalculated" [checked]="fixedAsset.WillDepreciationBeCalculated"
                          (change)="willDepreciationBeCalculated($event)"
                            name="WillDepreciationBeCalculated" /><span>{{getLanguageValue('Will_Depreciation_Be_Calculated')}}</span>
                        </label>
                  </div>

                  <div class="row" style="margin-top:15px;">                            
                    <!-- AMORTİSMAN YÖNTEMİ -->
                    <div class="form-group col-md-6">
                        <label>{{getLanguageValue('Depreciation_Method')}}</label> 
                        <select [(ngModel)]="fixedAsset.DepreciationCalculationTypeId" [disabled]="depreciationBeCalculated==false" name="DepreciationCalculationTypeId" [class.is-invalid]="dataDepreciation.submitted && depreciationBeCalculated == true && fixedAsset.DepreciationCalculationTypeId == null" class="form-control select2-no-search">
                            <option [ngValue]="null" >{{getLanguageValue('Choose')}}</option>
                            <option *ngFor="let types of depreciationTypes" value="{{types.DepreciationCalculationTypeId}}">{{types.DepreciationCalculationTypeDescription}}</option>
                        </select>   
                    </div>

                    <!-- AMORTİSMAN PERİYODU -->
                    <div class="form-group col-md-6">
                        <label>{{getLanguageValue('Depreciation_Period')}}</label> 
                        <input [(ngModel)]="fixedAsset.DepreciationPeriod" [disabled]="depreciationBeCalculated==false" name="DepreciationPeriod" type="number" onkeypress="return event.charCode >= 48" min="0" [class.is-invalid]="dataDepreciation.submitted && depreciationBeCalculated == true && fixedAsset.DepreciationPeriod == null" class="form-control"/>
                    </div>   

                  </div>         

                  <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div style="display:block" *ngIf="dataDepreciation.submitted" class="invalid-feedback">
                          <div *ngIf="requiredDepreciation==true && depreciationBeCalculated==true"> {{getLanguageValue('Enter_Complete_Depreciation_Information')}}</div>
                        </div>
                    </div>      
                  </div>
              </fieldset>
          </div>

          <div class="col-md-6">
              <fieldset class="field_set" style="padding-bottom: 0px;">
                  <legend>{{getLanguageValue('Depreciation_Informations')}}</legend>

                  <!-- IFRS AMORTİSMAN HESAPLANACAK MI -->
                  <div class="col-md-12" style="margin-top:10px;  padding-left:0px;">
                      <label class="ckbox">
                          <input type="checkbox" [(ngModel)]="fixedAsset.WillIfrsbeCalculated" [checked]="fixedAsset.WillIfrsbeCalculated"
                            (change)="willIfrsDepreciationBeCalculated($event)"
                            name="WillIfrsbeCalculated" /><span>{{getLanguageValue('Will_IFRS_Be_Calculated')}}</span>
                        </label>
                  </div>

                  <div class="row" style="margin-top:15px;">                                                  
                  <!-- IFRS PERİYODU -->
                  <div class="form-group col-md-6">
                      <label>{{getLanguageValue('IFRS_Period')}}</label> 
                      <input [(ngModel)]="fixedAsset.Ifrsperiod" [disabled]="ifrsDepreciationBeCalculated==false" name="Ifrsperiod" type="number" onkeypress="return event.charCode >= 48" min="0" [class.is-invalid]="dataDepreciation.submitted && ifrsDepreciationBeCalculated == true && fixedAsset.Ifrsperiod == null" class="form-control"/>
                  </div>

                  <!-- IFRS FİYATI -->
                  <div class="form-group col-md-6">
                    <div class="row">                                                                      
                      <div class="form-group col-md-6">
                        <label>{{getLanguageValue('IFRS_Price')}}</label> 
                        <input [(ngModel)]="fixedAsset.Ifrsprice" [disabled]="ifrsDepreciationBeCalculated==false" name="Ifrsprice" type="text"  [class.is-invalid]="dataDepreciation.submitted && ifrsDepreciationBeCalculated == true && fixedAsset.Ifrsprice == null" class="form-control"/>   
                      </div>
                      <!-- IFRS PARA BİRİMİ -->
                  <div class="col-md-6 form-group ">
                      <label>{{getLanguageValue('Currency')}}</label>
                      <select [(ngModel)]="fixedAsset.IfrscurrecyId" [disabled]="ifrsDepreciationBeCalculated==false" name="IfrscurrecyId" [class.is-invalid]="dataDepreciation.submitted && ifrsDepreciationBeCalculated == true && fixedAsset.IfrscurrecyId == null" class="form-control select2-no-search">
                        <option [ngValue]="null" >{{getLanguageValue('Choose')}}</option>
                        <option *ngFor="let currency of currencies" value="{{currency.CurrencyId}}">{{currency.Name}}</option>
                      </select>   
              </div>


                    </div>
                  </div>

                </div>

                <div class="row justify-content-center">
                  <div class="col-md-12">
                    <div style="display:block" *ngIf="dataDepreciation.submitted" class="invalid-feedback">
                      <div *ngIf="requiredIFRS==true && ifrsDepreciationBeCalculated==true"> {{getLanguageValue('Enter_Complete_Ifrs_Depreciation_Information')}}</div>
                    </div>
                  </div>      
                </div>
              </fieldset>
          </div>

       
      </div>
          
          <div class="row">
              <div class="col-md-12" style="margin-top:10px;">
                  <label class="ckbox">
                      <input type="checkbox" [(ngModel)]="fixedAsset.HasInflationIndexation" [checked]="fixedAsset.HasInflationIndexation"
                        (change)="fixedAsset.HasInflationIndexation = !fixedAsset.HasInflationIndexation"
                        name="HasInflationIndexation" /><span>{{getLanguageValue('Has_Inflation_Indexation')}}</span>
                    </label>
              </div>
          </div>
  
          
        </div>
        <!-- modal-body -->
        <div class="modal-footer">
          <button id="btnInsertOrUpdateDepreciationt" type="submit" (click)="checkValidation(dataDepreciation)" class="btn btn-az-primary">{{getLanguageValue('Update_Informations')}}
          </button>
          <!-- <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div> -->
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->

<!-- LARGE MODAL -->
<div id="modalFilterDepreciation" class="modal" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">{{getLanguageValue('Enter_Depreciation_Information')}}</h6>
          <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetDepreciationPopup()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form name="form" #data="ngForm" (ngSubmit)="onSubmit(data)" novalidate>
          <div class="modal-body">
                     <fieldset class="field_set" style="padding-left: 10px; margin-right: 10px; margin-left: 15px;">
                        <legend>{{getLanguageValue('Date_Range_From_Starting_Calculation')}}</legend>        
                    
                        <div class="row form-group">                        
                        <!-- BAŞLANGIÇ TARİHİ -->
                        <div class="col-md-6 form group" style="margin-top: 10px; margin-bottom: 10px;">
                          <div class="input-group">
                            <div class="input-group-append">
                              <div (click)="depreciationStartDate.toggle()" class="input-group-text">
                                <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                              </div>
                            </div>
                            <input class="form-control" type="text" placeholder="yyyy-mm-dd" name="depreciationStartDate"
                              [(ngModel)]="fixedAsset.DepreciationStartDate" ngbDatepicker #depreciationStartDate="ngbDatepicker" #depreciationStartDateModel="ngModel">
                          </div>
                        </div>
                        <!-- BİTİŞ TARİHİ -->
                        <div class="col-md-6" style="margin-top: 10px; margin-bottom: 10px;">
                          <div class="input-group">
                            <div class="input-group-append">
                              <div (click)="endDate.toggle()" class="input-group-text">
                                <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                              </div>
                            </div>
                            <input class="form-control" type="text" placeholder="yyyy-mm-dd" name="endDate" [minDate]="fixedAsset.DepreciationStartDate"
                              [(ngModel)]="fixedAsset.EndDate" ngbDatepicker #endDate="ngbDatepicker" #depreciationEndDateModel="ngModel"/>
                          </div>
                        </div>
                    </div>                           
                      </fieldset>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="ckbox" style="margin-left: 15px; margin-top: 15px;">
                                <input type="checkbox" [(ngModel)]="fixedAsset.WillDepreciationBeCalculated" [checked]="fixedAsset.WillDepreciationBeCalculated"
                                  name="WillDepreciationBeCalculated" /><span>{{getLanguageValue('Calculating_Depreciation')}}</span>
                              </label>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="ckbox" style="margin-left: 15px; margin-top: 15px;">
                                <input type="checkbox" [(ngModel)]="fixedAsset.WillIfrsbeCalculated" [checked]="fixedAsset.WillIfrsbeCalculated"
                                  name="WillIfrsbeCalculated" /><span>{{getLanguageValue('Calculating_IFRS')}}</span>
                              </label>
                        </div>
                        <div class="col-md-4 form-group">
                          <label class="ckbox" style="margin-left: 15px; margin-top: 15px;">
                              <input type="checkbox"
                              name="WillIfrsbeCalculated" /><span>{{getLanguageValue('Exit_Fixed_Assets')}}</span>
                            </label>
                      </div>
                    </div>

                    <!-- <div class="row">
                            <div class="col-md-6 form-group">
                            <label class="ckbox" style="margin-left: 15px; margin-top: 15px;">
                                <input type="checkbox" 
                                (change)="isDepreciationList($event)"  [disabled]="isFixedAssetList == true"                         
                                name="WillDepreciationBeCalculated" /><span>Aktif demirbaşlar</span>
                              </label>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="ckbox" style="margin-left: 5px; margin-top: 15px;">
                                <input type="checkbox"
                                (change)="isExitDepreciationList($event)" [disabled]="isExitList == true"
                                name="WillIfrsbeCalculated" /><span>Çıkışı yapılmış demirbaşlar</span>
                              </label>
                        </div>
                    </div>                             -->
          </div>
          <!-- modal-body -->
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="resetFilter()">{{getLanguageValue('Reset_Filter')}}</button>
            <button id="btnInsertOrUpdateFilterDepreciation" type="submit" class="btn btn-az-primary">{{getLanguageValue('Filter')}}
            </button>
            <!-- <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div> -->
          </div>
        </form>
      </div>
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- modal -->


 <!-- GÜNCELLEME ONAY -->

 <div class="modal" data-backdrop="static" id="modalShowQuestionPopupForDepreciation" style=" overflow-y: hidden !important;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content tx-size-sm">
      <div class="modal-body tx-center pd-y-20 pd-x-20">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="icon icon ion-ios-information-circle-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
        <h4 class="mg-b-20">{{getLanguageValue('Warning!')}}</h4>
        <p class="mg-b-20 mg-x-20">{{getLanguageValue('Are_you_sure_you_want_to_update_the_record')}}</p>
   
        <div class="row" style="margin-bottom:20px;">
          <div class="col-md-6" style="padding-right: 0px;">
            <button class="btn btn-az-danger" style="float:right;" data-dismiss="modal" data-toggle="modal" aria-label="Close" >{{getLanguageValue('Cancel')}}</button>        
          </div>
       
          <div class="col-md-6">        
          <button class="btn btn-az-primary" id="btnYes" type="submit" (click)="updateAllDepreciation(data)">{{getLanguageValue('Update')}}</button>
            </div>   
        </div>

      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->


<!-- AMORTİSMAN HESAPLAMAK İSTEDİĞİNİZE EMİN MİSİNİZ SORUSU -->
<div class="modal" data-backdrop="static" id="modalShowQuestionPopupForCalculateDepreciation" style=" overflow-y: hidden !important;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content tx-size-sm">
      <div class="modal-body tx-center pd-y-20 pd-x-20">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="icon icon ion-ios-information-circle-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
        <h4 class="mg-b-20">{{getLanguageValue('Warning!')}}</h4>
        <p class="mg-b-20 mg-x-20">{{getLanguageValue('Are_you_sure_you_want_to_perform_the_operation')}}</p>
   
        <div class="row" style="margin-bottom:20px;">
          <div class="col-md-4" style="padding-right: 0px;margin-left: 15px;">
            <button class="btn btn-az-danger" style="padding: 5px 20px;float:right;" data-dismiss="modal" data-toggle="modal" aria-label="Close" >{{getLanguageValue('Cancel')}}</button>        
          </div>
       
          <div class="col-md-7" *ngIf="isDepreciationCalculation==true">        
          <button class="btn btn-az-primary" id="btnYes" type="submit" style="padding: 5px 20px; padding-left: 37px;padding-right: 37px;" (click)="calculateDepreciations(dataDepreciation)">{{getLanguageValue('Calculate_Depreciation')}}</button>
            </div> 
            
          <div class="col-md-7" *ngIf="isDepreciationCalculationIfrs==true">        
            <button class="btn btn-az-primary" id="btnYes" type="submit" style="padding: 5px 20px; padding-left: 37px;padding-right: 37px;" (click)="calculateIfrsDepreciations(dataDepreciation)">{{getLanguageValue('Calculate_Depreciation')}}</button>
          </div>   
        </div>
      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->