<form name="form" #data="ngForm" (ngSubmit)="onSubmit(data)" novalidate>
<div class="row justify-content-center">

  <!--BARCODE-->
  <div class="form-group col-md-3">   
    <div class="row">
      <div class="form-group col-md-4">
          <label class="required-span">{{getLanguageValue('Barcode')}}</label>
          <input [(ngModel)]="fixedAsset.Prefix" name="Prefix" (keyup)="rfidBarcodeReplace($event)" type="text" trim="blur" 
          class="form-control" #Prefix="ngModel"/>   
      </div>

      <div class="form-group col-md-8">
          <input [(ngModel)]="fixedAsset.Barcode" (focusout)="isBarcodeUnique(fixedAsset.Barcode)"
          value="{{barcode}}" name="Barcode" type="number" trim="blur" 
          class="form-control"
          [ngClass]="{ 'is-invalid': data.submitted && Barcode.invalid }" #Barcode="ngModel" style="margin-top: 19px; margin-left: -20px; width: 150px;" maxlength="50" required/>
          <div *ngIf="isWaitingValidBarcode == true" class="button-loader"></div>
          <div *ngIf="data.submitted && Barcode.invalid" class="invalid-feedback">
            <div *ngIf="Barcode.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
            <div *ngIf="Barcode.errors.maxlength">{{getLanguageValue('Only_can_enter_max_50_character')}}</div>        
        </div>
        </div>
    </div>
  </div>     

    <!--QUANTITY-->
  <div class="form-group col-md-3">    
      <div class="row">    
          <div class="form-group col-md-6">  
              <label></label> 
              <label class="ckbox" style="margin-top: 23px">
                  <input type="checkbox" [(ngModel)]="fixedAsset.IsRFID" name="IsRFID" (change)="isRFID($event)" #IsRFID="ngModel" /><span>{{getLanguageValue('RFID_Tag')}}</span>
              </label> 
          </div>
          <div class="form-group col-md-6">
              <label>{{getLanguageValue('Amount')}}</label>
              <input type="number" [(ngModel)]="fixedAsset.Quantity" name="Quantity" placeholder="1" min="1" max="100" class="form-control"/>    
          </div>
      </div>
  </div>    
  
  <!--SERIAL NUMBER-->
  <div class="form-group col-md-3">
      <label>{{getLanguageValue('Serial_Number')}}</label>
    <input [(ngModel)]="fixedAsset.SerialNumber" name="SerialNumber" type="text" trim="blur" class="form-control" #SerialNumber="ngModel" [ngClass]="{ 'is-invalid': data.submitted && SerialNumber.invalid }" maxlength="20"/>
    <div *ngIf="data.submitted && SerialNumber.invalid" class="invalid-feedback">
        <div *ngIf="SerialNumber.errors.maxlength">{{getLanguageValue('Only_can_enter_max_20_character')}}</div>
      </div>
</div>

  <!--COMPANY-->
  <div class="form-group col-md-3">
      <label>{{getLanguageValue('Supplier')}}</label>
      <select [(ngModel)]="fixedAsset.CompanyId" name="CompanyId" style="width:100%;" class="form-control select2-no-search">
          <option value="0" >{{getLanguageValue('Choose')}}</option>
          <option *ngFor="let company of companies" value="{{company.CompanyId}}">{{company.Name}}</option>
      </select>              
  </div>
</div>

<div class="row justify-content-center">

<!-- FIXED ASSET CATEGORY -->
<div class="form-group col-md-3">
  
    <div>
        <label class="required-span" style="margin-bottom: 0;
        font-weight: 700;" >{{getLanguageValue('Fixed_Asset_Category_Name')}}</label>        
      <div style="display:flex;">
      <button id="btnFaCategory" (click)="toggleDropdown('category') " class="dropdown-button" type="button"  [class.dropdown-button-valid]="data.submitted && !selectedCategory"  required>{{selectedCategory ? selectedCategory.Name : getLanguageValue('Choose') }}</button>
        <span class="span-dropdown"  (click)="resetDropdown('category')" class="typcn icon-default typcn-times span-dropdown"></span>
      </div>
      <div *ngIf="data.submitted && !selectedCategory" style="color:red">
        <div *ngIf="!selectedCategory">{{getLanguageValue('This_value_is_required')}}</div>
      </div>
  </div>
  <div class="custom-dropdown" *ngIf="isFaCardCategoryDropdownOpen==true">
          <tree-grid-table (onClickItem)="onClickFaCategory($event,item)" [dataTable]="dataTableFixedAssetCategory"></tree-grid-table>
  </div>
    <!-- <select [(ngModel)]="fixedAsset.FixedAssetCardCategoryId" name="FixedAssetCardCategoryId" style="width:100%;" (change)="loadFaCardByCategoryId($event)" class="form-control select2-no-search"  [ngClass]="{ 'is-invalid': data.submitted && FixedAssetCardCategoryId.invalid }" #FixedAssetCardCategoryId="ngModel" required >
        <option [ngValue]="null">Demirbaş Kategorisi Seçiniz</option>
        <option *ngFor="let category of fixedassetcategories" value="{{category.FixedAssetCardCategoryId}}">{{category.Name}}</option>
    </select> 
    <div *ngIf="data.submitted && FixedAssetCardCategoryId.invalid" class="invalid-feedback">
        <div *ngIf="FixedAssetCardCategoryId.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
    </div>   -->
</div>

   <!-- FIXED ASSET CARD -->
<div class="form-group col-md-3">
    <div>
    <label class="required-span" style="margin-bottom: 0;
    font-weight: 700;">{{getLanguageValue('Fixed_Asset_Card')}}</label>
    <div style="display:flex;">
      <button id="btnFaCard" (click)="toggleDropdown('card')" class="dropdown-button" type="button" [class.dropdown-button-valid]="data.submitted && !selectedCard"  required>{{selectedCard ? selectedCard.Name : getLanguageValue('Choose') }}</button>
        <span class="span-dropdown"  (click)="resetDropdown('card')" class="typcn icon-default typcn-times span-dropdown"></span>
      </div>
      <div *ngIf="data.submitted && !selectedCard" style="color:red">
        <div *ngIf="!selectedCard">{{getLanguageValue('This_value_is_required')}}</div>
      </div>
    </div>
    <div class="custom-dropdown" *ngIf="isFaCardDropdownOpen==true">
        <tree-grid-table (onClickItem)="onClickFaCard($event,item)" [dataTable]="dataTableFixedAssetCard"></tree-grid-table>
    </div>
    <!-- <select [(ngModel)]="fixedAsset.FixedAssetCardId" name="FixedAssetCardId" style="width:100%;"  class="form-control select2-no-search" [ngClass]="{ 'is-invalid': data.submitted && FixedAssetCardId.invalid }" #FixedAssetCardId="ngModel" required >
        <option [ngValue]="null">Demirbaş Seçiniz</option>
        <option *ngFor="let fa of fixedassetcards" value="{{fa.FixedAssetCardId}}">{{fa.Name}}</option>
    </select>  -->
    <!-- <div *ngIf="data.submitted && FixedAssetCardId.invalid" class="invalid-feedback">
          <div *ngIf="FixedAssetCardId.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
    </div>         -->
</div>

<!--FIXED ASSET BRAND -->
<div class="form-group col-md-3">
    <label>{{getLanguageValue('Fixed_Asset_Brand_Name')}}</label>
    <select [(ngModel)]="fixedAsset.FixedAssetCardBrandId" name="FixedAssetCardBrandId" style="width:100%;" class="form-control select2-no-search" 
     (change)="loadModelByBrandId($event)">
      <option [ngValue]="null">{{getLanguageValue('Choose')}}</option>
      <option *ngFor="let brand of brands" value="{{brand.FixedAssetCardBrandId}}">{{brand.Name}}</option>
    </select> 
</div>

 <!-- FIXED ASSET MODEL -->
 <div class="form-group col-md-3">
    <label>{{getLanguageValue('Fixed_Asset_Model_Name')}}</label>
    <select [(ngModel)]="fixedAsset.FixedAssetCardModelId" name="FixedAssetCardModelId" style="width:100%;"  class="form-control select2-no-search">
        <option [ngValue]="null">{{getLanguageValue('Choose')}}</option>
        <option *ngFor="let model of models" value="{{model.FixedAssetCardModelId}}">{{model.Name}}</option>
    </select> 
</div>
</div>  

<div class="row justify-content-center">  

  <!--LOCATION-->
  <div class="form-group col-md-3">
    <div>
      <label class="required-span" style="margin-bottom: 0;
      font-weight: 700;" >{{getLanguageValue('Location')}}</label>
      <!-- <select [(ngModel)]="fixedAsset.LocationId" name="LocationId" class="form-control select2-no-search" style="width:100%;" [ngClass]="{ 'is-invalid': data.submitted && LocationId.invalid }" #LocationId="ngModel" required (change)="loadDepartmentByLocationId($event)">
          <option value="">Lokasyon Seçiniz</option>
          <option *ngFor="let location of locations" value="{{location.LocationId}}">{{location.Name}}</option>
      </select>       -->
      <div style="display:flex;">
      <button id="btnLocation" (click)="toggleDropdown('location')" class="dropdown-button" type="button"  [class.dropdown-button-valid]="data.submitted && !selectedLocation"  required>{{selectedLocation ? selectedLocation.Name : getLanguageValue('Choose') }}</button>
        <span class="span-dropdown"  (click)="resetDropdown('location')" class="typcn icon-default typcn-times span-dropdown"></span>
      </div>
      <div *ngIf="data.submitted && !selectedLocation" style="color:red">
        <div *ngIf="!selectedLocation">{{getLanguageValue('This_value_is_required')}}</div>
      </div>
  </div>
  <div class="custom-dropdown" *ngIf="isLocationDropdownOpen==true">
          <tree-grid-table (onClickItem)="onClickLocation($event,item)" [dataTable]="dataTableLocation"></tree-grid-table>
  </div>
      <!-- <div *ngIf="data.submitted && LocationId.invalid" class="invalid-feedback">
          <div *ngIf="LocationId.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
      </div>   -->
  </div>

    <!--DEPARTMENT-->
  <div class="form-group col-md-3">
      <div class="" style="display: flex;
      flex-direction: column;">
      <label style="margin-bottom: 0;
      font-weight: 700;">{{getLanguageValue('Department')}}</label>
           <div style="display:flex;">
              <button id="btnDepartment" (click)="toggleDropdown('department')" class="dropdown-button" type="button"  [class.is-invalid]="data.submitted && !selectedDepartment">{{selectedDepartment ? selectedDepartment.Name : getLanguageValue('Choose') }}</button>
                <span class="span-dropdown"  (click)="resetDropdown('department')" class="typcn icon-default typcn-times span-dropdown"></span>
              </div>
      </div>
        <div class="custom-dropdown" *ngIf="isDepartmentDropdownOpen==true">
            <tree-grid-table (onClickItem)="onClickDepartment($event,item)" [dataTable]="dataTableDepartment"></tree-grid-table>
          </div>
      <!-- <select [(ngModel)]="fixedAsset.DepartmentId" name="DepartmentId" class="form-control select2-no-search" style="width:100%;" #DepartmentId="ngModel">
          <option [ngValue]="null" >Departman Seçiniz</option>
          <option *ngFor="let department of departments" value="{{department.DepartmentId}}">{{department.Name}}</option>
      </select>                -->

  </div>

  <!-- FIXED ASSET STATUS-->
  <div class="form-group col-md-3">
      <label class="required-span">{{getLanguageValue('Fixed_Asset_Statu')}}</label>
      <select [(ngModel)]="fixedAsset.StatusId" name="StatusId" class="form-control select2-no-search" style="width:100%"  [ngClass]="{ 'is-invalid': data.submitted && StatusId.invalid }" #StatusId="ngModel" required>
          <option [ngValue]="null">{{getLanguageValue('Choose')}}</option>
          <option *ngFor="let statu of statuses" value="{{statu.FixedAssetStatusId}}">{{statu.Name}}</option>
      </select>
      <div *ngIf="data.submitted && StatusId.invalid" class="invalid-feedback">
        <div *ngIf="StatusId.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
      </div>        
  </div>    
  
<!-- USER -->
<div class="form-group col-md-3">
    <label>{{getLanguageValue('Staff')}}</label>
    <select [(ngModel)]="fixedAsset.UserId" name="UserId" class="form-control select2-no-search" style="width:100%;"  #UserId="ngModel">
        <option [ngValue]="null">{{getLanguageValue('Choose')}}</option>
        <option *ngFor="let staff of staffs" value="{{staff.UserId}}">{{staff.RegistrationNumber ? staff.RegistrationNumber + ' - ' + staff.FirstName + ' ' + staff.LastName : staff.FirstName + ' ' + staff.LastName }}</option>
    </select>             
</div> 
</div>
<div class="row justify-content-center">
<div class="form-group col-md-9">
  <label>{{getLanguageValue('Description')}}</label>
  <textarea [(ngModel)]="fixedAsset.Description" name="Description" style="resize:none; height:27px" rows="1"
  class="form-control" type="text" maxlength="150" #Description="ngModel"></textarea>
  <div *ngIf="data.submitted && Description.invalid" class="invalid-feedback">
    <div *ngIf="Description.errors.maxlength">{{getLanguageValue('Only_can_enter_max_150_character')}}</div>
  </div>
</div>
<div class="form-group col-md-3">
  <div class="grp-btn-action" style="margin-top: 13px;">
    <!-- [disabled]="!data.form.valid ? true : null" -->
    <button mat-raised-button  class="btn btn-orange" (click)="nextTab()" type="submit" style="border-radius:0px; background-color: #e67300; color: white">{{getLanguageValue('Next_Button')}}</button>
</div>  
</div>
</div>
</form>
