<div class="col-md-10">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <ng-container *ngFor="let page of dataTable.pages">
        <li class="page-item" [class.disabled]="page.isDisabled" [class.active]="page.isActive"><button
            (click)="dataTable.TGT_goToPage(page.value)" class="page-link">{{page.display}}</button>
        </li>
      </ng-container>
    </ul>
  </nav>
</div>
<div class="col-md-2">
  <div class="form-group">
    <select class="form-control" [(ngModel)]="dataTable.perInPage">
      <option *ngFor="let perIn of dataTable.perInPages" value="{{perIn}}">{{perIn}}</option>
      <option value="-1">Hepsi</option>
    </select>
  </div>
</div>