.flexProperty {
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
  }



.table-pagination {
    padding-top: 0;
    color: #333333;
    float: right;
    text-align: center;
    width: 100%;
}

.table-pagination-select {
    height: 35px;
    float: right;
    margin-left: 20px;
    border-radius: 3px;
    border: 1px solid #bfc3c7;
    color: #5a5a5a;
    font-size: 13px;
    padding: 5px;
    border-radius: 0;
}

.pagination-nav {
    float: right;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #e67300;
    border-color: #cc6703;
    max-height: 35px;
}

.property-values-table {
  max-height: 180px;
  overflow-y: auto;
}

.property-add-value {
  width: 30px;
  padding-left: 12px;
  align-self: center;
}

.field_set{
    border:1;
    border-color: #d0cbcb;
    border-style: solid;
}

.custom-dropdown {
  position: absolute;
  border: 1px solid;
  background: #fdfdfd;
  width: 87%;
  height: 200px;
  z-index: 1000;
  top: 46px;
  display: inline-grid;
  max-height: 200px;
  overflow-y: auto;
  
}

.dropdown-button {
  background: white; 
  border: 1px solid #ced4da;
  flex:1;
  height: 27px;
}

.dropdown-button-valid {
  height: 27px;
  border: 1px solid red;
}

.span-dropdown{
  width: 30px;
  border: 1px solid #ced4da;
  margin-left: 5px;
  text-align: center;
  font-size: 13px;
  padding-top: 3px;
}

