<body>
  <h1>Baroş</h1>
  <h2>o</h2>
<table>
  <tr class="tr-head">
    <td>Id</td>
    <td>First Name</td>
    <td>Last  Name</td>
    <td>Address</td>
    <td>Home Phone</td>
    <td>Cell Phone</td>
    <td>Description</td>
  </tr>
    <tr *ngFor="let employee of employers" class="tr-body">
      <td>{{employee.id}}</td>
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.address}}</td>
      <td>{{employee.homePhone}}</td>
      <td>{{employee.cellPhone}}</td>
      <td>{{employee.description}}</td>
    </tr>
  </table>

</body>