<div class="modal-header">
  <h6 class="modal-title">Lokasyon değişimi için gerekli bilgileri giriniz.</h6>
  <button id="CloseModal" (click)="resetForm(data)" type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form name="form" #data="ngForm" (ngSubmit)="ChangeLocation(data)">
  <div class="modal-body">
    <!-- BARKOD -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>Barkod</label>
        <input name="Barcodes" value="{{ faBarcode.Barcode }}" type="text" class="form-control" disabled />
      </div>
    </div>

    <!-- DEMİRBAŞ ADI -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>Demirbaş Adı</label>
        <input name="Name" value="{{ faBarcode.FixedAssetCard.Name }}" type="text" class="form-control" disabled />
      </div>
    </div>

    <!-- ESKİ LOKASYON -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>Lokasyon</label>
        <input name="LocationName" value="{{ faBarcode.Location.Name }}" type="text" class="form-control" disabled />
      </div>
    </div>

  <div class="row justify-content-center">
    <div class="col-md-12 form-group">
      <div>
          <label class="required-span" style="margin-bottom: 0;
          font-weight: 700;" >Lokasyon</label>
          <div style="display:flex;">
          <button id="btnLocation" (click)="toggleDropdown('location')" (change)="resetDepartment()" class="dropdown-button" type="button"  [class.dropdown-button-valid]="data.submitted && !selectedLocation"  required>{{selectedLocation ? selectedLocation.Name : 'Seçiniz' }}</button>
            <span class="span-dropdown"  (click)="resetDropdown('location')" class="typcn icon-default typcn-times span-dropdown"></span>
          </div>
          <div *ngIf="data.submitted && !selectedLocation" style="color:red">
            <div *ngIf="!selectedLocation">Bu alan zorunludur.</div>
          </div>
      </div>
      <div class="custom-dropdown" *ngIf="isLocationDropdownOpen==true">
              <tree-grid-table (onClickItem)="onClickLocation($event,item)" [dataTable]="dataTableLocation"></tree-grid-table>
      </div>
    </div>
  </div> 

   <div class="row justify-content-center">
      <div class="col-md-12 form-group">
          <label style="margin-bottom: 0;
          font-weight: 700;" >Departman</label>
          <div style="display:flex;">
              <button id="btnDepartment" (click)="toggleDropdown('department')" class="dropdown-button" type="button"  [class.is-invalid]="data.submitted && !selectedDepartment">{{selectedDepartment ? selectedDepartment.Name : 'Seçiniz' }}</button>
                <span class="span-dropdown"  (click)="resetDropdown('department')" class="typcn icon-default typcn-times span-dropdown"></span>
              </div>
              <div class="custom-dropdown" *ngIf="isDepartmentDropdownOpen==true">
                  <tree-grid-table (onClickItem)="onClickDepartment($event,item)" [dataTable]="dataTableDepartment"></tree-grid-table>
                </div>
      </div>
      <!-- <div class="custom-dropdown" *ngIf="isDepartmentDropdownOpen==true">
          <tree-grid-table (onClickItem)="onClickDepartment($event,item)" [dataTable]="dataTableDepartment"></tree-grid-table>
      </div> -->
    </div>
  </div>

  <!-- modal-body -->
  <div class="modal-footer">
    <button *ngIf="isWaitingInsertOrUpdate == false" class="btn btn-orange" id="btnChangeLocation" type="submit"
      data-toggle="modal" data-target="#modalChangeLocation">
      Kaydet
    </button>
    <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
  </div>
</form>