<div class="modal-header">
  <h6 class="modal-title">Demirbaş ilişkilendirme işlemi için gerekli bilgileri giriniz.</h6>
  <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

  <form name="form" #data="ngForm" (ngSubmit)="onSubmit(data)">
    <div class="modal-body">
      <!-- <input type="hidden" name="TransactionLogId" [(ngModel)]="transactionLog.TransactionLogId" /> -->

        <!-- BARKOD -->
      <div class="row justify-content-center">
        <div class="col-md-12 form-group">
          <label>Seçili Barkod(lar)</label>
          <input name="Barcodes" value="{{faBarcode}}" type="text" class="form-control" disabled/>          
        </div>
      </div>

        <!-- İLİŞKİLEDİRİLECEK BARKOD -->
        <div class="row justify-content-center">
          <div class="col-md-12 form-group">
            <label>İlişkilendirilecek Barkod</label>
            <input [(ngModel)]="Barcode" name="newBarcodes" type="text" class="form-control" #newBarcodes="ngModel" 
            [ngClass]="{ 'is-invalid': data.submitted && newBarcodes.invalid }" required/>
            <div *ngIf="data.submitted && newBarcodes.invalid" class="invalid-feedback">
                <div *ngIf="newBarcodes.errors.required">Bu alan zorunludur.</div>
              </div>            
          </div>
        </div>

  </div>

    <!-- modal-body -->
    <div class="modal-footer">
      <button class="btn btn-orange" id="btnChangeRelationship" type="submit" data-toggle="modal" data-target="#modalRelationship">
        Demirbaş İlişkilendir
      </button>
    </div>
  </form>