<div class="modal-header">
  <h6 class="modal-title">Demirbaş ilişkilendirme işlemi için gerekli bilgileri giriniz.</h6>
  <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

  <form name="form" #data="ngForm" (ngSubmit)="onSubmit(data)">
    <div class="modal-body">
      <!-- <input type="hidden" name="TransactionLogId" [(ngModel)]="transactionLog.TransactionLogId" /> -->

        <!-- BARKOD -->
      <div class="row justify-content-center">
        <div class="col-md-12 form-group">
          <label>{{getLanguageValue('Choosen_Barcode(s)')}}</label>
          <input name="Barcodes" value="{{faBarcode}}" type="text" class="form-control" disabled/>          
        </div>
      </div>

        <!-- İLİŞKİLEDİRİLECEK BARKOD -->
        <div class="row justify-content-center">
          <div class="col-md-12 form-group">
            <label>{{getLanguageValue('Enter_the_barcode_to_relate')}}</label>
            <input [(ngModel)]="fixedAsset.Barcode" name="newBarcodes" type="text" trim="blur" class="form-control" #newBarcodes="ngModel" 
            [ngClass]="{ 'is-invalid': data.submitted && newBarcodes.invalid }" required/>
            <div *ngIf="data.submitted && newBarcodes.invalid" class="invalid-feedback">
                <div *ngIf="newBarcodes.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
              </div>            
          </div>
        </div>

  </div>

    <!-- modal-body -->
    <div class="modal-footer">
      <button class="btn btn-orange" id="btnChangeRelationship" type="submit">
        {{getLanguageValue('Relate_Fixed_Asset')}}
      </button>
    </div>
  </form>


    <!-- İLİŞKİLENDİRME ONAY -->

    <div class="modal" data-backdrop="static" id="modalShowQuestionPopupForRelationship" style=" overflow-y: hidden !important;">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content tx-size-sm">
            <div class="modal-body tx-center pd-y-20 pd-x-20">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <i class="icon icon ion-ios-information-circle-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
              <h4 class="mg-b-20">{{getLanguageValue('Warning!')}}</h4>
              <p class="mg-b-20 mg-x-20">Seçimi yapılan demirbaşlar ilgili demirbaş ile ilişkilendirilecektir. İşlemi onaylıyor musunuz?</p>
         
              <div class="row" style="margin-bottom:20px;">
                <div class="col-md-6" style="padding-right: 0px;">
                  <button class="btn btn-az-danger" style="float:right;" data-dismiss="modal" data-toggle="modal" aria-label="Close" (click)="updateOperation(false)">{{getLanguageValue('Cancel')}}</button>        
                </div>
             
                <div class="col-md-6">        
                <button class="btn btn-az-primary" id="btnYes" type="submit" style="padding: 5px 20px;" (click)="ChangeRelationship(data)">{{getLanguageValue('Update')}}</button>
                  </div>   
              </div>
  
            </div><!-- modal-body -->
          </div><!-- modal-content -->
        </div><!-- modal-dialog -->
      </div><!-- modal -->
      