.btn-orange {
  background: #e67300;
  color: white;
  border-radius: 5px;
}
.btnAddLocation-height {
  min-height: 15px;
}
.btnAddLocation-right {
  float: right;
  margin-bottom: 10px;
  padding-right: 0px;
}
.left {
  margin-left: 90px;
}
.txt-width {
  border-radius: 5px;
  height: 30px;
}
.btn-height {
  min-height: 15px;
}
.txt-margin {
  margin-left: 15px;
  margin-right: 15px;  
}