<div class="az-content">
  <div class="container-fluid">
    <div class="az-content-body">
      <div class="card card-dashboard-twelve mg-b-20">
        <h2 class="az-content-title">Lokasyonlar</h2>
        <div class="grp-btn-action">
          <button type="button" (click)="deleteLocations()" class="btn btn-danger btn-delete-custom">
            {{dataTable.TGT_getSelectedItems().length > 0 ? dataTable.TGT_getSelectedItems().length : '' }}
            <i class="fas fa-trash"></i></button>
          <button class="btn btn-orange btn-new-custom" id="btnAddLocation" data-toggle="modal"
            data-target="#modalLocation" (click)="resetForm(data,true)">Lokasyon Ekle
          </button>
          <button style="display:none" (click)="resetForm(data,false)" id="btnEditLocation" data-toggle="modal"
            data-target="#modalLocation">Lokasyon Düzenle
          </button>
        </div>
        <p class="mg-b-20"></p>
        <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->

<!-- LARGE MODAL -->
<div id="modalLocation" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Lokasyon bilgilerini giriniz.</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <form name="form" #data="ngForm" (ngSubmit)="onSubmit(data) && data.form.valid" novalidate>
        <div class="modal-body">
          <div class="row justify-content-center">
            <input type="hidden" name="LocationId" [(ngModel)]="location.LocationId" />
            <div class="form-group col-md-6">
              <label class="required-span">Lokasyon Adı</label>
              <input [(ngModel)]="location.Name" name="Name" type="text" class="form-control" #Name="ngModel"
                [ngClass]="{ 'is-invalid': data.submitted && Name.invalid }" required />
              <div *ngIf="data.submitted && Name.invalid" class="invalid-feedback">
                <div *ngIf="Name.errors.required">Bu alan zorunludur.</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="required-span">Lokasyon Barkodu</label>
              <input [(ngModel)]="location.Barcode" name="Barcode" type="text" class="form-control" #Barcode="ngModel"
                [ngClass]="{ 'is-invalid': data.submitted && Barcode.invalid }" required />
              <div *ngIf="data.submitted && Barcode.invalid" class="invalid-feedback">
                <div *ngIf="Barcode.errors.required">Bu alan zorunludur.</div>
              </div>
            </div>
          </div>
          <!-- form-group -->
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label class="required-span">Lokasyon Kodu</label>
              <input [(ngModel)]="location.LocationCode" #LocationCode="ngModel" name="LocationCode" type="text"
                class="form-control" [ngClass]="{ 'is-invalid': data.submitted && LocationCode.invalid }" required />
              <div *ngIf="data.submitted && LocationCode.invalid" class="invalid-feedback">
                <div *ngIf="LocationCode.errors.required">Bu alan zorunludur.</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Bağlı Olduğu Location</label>
              <select [(ngModel)]="location.ParentLocationId" name="ParentLocationId" class="form-control"
                #ParentLocationId="ngModel">
                <option [ngValue]="null">Yok</option>
                <option *ngFor="let location of getLocationsWithoutCurrent" value={{location.LocationId}}>
                  {{location.Name}}
                </option>
              </select>
            </div>


          </div>
          <div class="row justify-content-center">
            <div class="form-group col-md-12">
              <label>Adres</label>
              <textarea [(ngModel)]="location.Address" name="Address" style="resize:none" rows="2" class="form-control"
                type="text"></textarea>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-md-12">
              <label>Koordinat</label>
              <textarea [(ngModel)]="location.Coordinate" name="Coordinate" style="resize:none" rows="1"
                class="form-control" type="text"></textarea>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-md-12">
              <label>Açıklama</label>
              <textarea [(ngModel)]="location.Description" name="Description" style="resize:none" rows="1"
                class="form-control" type="text"></textarea>
            </div>
          </div>
        </div>

        <!-- modal-body -->
        <div class="modal-footer">
          <button class="btn btn-orange btn-block btn-height" id="btnCreateLocation" type="submit" data-toggle="modal"
            data-target="#modalInsertLocation"
            *ngIf="isWaitingInsertOrUpdate == false">{{location.LocationId ?  'Lokasyonu Güncelle' : 'Lokasyon Ekle'}}</button>
          <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
        </div>
      </form>
      <!-- </div> -->
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->