<div class="az-content az-content-dashboard-four">
  <div class="media media-dashboard">
    <div class="media-body">
      <!-- Bread Crumb -->
        <div class="az-content-breadcrumb">
            <span>DEMİRBAŞ YÖNETİMİ</span>
            <span>KAYIP DEMİRBAŞLAR</span>
        </div>
      <!-- END Bread Crumb END -->
      <div class="card card-dashboard-twelve mg-b-20">
        <div class="card-header">
        <h2 class="az-content-title">Kayıp Demirbaşlar</h2>
        <div class="grp-btn-action">
            <button class="btn btn-az-primary" (click)="selectedLostFa()" id="btnLostFa"
            data-toggle="modal" data-target="#modalLostFa">
            <i class="fa fa-plus-circle fa-plus-circle-add"></i>
            Bulunan Demirbaşı
          </button>
          <button type="button" class="btn btn-danger btn-delete-custom">            
            <i class="fas fa-trash"></i></button>     
            <button class="btn btn-az-primary" id="btnExitFa"
            data-toggle="modal" data-target="#modalExitFa">
            <i class="fa fa-plus-circle fa-plus-circle-add"></i>
            Dışa Aktar
          </button>
        </div>
      </div>
        <div class="sales-overview">
        <tree-grid-table [dataTable]="dataTable"></tree-grid-table>
        </div>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->

<!-- LARGE MODAL -->
<div id="modalLostFa" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Çıkış işlemi için bilgilerini giriniz.</h6>
        <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form" #data="ngForm" (ngSubmit)="undoLostFixedAsset(data)">
        <div class="modal-body">
            <input type="hidden"/>
            <div class="row justify-content-center">
              <div class="col-md-12 form-group">
                <label>Barkod</label>
                <input type="text" class="form-control" />            
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-12 form-group">
                <label>Çıkış Tipi</label>
                <select class="form-control select2-no-search">
                  <option>Yok</option>
                  <option >para birimi</option>
              </select></div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-12 form-group">
                <label>Çıkış Noktası</label>
                <select class="form-control select2-no-search">
                  <option>Yok</option>
                  <option >para birimi</option>
              </select></div>
            </div>
            <div class="row justify-content-center">
            <div class="col-md-6 form-group">
              <label>Fiyat</label>
              <input type="text" class="form-control"/>
            </div>  
              <div class="col-md-6 form-group">
              <label>Para Birimi</label>     
              <select class="form-control select2-no-search">
                  <option>Yok</option>
                  <option >para birimi</option>
              </select>      
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-12 form-group">
                <label>Açıklama</label>
                <textarea type="text" style="resize:none;height: 80px;"
                  rows="3" class="form-control"></textarea>
                  <!-- <div *ngIf="data.submitted && Description.invalid" class="invalid-feedback">
                      <div *ngIf="Description.errors.maxlength">Maksimum 150 karakter giriniz.</div>
                    </div> -->
            </div>
          </div>
          <div class="row justify-content-center">
          <div class="form-group col-md-12">
            <div style="width:30%; padding-left:15px; padding-top: 5px; margin-right:0px;">
                <label class="ckbox">
                  <input type="checkbox"/><span>Demirbaş çıkış formu basılsın.</span>
                </label>
            </div> 
          </div>
        </div>
      </div>
        <!-- modal-body -->
        <div class="modal-footer">
          <button id="btnLostFixedAsset" type="submit" class="btn btn-az-primary"
            data-toggle="modal" data-target="#modaLostFa">Kaydet</button>          
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->