<div class="az-content az-content-dashboard-four">
  <div class="media media-dashboard">
    <div class="media-body">
      <!-- Bread Crumb -->
      <div class="az-content-breadcrumb">
        <span>{{getLanguageValue('Fixed_Asset_Management')}}</span>
        <span>{{getLanguageValue('Lost_Fixed_Assets')}}</span>
      </div>
      <!-- END Bread Crumb END -->
      <div class="card card-dashboard-twelve mg-b-20">
        <div class="card-header">
          <h2 class="az-content-title">{{getLanguageValue('Lost_Fixed_Assets')}}</h2>
          <div class="grp-btn-action">
            <button class="btn btn-success btn-excel-custom" (click)="exportAsExcelFile(dataTable)" style="margin-right:10px" data-toggle="tooltip" data-placement="bottom" title="Excel"><i
                [ngClass]="{'far fa-file-excel':isTableExporting == false}"
                [class.btn-refresh-loader]="isTableExporting == true"></i>
            </button>

            <button type="button" (click)="refreshTable()" style="margin-right:10px"
              class="btn btn-success btn-refresh-custom" data-toggle="tooltip" data-placement="bottom" title="{{getLanguageValue('Refresh_Table')}}">
              <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}"
                [class.btn-refresh-loader]="isTableRefreshing == true"></i>
            </button>

            <button class="btn btn-az-primary" (click)="openPopup()" style="margin-right:10px"  data-toggle="tooltip" data-placement="bottom" title="Demirbaş Listesine Ekle">
              <i class="fas fa-search-plus"></i></button>

            <button style="display:none" class="btn btn-az-primary">
              <i class="fas fa-search-plus"></i></button>

            <button type="button" class="btn btn-danger btn-delete-custom" style="margin-right:0"
              (click)="selectedExitBarcodes()"  data-toggle="tooltip" data-placement="bottom" title="{{getLanguageValue('Exit_Fixed_Asset')}}"> 
              <i class="fas fa-minus-circle"></i></button>

            <button style="display:none" type="button" data-toggle="modal" id="btnExitFa" data-target="#modalExitFa">
              <i class="fas fa-minus-circle"></i></button>
          </div>
        </div>
        <div class="sales-overview">
          <tree-grid-table [dataTable]="dataTable"></tree-grid-table>
        </div>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->

<!-- LARGE MODAL -->
<div id="modalExitFa" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">{{getLanguageValue('Enter_information_for_exit_process')}}</h6>
        <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #data="ngForm" (ngSubmit)="checkOutFixedAsset(data)" class="form-register" novalidate>
        <div class="modal-body">
          <!-- BARKODLAR -->
          <div class="row justify-content-center">
            <div class="col-md-12 form-group">
              <label>{{getLanguageValue('Barcode')}}</label>
              <input name="Barcodes" value="{{faBarcodes}}" type="text" class="form-control" disabled />
            </div>
          </div>

          <!-- ÇIKIŞ TİPİ -->
          <div class="row justify-content-center">
            <div class="col-md-12 form-group">
              <label class="required-span">{{getLanguageValue('Exit_Type')}}</label>
              <select [(ngModel)]="transactionLog.CheckOutReasonId" name="CheckOutReasonId" class="form-control"
                #CheckOutReasonId="ngModel" [ngClass]="{ 'is-invalid': data.submitted && CheckOutReasonId.invalid }"
                required>
                <option>Yok</option>
                <option *ngFor="let checkedOutReason of checkedOutReasons" value={{checkedOutReason.CheckOutReasonId}}>
                  {{checkedOutReason.Name}}
                </option>
              </select>
              <div *ngIf="data.submitted && CheckOutReasonId.invalid" class="invalid-feedback">
                <div *ngIf="CheckOutReasonId.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
              </div>
            </div>
          </div>

          <!-- FİYAT & PARA BİRİMİ -->
          <div class="row justify-content-center">
            <div class="col-md-6 form-group">
              <label>{{getLanguageValue('Fixed_Asset_Price')}}</label>
              <input [(ngModel)]="transactionLog.CheckoutPrice" name="CheckoutPrice" class="form-control" type="text"
                #CheckoutPrice="ngModel">
            </div>

            <div class="col-md-6 form-group">
              <label>{{getLanguageValue('Currency')}}</label>
              <select [(ngModel)]="transactionLog.CurrencyId" name="CurrencyId" style="resize:none0" class="form-control"
                type="text">
                <option [ngValue]="null">Yok</option>
                <option *ngFor="let currency of currencies" value={{currency.CurrencyId}}>
                  {{currency.Name}}
                </option>
              </select>
            </div>
          </div>

          <!-- AÇIKLAMA -->
          <div class="row justify-content-center">
            <div class="col-md-12 form-group">
              <label>{{getLanguageValue('Description')}}</label>
              <textarea [(ngModel)]="transactionLog.Description" name="Description" style="resize:none" rows="2"
                class="form-control" type="text" maxlength="100" #Description="ngModel"></textarea>
            </div>
          </div>

          <!-- FORM BASMA -->
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-group">
                <label class="ckbox">
                  <input type="checkbox" [(ngModel)]="transactionLog.IsCreateExitForm" (change)="isCreateExitForm($event)" name="transactionLog.IsCreateExitForm" #IsCreateExitForm="ngModel"/><span>{{getLanguageValue('Create_fixed_asset_exit_Form')}}</span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- modal-body -->
        <div class="modal-footer">
          <button class="btn btn-az-primary" id="btnExitFixedAsset"
            type="submit" data-toggle="modal" data-target="#modalExitFixedAsset">
            {{getLanguageValue('Save')}}
          </button>
          <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->



  <!-- UNDO SUSPENSION-->    
  <div class="modal" data-backdrop="static" id="modalShowQuestionPopupForUndoSuspension">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-size-sm">
          <div class="modal-body tx-center pd-y-20 pd-x-20">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <i class="icon icon ion-ios-information-circle-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
            <h4 class="tx-warning mg-b-20">{{getLanguageValue('Warning!')}}</h4>
            <!-- <p class="mg-b-20 mg-x-20">{{getLanguageValue('Seçili demirbaşın zimmet bilgisi değiştirilecektir. İşlemi onaylıyor musunuz?')}}</p> -->
            <p class="mg-b-20 mg-x-20">Seçili demirbaşlar 'Demirbaş Listesi'ne eklenecektir. İşlemi onaylıyor musunuz?</p>
            <!-- <button type="button" class="btn btn-warning pd-x-25" (click)="popupComponent.CloseModal()" style="margin-bottom:20px;">{{getLanguageValue('Ok')}}</button>
            <button type="button" class="btn btn-warning pd-x-25" aria-label="Close" (click)="popupComponent.CloseModal()" style="margin-bottom:20px;">{{getLanguageValue('Cancel')}}</button> -->

            <div class="row" style="margin-bottom:20px;">
              <div class="col-md-6" style="padding-right: 0px;">
                <button class="btn btn-az-danger" style="float:right;" data-dismiss="modal" data-toggle="modal" aria-label="Close" (click)="responsePopup(false)">{{getLanguageValue('Cancel')}}</button>        
              </div>
           
              <div class="col-md-6">        
              <button class="btn btn-az-primary" id="btnYes" type="submit" style="padding: 5px 20px;" (click)="responsePopup(true)">{{getLanguageValue('Yes')}}</button>
                </div>
            </div>

          </div><!-- modal-body -->
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->
