<div class="az-content az-content-dashboard-four">
  <div class="media media-dashboard">
    <div class="media-body">
      <!-- Bread Crumb -->
      <div class="az-content-breadcrumb">
        <span>DEMİRBAŞ YÖNETİMİ</span>
        <span>KAYIP DEMİRBAŞLAR</span>
      </div>
      <!-- END Bread Crumb END -->
      <div class="card card-dashboard-twelve mg-b-20">
        <div class="card-header">
          <h2 class="az-content-title">Kayıp Demirbaşlar</h2>
          <div class="grp-btn-action">
            <button class="btn btn-success btn-excel-custom" (click)="exportAsExcelFile(dataTable)" style="margin-right:10px"><i
                [ngClass]="{'far fa-file-excel':isTableExporting == false}"
                [class.btn-refresh-loader]="isTableExporting == true"></i>
            </button>

            <button type="button" (click)="refreshTable()" style="margin-right:10px"
              class="btn btn-success btn-refresh-custom">
              <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}"
                [class.btn-refresh-loader]="isTableRefreshing == true"></i>
            </button>

            <button class="btn btn-az-primary" (click)="undoLostFixedAsset()" style="margin-right:10px">
              <i class="fas fa-search-plus"></i></button>

            <button style="display:none" class="btn btn-az-primary">
              <i class="fas fa-search-plus"></i></button>

            <button type="button" class="btn btn-danger btn-delete-custom" style="margin-right:0"
              (click)="selectedExitBarcodes()">
              <i class="fas fa-minus-circle"></i></button>

            <button style="display:none" type="button" data-toggle="modal" id="btnExitFa" data-target="#modalExitFa">
              <i class="fas fa-minus-circle"></i></button>
          </div>
        </div>
        <div class="sales-overview">
          <tree-grid-table [dataTable]="dataTable"></tree-grid-table>
        </div>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->

<!-- LARGE MODAL -->
<div id="modalExitFa" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Çıkış işlemi için bilgilerini giriniz.</h6>
        <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #data="ngForm" (ngSubmit)="checkOutFixedAsset(data)" class="form-register" novalidate>
        <div class="modal-body">
          <!-- BARKODLAR -->
          <div class="row justify-content-center">
            <div class="col-md-12 form-group">
              <label>Barkod</label>
              <input name="Barcodes" value="{{faBarcodes}}" type="text" class="form-control" disabled />
            </div>
          </div>

          <!-- ÇIKIŞ TİPİ -->
          <div class="row justify-content-center">
            <div class="col-md-12 form-group">
              <label class="required-span">Çıkış Tipi</label>
              <select [(ngModel)]="transaction.CheckOutReasonId" name="CheckOutReasonId" class="form-control"
                #CheckOutReasonId="ngModel" [ngClass]="{ 'is-invalid': data.submitted && CheckOutReasonId.invalid }"
                required>
                <option>Yok</option>
                <option *ngFor="let checkedOutReason of checkedOutReasons" value={{checkedOutReason.CheckOutReasonId}}>
                  {{checkedOutReason.Name}}
                </option>
              </select>
              <div *ngIf="data.submitted && CheckOutReasonId.invalid" class="invalid-feedback">
                <div *ngIf="CheckOutReasonId.errors.required">Bu alan zorunludur.</div>
              </div>
            </div>
          </div>

          <!-- FİYAT & PARA BİRİMİ -->
          <div class="row justify-content-center">
            <div class="col-md-6 form-group">
              <label>Fiyat</label>
              <input [(ngModel)]="transaction.CheckoutPrice" name="CheckoutPrice" class="form-control" type="text"
                #CheckoutPrice="ngModel">
            </div>

            <div class="col-md-6 form-group">
              <label>Para Birimi</label>
              <select [(ngModel)]="transaction.CurrencyId" name="CurrencyId" style="resize:none0" class="form-control"
                type="text">
                <option [ngValue]="null">Yok</option>
                <option *ngFor="let currency of currencies" value={{currency.CurrencyId}}>
                  {{currency.Name}}
                </option>
              </select>
            </div>
          </div>

          <!-- AÇIKLAMA -->
          <div class="row justify-content-center">
            <div class="col-md-12 form-group">
              <label>Açıklama</label>
              <textarea [(ngModel)]="transaction.Description" name="Description" style="resize:none" rows="2"
                class="form-control" type="text" maxlength="100" #Description="ngModel"></textarea>
            </div>
          </div>

          <!-- FORM BASMA -->
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-group">
                <label class="ckbox">
                  <input type="checkbox" name="PrintExitForm" /><span>Demirbaş çıkış formu basılsın.</span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- modal-body -->
        <div class="modal-footer">
          <button *ngIf="isWaitingInsertOrUpdate == false" class="btn btn-az-primary" id="btnExitFixedAsset"
            type="submit" data-toggle="modal" data-target="#modalExitFixedAsset">
            Kaydet
          </button>
          <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->