.tree-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 1px solid #dee2e6;
    border-right: none;
    border-left:none;
    border-collapse: collapse;
    border-spacing: 0;
    padding:0;
    margin:0;
    flex:1;
    font-family: 'Helvetica Neue Light', 'Open Sans', Helvetica
}
.table-row {
    margin-bottom: 15px;
}

.table-info {
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 0;
    color:#333333;
    clear: both;
    float:left;
    font-size: 13px;
    background-color: #fff0 !important;
}

.table-pagination-select {
    height: 40px;
    float:left;
    margin-right: 20px;
    border-radius: 3px;
}

.pagination-nav {
    float:right;
}

.table-pagination {
    padding-top:0;
    color: #333333;
    float: right;
    text-align: center;
}

.table-config-arrow {
    font-size: larger;
    border: 1px solid #dee2e6;
    border-right: none;
    color: #424242;
    padding-top: 2px;
    height: 42px;
    background: #f9f9f9;
    cursor: pointer;
}

.table-no-content {
    text-align: center;
    font-size: smaller;
    color: #494c57;
    font-style: normal;
    font-weight: 700;
}

.table-checkbox {
    margin-left: 3px;
    margin-top: 5px;
}

.tree-table>thead>tr {
    width: 1px;
    white-space: nowrap;
}

.tree-table-responsive {
    overflow-x: auto;
    flex:1;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    height: 100%;
    width: 100%;
}

.tree-table>thead>th {
    max-width: 200px;
    white-space: nowrap;
    padding:0.75rem;
    color:#494c57;
    font-size: 13px;
    font-weight: 700;
    border-right: none;
    border-bottom-width: 2px;
    height: 32px;
    cursor: pointer;
    position: relative;
}

.tree-table>thead>th span {
    position: absolute;
    right: 8px;
    background: white;
    color: #8c8c8c;
}

.tree-table>thead>tr {
    border-bottom: 1px solid #dee2e6;
}

.tree-table>tbody>tr:hover {
    background: whitesmoke;
}

.tree-table>tbody>tr:nth-of-type(odd) {
    background: #f9f9f9;
}

.tree-table>tbody>tr>td:last-child {
    border-right: none;
}

.tree-table>tbody>tr {
    width: 1px;
    white-space: nowrap !important;
}

.tree-table>tbody>th {
    width: 1px;
    white-space: nowrap !important;
}

.tree-table>tbody>tr>td {
    border: 1px solid #dee2e6;
    font-size: 13px;
    padding:5px;   
}

.tree-table-sign {
    color:#e67300;
    width: 24px;
}
.tree-table-sign > span {
    margin-left:3px;
}

.typcn-custom-active {
    color:#97e002 !important;
}

.table-column-helper {
    display: inline;
    padding:10px;
    padding-right: 10px;
}
.table-column-helper-sub {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 1px solid #b3b3b3;
    padding: 5px;
    padding-left:10px;
    padding-right: 10px;
}
.table-column-helper-header {
    font-weight: bold;
    height: 30px;
}

.table-column-helper-header > :nth-child(1) {
    float:left;
}

.table-column-helper-header > :nth-child(2) {
    float:right;
}

.table-column-helper-body {
    width: 100%;
}

.table-column-helper-item > ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    margin:0;
}

.table-column-helper-item > ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    margin:0;
}

.table-column-helper-items {
    list-style: none;
    width: 100%;
    padding: 0;
    margin-bottom:0px !important;
}

.table-column-helper-item { 
    margin-bottom:3px !important;
}

.table-column-item-offset {
    width: 20px;
    height: 1px;
}

.table-column-hidden {
    display: none;
}

.loader {
    margin-left: 45%;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #e67300;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }