body {
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "sans-serif" !important;
}
.az-content .container, .az-content .container-fluid {
    padding-left: 60px;
    padding-right: 60px;
}

@media (min-width: 1200px) {
.az-navbar .nav-item + .nav-item {
    margin-left: 5px;
    padding-left: 5px;
    } 
}

.az-navbar-two {
    border-bottom: 1px solid #ced4da;
    background: #fcfcfc;
    border-top: 1px solid #ced4da;
    z-index: 100 !important;
}

.card {
    margin-top: 15px;
    padding:20px;
    padding-right: 30px;
}

.az-content .container, .az-content .container-fluid{
    padding-left:20px;
    padding-right:20px;
}

.stellarnav ul {
    background: #fcfcfc;
}

.nav-link-item-parent-link {
    color: #494c57 !important;
    font-size: 13px !important;
}

.nav-link-item-parent-link:hover {
    color: #e67300 !important;
    font-size: 13px !important;
    outline: none;
}

.nav-link-item-parent-link {
    border-top: 1px dotted #ced4da;
    margin-left: 20px !important;
    margin-right: 20px !important;
    height: 36px;
    padding: 0 !important;
    padding-top: 8px !important;
}

.nav-link-item-link {
    border-top: 1px dotted #ced4da;
    color: #494c57 !important;
    font-size: 13px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
    height: 36px;
    padding: 0 !important;
    padding-top: 8px !important;
}

.nav-link-item-link:hover {
    color: #e67300 !important;
    font-size: 13px !important;
    outline: none;
}

.nav-link-item-ul {
    background: #fcfcfc;
    border-color: #ced4da;
    box-shadow: 0 3px 4px rgba(33, 34, 41, 0.05);
    border-width: 1px;
    border: 2px solid #dee2e6;
    top: 34px !important;
    border-top: none;
}


.nav-link-item-ul-sub {
    background: #fcfcfc;
    border-color: #ced4da;
    box-shadow: 0 3px 4px rgba(33, 34, 41, 0.05);
    border-width: 1px;
    border: 1px solid #dee2e6;
}

.stellarnav ul li .nav-link-item-ul li:first-child > a {
    border-top:none;
}

.nav-link-item-parent-link > span {
    color: 494c57;
    float: right;
    padding-right: 10px;
}

.nav-link-item-link.active {
    color: #e6730e !important;
}

.grp-btn-action {
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

button.btn:first-child {
    margin-right: 10px;
}

.az-footer {
    background: white;
}

.btn-modal-close {
    background-color: #c82333 !important;
}

.btn-modal-close:hover{
    color:white !important;
    background-color: darkred !important;
}

.az-signin-wrapper {
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.az-card-signin {
    box-shadow: 0 0 10px #ced4da;
}


.loader {
    margin-left: 45%;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #e67300;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .modal-title{
      font-size: 18px;
  }

  .form-group > label {
    display: inline-block;
    margin-bottom: 0;
    font-size: 13px;
    padding-left: 3px;
    font-weight: 600;
  }

  .form-group > input {
    height: 27px;
  }

  .form-group > input {
      font-size: 13px;
  }

  .form-group > input:focus {
      border-width: 1px;
  }

  .form-group > textarea {
    height: 80px !important;
    font-size: 13px;
  }

  
  .form-group > select {
    height: 27px;
    font-size: 13px;
    padding-top: 3px;
}

  .form-group > select:focus {
    border-width: 1px;
}

  .form-group {
      margin-bottom: 0.1rem !important;
  }

  .modal-title{
      font-size: 15px;
      line-height: 1;
      padding: 3px;
      padding-left: 10px;
  }

  .modal-footer {
      padding: .4rem !important;
  }

  .modal-footer > button {
    height: 30px;
    padding-top: 2px;
    width: 100px;
    margin: 0 auto !important;
  }

  .modal-header {
    padding: .4rem !important;
    }    

  .modal-header .close {
    padding: 1rem;
    margin: -.5rem -.5rem -1rem auto !important;
}

.az-content-title {
    color: #494c57;
}

.btn-new-custom {
    font-size: 14px !important;
    min-height: 20px;
    height: 34px;
}

.btn-delete-custom {
    font-size: 14px !important;
    min-height: 20px;
    height: 34px;
}