<!-- Table Area -->
<div class="row table-row">
  <!-- Offset / Disable Columns Area -->
  <div class="table-column-helper" *ngIf="dataTable.isColumnOffsetActive == true && dataTable.isConfigOpen">
    <div class="table-column-helper-sub">
      <!-- Offset Header -->
      <div class="table-column-helper-header">
        <span>Sütunlar</span>
        <span class="typcn icon-default typcn-delete close-table-helper" (click)="dataTable.TGT_toggleConfig()"></span>
      </div>
      <!-- END Offset Header END -->
      <!-- Offset Body -->
      <div class="table-column-helper-body">
        <ul class="table-column-helper-items" *ngFor="let column of dataTable.dataColumns;let i=index">
          <li class="table-column-helper-item">
            <ul>
              <li><input type="checkbox" (click)="dataTable.TGT_toggleColumns(column)" [checked]="column.isActive">
                {{column.columnDisplayName}}</li>
              <li class="table-column-item-offset"></li>
              <li>
                <span [ngStyle]="{'visibility' : i == 0 ? 'hidden' : 'visible'}"
                  (click)="dataTable.TGT_offsetColumns(column,false)"
                  class="typcn icon-default typcn-arrow-sorted-up table-column-helper-up"></span>
                <span [ngStyle]="{'visibility' : i == dataTable.dataColumns.length-1 ? 'hidden' : 'visible'}"
                  (click)="dataTable.TGT_offsetColumns(column,true)"
                  class="typcn icon-default typcn-arrow-sorted-down table-column-helper-down"></span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- END Offset Body END -->
      <!-- Offset Footer -->
      <div class="table-column-helper-footer">
        <button (click)="dataTable.TGT_saveConfig()" class="btn btn-success table-column-helper-button-save">
          Kaydet
        </button>
        <button (click)="dataTable.TGT_returnDefaultConfig()" class="btn btn-danger table-column-helper-button-save">
          Sıfırla
        </button>
      </div>
      <!-- END Offset Footer END-->
      <!-- Offset Info -->
      <div class="table-column-helper-info" [ngStyle]="{'display': dataTable.isSaved == true ? 'block' : 'none' }">
        <span class="info-success">Başarılı</span>
      </div>
      <!-- END Offset Info END-->
    </div>
  </div>
  <!-- END Offset / Disable Columns Area END -->
  <!-- Config Button-->
  <span *ngIf="dataTable.isColumnOffsetActive == true" (click)="dataTable.TGT_toggleConfig()"
    class="typcn icon-default typcn-spanner-outline table-config-arrow"></span>
  <!-- END Config Button END-->
  <!-- Data Table Area -->
  <div class="tree-table-responsive" 
    [ngStyle]="{'overflow': dataTable.isScrollActive == true ? 'auto' : 'hidden',
                'max-height': dataTable.isScrollActive == true ? dataTable.maxHeightOfTable : 'inherit'}">
    <table class="tree-table" >
      <!-- Table Header Area -->
      <thead class="tree-table-header" *ngIf="dataTable.isHeaderVisible == true">
        <!-- Header Select All -->
        <th class="tree-table-body-tr-th-empty" *ngIf="dataTable.isMultipleSelectedActive == true">
          <input type="checkbox" [(ngModel)]="dataTable.selectAllState">
        </th>
        <!-- END Header Select All END-->
        <!-- Header columns -->
        <ng-container *ngFor="let column of dataTable.activeColumns">
          <th appTreeGridDrag [column]="column" [dataTable]="dataTable" class="table-column-header"
            *ngIf="column.isActive == true" (click)="dataTable.TGT_doOrder(column)">
            {{column.columnDisplayName}}
            <span class="{{dataTable.TGT_getOrderSign(column)}}"></span>
          </th>
        </ng-container>
        <!-- END Header Columns END -->
        <!-- Remove Column -->
        <th *ngIf="dataTable.isDeleteable == true">
        </th>
        <!-- END Remove Column END-->
      </thead>
      <!-- END Table Header Area END -->
      <tbody class="tree-table-body">
        <!-- First Row is Filter -->
        <tr class="tree-table-body-filter-tr" *ngIf="dataTable.isFilterActive == true">
          <!-- Selection checkbox filter -->
          <td [ngStyle]="{'top':  dataTable.isHeaderVisible == true? '34px' : '-1px'}" class="tree-table-body-tr-td-empty" *ngIf="dataTable.isMultipleSelectedActive == true">
            <input type="checkbox" class="table-checkbox" [(ngModel)]="dataTable.dataFilters['isChecked']">
          </td>
          <!-- END Selection checkbox filter END -->
          <!-- Filter Columns -->
          <ng-container *ngFor="let column of dataTable.activeColumns">
            <td [ngStyle]="{'top':  dataTable.isHeaderVisible == true? '34px' : '-1px'}" >
              <ng-container [ngSwitch]="column.type">
                <ng-container *ngSwitchCase="'checkbox'">
                  <label class="checkbox-container">
                    <input type="{{column.type}}" placeholder="{{column.placeholder ? column.placeholder : 'Ara'}}"
                      class="form-control" [checked]="dataTable.dataFilters[column.columnName]"
                      (change)="dataTable.dataFilters[column.columnName] = !dataTable.dataFilters[column.columnName]">
                    <span class="checkmark"></span>
                  </label>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <input type="text" placeholder="{{column.placeholder ? column.placeholder : 'Ara'}}"
                    class="form-control" [(ngModel)]="dataTable.dataFilters[column.columnName]">
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
          <!-- END Filter Columns END -->
          <!-- Remove Item Button -->
          <td [ngStyle]="{'top':  dataTable.isHeaderVisible == true? '35px' : '0px'}" *ngIf="dataTable.isDeleteable == true"></td>
          <!-- END Remove Item Button END-->
        </tr>
        <!-- END First Row is Filter END -->
        <!-- Data Rows -->
        <ng-container *ngFor="let data of dataTable.dataSource | toPage:dataTable.currentPage:dataTable.perInPage">
          <tr class="tree-table-body-tr" (dblclick)="onDoubleClickItem(data)" (click)="onClickedItem(data)">
            <!-- First Column is multiple select option -->
            <td class="tree-table-body-tr-td-empty" *ngIf="dataTable.isMultipleSelectedActive == true">
              <input type="checkbox" class="table-checkbox" [(ngModel)]="data.isChecked">
            </td>
            <!-- END First Column is Multiple Select Option END -->
            <!-- Fill The Rows Rest of columns -->
            <ng-container *ngFor="let column of dataTable.activeColumns;let i = index">
              <!-- First column always will be offset with(+/- sign) -->
              <td *ngIf="i==0" [ngStyle]="{'padding-left': (data.childIndex * 17 + 5).toString() + 'px' }"
                class="tree-table-body-tr-td tree-table-input-text">
                <!-- Collapse Sign (+/-) -->
                <span (click)=dataTable.TGT_doCollapse(data) class='tree-table-sign {{dataTable.TGT_getSign(data)}}'>
                </span>
                <!-- END Collapse Sign (+/-) -->
                <!-- Fill The Rest of Columns -->
                <ng-container [ngSwitch]="column.type">
                  <!-- if the type is checkbox then render this -->
                  <ng-container *ngSwitchCase="'checkbox'">
                    <!-- if table is not editable just put checkbox as disabled to prevent changes -->
                    <ng-container *ngIf="dataTable.isTableEditable == false || column.isEditable != true">
                      <label class="checkbox-container">
                        <input type="checkbox" disabled
                          [attr.checked]="dataTable.TGT_getDataValue(data,column) == true ? 'checked' : null" />
                        <span class="checkmark"></span>
                      </label>
                    </ng-container>
                    <!-- END if table is not editable just put checkbox as disabled to prevent changes END -->
                    <!-- if table is editable and column is also editable then let user  change it -->
                    <ng-container *ngIf="dataTable.isTableEditable == true && column.isEditable == true">
                      <label class="checkbox-container">
                        <input type="checkbox" (change)="dataTable.TGT_changeItemAny($event,column,data)"
                          [attr.disabled]="dataTable.isTableEditable == true ? null : ''"
                          [attr.checked]="dataTable.TGT_getDataValue(data,column) == true ? 'checked' : null" />
                        <span class="checkmark"></span>
                      </label>
                    </ng-container>
                    <!-- END if table is editable and column is also editable then let user  change it END -->
                  </ng-container>
                  <!-- END if the type is checkbox then render this END -->
                  <!-- if the type is text then render text line -->
                  <ng-container *ngSwitchCase="'text'">
                    <!-- if column is not column just put the text -->
                    <ng-container *ngIf="dataTable.isTableEditable == false || column.isEditable != true">
                      {{dataTable.TGT_getDataValue(data,column)}}
                    </ng-container>
                    <!-- END if column is not column just put the text END -->
                    <!-- if column is editable and also table is editable -->
                    <ng-container *ngIf="dataTable.isTableEditable == true && column.isEditable == true">
                      <input type="text" value="{{dataTable.TGT_getDataValue(data,column)}}"
                        (change)="dataTable.TGT_changeItemAny($event,column,data)" />
                    </ng-container>
                    <!-- END if column is editable and also table is editable END -->
                  </ng-container>
                  <!-- END if the type is text then render text line END -->
                </ng-container>
                <!-- END Fill The Rest Of Column END -->
              </td>
              <!-- END First column always will be offset with(+/- sign) END -->
              <!-- Rest of columns will be default -->
              <td *ngIf="i!=0" class="tree-table-body-tr-td tree-table-input-text">
                <!-- Fill The Rest of Columns -->
                <ng-container [ngSwitch]="column.type">
                  <!-- if the type is color then render this-->
                  <ng-container *ngSwitchCase="'color'">
                    <div class="table-color-item" [ngStyle]="{'background': dataTable.TGT_getDataValue(data,column) }">
                      <!-- <span class="table-color-item-text">{{dataTable.TGT_getDataValue(data,column)}}</span> -->
                    </div>
                  </ng-container>
                  <!-- END if the type is color then render this END -->
                  <!-- if the type is checkbox then render this -->
                  <ng-container *ngSwitchCase="'checkbox'">
                    <ng-container *ngIf="dataTable.isTableEditable == false || column.isEditable != true">
                      <label class="checkbox-container">
                        <input type="checkbox" disabled
                          [attr.checked]="dataTable.TGT_getDataValue(data,column) == true ? 'checked' : null" />
                        <span class="checkmark"></span>
                      </label>
                    </ng-container>
                    <ng-container *ngIf="dataTable.isTableEditable == true && column.isEditable == true">
                      <label class="checkbox-container">
                        <input type="checkbox" (change)="dataTable.TGT_changeItemAny($event,column,data)"
                          [attr.disabled]="dataTable.isTableEditable == true ? null : ''"
                          [attr.checked]="dataTable.TGT_getDataValue(data,column) == true ? 'checked' : null" />
                        <span class="checkmark"></span>
                      </label>
                    </ng-container>
                  </ng-container>
                  <!-- END if the type is checkbox then render this END -->
                  <!-- if the type is none then render this -->
                  <ng-container *ngSwitchDefault>
                    <ng-container *ngIf="dataTable.isTableEditable == false || column.isEditable != true">
                      {{dataTable.TGT_getDataValue(data,column)}}
                    </ng-container>
                    <ng-container *ngIf="dataTable.isTableEditable == true && column.isEditable == true">
                      <input type="text" value="{{dataTable.TGT_getDataValue(data,column)}}"
                        (change)="dataTable.TGT_changeItemAny($event,column,data)" />
                    </ng-container>
                  </ng-container>
                  <!-- END if the type is none then render this END -->
                </ng-container>
                <!-- Fill The Rest of Columns -->
              </td>
              <!-- END Rest of columns will be default END -->
            </ng-container>
            <!-- END Fill The Rows Rest of columns END -->
            <!-- Delete Item Button -->
            <td class="table-remove-item-column" *ngIf="dataTable.isDeleteable == true">
              <span (click)="dataTable.TGT_removeItem(data)" class='typcn icon-default typcn-minus'>
              </span>
            </td>
            <!-- END Delete Item Button END-->
          </tr>
        </ng-container>
        <!-- if no data display nothing message -->
        <ng-template [ngIf]="dataTable.dataSource.length == 0 && dataTable.isLoading == false">
          <tr>
            <td colspan="999" class="table-no-content">Gösterilecek içerik bulunamadı</td>
          </tr>
        </ng-template>
        <!-- END if no data display nothing message END -->
        <!-- Loading Side -->
        <ng-template [ngIf]="dataTable.isLoading == true">
          <tr>
            <td colspan="999" class="table-no-content">
              <div class="loader"></div>
            </td>
          </tr>
        </ng-template>
        <ng-template [ngIf]="errorMessage !== '' && errorMessage != null">
          <tr>
            <td colspan="999" class="table-no-content">
              <div class="table-error-message">{{errorMessage}}</div>
            </td>
          </tr>
        </ng-template>
        <!-- END Loading Side END -->
        <!-- END Data Rows END -->
      </tbody>
    </table>
  </div>
</div>
<!-- END Table Area END -->
<!-- Pagination -->
<div *ngIf="dataTable.isPagingActive == true">
  <div class="table-info" [class.table-info-without-margin]="dataTable.isColumnOffsetActive == false">
    {{dataTable.getDisplayInfo('Toplam {0} kayıt ve {1} ile {2} arası gösteriliyor.')}}
  </div>
  <!-- Pagination Side -->
  <div class="table-pagination">
    <!-- Per In Page Select area -->
    <select class="table-pagination-select" [(ngModel)]="dataTable.perInPage">
      <option *ngFor="let perIn of dataTable.perInPages" value="{{perIn}}">{{perIn}}</option>
      <option value="-1">{{getLanguageValue('All')}}</option>
    </select>
    <!-- END Per In Page Select area END -->
    <!-- Paginations -->
    <nav class="pagination-nav">
      <ul class="pagination">
        <ng-container *ngFor="let page of dataTable.pages">
          <li class="page-item" [class.disabled]="page.isDisabled" [class.active]="page.isActive"><button
              (click)="dataTable.TGT_goToPage(page.value)" class="page-link">{{page.display}}</button>
          </li>
        </ng-container>
      </ul>
    </nav>
    <!-- END Paginations END -->
  </div>
  <!-- END Pagination Side END -->
</div>
<!-- END Pagination END -->