.tree-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-right: none;
    border-left: none;
    border-collapse: collapse;
    border-spacing: inherit;
    padding: 0;
    margin: 0;
    flex: 1;
    font-family: 'Helvetica Neue Light', 'Open Sans', Helvetica;
    overflow: auto;
    display: table;
}

.table-row {
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.table-column-header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table-info {
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 0;
    color: #333333;
    clear: both;
    float: left;
    font-size: 13px;
    background-color: #fff0 !important;
    margin-left: 22px;
}

.table-pagination-select {
    height: 35px;
    float: right;
    margin-left: 20px;
    border-radius: 3px;
    border: 1px solid #bfc3c7;
    color: #5a5a5a;
    font-size: 13px;
    padding: 5px;
    border-radius: 0;
}

select.table-pagination-select:focus {
    outline: #e6730080 auto 5px;
}

select.table-pagination-select option:checked,
select option:hover {
    box-shadow: 0 0 10px 100px #e67300 inset;
}

.pagination-nav {
    float: left;
}

.table-pagination {
    padding-top: 0;
    color: #333333;
    float: right;
    text-align: center;
}

.table-config-arrow {
    font-size: larger;
    border: 1px solid #dee2e6;
    border-right: none;
    color: #424242;
    height: 37px;
    background: #f9f9f9;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0px 3px 7px 3px;
}

.table-no-content {
    text-align: center;
    font-size: smaller;
    color: #494c57;
    font-style: normal;
    font-weight: 700;
}

.table-checkbox {
    margin-left: 3px;
    margin-top: 5px;
}

.tree-table>thead>tr {
    width: 1px;
    white-space: nowrap;
}

.tree-table-responsive {
    overflow-x: scroll;
    flex: 1;
    overflow-y: scroll;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    height: 100%;
    max-height: 50vh;
    width: 100%;
}

.tree-table>thead>th {
    max-width: 300px;
    white-space: nowrap;
    padding: 0.5rem;
    padding-right: 20px;
    color: #494c57;
    font-size: 0.8125rem;
    font-weight: 700;
    border-right: none;
    border-bottom-width: 2px;
    height: 32px;
    cursor: pointer;
    position: sticky;
    top: -1px;
    background: white;
}

.tree-table-body-filter-tr > td:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-top: 1px solid #dee2e6;
}

.tree-table-body-filter-tr > td:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #dee2e6;
}

.tree-table-header > th:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 100%;
    border-top: 1px solid #dee2e6;
}

.tree-table>thead>th:first-child {
    padding-right: 0;
    padding-left: 10px;
}

.tree-table>thead>th span {
    position: absolute;
    right: 8px;
    background: none;
    color: #8c8c8c;
}

.tree-table>tbody>tr:hover {
    background: whitesmoke;
}

.tree-table>tbody>tr:nth-of-type(even) {
    background: #f9f9f9;
}

.tree-table>tbody>tr>td:last-child {
    border-right: none;
}

.tree-table>tbody>tr {
    width: 1px;
    white-space: nowrap !important;
}

.tree-table>tbody>tr>td {
    border-left: 0;
    border-right: 0;
    font-size: 0.8125rem;
    padding: 5px;
    z-index: -1;
    border: 1px solid #dee2e6;
    border-right: 0;
    border-left: 0;
}

.tree-table-body-tr-td-empty {
    padding: 0;
    padding-left: 5px;
    width: 30px;
}

.tree-table-body-tr-th-empty {
    padding: 0;
    width: 30px;
    padding-left: 9px;
}

.tree-table-body-filter-tr>td {
    padding: 0 !important;
    padding-left: 10px;
    background: white;
    position: sticky;
    top: 34px;
    z-index: 0 !important;
    border:none !important;
}

.tree-table-body-filter-tr>td>input {
    border: none;
    height: 23px;
    min-height: 23px;
    margin-top: 5px;
    padding-left: 5px;
}

.tree-table-body-filter-tr>td>input::placeholder {
    font-style: italic;
    font-size: 12px;
}

tr.tree-table-body-filter-tr:first-child td:first-child {
    padding-left: 6px !important;
}

.tree-table-sign {
    color: #e67300;
    width: 24px;
}

.tree-table-sign>span {
    margin-left: 3px;
}

.typcn-custom-active {
    color: #97e002 !important;
}

.table-column-helper {
    display: inline;
}

.table-column-helper-sub {
    max-width: 300px;
    background: white;
    border-radius: 3px;
    border: 1px solid #dee2e6;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    z-index: 100;
    left: 43px;
    box-shadow: 7px 7px 10px rgba(33, 34, 41, 0.1);
}

.table-column-helper-header {
    font-weight: 700;
    color: #494c57;
    font-size: 13px;
    height: 30px;
    border-bottom: 1px solid #dedddd;
}

.table-column-helper-footer {
    font-weight: 700;
    color: #494c57;
    font-size: 13px;
    height: 34px;
    border-top: 1px solid #dedddd;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5px
}

.table-column-helper-button-save {
    font-size: 13px;
    min-height: 28px;
    color: white;
    padding: 0;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 4px;
    min-width: 76px;
}

.table-column-helper-header> :nth-child(1) {
    float: left;
}

.table-column-helper-header> :nth-child(2) {
    float: right;
    color: #656871;
    font-size: 16px;
    cursor: pointer;
}

.table-column-helper-body {
    width: 100%;
    margin-top: 8px;
}

.table-column-helper-info {
    margin-top: 0px;
    text-align: center;
    height: 20px;
}

.table-column-helper-info>.info-success {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    color: #24c324;
}

.table-column-helper-item>ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0;
    color: #393b42;
    font-size: 14px;
}

.table-column-helper-item>ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

.table-column-helper-items {
    list-style: none;
    width: 100%;
    padding: 0;
    margin-bottom: 0px !important;
}

.table-column-helper-item {
    margin-bottom: 3px !important;
}

.table-column-item-offset {
    width: 20px;
    height: 1px;
}

.table-column-hidden {
    display: none;
}


.tree-table-input-text {
    height: 27px;
    font-size: 13px
}

.loader {
    display: inline-block;
    margin: 5px;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #e67300;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.page-link {
    color: #717171;
    height: 35px;
    font-size: 13px;
    border: 1px solid #dee2e6;
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #e67300;
    border-color: #cc6703;
}


/* CUSTOM CHECKBOX */
/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -6px;
    left: calc(50% - 12px);
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
    background-color: #e67300;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 8px;
    top: 5px;
    width: 8px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* END CUSTOM CHECKBOX END */


:host {
    width: 100%;
}


.table-info-without-margin {
    margin-left: 0;
}

.table-error-message {
    color: rgb(212, 2, 2);
    text-align: center;
    font-style: italic;
    font-size: 13px;
}

.table-remove-item-column {
    cursor: pointer;
    width: 20px;
}

.table-remove-item-column>span {
    color: red;
}

.table-color-item {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #00000078;
}

.table-color-item-text {
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 2px 2px 5px rgba(0, 0, 0, 0.65);
}