<div class="az-content az-content-dashboard-four">
  <div class="media media-dashboard">
    <div class="media-body">
      <!-- Bread Crumb -->
      <div class="az-content-breadcrumb">
        <span>{{getLanguageValue('Definitions')}}</span>
        <span>{{getLanguageValue('Fixed_Asset_Cards')}}</span>
        <span>Periyodik Bakım İş Emri</span>
      </div>
      <div class="card card-dashboard-twelve mg-b-20">
        <div class="card-header">
          <h2 class="az-content-title">Periyodik Bakım İş Emri</h2>
          <div class="grp-btn-action">
              <button class="btn btn-az-primary" style="margin-right: 25px;" id="btnAddNewWorkOrder">
              <i class="fa fa-plus-circle fa-plus-circle-add"></i>Yeni İş Emri Ekle
            </button>
          </div>
        </div>
        <form #data="ngForm" (ngSubmit)="addWorkOrder(data)">    
        <div class="sales-overview" style="margin-left:10px;margin-right:10px">    
          
            <div class="form-group col-md-6">
                <fieldset class="field_set" style="padding-left: 10px; padding-right: 10px;">
                    <legend>Demirbaş Kart Bilgileri</legend>
                <div class="row">
                    <div class="form-group col-md-4">
                      <label >Demirbaş Kart Kodu :</label>
                    </div>
                    <div class="col-md-8">
                      <span>{{fixedAssetCard.FixedAssetCardCode}}</span>
                    </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-4">
                        <label>Demirbaş Kart Adı :</label>
                      </div>
                      <div class="col-md-8">
                        <span>{{fixedAssetCard.Name}}</span>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-4">
                        <label>Demirbaş Kategorisi :</label>
                      </div>
                      <div class="col-md-8">
                        <span>{{categoryName}}</span>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-4">
                        <label>İş Emri Kodu :</label>
                      </div>
                      <div *ngIf="isUpdateOrInsertMaintenance;then insertFixedAssetCardPeriodic else  updateFixedAssetCard"></div>
                      <ng-template #updateFixedAssetCard>
                      <div class="form-group col-md-4">
                          <select name="WorkOrderId" class="form-control select2-no-search">
                              <option [ngValue]="null">{{getLanguageValue('Choose')}}</option>
                              <option *ngFor="let workOrder of workOrders"  value="{{workOrder.WorkOrderId}}">{{workOrder.WorkOrderCode}} </option>
                          </select>       
                      </div>
                      <div class="col-md-4">
                      </div>
                    </ng-template>
                    <ng-template #insertFixedAssetCardPeriodic>
                        <div class="form-group col-md-4">
                           <input type="text" value="{{workOrderCode}}" disabled>      
                        </div>
                        <div class="col-md-4">
                        </div>
                    </ng-template>

                  </div>
                  <div class="row">             
                    <div class="form-group col-md-4">
                      <label>Tekrarlama sıklığını seçiniz</label>
                    </div>                
                    <div class="form-group col-md-4">                 
                      <select [(ngModel)]="workOrder.PeriodTypeId" name="PeriodTypeId" (change)="selectPeriod($event)" [class.is-invalid]="data.submitted && insertedPeriodTypeId == null" class="form-control" required>
                        <option [ngValue]="null">Seçiniz</option>
                        <option *ngFor="let period of periods" value={{period.PeriodTypeId}}>{{period.PeriodName}}</option>
                      </select>              
                    </div>
                    <div class="form-group col-md-4">
                        <select [(ngModel)]="workOrder.Frequency" name="Frequency" (change)="selectPeriodValue($event)" [class.is-invalid]="data.submitted && insertedPeriodTypeValue == null" class="form-control" required>
                            <option [ngValue]="null">Seçiniz</option>
                            <option *ngFor="let period of periodArray" value={{period}}>{{period}}</option>
                        </select>     
                        <div style="display:block" *ngIf="data.submitted" class="invalid-feedback">
                            <div *ngIf="insertedPeriodTypeValue == null || insertedPeriodTypeId == null">{{getLanguageValue('This_value_is_required')}}</div>
                        </div>               
                    </div>        
                  </div>
                </fieldset>
                <fieldset class="field_set" style="padding-left: 10px; padding-right: 10px; margin-top: 10px;">
                    <legend>{{workOrderCode}} No'lu İş Emri</legend>
                     <div class="row">
                      <div class="form-group col-md-12">
                      <label>{{WorkStepRowId}}. İş Adımı</label>
                      <input [(ngModel)]="workStep.Description" name="Description" #Description="ngModel" [class.is-invalid]="insertWorkStep == true && workStep.Description == null" class="form-control" maxlength="4000" type="text" maxlength="4000" required>
                      <div *ngIf="insertWorkStep == true && Description == null">
                        <div style="color:red">{{getLanguageValue('This_value_is_required')}}</div>                        
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                        <label class="ckbox" style="margin-top: 23px">
                            <input [(ngModel)]="workStep.IsConsumableUsed" name="IsConsumableUsed" type="checkbox" (change)="isConsumableUsed($event)" /><span>Sarf malzeme kullanılacak mı?</span>
                        </label> 
                    </div>
                    <div class="form-group col-md-6">
                      <label></label>
                        <div class="file-area">
                          <input #fixedAssetCardPicture name="FixedAssetCardPicture" id="FixedAssetCardPicture" type="file"
                            class="form-control-file" style="display:none">
                          <label for="FixedAssetCardPicture" class="custom-file">
                            <label class="custom-file-text" for="FixedAssetCardPicture" style="margin: initial;">
                             Resim Seçiniz...
                            </label>
                          </label>
                          <label class="custom-file-remove"><span class="fa fa-times"></span></label>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-12">
                        <label>{{getLanguageValue('Consumable_Card_Name')}}</label>
                        <select [(ngModel)]="workStep.ConsumableCardId" name="ConsumableCardId" [class.is-invalid]="workStep.IsConsumableUsed == true && workStep.ConsumableCardId == null && insertConsumableProperties == true" class="form-control select2-no-search" [disabled]="isConsumableUse == false" (change)="loadConsumablesByConsumableCardId($event)">
                          <option [ngValue]="null">{{getLanguageValue('Choose')}}</option>
                          <option *ngFor="let card of consumableCards"  value="{{card.ConsumableCardId}}">{{card.ConsumableCardName}} </option>
                        </select>   
                        <div *ngIf="workStep.IsConsumableUsed == true && workStep.ConsumableCardId == null && insertConsumableProperties == true">
                            <div style="color:red">{{getLanguageValue('This_value_is_required')}}</div>                        
                        </div>                          
                      </div>
                
                  </div>
                    <div class="form-group">
                      <tree-grid-table [dataTable]="dataTablePropertyValue"></tree-grid-table>
                      <div *ngIf="requiredConsumable == true" style="color:red">Lütfen bir sarf malzeme seçiniz</div>  
                    </div>
           
                <div class="row">
                  <div class="form-group col-md-6">
                    <div class="row">
                    <div class="form-group col-md-6">
                    <input [(ngModel)]="workStep.Quantity"  name="Quantity"  type="number" [class.is-invalid]="workStep.IsConsumableUsed == true && workStep.Quantity == null && insertConsumableProperties == true" class="form-control" >
                    <div *ngIf="workStep.IsConsumableUsed == true && workStep.Quantity == null && insertConsumableProperties == true">
                      <div style="color:red">{{getLanguageValue('This_value_is_required')}}</div>                        
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="row" style="margin-top: 5px;">
                      <label>{{consumableCardUnit}}</label>
                      <div class="property-add-value" style="margin-left:5px">                    
                          <span class="tree-table-sign typcn icon-default typcn-plus" (click)="insertConsumableCardWithProperties()"></span>
                      </div> 
                    </div>  
                    </div>
                  </div>
                  </div>
                  <div class="form-group col-md-6">
                  </div>
                </div>
                <div class="row">
                  <table style="margin-right:15px; margin-left:15px">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Kullanılacak sarf malzeme</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let property of consumableCardsWithQuantity">
                        <td>*</td>
                        <td>{{property}}</td>
                        <td>
                          <div class="property-add-value">                    
                          <span class="tree-table-sign typcn icon-default typcn-plus" (click)="deleteConsumable"></span></div> 
                        </td>
                      </tr>
                    </tbody>
                  </table>     
                </div>
                <div class="row justify-content-center">
                    <button id="insertWorkStep" type="button" class="btn btn-az-primary small" style="margin-bottom: 5px" (click)="insertWorkStepToDataTableWorkStep(data)" *ngIf="isWaitingInsertOrUpdate == false" >İş Adımı Ekle</button>
                    <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
                </div>
              </fieldset> 
            </div>
            <div class="form-group col-md-6">
                <fieldset class="field_set" style="padding-left: 10px; padding-right: 10px;">
                    <legend>{{workOrderCode}} No'lu İş Emrinin İş Adımları</legend>
                    <div class="form-group">
                        <tree-grid-table [dataTable]="dataTableWorkStep" (onDoubleClickItem)="onDoubleClickItem($event,item)"></tree-grid-table>
                      </div>
                      <div class="row justify-content-center">
                        <div class="form-group">
                          <button id="insertWorkOrder" type="submit" class="btn btn-az-primary small" *ngIf="isWaitingInsertOrUpdate == false" (click)="addWorkOrder(data)">İş Emrini Kaydet</button>
                          <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
                        </div>
                      </div>
                  </fieldset>
              </div>       
          <!-- <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable">
          </tree-grid-table> -->
        </div>
      </form>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->
