<div class="az-content az-content-dashboard-four">
  <div class="media media-dashboard">
    <div class="media-body">
      <!-- Bread Crumb -->
      <div class="az-content-breadcrumb">
        <span>{{getLanguageValue('Definitions')}}</span>
        <span>{{getLanguageValue('Fixed_Asset_Cards')}}</span>
        <span>Periyodik Bakım İş Emri</span>
      </div>
      <div class="card card-dashboard-twelve mg-b-20">
        <div class="card-header">
          <h2 class="az-content-title">Periyodik Bakım İş Emri</h2>
          <div class="grp-btn-action">
              <button class="btn btn-az-primary" style="margin-right: 25px;" (click)="AddNewWorkOrder()" id="btnAddNewWorkOrder">
              <i class="fa fa-plus-circle fa-plus-circle-add"></i>Yeni İş Emri Ekle
            </button>
          </div>
        </div>
        <form #data="ngForm" (ngSubmit)="onSubmit(data)">    
        <div class="sales-overview" style="margin-left:10px;margin-right:10px">    
          
            <div class="form-group col-md-6">
                <fieldset class="field_set" style="padding-left: 10px; padding-right: 10px;">
                    <legend>Demirbaş Kart Bilgileri</legend>
                <div class="row">
                    <div class="form-group col-md-4">
                      <label >Demirbaş Kart Kodu :</label>
                    </div>
                    <div class="col-md-8">
                      <span>{{fixedAssetCard.FixedAssetCardCode}}</span>
                    </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-4">
                        <label>Demirbaş Kart Adı :</label>
                      </div>
                      <div class="col-md-8">
                        <span>{{fixedAssetCard.Name}}</span>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-4">
                        <label>Demirbaş Kategorisi :</label>
                      </div>
                      <div class="col-md-8">
                        <span>{{categoryName}}</span>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-4">
                        <label>İş Emri Kodu :</label>
                      </div>
                      <!-- <div *ngIf="isUpdateOrInsertMaintenance;then insertFixedAssetCardPeriodic else  updateFixedAssetCard"></div> -->
                      <div class="form-group col-md-4">
                          <input class="form-control" type="text" value="{{workOrderCode}}" disabled>      
                       </div>
                     
                       <div class="form-group col-md-4">
                          <select *ngIf="isUpdateOrInsertMaintenance == false" [(ngModel)]="workOrder.WorkOrderId"  name="WorkOrderId" class="form-control select2-no-search" (change)="getWorkOrderByWorkOrderId($event)">
                              <option [ngValue]="null">{{getLanguageValue('Choose')}}</option>
                              <option *ngFor="let workOrder of workOrders"  value="{{workOrder.WorkOrderId}}">{{workOrder.WorkOrderCode}}</option>
                          </select>       
                      </div>
                    
                      <!-- <ng-template #updateFixedAssetCard>
             
                    </ng-template>
                    <ng-template #insertFixedAssetCardPeriodic>
                 
                    </ng-template> -->

                  </div>
                  <div class="row">             
                    <div class="form-group col-md-4">
                      <label>Tekrarlama sıklığını seçiniz</label>
                    </div>                
                    <div class="form-group col-md-4">                 
                      <select [(ngModel)]="workOrder.PeriodTypeId" name="PeriodTypeId" (change)="selectPeriod($event)" [class.is-invalid]="data.submitted && insertedPeriodTypeId == null" class="form-control" required>
                        <option [ngValue]="null">Seçiniz</option>
                        <option *ngFor="let period of periods" value={{period.PeriodTypeId}}>{{period.PeriodName}}</option>
                      </select>              
                    </div>
                    <div class="form-group col-md-4">
                        <select [(ngModel)]="workOrder.Frequency" name="Frequency" (change)="selectPeriodValue($event)" [class.is-invalid]="data.submitted && insertedPeriodTypeValue == null" class="form-control" required>
                            <option [ngValue]="null">Seçiniz</option>
                            <option *ngFor="let period of periodArray" value={{period.Frequency}}>{{period.Frequency}}</option>
                        </select>     
                        <div style="display:block" *ngIf="data.submitted" class="invalid-feedback">
                            <div *ngIf="insertedPeriodTypeValue == null || insertedPeriodTypeId == null">{{getLanguageValue('This_value_is_required')}}</div>
                        </div>               
                    </div>        
                  </div>
                </fieldset>
                <fieldset class="field_set" style="padding-left: 10px; padding-right: 10px; margin-top: 10px;">
                    <legend>{{workOrderCode}} No'lu İş Emri</legend>
                    <div class="row">
                      <div class="form-group col-md-6">
                      <label>{{WorkStepRowId}}. İş Adımı</label>
                      </div>
                      <div class="form-group col-md-6">
                      <span *ngIf="visibleWorkStepButton== true" style="float:right" (click)="onDelete()"><i class="fas fa-trash"></i></span> 
                    </div> 
                  </div>                                  
                  <div class="row">
                        <div class="form-group col-md-12">
                        <!-- <label>{{WorkStepRowId}}. İş Adımı</label> -->
                        <input [(ngModel)]="workStep.Description" name="Description" #Description="ngModel" trim="blur" [class.is-invalid]="isInsertDescription == true && workStep.Description == null"  class="form-control" maxlength="4000" type="text" maxlength="4000">
                        <div *ngIf="isInsertDescription == true && workStep.Description == null">
                          <div style="color:red">{{getLanguageValue('This_value_is_required')}}</div>                        
                        </div>
                        </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                        <label class="ckbox" style="margin-top: 23px">
                            <input [(ngModel)]="workStep.IsConsumableUsed" name="IsConsumableUsed" type="checkbox" (change)="isConsumableUsed($event)" /><span>Sarf malzeme kullanılacak mı?</span>
                        </label> 
                    </div>
                    <div class="form-group col-md-6">
                      <label></label>
                        <div class="file-area">
                          <input #FixedAssetCardPicture [(ngModel)]="imageFile" name="FixedAssetCardPicture" id="FixedAssetCardPicture" type="file" (change)="addImageFile(FixedAssetCardPicture.files)"
                            class="form-control-file" style="display:none">
                          <label for="FixedAssetCardPicture" class="custom-file">
                            <label class="custom-file-text" for="FixedAssetCardPicture" style="margin: initial;">
                             {{imageName == '' ? 'Resim Seçiniz...' : imageName}}
                            </label>
                          </label>
                          <label class="custom-file-remove" (click)="clearFiles()"><span class="fa fa-times"></span></label>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-12">
                        <label>{{getLanguageValue('Consumable_Card_Name')}}</label>
                        <select [(ngModel)]="workStep.ConsumableCardId" name="ConsumableCardId" [class.is-invalid]="workStep.IsConsumableUsed == true && workStep.ConsumableCardId == null && insertConsumableProperties == true" class="form-control select2-no-search" [disabled]="isConsumableUse == false" (change)="loadConsumablesByConsumableCardId($event)">
                          <option [ngValue]="null">{{getLanguageValue('Choose')}}</option>
                          <option *ngFor="let card of consumableCards"  value="{{card.ConsumableCardId}}">{{card.ConsumableCardName}} </option>
                        </select>   
                        <div *ngIf="workStep.IsConsumableUsed == true && workStep.ConsumableCardId == null && insertConsumableProperties == true">
                            <div style="color:red">{{getLanguageValue('This_value_is_required')}}</div>                        
                        </div>                          
                      </div>                
                  </div>
                    <div class="form-group">
                      <tree-grid-table [dataTable]="dataTablePropertyValue"></tree-grid-table>
                      <div *ngIf="requiredConsumable == true" style="color:red">Lütfen <b>bir</b> sarf malzeme seçiniz.</div>  
                    </div>
           
                <div class="row">
                  <div class="form-group col-md-6">
                    <div class="row">
                    <div class="form-group col-md-6">
                    <input [(ngModel)]="workStep.Quantity"  name="Quantity"  type="number" [class.is-invalid]="workStep.IsConsumableUsed == true && workStep.Quantity == null && insertConsumableProperties == true" onkeypress="return event.charCode >= 48" class="form-control" min="1" >
                    <div *ngIf="workStep.IsConsumableUsed == true && workStep.Quantity == null && insertConsumableProperties == true">
                      <div style="color:red">{{getLanguageValue('This_value_is_required')}}</div>                        
                    </div>
                    </div>
                    <div class="form-group col-md-6">
                      <div class="row" style="margin-top: 5px;">
                        <label>{{consumableCardUnit}}</label>
                        <div class="property-add-value" style="margin-left:5px">                    
                            <span class="tree-table-sign typcn icon-default typcn-plus" (click)="insertConsumableCardWithProperties()"></span>
                        </div> 
                      </div>  
                      </div>
                  </div>
                  </div>
                  <div class="form-group col-md-6">
                  </div>
                </div>
                <div class="row">
                  <table style="margin-right:15px; margin-left:15px">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Kullanılacak sarf malzeme</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let property of consumableCardsWithConsumableObject" >
                      <tr>
                        <td><i class="fas fa-angle-right"></i></td>
                        <td>{{property.properties}}</td>
                        <td (click)="deleteConsumable(property)">
                          <div class="property-add-value">                    
                            <span class='typcn icon-default typcn-minus'></span>
                          </div> 
                        </td>
                      </tr>
                    </ng-container>
                    </tbody>
                  </table>                        
                </div>
                <div style="color:red" *ngIf="errorMessage == true">Lütfen sarf malzeme bilgilerini tamamlayınız.</div>
                <div class="row justify-content-center">
                  <div *ngIf="visibleWorkStepButton;then updateWorkStep else insertWorkStep"></div>
                  <ng-template #insertWorkStep>
                    <button id="insertWorkStep" type="button" class="btn btn-az-primary small" style="margin-bottom: 5px" (click)="insertWorkStepToDataTableWorkStep(data)" *ngIf="isWaitingInsertWorkStep == false" >İş Adımı Ekle</button>
                    <div *ngIf="isWaitingInsertWorkStep == true" class="button-loader"></div>
                  </ng-template>
                  <ng-template #updateWorkStep>   
                    <div class="form-group">                
                        <button id="updateWorkStep" type="button" class="btn btn-az-primary small" style="margin-bottom: 5px" (click)="updateWorkStepToDataTableWorkStep(data)" *ngIf="isWaitingInsertWorkStep == false" >İş Adımını Güncelle</button>
                        <div *ngIf="isWaitingInsertWorkStep == true" class="button-loader"></div>          
                      </div>   
                      <div class="form-group">            
                        <button class="btn btn-az-primary small" style="margin-left:10px; background-color: #dc3545;" type="button" (click)="forgetUpdateData()">Vazgeç</button>
                      </div>
                    </ng-template>
                </div>
              </fieldset> 
            </div>
            <div class="form-group col-md-6">
                <fieldset class="field_set" style="padding-left: 10px; padding-right: 10px;">
                    <legend>{{workOrderCode}} No'lu İş Emrinin İş Adımları</legend>
                    <div class="form-group">
                        <tree-grid-table [dataTable]="dataTableWorkStep" (onDoubleClickItem)="onDoubleClickItem($event,item)"></tree-grid-table>
                      </div>
                      <div class="row justify-content-center">
                        <div class="form-group">
                        <div *ngIf="visibleWorkOrderButton;then insertMaintenance else updateMaintenance"></div>
                        <ng-template #insertMaintenance>
                            <div class="form-group">
                          <button id="insertWorkOrder" type="submit" class="btn btn-az-primary small" *ngIf="isWaitingInsertOrUpdate == false" [disabled]="disablebtnAddWorkOrder == false">İş Emrini Kaydet</button>
                          <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
                        </div>
                        </ng-template>
                        <ng-template #updateMaintenance>
                            <button id="updateWorkOrder" type="submit" class="btn btn-az-primary small" *ngIf="isWaitingInsertOrUpdate == false">İş Emrini Güncelle</button>
                            <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
                        </ng-template>
                        </div>
                      </div>
                  </fieldset>
              </div>       
          <!-- <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable">
          </tree-grid-table> -->
        </div>
      </form>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->

<!-- SİLME ONAY -->
<div class="modal" data-backdrop="static" id="modalShowDeletePopupForWorkStep" style=" overflow-y: hidden !important;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content tx-size-sm">
        <div class="modal-body tx-center pd-y-20 pd-x-20">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <i class="icon icon ion-ios-information-circle-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
          <h4 class="mg-b-20">{{getLanguageValue('Are_you_sure_you_want_to_delete')}}</h4>         
          <div class="row" style="margin-bottom:20px;">
            <div class="col-md-6" style="padding-right: 0px;">
              <button class="btn btn-az-danger" style="float:right; padding-left:32px; padding-right:32px;" data-dismiss="modal" data-toggle="modal" aria-label="Close" >{{getLanguageValue('Cancel')}}</button>        
            </div>
         
            <div class="col-md-6">        
            <button class="btn btn-az-primary" id="btnYes" type="button" style="padding: 5px 20px; padding-left: 37px;padding-right: 37px;" (click)="deleteWorkStep()">{{getLanguageValue('Delete')}}</button>
              </div>   
          </div>
  
        </div><!-- modal-body -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
