<div class="az-content">
  <div class="container">
    <div class="az-content-body">
      <!-- <div class="az-content-breadcrumb">
        <span>Table</span>
        <span>DataTables</span>
      </div> -->
      <h2 class="az-content-title">Departmanlar</h2>
      <div class="col-md-2 btnAddFixedAsset-right">
        <button
          class="btn btn-orange btn-block btnAddFixedAsset-height"
          id="btnAddFixedAsset"
          data-toggle="modal"
          data-target="#modalFixedAsset"
          (click)="LoadDropdownList()"
        >Departman Ekle
        </button>
      </div>
      <p class="mg-b-20"></p>

      <table
        id="tblFixedAsset"
        class="display responsive dataTables_wrapper dataTable no-footer dtr-inline table-bordered deneme"
        role="grid"
      >
        <thead>
          <tr>
            <th class="wd-15p sorting">Demirbaş Adı</th>
            <th class="wd-20p sorting">Demmirbaş Kategorisi</th>
            <th class="wd-15p sorting">Açıklama</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let fixedAsset of fixedAssets">
            <tr>
            <td ng-trim="false">{{fixedAsset.Name}}</td>
            <td ng-trim="false">{{fixedAsset.Category.Name}}</td>
            <td ng-trim="false">{{fixedAsset.Description}}</td>
          </tr>
          </ng-container>
        </tbody>
      </table>
      
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->
<app-footer></app-footer>

<div id="modalFixedAsset" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title model-title-center">Yeni departman oluşturmak için aşağıdaki alanları doldurunuz.</h6>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <h6>Yeni departman oluşturmak için aşağıdaki alanları doldurunuz.</h6> -->
        <form #data="ngForm" (ngSubmit)="InsertFixedAsset(data)" class="form-register">
          <div class="row">
              <label>*Departman Adı</label>
              <input type="text" id="Name" ngModel name="Name" required class="form-control txt-width" value=""/>
              <!-- <span class="help-block" *ngIf="registerForm.get('password').hasError('required')">İsim gereklidir.</span> -->
            </div>
            <div class="row">
              <label>*Açıklama</label>
              <input type="text" id="Description" ngModel name="Description" required class="form-control txt-width" value=""/>
              <!-- <span class="help-block" *ngIf="registerForm.get('password').hasError('required')">Soyisim gereklidir.</span>                 -->
            </div>
          <!-- form-group -->
          <div class="row">
              <label>*Bağlı Olduğu Departman</label>
              <select  id="ParentFixedAssetId" ngModel name="ParentFixedAssetId" required class="form-control txt-width" value="">
                  <option value="">Seçiniz</option>
                  <option *ngFor="let fixedAsset of fixedAssetsInAdd" value={{fixedAsset.FixedAssetId}}>
                    {{fixedAsset.Name}}
                  </option>   
              </select>
              <!-- <span class="help-block" *ngIf="registerForm.get('password').hasError('required')">Lokasyon gereklidir.</span> -->
             </div>
          <!-- form-group -->
          <div class="modal-footer">
              <button class="btn btn-orange btn-block btn-height" id="btnCreateFixedAsset" type="submit" data-toggle="modal" data-target="#modalInsertFixedAsset">Departman Ekle</button>       
            </div>
        </form>
      </div>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->



<!-- <script>
  $(function() {
    "use strict";

    // showing modal with effect
    $(".modal-effect").on("click", function(e) {
      e.preventDefault();
      var effect = $(this).attr("data-effect");
      $("#modaldemo8").addClass(effect);
    });

    // hide modal with effect
    $("#modaldemo8").on("hidden.bs.modal", function(e) {
      $(this).removeClass(function(index, className) {
        return (className.match(/(^|\s)effect-\S+/g) || []).join(" ");
      });
    });
  });
  $(document).ready( function () {
    $('#tblFixedAsset').DataTable({
        "columnDefs": [ {
            "type": "salary-grade",
            "targets": -1
        } ],
        "order": [[0,asc]]
      });
} );
</script> -->
