<div class="az-content">
  <div class="container">
    <div class="az-content-body">
      <h2 class="az-content-title">Demirbaş Kategorileri</h2>
      <div class="col-md-2 btnAddCategory-right">
        <button
          class="btn btn-orange btn-block btnAddCategory-height"
          id="btnAddCategory"
          data-toggle="modal"
          data-target="#modalFixedAssetCategory"
          (click)="loadDropdownList()"
        >Demirbaş Kategorisi Ekle
        </button>
      </div>
      <p class="mg-b-20"></p>

      <table class="tree-table">

        <thead>
          <tr>
            <th class="tree-table-sign"><span class="typcn icon-default typcn-cog-outline"></span></th>
            <th (click)="doOrder('Name')">İsim <span class="{{TGT_getOrderSign(order,'Name')}}"></span></th>
            <th (click)="doOrder('FixedAssetCardCategoryName')">Bağlı Olduğu Demirbaş Kategorisi <span class="{{TGT_getOrderSign(order,'FixedAssetCardCategoryName')}}"></span></th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <input type="text" placeholder="Demirbaş Kartı Adı" class="form-control" [(ngModel)]="filter.Name">
                </td>
                <td>
                    <input type="text" placeholder="Bağlı Olduğu Demirbaş Kartı" class="form-control" [(ngModel)]="filter.FixedAssetCardCategoryName">
                </td>
              </tr>
              <tr *ngFor="let data of dataSource">
                  <td class="tree-table-sign">
                    <span (click)=doCollapse(data) class='{{TGT_getSign(data)}}'></span> 
                  </td>
                  <td>{{data.Name}}</td>
                  <td>{{data.ParentCategory ? data.ParentCategory.Name : ''}}</td>
                </tr>
        </tbody>
      </table>
      
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->
<app-footer></app-footer>

<div id="modalFixedAssetCategory" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title model-title-center">Yeni demirbaş kategorisi oluşturmak için aşağıdaki alanları doldurunuz.</h6>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <h6>Yeni demirbaş kategorisi oluşturmak için aşağıdaki alanları doldurunuz.</h6> -->
    <form #data="ngForm" (ngSubmit)="InsertFixedAssetCardCategory(data)" class="form-register">
          <div class="row">
            <label>*Demirbaş Kategori Kodu</label>
            <input type="text" id="FixedAssetCardCategoryCode" ngModel name="FixedAssetCardCategoryCode" required class="form-control txt-width" value=""/>
          </div>    
          <div class="row">
              <label>*Demirbaş Kategori Adı</label>
              <input type="text" id="Name" ngModel name="Name" required class="form-control txt-width" value=""/>
            </div>
          <div class="row">
              <label>Bağlı Olduğu Demirbaş Kategorisi</label>
              <select  id="ParentFixedAssetCategoryId" ngModel name="ParentFixedAssetCategoryId" required class="form-control txt-width" value="">
                  <option value="">Seçiniz</option>
                  <option value="-1">Yok</option>
                  <option *ngFor="let fixedAssetCategories of fixedAssetCategoriesInAdd" value={{fixedAssetCategories.FixedAssetCategoriesId}}>
                    {{fixedAssetCategories.Name}}
                  </option>   
              </select>
             </div>
          <!-- form-group -->
          <div class="modal-footer">
              <button class="btn btn-orange btn-block btn-height" id="btnCreateFixedAssetCategory" type="submit" data-toggle="modal" data-target="#modalInsertFixedAssetCategory">Demirbaş Kategorisi Ekle</button>       
            </div>
        </form>
      </div>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->
