<div class="az-content az-content-dashboard-four">
    <div class="media media-dashboard">
      <div class="media-body">
        <!-- Bread Crumb -->
        <div class="az-content-breadcrumb">
          <span>{{getLanguageValue('Counting_Plans')}}</span>
        </div>
        <!-- END Bread Crumb END -->
        <div class="card card-dashboard-twelve mg-b-20">
          <div class="card-header" style="padding-bottom:0px;">
            <h2 class="az-content-title" style="margin-left:20px;">{{getLanguageValue('Counting_Plans')}}</h2>
            <div  class="justify-content:flex-end; display:flex" style="flex: 1; justify-content: flex-end; display: flex;">
              <div *ngIf="locationButton == true">
                <button class="btn btn-az-primary btn-change-location" (click)="doOperation(3)" style="margin-right:10px" data-toggle="tooltip" data-placement="bottom" title="{{getLanguageValue('Update_Location')}}" ><i class="fas fa-map-marker-alt"></i></button>
             
                <button class="btn btn-az-primary btn-change-location" id="btnUpdateLocations" data-toggle="modal" data-target="#modalUpdateDifferentLocation" style="display:none;margin-right:10px"><i class="fas fa-map-marker-alt"></i></button>

              </div>

              <div *ngIf="lostFixedAssetButton == true">
                <button class="btn btn-az-primary btn-lost-assets" (click)="doOperation(2)" style="margin-right:10px" data-toggle="tooltip" data-placement="bottom" title="{{getLanguageValue('Lost_Fixed_Asset')}}"><i class="fas fa-search-minus"></i></button>

                <button class="btn btn-az-primary btn-lost-assets" data-toggle="modal" data-target="#modalLostFixedAsset" id="btnLostFixedAsset" style="display:none; margin-right:10px"><i class="fas fa-search-minus"></i></button>
              </div>

               <div><span data-toggle="modal" data-target="#modalCycleCountPlan">
              <button *ngIf="visibleCycleCountPlan == true" class="btn btn-az-primary btn-create-assets" (click)="resetForm(data,true)" id="btnAddCycleCountPlan" style="margin-right:10px" data-toggle="tooltip" data-placement="bottom" title="{{getLanguageValue('Start_Counting')}}"><i class="fas fa-plus-circle"></i></button></span>
              </div>

              <div>
                <button *ngIf="visibleCycleCountPlan == true" class="btn btn-danger btn-exit-assets" (click)="doOperation(1)" style="margin-right:10px"  data-toggle="tooltip" data-placement="bottom" title="{{getLanguageValue('Finish_Counting')}}"><i
                class="fas fa-minus-circle"></i></button>

                <button class="btn btn-danger btn-exit-assets" id="btnCanceledCycleCountPlan" style="display:none; margin-right:10px" data-toggle="modal"
                data-target="#modalCanceledCycleCountPlan" ><i
                class="fas fa-minus-circle"></i></button>
              </div>

              <div>
                  <button type="button" (click)="refreshTable()" id="refreshTable" class="btn btn-success btn-refresh-custom" data-toggle="tooltip" data-placement="bottom" title="{{getLanguageValue('Refresh_Table')}}">
                      <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}"
                        [class.btn-refresh-loader]="isTableRefreshing == true"></i>
                    </button>
              </div>

              <div>
                <button class="btn btn-success btn-excel-custom" (click)="exportExcel()"
                data-toggle="tooltip" data-placement="bottom" title="Excel" style="margin-right:10px"><i
                [ngClass]="{'far fa-file-excel':isTableExporting == false}" [class.btn-refresh-loader]="isTableExporting == true"></i>
                </button>  
              </div>
            </div>
          </div>     
          <div class="card-body" style="padding-top:0px;">               
           <div class="card-body" style="padding-top:0px;">           
              <mat-tab-group style="margin-top:10px;" (selectedTabChange)="tabChanged($event)">
                  <mat-tab>
                    <ng-template mat-tab-label>
                      {{getLanguageValue('Counting_Plans')}}
                    </ng-template>     
                    <div class="sales-overview" style="flex-direction:column; padding-left:0px; padding-right:0px; margin-top:20px;">
                        <tree-grid-table [dataTable]="dataTable">
                        </tree-grid-table>
                    </div>          
                 
                  </mat-tab>

                  <mat-tab [disabled]="dataTable.TGT_getSelectedItems().length == 1 ? null : 'disabled'">
                   <ng-template mat-tab-label>
                    {{getLanguageValue('Counting_Details')}}
                   </ng-template>     
                    <div class="sales-overview" style="flex-direction:column; padding-left:0px; padding-right:0px; margin-top:20px;">
                        <tree-grid-table [dataTable]="dataTableCycleCountDetail">
                        </tree-grid-table>

                        <div class="table-info" class="table-info-without-margin" style="margin-left:22px">
                            {{pagingInfo}}
                          </div>
                          <!-- Pagination Side -->
                          <div class="table-pagination">
                            <!-- Per In Page Select area -->
                            <select class="table-pagination-select" (change)="loadCycleCountResult(perInPage,1,1)" [(ngModel)]="perInPage">
                              <option *ngFor="let perIn of dataTableCycleCountDetail.perInPages" value="{{perIn}}">{{perIn}}</option>
                              <option value="1000">{{getLanguageValue('All')}}</option>
                            </select>
                            <!-- END Per In Page Select area END -->
                            <!-- Paginations -->
                            <nav class="pagination-nav">
                              <ul class="pagination">
                                <ng-container *ngFor="let page of pages">
                                  <li class="page-item" [class.disabled]="page.isDisabled" [class.active]="page.isActive"><button
                                      (click)="loadCycleCountResult(perInPage,page.value,1)" class="page-link">{{page.display}}</button>
                                  </li>
                                </ng-container>
                              </ul>
                            </nav>
                            <!-- END Paginations END -->
                          </div>
                          <!-- END Pagination Side END -->
                      </div>              
                  </mat-tab>

                  <mat-tab [disabled]="dataTable.TGT_getSelectedItems().length == 1 ? null : 'disabled'">
                      <ng-template mat-tab-label>
                        {{getLanguageValue('Not_Found_In_Counting')}}
                      </ng-template>     
                       <div class="sales-overview" style="flex-direction:column; padding-left:0px; padding-right:0px; margin-top:20px;">
                           <tree-grid-table [dataTable]="dataTableNotFoundFixedAsset">
                           </tree-grid-table>
                           <div class="table-info" class="table-info-without-margin" style="margin-left:22px">{{pagingInfo}}
                              
                            </div>
                          <!-- Pagination Side -->
                          <div class="table-pagination">
                            <!-- Per In Page Select area -->
                            <select class="table-pagination-select" (change)="loadCycleCountResultNotFoundFixedAsset(perInPage,1)" [(ngModel)]="perInPage">
                              <option *ngFor="let perIn of dataTableNotFoundFixedAsset.perInPages" value="{{perIn}}">{{perIn}}</option>
                              <option value="1000">{{getLanguageValue('All')}}</option>
                            </select>
                            <!-- END Per In Page Select area END -->
                            <!-- Paginations -->
                            <nav class="pagination-nav">
                              <ul class="pagination">
                                <ng-container *ngFor="let page of pages">
                                  <li class="page-item" [class.disabled]="page.isDisabled" [class.active]="page.isActive"><button
                                      (click)="loadCycleCountResultNotFoundFixedAsset(perInPage,page.value)" class="page-link">{{page.display}}</button>
                                  </li>
                                </ng-container>
                              </ul>
                            </nav>
                            <!-- END Paginations END -->
                          </div>
                          <!-- END Pagination Side END -->
                         </div>              
                  </mat-tab>

                  <mat-tab [disabled]="dataTable.TGT_getSelectedItems().length == 1 ? null : 'disabled'">
                        <ng-template mat-tab-label>
                          {{getLanguageValue('Found_In_Different_Location')}}
                        </ng-template>     
                         <div class="sales-overview" style="flex-direction:column; padding-left:0px; padding-right:0px; margin-top:20px;">
                             <tree-grid-table [dataTable]="dataTableDifferenLocationFixedAsset">
                             </tree-grid-table>
                             <div class="table-info" class="table-info-without-margin" style="margin-left:22px">
                               {{pagingInfo}}
                              </div>
                                                       <!-- Pagination Side -->
                          <div class="table-pagination">
                            <!-- Per In Page Select area -->
                            <select class="table-pagination-select" (change)="loadCycleCountResult(perInPage,1,3)" [(ngModel)]="perInPage">
                              <option *ngFor="let perIn of dataTableDifferenLocationFixedAsset.perInPages" value="{{perIn}}">{{perIn}}</option>
                              <option value="1000">{{getLanguageValue('All')}}</option>
                            </select>
                            <!-- END Per In Page Select area END -->
                            <!-- Paginations -->
                            <nav class="pagination-nav">
                              <ul class="pagination">
                                <ng-container *ngFor="let page of pages">
                                  <li class="page-item" [class.disabled]="page.isDisabled" [class.active]="page.isActive"><button
                                      (click)="loadCycleCountResult(perInPage,page.value,3)" class="page-link">{{page.display}}</button>
                                  </li>
                                </ng-container>
                              </ul>
                            </nav>
                            <!-- END Paginations END -->
                          </div>
                          <!-- END Pagination Side END -->
                           </div>              
                  </mat-tab>

                  <mat-tab [disabled]="dataTable.TGT_getSelectedItems().length == 1 ? null : 'disabled'">
                    <ng-template mat-tab-label>
                      {{getLanguageValue('No_Record_In_System')}}
                    </ng-template>     
                     <div class="sales-overview" style="flex-direction:column; padding-left:0px; padding-right:0px; margin-top:20px;">
                         <tree-grid-table [dataTable]="dataTableNotRegisteredFixedAsset">
                         </tree-grid-table>
                         <div class="table-info" class="table-info-without-margin" style="margin-left:22px">
                           {{pagingInfo}}
                          </div>
                                                   <!-- Pagination Side -->
                      <div class="table-pagination">
                        <!-- Per In Page Select area -->
                        <select class="table-pagination-select" (change)="loadCycleCountResult(perInPage,1,4)" [(ngModel)]="perInPage">
                          <option *ngFor="let perIn of dataTableNotRegisteredFixedAsset.perInPages" value="{{perIn}}">{{perIn}}</option>
                          <option value="1000">{{getLanguageValue('All')}}</option>
                        </select>
                        <!-- END Per In Page Select area END -->
                        <!-- Paginations -->
                        <nav class="pagination-nav">
                          <ul class="pagination">
                            <ng-container *ngFor="let page of pages">
                              <li class="page-item" [class.disabled]="page.isDisabled" [class.active]="page.isActive"><button
                                  (click)="loadCycleCountResult(perInPage,page.value,4)" class="page-link">{{page.display}}</button>
                              </li>
                            </ng-container>
                          </ul>
                        </nav>
                        <!-- END Paginations END -->
                      </div>
                      <!-- END Pagination Side END -->
                       </div>              
                  </mat-tab>
              </mat-tab-group>
           </div>
          </div>
        </div>
      </div>
      <!-- az-content-body -->
    </div>
  </div>
  <!-- az-content -->
  
<!-- LARGE MODAL -->
<div id="modalCycleCountPlan" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">{{getLanguageValue('Enter_counting_informations')}}</h6>
        <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form" #data="ngForm" (ngSubmit)="onSubmit(data) && data.form.valid" novalidate>
        <div class="modal-body">
          <div class="row justify-content-center">
            <div class="form-group col-md-12">
              <label>{{getLanguageValue('Counting_No')}}</label>
              <input [(ngModel)]="cycleCountPlan.CycleCountPlanNo" name="CycleCountPlanNo" type="text" trim="blur"
              #CycleCountPlanNo="ngModel" [ngClass]="{ 'is-invalid': data.submitted && CycleCountPlanNo.invalid }" class="form-control" required>
              <div *ngIf="data.submitted && CycleCountPlanNo.invalid" class="invalid-feedback">
                <div *ngIf="CycleCountPlanNo.errors.required">{{getLanguageValue('This_value_is_required')}}</div>             
              </div>
            </div>
          </div> 
          <div class="row justify-content-center">       
            <div class="form-group col-md-6">
              <label>{{getLanguageValue('Start_Date')}}</label>
              <div class="input-group">
                <div class="input-group-append">
                  <div (click)="startTime.toggle()" class="input-group-text">
                    <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                  </div>
                </div>
                <input class="form-control" type="text" placeholder="yyyy/mm/dd" name="startTime"
                [(ngModel)]="cycleCountPlan.StartTime" ngbDatepicker #startTime="ngbDatepicker" #startTimeModel="ngModel"
                [class.is-invalid]="data.submitted && (!cycleCountPlan.StartTime || startTimeModel.status == 'INVALID' )"
                required/>      
                  <div *ngIf="data.submitted && startTimeModel.invalid" class="invalid-feedback">
                  <div *ngIf="startTimeModel.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
                  <div *ngIf="!startTimeModel.errors.required && startTimeModel.status == 'INVALID'">
                    {{getLanguageValue('Format_is_not_valid')}}
                  </div>
                </div> 
               </div>
            </div>
            <div class="form-group col-md-6">
                <label>{{getLanguageValue('End_Date')}}</label>
                <div class="input-group">
                  <div class="input-group-append">
                    <div (click)="endTime.toggle()" class="input-group-text">
                      <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                    </div>
                  </div>
                  <input class="form-control" type="text" placeholder="yyyy/mm/dd" name="endTime"
                  [(ngModel)]="cycleCountPlan.EndTime" ngbDatepicker #endTime="ngbDatepicker" #endTimeModel="ngModel"  
                  [class.is-invalid]="data.submitted && (!cycleCountPlan.EndTime || endTimeModel.status == 'INVALID' )"
                  required/> 
                  <div *ngIf="data.submitted && endTimeModel.invalid" class="invalid-feedback">
                    <div *ngIf="endTimeModel.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
                    <div *ngIf="!endTimeModel.errors.required && endTimeModel.status == 'INVALID'">
                      {{getLanguageValue('Format_is_not_valid')}}
                    </div>
                  </div> 
               </div>
              </div>
          </div>          
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
                <label>{{getLanguageValue('Duty_Name')}}</label>
                <input [(ngModel)]="cycleCountPlan.TaskName" name="TaskName" type="text" trim="blur" class="form-control"
                #TaskName="ngModel" [ngClass]="{ 'is-invalid': data.submitted && TaskName.invalid }" required>
                <div *ngIf="data.submitted && TaskName.invalid" class="invalid-feedback">
                  <div *ngIf="TaskName.errors.required">{{getLanguageValue('This_value_is_required')}}</div>             
                </div>
              </div>
           <div class="form-group col-md-6">
            <div>
              <label style="margin-bottom: 0;
              font-weight: 700;" >{{getLanguageValue('Counting_Location')}}</label>                
              <div style="display:flex;">
              <button id="btnLocation" (click)="toggleDropdown('location')" class="dropdown-button" [class.dropdown-button-valid]="data.submitted && !selectedLocation" type="button">{{dataTableLocation.TGT_getSelectedItems().length > 0 ? dataTableLocation.TGT_getSelectedItems().length +' '+ getLanguageValue('The_Location_Selected') : getLanguageValue('Choose') }}</button>
                <!-- <span class="span-dropdown" class="typcn icon-default typcn-times span-dropdown"></span> -->
              </div>   
              <div *ngIf="data.submitted && !selectedLocation" style="color:red">
                <div *ngIf="!selectedLocation">{{getLanguageValue('This_value_is_required')}}</div>
              </div>                  
            </div>                 
            <div class="custom-dropdown" *ngIf="isLocationDropdownOpen==true">
                <tree-grid-table  [dataTable]="dataTableLocation"></tree-grid-table>
              </div>     
            </div> 
          </div>
      
            <div class="row justify-content-center">
                <div class="form-group col-md-12">
                    <label>{{getLanguageValue('Description')}}</label>
                    <textarea [(ngModel)]="cycleCountPlan.Description" style="resize:none" name="Description" maxlength="150" class="form-control" type="text"></textarea>                
               </div>
              </div>
        </div>
        <!-- modal-body -->
        <div class="modal-footer">
          <button id="btnInsertCycleCountPlan" *ngIf="isWaitingInsertOrUpdate == false" type="submit"
          class="btn btn-az-primary">
          {{getLanguageValue('Add_Counting_Plan')}}
        </button>
          <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->

<div id="modalCanceledCycleCountPlan" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
<div class="modal-header">
  <h6 class="modal-title">{{getLanguageValue('Warning!')}}</h6>
  <button type="button" id="closePopup" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form name="form" #dataLost="ngForm" (ngSubmit)="lostFixedAsset(dataLost)">
    <div class="modal-body">
      <div>
        <p style="width:500px;">{{getLanguageValue('Choosen_countin_ plans_are_going_to_be_canceled_Do_you_accept_this_process!')}}</p>
      </div>
      <br>
      <div class="property-values-table">
        <tree-grid-table class="table-scroll" [dataTable]="dataTableCanceledPlan"></tree-grid-table>
      </div>
    </div>

    <!-- modal-body -->
    <div class="modal-footer">
        <button class="btn btn-az-danger" data-dismiss="modal" data-toggle="modal" aria-label="Close">{{getLanguageValue('No')}}</button>        
        <button class="btn btn-az-primary" id="btnCycleCountPlan" type="button" (click)="CancelCycleCountPlan()" style="padding: 5px 20px;">{{getLanguageValue('Yes')}}</button>
      <!-- <button class="btn btn-az-primary " data-dismiss="modal" style="width:150px; " data-toggle="modal" data-target="#modalLostFixedAsset">Evet</button> -->
    </div>
</form>
</div>
</div>
<!-- modal-dialog -->
</div>

<div id="modalLostFixedAsset" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
<div class="modal-header">
  <h6 class="modal-title">{{getLanguageValue('Warning!')}}</h6>
  <button type="button" id="closeLostFixedAssetPopup" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form name="form">
    <div class="modal-body">
      <div>
        <p>{{getLanguageValue('Choosen_fixed_assets_are_going_to_be_marked_as_lost') +''+getLanguageValue('Do_you_approve_this_process')}}</p>
      </div>
      <br>
    </div>

    <!-- modal-body -->
    <div class="modal-footer">
        <button class="btn btn-az-danger" data-dismiss="modal" data-toggle="modal" aria-label="Close">{{getLanguageValue('No')}}</button>        
        <button class="btn btn-az-primary" id="btnCycleCountPlan" type="button" (click)="UpdateNotFoundFixedAsset()" style="padding: 5px 20px;">{{getLanguageValue('Yes')}}</button>
      <!-- <button class="btn btn-az-primary " data-dismiss="modal" style="width:150px; " data-toggle="modal" data-target="#modalLostFixedAsset">Evet</button> -->
    </div>
</form>
</div>
</div>
<!-- modal-dialog -->
</div>

<div id="modalUpdateDifferentLocation" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
<div class="modal-header">
  <h6 class="modal-title">{{getLanguageValue('Warning!')}}</h6>
  <button type="button" id="closeDifferentLocationPopup" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form name="form">
    <div class="modal-body">
      <div>
        <p>Seçili demirbaşların lokasyonu, bulunan lokasyona göre güncellenecektir ve departmanları silinecektir. İşlemi onaylıyor musunuz?</p>
      </div>
      <br>
    </div>
    <!-- modal-body -->
    <div class="modal-footer">
        <button class="btn btn-az-danger" data-dismiss="modal" data-toggle="modal" aria-label="Close">{{getLanguageValue('No')}}</button>        
        <button class="btn btn-az-primary" id="btnCycleCountPlan" type="button" (click)="UpdateFindDifferentLocationsFixedassets()" style="padding: 5px 20px;">{{getLanguageValue('Yes')}}</button>
      <!-- <button class="btn btn-az-primary " data-dismiss="modal" style="width:150px; " data-toggle="modal" data-target="#modalLostFixedAsset">Evet</button> -->
    </div>
</form>
</div>
</div>
<!-- modal-dialog -->
</div>