<!-- <div class="row justify-content-center">
    <h6 class="modal-title">Çıkış işlemi için bilgileri giriniz.</h6>
  </div> -->

  <form name="form" #data="ngForm" (ngSubmit)="ChangeBarcode(data)">
    <div class="modal-body">
      <!-- <input type="hidden" name="TransactionLogId" [(ngModel)]="transactionLog.TransactionLogId" /> -->

        <!-- BARKOD -->
      <div class="row justify-content-center">
        <div class="col-md-12 form-group">
          <label>Barkod</label>
          <input name="Barcodes" value="{{faBarcode.Barcode}}" type="text" class="form-control" disabled/>          
        </div>
      </div>

         <!-- DEMİRBAŞ ADI -->
         <div class="row justify-content-center">
          <div class="col-md-12 form-group">
            <label>Demirbaş Adı</label>
            <input name="Name" value="{{faBarcode.FixedAssetCard.Name}}" type="text" class="form-control" disabled/>                        
          </div>
        </div>

        <!-- YENİ BARKOD -->
        <div class="row justify-content-center">
          <div class="col-md-12 form-group">
            <label>Yeni Barkod</label>
            <input [(ngModel)]="newBarcode" name="newBarcodes" type="text" class="form-control" #newBarcodes="ngModel" 
            [ngClass]="{ 'is-invalid': data.submitted && newBarcodes.invalid }" required/>
            <div *ngIf="data.submitted && newBarcodes.invalid" class="invalid-feedback">
                <div *ngIf="newBarcodes.errors.required">Bu alan zorunludur.</div>
              </div>            
          </div>
        </div>

  </div>

    <!-- modal-body -->
    <div class="modal-footer">
      <button class="btn btn-orange" id="btnChangeBarcode" type="submit" data-toggle="modal" data-target="#modalChangeBarcode">
        Kaydet
      </button>
      <!-- <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div> -->
    </div>
  </form>