<div class="az-signin-wrapper">
  <div class="az-card-signin">
    <div class="row justify-content-center">
      <h1 class="az-logo" style="margin-top:10px">
        <img src="\assets\img\trinoks-logo.png" />
      </h1>
    </div>
    <div class="row justify-content-center">
      <h2 style="color:darkgrey; font-size: large">Fats - Demirbaş Yönetim Sistemi</h2>
    </div>
    <div class="az-signin-header">
      <!-- form-group -->
      <form #loginForm="ngForm" (ngSubmit)="Login(loginForm)" novalidate>
        <div class="form-group">
          <label>E-posta</label>
          <input [(ngModel)]="loginUser.UserMail" name="UserMail" id="UserMail" #UserMail="ngModel"
            [ngClass]="{ 'is-invalid': loginForm.submitted && UserMail.invalid }"
            (focusout)="GetUserFirms(loginUser.UserMail)" type="text" class="form-control"
            placeholder="E-posta Adresinizi yazınız" required/>
        </div>
        <div class="form-group">
          <label>Şifre</label>
          <input type="password" #Password="ngModel" id="Password" name="Password" [(ngModel)]="loginUser.Password"
            [ngClass]="{ 'is-invalid': loginForm.submitted && Password.invalid }" type="password" class="form-control"
            placeholder="Şifrenizi giriniz" required />
        </div>

        <div id="userFirms" *ngIf="firms.length > 0" class="form-group">
          <label>Firma</label>
          <div *ngIf="isUserFirmsGetting == true" class="loader"></div>
          <select *ngIf="isUserFirmsGetting == false" name="firmId" [(ngModel)]="loginUser.FirmId"
            class="form-control select2-no-search">
            <option value="-1">Seçiniz</option>
            <option *ngFor="let firm of firms" value={{firm.FirmId}}>{{firm.Name}}</option>
          </select>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="btn-icon-list" style="margin-left: auto;margin-right: auto">
              <img src="../../../assets/img/tr.png" class="justify-content-center flags"
                [class.flags-active]="LANGUAGE == 'tr'" (click)="changeLanguage('tr')" />
              <img src="../../../assets/img/en.png" class="justify-content-center flags"
                [class.flags-active]="LANGUAGE == 'en'" (click)="changeLanguage('en')" />
            </div>
          </div>
        </div>
        <div id="WrongPassword" *ngIf="errorMessage != ''" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div><!-- alert -->
        <div *ngIf="isLoggining == true" class="loader"></div>
        <button *ngIf="isLoggining == false" class="btn btn-orange btn-block" id="loginbtn" type="submit">
          Giriş
        </button>
      </form>
      <!-- form-group -->
    </div>
    <!-- az-signin-header -->
    <div class="az-signin-footer">
    </div>
    <!-- az-signin-footer -->
  </div>
  <!-- az-card-signin -->
</div>
<!-- az-signin-wrapper -->

<!-- MODAL EFFECTS -->
<div #content id="forgotPasswordModal" class="modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Message Preview</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Why We Use Electoral College, Not Popular Vote</h6>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
          opposed to using 'Content here, content here', making it look like readable English. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-indigo">Save changes</button>
        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div><!-- modal-dialog -->
</div><!-- modal -->