.btn-orange{
background-color: #e67300;
color: white;
}

.flags {
    padding:2px;
    height:25px;
    width:30px;
    margin: 3px;
    margin-bottom: 0;
}

.flags-active {
    padding: 0;
    box-shadow: 0 0 10px #525252;
}

.az-card-signin {
    height: 500px;
}

.form-group > input {
    height: 30px !important;
}


.flag-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    margin-top: 5px;
}

#loginbtn {
    margin-top: 10px;
    font-size: 14px;
    padding: 0 !important;
    max-height: 30px;
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
    min-height: 32px;
    border-radius: 3px;
}

.alert-custom {
    height: 30px;
    padding: 0;
    padding-top: 4px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

@media (min-width: 480px) {
    .az-card-signin {
        border-radius: 4px;
        justify-content: space-between;
    }
}
.form-group > select {
    height: 30px;
    font-size: 13px;
    padding-top: 3px;
}