.btn-orange{
background-color: #e67300;
color: white;
}

.flags {
    padding:2px;
    height:25px;
    width:30px;
    margin: 3px;
    margin-bottom: 0;
}

.flags-active {
    padding: 0;
    box-shadow: 0 0 10px #525252;
}

.az-card-signin {
    height: 580px;
}

.az-card-signin-title {
    color:rgb(33, 34, 41);
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 1.21875rem;
}

.az-signin-footer a {
    font-size: 13px;
}

.az-signin-footer p {
    font-size: 13px;
}

.form-group > input {
    border-radius: 0;
    min-height: 38px;
}


.flag-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    margin-top: 5px;
}

#loginbtn {
    margin-top: 10px;
    font-size: 14px;
    padding: 0 !important;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    min-height: 38px;
    border-radius: 0px;
}

.alert-custom {
    height: 30px;
    padding: 0;
    padding-top: 4px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
}

@media (min-width: 480px) {
    .az-card-signin {
        justify-content: space-between;
    }
}
.form-group > select {
    height: 38px;
    font-size: 13px;
    padding-top: 3px;
}

.loader {
    margin-top:5px;
    margin-bottom: 5px;
}