
<div class="az-signin-wrapper">
  <div class="az-card-signin">
    <div>
      <h1 class="az-logo">fat<span>s<sup class="trade-mark">&reg;</sup></span>
        <span class="version">v6.0.100</span>
      </h1>
      <h2 _ngcontent-c4="" class="az-card-signin-title">{{getLanguageValue('Fixed_Asset_Management_System')}}</h2>
    </div>
    <div>
      <h2 class="welcome-title">{{getLanguageValue('Welcome')}}</h2>
      <h4 class="login-continue">{{getLanguageValue('Log_in_to_continue')}}</h4>
    </div>
    <div class="az-signin-header">
      <!-- form-group -->
      <form #loginForm="ngForm" (ngSubmit)="Login(loginForm)" novalidate>
        <div class="form-group">
          <input [(ngModel)]="loginUser.UserMail" name="UserMail" id="UserMail" autocomplete="off" #UserMail="ngModel"
            [ngClass]="{ 'is-invalid': loginForm.submitted && UserMail.invalid }"
            (focusout)="GetUserFirms(loginUser.UserMail)" type="email" class="form-control"
            placeholder="{{getLanguageValue('Enter_your_email')}}" required minlength="5" maxlength="50" />
          <div *ngIf="loginForm.submitted && UserMail.invalid" class="invalid-feedback">
            <div *ngIf="UserMail.errors.email">{{getLanguageValue('This_value_is_required')}}</div>
            <div *ngIf="UserMail.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
            <div *ngIf="UserMail.errors.minlength">Minimum 5 karakter giriniz.</div>
            <div *ngIf="UserMail.errors.maxlength">{{getLanguageValue('Only_can_enter_max_50_character')}}</div>
          </div>
        </div>
        <div class="form-group" style="margin-top: 19px;">
          <input type="password" #Password="ngModel" id="Password" name="Password" autocomplete="off"
            [(ngModel)]="loginUser.Password" [ngClass]="{ 'is-invalid': loginForm.submitted && Password.invalid }"
            type="password" class="form-control" placeholder="{{getLanguageValue('Ener_your_password')}}" minlength="1" maxlength="16"
            required />
          <div *ngIf="loginForm.submitted && Password.invalid" class="invalid-feedback">
            <div *ngIf="Password.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
            <div *ngIf="Password.errors.minlength">Minimum 1 karakter giriniz.</div>
            <div *ngIf="Password.errors.maxlength">Maksimum 16 karakter giriniz.</div>
          </div>
        </div>

        <div id="userFirms" class="form-group">
          <div *ngIf="isUserFirmsGetting == true">
            <div class="loader"></div>
          </div>
          <select *ngIf="isUserFirmsGetting == false && firms.length > 0" name="firmId" [(ngModel)]="loginUser.FirmId"
            class="form-control select2-no-search">
            <option value="-1">{{getLanguageValue('Choose_Firm')}}</option>
            <option *ngFor="let firm of firms" value={{firm.FirmId}}>{{firm.Name}}</option>
          </select>
        </div>
        <div id="WrongPassword" *ngIf="errorMessage != ''" class="alert alert-solid-danger alert-custom" role="alert">
          <b>Hata! </b>{{errorMessage}}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span></button>
        </div><!-- alert -->
        <div *ngIf="isLoggining == true">
          <div class="loader"></div>
        </div>
        <button *ngIf="isLoggining == false" class="btn btn-orange btn-block" id="loginbtn" type="submit">
            {{getLanguageValue('Log_in')}}
        </button>
        <div class="form-group" class="flag-area">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <div class="language-button">
                <div class="flag-image">
                  <img src="{{Language.ImageUrl}}" class="flags" />
                </div>
                <div class="flag-content">{{Language.Name}}</div>
              </div>
            </button>
            <div class="dropdown-menu">
              <ng-container *ngFor="let language of Languages">

                <button class="dropdown-item" (click)="changeLanguage(language.Culture)" type="button">
                  <div class="flag-image">
                    <img src="{{language.ImageUrl}}" class="flags" />
                  </div>
                  <div class="flag-content">{{language.Name}}</div>
                </button>

              </ng-container>
            </div>
          </div>
        </div>
      </form>
      <!-- form-group -->
    </div>
    <div class="az-signin-footer">
      <p><a class="forgetPassword" data-toggle="modal" data-target="#forgotPasswordModal"
          onclick="return false;">{{getLanguageValue('Forgot_Password')}}</a></p>
    </div>
  </div>
  <!-- az-card-signin -->
  <p class="copyright-text">
    <a href="http://www.trinoks.com/" target="_blank"><span>Trinoks Yazılım A.Ş.</span></a> tarafından geliştirilmiştir.
    İletişim için <a href="mailto:info@trinoks.com">buraya</a> tıklayınız.
  </p>
</div>
<!-- az-signin-wrapper -->

<!-- MODAL EFFECTS -->
<div #content id="forgotPasswordModal" class="modal">
  <form #recoveryForm="ngForm" (ngSubmit)="SendRecoveryCode(recoveryForm)">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title" *ngIf="resetPasswordSucceed == false">Şifremi yenile</h6>
          <h6 class="modal-title" *ngIf="resetPasswordSucceed == true">Şifre yenileme tamamlandı.</h6>
          <button type="button" id="closePopup" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="resetPasswordSucceed == true">
            <h6>Yeni şifreniz eposta adresinize gönderilmiştir.</h6>
        </div>
        <div class="modal-body" *ngIf="resetPasswordSucceed == false">
          <h6>Şifrenizi yenilemek için e-mailinizi giriniz</h6>
          <div class="form-group">
            <label class="required-span">E-Posta</label>
            <input class="form-control" [ngClass]="{ 'is-invalid': recoveryForm.submitted && email.invalid }"
              type="email" style="min-height:27px" name="email" email #email="ngModel" required
              [(ngModel)]="recoveryForm.email" />
            <div *ngIf="recoveryForm.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Bu alan zorunludur.</div>
              <div *ngIf="email.errors.email">Lütfen geçerli bir eposta giriniz.</div>
            </div>
          </div>
        </div>
        <div class="modal-footer" *ngIf="resetPasswordSucceed == false">
          <div *ngIf="isWaitingForResetPassword == true">
            <div class="loader"></div>
          </div>
          <button type="submit" *ngIf="isWaitingForResetPassword == false"
            class="btn btn-indigo">Gönder</button>
          <button type="button" *ngIf="isWaitingForResetPassword == false"
            class="btn btn-outline-light" data-dismiss="modal">Kapat</button>
        </div>
        <div class="modal-footer" *ngIf="resetPasswordSucceed == true">
          <button type="button" class="btn btn-outline-light" (click)="resetPasswordAreas(recoveryForm)" data-dismiss="modal">Kapat</button>
        </div>
      </div>
    </div><!-- modal-dialog -->
  </form>
</div><!-- modal -->