<div class="modal-header">
    <h6 class="modal-title">Dosya Düzenleme</h6>
    <button id="CloseModal" type="button" class="close" (click)="resetForm()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form name="form" #data="ngForm" >
      <div class="modal-body">
          <div>
              <div class="row justify-content-center">
                  <div class="form-group col-md-12"> 
                    <div ng2FileDrop
                    [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
                    (fileOver)="onFileSelected($event)"
                    [uploader]="uploader"
                    (onFileDrop)="onFileSelected($event)"
                    class="well my-drop-zone">
                    <input #fixedAssetFiles name="FixedAssetFiles" id="FixedAssetFiles" type="file" multiple (change)="onFileSelected($event)" style="display:none"/>
                    <label for="FixedAssetFiles" class="custom-files">
                      <label class="custom-file-text" for="FixedAssetFiles" style="margin-left: 450px; margin-top: 35px;">
                        Dosya eklemek için tıklayınız.
                      </label>  
                    </label>  
                    </div>
                  </div>
              </div>
                <div class="row justify-content-center">
                  <div class="form-group col-md-12">
                      <h3></h3>    
                      <!-- <div *ngIf="InsertOrDelete;then insertFile else deleteFile"></div> -->
                      <!-- <ng-template #deleteFile>  -->
                      <div class="property-values-table">        
                        <tree-grid-table [dataTable]="dataTableFile"></tree-grid-table>
                      </div>
                    <!-- </ng-template> -->

                    <!-- <ng-template #insertFile> 
                      <div class="property-values-table">        
                        <tree-grid-table [dataTable]="dataTableInsertFile"></tree-grid-table>
                      </div>
                    </ng-template> -->

                  </div>
                </div>
              </div>        
              <div class="row">      
              <div class="grp-btn-action" style="margin: 15px;">
                <button class="btn btn-orange" (click)="deleteFiles()" id="btnDeleteFile" style="background-color: #c82333;
                border-color: #bd2130;margin-right:10px">
                 Dosya Sil
                </button>
                <button class="btn btn-orange" (click)="insertFiles()" id="btnAddFile">
                  Dosya Ekle
                 </button>
              </div>
            </div>
      </div>
  </form>
