<div class="modal-header">
    <h6 class="modal-title">{{getLanguageValue('Insert_Delete_File')}}
    </h6>
    <button id="CloseModal" type="button" class="close" (click)="resetForm()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form name="form" #data="ngForm" >
      <div class="modal-body">
          <div>
              <div class="row justify-content-center">
                  <div class="form-group col-md-12"> 
                    <div ng2FileDrop
                    [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
                    (fileOver)="onFileSelected($event)"
                    [uploader]="uploader"
                    (onFileDrop)="onFileSelected($event)"
                    class="well my-drop-zone">
                    <input #fixedAssetFiles name="FixedAssetFiles" id="FixedAssetFiles" type="file" multiple (change)="onFileSelected($event)" style="display:none"/>
                    <label for="FixedAssetFiles" class="custom-files">
                      <label  for="FixedAssetFiles" style="margin-top: 40px">
                        {{getLanguageValue('Click_here_to_upload_file')}}
                      </label>  
                    </label>  
                    </div>
                  </div>
              </div>
                <div class="row justify-content-center">
                  <div class="form-group col-md-6">
                      <label>Var Olan Dosyalar</label>    
                      <!-- <div *ngIf="InsertOrDelete;then insertFile else deleteFile"></div> -->
                      <!-- <ng-template #deleteFile>  -->
                      <div class="property-values-table">        
                        <tree-grid-table [dataTable]="dataTableFile"></tree-grid-table>
                      </div>  
                  </div>
                  <div class="form-group col-md-6">
                    <label>Yeni Eklenecek Dosyalar</label>                          
                    <div class="property-values-table">        
                      <tree-grid-table [dataTable]="dataTableNewFile"></tree-grid-table>
                    </div>
                  </div>
                </div>
              </div>        
              <div class="row">      
              <div class="grp-btn-action" style="margin: 15px;">
                <button class="btn btn-orange" (click)="deleteFiles()" id="btnDeleteFile" style="background-color: #c82333;
                border-color: #bd2130;margin-right:10px">
                 Dosya Sil
                </button>
                <button class="btn btn-orange" (click)="insertFiles($event)" id="btnAddFile">
                  {{getLanguageValue('Add_File')}}
                 </button>
              </div>
            </div>
      </div>
  </form>
