  <div class="modal-header">
    <h6 class="modal-title">{{getLanguageValue('Warning!')}}</h6>
    <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <form name="form" #data="ngForm" (ngSubmit)="lostFixedAsset(data)">
      <div class="modal-body">
        <div>
          <p style="width:500px;">{{getLanguageValue('Choosen_fixed_assets_are_going_to_marked_as_lost_and_move_to_the_Lost_Fixed_List') + " " +getLanguageValue('Are_you_sure_you_want_to_perform_the_operation')}} </p>
        </div>
        <br>
        <div class="property-values-table">
          <tree-grid-table class="table-scroll" [dataTable]="dataTable"></tree-grid-table>
        </div>
      </div>
  
      <!-- modal-body -->
      <div class="modal-footer">
          <button class="btn btn-az-danger" data-dismiss="modal" data-toggle="modal" aria-label="Close">{{getLanguageValue('No')}}</button>        
          <button class="btn btn-az-primary" id="btnLost" type="submit" data-toggle="modal" data-target="#modalLostFixedAsset" style="padding: 5px 20px;">{{getLanguageValue('Yes')}}</button>
        <!-- <button class="btn btn-az-primary " data-dismiss="modal" style="width:150px; " data-toggle="modal" data-target="#modalLostFixedAsset">Evet</button> -->
      </div>
  </form>