<div class="modal-header">
  <h6 class="modal-title">{{getLanguageValue('Enter_information_about_changing_department')}}</h6>
  <button id="CloseModal" (click)="resetForm(data)" type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form name="form" #data="ngForm" (ngSubmit)="onSubmit(data)" novalidate>
  <div class="modal-body">
    <!-- BARKOD -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>{{getLanguageValue('Barcode')}}</label>
        <input name="Barcodes" value="{{ faBarcode.Barcode }}" type="text" class="form-control" disabled />
      </div>
    </div>

    <!-- DEMİRBAŞ ADI -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>{{getLanguageValue('Fixed_Asset_Card_Name')}}</label>
        <input name="Name" value="{{ faBarcode.FixedAssetCard == null ? null : faBarcode.FixedAssetCard.Name }}" type="text" class="form-control" disabled />
      </div>
    </div>

    <!-- ESKİ DEPARTMAN -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>{{getLanguageValue('Department')}}</label>
        <input name="DepartmentName" value="{{ faBarcode.Department == null ? null : faBarcode.Department.Name }}" type="text" class="form-control"
          disabled />
      </div>
    </div>

      <div class="row justify-content-center">
        <div class="col-md-12 form-group">
          <div>
              <label class="required-span" style="margin-bottom: 0;
              font-weight: 700;" >{{getLanguageValue('Department')}}</label>
              <div style="display:flex;">
              <button id="btnDepartment" (click)="toggleDropdown('department')" class="dropdown-button" type="button"  
              [class.dropdown-button-valid]="data.submitted && !selectedDepartment"  required>{{selectedDepartment ? selectedDepartment.Name : getLanguageValue('Choose') }}</button>
                <span class="span-dropdown"  (click)="resetDropdown('department')" class="typcn icon-default typcn-times span-dropdown"></span>
              </div>
              <div *ngIf="data.submitted && !selectedDepartment" style="color:red">
                <div *ngIf="!selectedDepartment">{{getLanguageValue('This_value_is_required')}}</div>
              </div>
          </div>
          <div class="custom-dropdown" *ngIf="isDepartmentDropdownOpen==true">
                  <tree-grid-table (onClickItem)="onClickDepartment($event,item)" [dataTable]="dataTableDepartment"></tree-grid-table>
          </div>
    </div>
  </div>   

  </div>



  <!-- modal-body -->
  <div class="modal-footer">
    <button *ngIf="isWaitingInsertOrUpdate == false" class="btn btn-orange" id="btnChangeDepartment" type="submit">
      {{getLanguageValue('Save')}}
    </button>
    <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
  </div>
</form>

 <!-- GÜNCELLEME ONAY -->

 <div class="modal" data-backdrop="static" id="modalShowQuestionPopupForChangeDepartment" style=" overflow-y: hidden !important;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content tx-size-sm">
        <div class="modal-body tx-center pd-y-20 pd-x-20">
              <button type="button" class="close" (click)="closeChangeDepartmentPopup()">
           <span aria-hidden="true">&times;</span>
          </button>
          <i class="icon icon ion-ios-information-circle-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
          <h4 class="mg-b-20">{{getLanguageValue('Warning!')}}</h4>
          <p class="mg-b-20 mg-x-20">{{getLanguageValue('Selected_department_will_be_changed')}}</p>
     
          <div class="row" style="margin-bottom:20px;">
            <div class="col-md-6" style="padding-right: 0px;">
                <button class="btn btn-az-danger" style="float:right;" (click)="closeChangeDepartmentPopup()" >{{getLanguageValue('Cancel')}}</button>        
             
              <!-- <button class="btn btn-az-danger" (click)="closeChangeLocationPopup()"  style="float:right; padding-left:32px; padding-right:32px;" data-dismiss="modal" data-toggle="modal" aria-label="Close" >{{getLanguageValue('Cancel')}}</button>         -->
            </div>
         
            <div class="col-md-6">        
            <button class="btn btn-az-primary" id="btnYes" type="submit" style="padding: 5px 20px;" (click)="ChangeDepartment(data)">{{getLanguageValue('Update')}}</button>
              </div>   
          </div>
  
        </div><!-- modal-body -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
