<div class="az-content az-content-dashboard-four">
    <div class="media media-dashboard">
      <div class="media-body">
        <!-- Bread Crumb -->
          <div class="az-content-breadcrumb">
            <span>TANIMLAMALAR</span>
            <span>MASRAF YERLERİ</span>
        </div>
      <div class="card card-dashboard-twelve mg-b-20">
          <div class="card-header">
        <h2 class="az-content-title" style="margin-left:0">Masraf Yerleri</h2>
        <div class="grp-btn-action">

          <button type="button" (click)="exportAsExcelFile(dataTable)" class="btn btn-success btn-excel-custom">
            <i [ngClass]="{'far fa-file-excel':isTableExporting == false}" [class.btn-refresh-loader]="isTableExporting == true"></i>
          </button>
          
          <button type="button" (click)="refreshTable()" class="btn btn-success btn-refresh-custom">
            <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}" [class.btn-refresh-loader]="isTableRefreshing == true"></i>
          </button>

          <button type="button" (click)="deleteExpenseCenters()" class="btn btn-danger btn-delete-custom">
            {{dataTable.TGT_getSelectedItems().length > 0 ? dataTable.TGT_getSelectedItems().length : '' }}
            <i class="fas fa-trash"></i>
          </button>
          
          <button class="btn btn-az-primary" id="btnAddExpenseCenter" (click)="resetForm(data,true)"
            data-toggle="modal" data-target="#modalExpenseCenter">Masraf Yeri Ekle
          </button>

          <button style="display:none" (click)="resetForm(data,false)" id="btnEditExpenseCenter" data-toggle="modal"
            data-target="#modalExpenseCenter">Masraf Yeri Düzenle
          </button>

        </div>
        </div>
        <div class="sales-overview">
        <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>
        </div>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->

<!-- LARGE MODAL -->
<div id="modalExpenseCenter" class="modal" data-backdrop="static">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Masraf yeri bilgilerini giriniz.</h6>
        <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form" #data="ngForm" (ngSubmit)="OnSubmit(data) && data.form.invalid" novalidate>
        <div class="modal-body">
            <input type="hidden" name="ExpenseCenterId" [(ngModel)]="expenseCenter.ExpenseCenterId" />
          <div class="row justify-content-center">
            <div class="col-md-12 form-group">
              <label class="required-span">Kod</label>
              <input [(ngModel)]="expenseCenter.ExpenseCenterCode" name="ExpenseCenterCode" type="text"
                class="form-control" #ExpenseCenterCode="ngModel"
                [ngClass]="{ 'is-invalid': data.submitted && Name.invalid }" required />
              <div *ngIf="data.submitted && ExpenseCenterCode.invalid" class="invalid-feedback">
                <div *ngIf="ExpenseCenterCode.errors.required">Bu alan zorunludur.</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-12 form-group">
              <label class="required-span">Masraf Yeri</label>
              <input [(ngModel)]="expenseCenter.Name" name="Name" type="text" class="form-control" #Name="ngModel"
                [ngClass]="{ 'is-invalid': data.submitted && Name.invalid }" required />
              <div *ngIf="data.submitted && Name.invalid" class="invalid-feedback">
                <div *ngIf="Name.errors.required">Bu alan zorunludur.</div>
              </div>
            </div>
          </div>
        </div>
        <!-- modal-body -->
        <div class="modal-footer">
          <button id="btnInsertOrUpdateExpenseCenter" type="submit" class="btn btn-az-primary"
            data-toggle="modal" *ngIf="isWaitingInsertOrUpdate == false"
            data-target="#modalInsertExpenseCenter">{{expenseCenter.ExpenseCenterId ? 'Masraf Yerini Güncelle' : 'Masraf Yeri Ekle'}}</button>
          <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->