<div class="az-content">
  <div class="container">
    <div class="az-content-body">
      
      <h2 class="az-content-title">Kişiler</h2>
      <div class="col-md-2 btnAddUser-right">
        <button
          class="btn btn-orange btn-block btnAddUser-height"
          id="btnAddUser"
          data-toggle="modal"
          data-target="#modalUser"
          (click)="loadDropdownList()"
        >Kişi Ekle
        </button>
      </div>

      <p class="mg-b-20"></p>
      <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->
<app-footer></app-footer>

<div id="modalUser" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title model-title-center">Yeni kullanıcı oluşturmak için aşağıdaki alanları doldurunuz.</h6>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <h6>Yeni kullanıcı oluşturmak için aşağıdaki alanları doldurunuz.</h6> -->
        <form #data="ngForm" (ngSubmit)="insertUser(data)" class="form-register">
          <div class="row">
            <div class="col-sm-6">
              <label>*İsim</label>
              <input type="text" id="FirstName" ngModel name="FirstName" required class="form-control txt-width" value="Edoş"/>
            </div>
            <div class="col-sm-6">
              <label>*Soyisim</label>
              <input type="text" id="LastName" ngModel name="LastName" required class="form-control txt-width" value="Ekiz"/>
            </div>
          </div>
          <!-- form-group -->
          <div class="row">
            <div class="col-sm-6">
              <label>*Departman</label>
                <select  id="DepartmentId" ngModel name="DepartmentId" required class="form-control txt-width" value="">
                    <option value="">Seçiniz</option>
                    <option value="1">Yok</option>
                    <option *ngFor="let department of departments" value={{department.DepartmentId}}>
                      {{department.Name}}
                    </option>   
                </select>
            </div>
            <div class="col-sm-6">
              <label>*Lokasyon</label>
              <select  id="LocationId" ngModel name="LocationId" required class="form-control txt-width" value="">
                  <option value="">Seçiniz</option>
                  <option *ngFor="let location of locations" value={{location.LocationId}}>
                    {{location.Name}}
                  </option>   
              </select>
            </div>
          </div>
          <!-- form-group -->
          <div class="row">
            <div class="col-sm-6"> 
              <label>*Unvan</label>
              <input type="text" id="UserTitle" ngModel name="UserTitle" required class="form-control txt-width" value="Jr."/>
            </div>
            <div class="col-sm-6">
              <label>*Şirket</label>
              <select  id="FirmId" ngModel name="FirmId" required class="form-control txt-width" value="">
                  <option value="">Seçiniz</option>
                  <option *ngFor="let firm of firms" value={{firm.FirmId}}>
                    {{firm.Name}}
                  </option>
              </select>
            </div>           
          </div>
          <!-- form-group -->
          <div  class="row">
              <div class="col-sm-6">
                  <label>*Rol</label>
                <select  id="RoleId" ngModel name="RoleId" required class="form-control txt-width" value="1">
                    <option value="">Seçiniz</option>
                    <option *ngFor="let role of roles" value={{role.RoleId}}>
                      {{role.Name}}
                    </option>   
                </select>
              </div> 
              <div class="col-sm-6">
                  <label>*Şifre</label>
                  <input type="password" id="Password" ngModel name="Password" required class="form-control txt-width" value=""/>
                </div>
          </div>
          <!-- form-group -->   
          <div  class="row">
            <div class="col-sm-6">
                <label>Bağlı Olduğu Kişi</label>
              <select  id="ParentUserId" ngModel name="ParentUserId" required class="form-control txt-width" value="">
                  <option value="">Seçiniz</option>
                  <option *ngFor="let user of users" value={{user.userId}}>
                    {{user.FirstName + ' ' + user.LastName}}
                  </option>
              </select>
            </div> 
            <div class="col-sm-6">
                <label>Telefon</label>
                <input type="number" id="PhoneNumber" ngModel name="PhoneNumber" required class="form-control txt-width" value="05369998877"/>
             </div>
        </div>
        <!-- form-group -->          
          <div class="row">
              <div class="col-sm-12">
                  <label>*E-posta</label>
                  <input type="email" id="UserMail" ngModel name="UserMail" required class="form-control txt-width" value="b.a@trinoks.com"/>
                </div>
          </div>
          <!-- form-group -->          
          <div class="row">
            
          </div>
          <div class="modal-footer">
              <button class="btn btn-orange btn-block btn-height" id="btnCreateUser" type="submit" data-toggle="modal" data-target="#modalInsertUser">Kişi Ekle</button>       
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->
<script>
  $(function() {
    "use strict";

    // showing modal with effect
    $(".modal-effect").on("click", function(e) {
      e.preventDefault();
      var effect = $(this).attr("data-effect");
      $("#modaldemo8").addClass(effect);
    });

    // hide modal with effect
    $("#modaldemo8").on("hidden.bs.modal", function(e) {
      $(this).removeClass(function(index, className) {
        return (className.match(/(^|\s)effect-\S+/g) || []).join(" ");
      });
    });
  });
  $(document).ready( function () {
    $('#tblUser').DataTable({
        "columnDefs": [ {
            "type": "salary-grade",
            "targets": -1
        } ],
        "order": [[0,asc]]
      });
} );
</script>
