<div class="az-content az-content-dashboard-four">
  <div class="media media-dashboard">
    <div class="media-body">
      <!-- Bread Crumb -->
      <div class="az-content-breadcrumb">
          <span>TANIMLAMALAR</span>
          <span>KULLANICILAR</span>
      </div>
      <div class="card card-dashboard-twelve mg-b-20">
          <div class="card-header">
          <h2 class="az-content-title">KULLANICILAR</h2>
          <div class="grp-btn-action">
            <button type="button" (click)="deleteUsers()" class="btn btn-danger btn-delete-custom">
              {{dataTable.TGT_getSelectedItems().length > 0 ? dataTable.TGT_getSelectedItems().length : "" }}
              <i class="fas fa-trash"></i></button>
            <button class="btn btn-az-primary" id="btnAddUser" data-toggle="modal" data-target="#modalUser"
              (click)="resetForm(data,true)">
            <i class="fa fa-plus-circle fa-plus-circle-add"></i>
              Kişi Ekle
            </button>
            <button style="display:none" id="btnEditUser" data-toggle="modal" data-target="#modalUser"
              (click)="resetForm(data,false)">Kişiyi Düzenle
            </button>
          </div>
        </div>
        <p class="mg-b-20"></p>
        <div class="sales-overview">
        <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>
      </div>
      </div>
      <!-- az-content-body -->
    </div>
  </div>
</div>

<div id="modalUser" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Yeni kullanıcı oluşturmak için aşağıdaki alanları doldurunuz.</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #data="ngForm" (ngSubmit)="onSubmit(data) && !data.form.invalid" class="form-register">
        <div class="modal-body">
            <div class="row justify-content-center">
              <div class="form-group col-md-12">
                <label class="required-span">Kullanıcı Kodu</label>
                <input type="text" [(ngModel)]="currentUser.UserCode"
                  [ngClass]="{ 'is-invalid': data.submitted && UserCode.invalid }" #UserCode="ngModel" name="UserCode"
                  required class="form-control" maxlength="50" />
                <div *ngIf="data.submitted && FirstName.invalid" class="invalid-feedback">
                  <div *ngIf="UserCode.errors.required">Bu alan zorunludur.</div>
                  <div *ngIf="UserCode.errors.maxlength">Maksimum 50 karakter giriniz.</div>                
                </div>
              </div>
            </div>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label class="required-span">İsim</label>
              <input type="text" [(ngModel)]="currentUser.FirstName"
                [ngClass]="{ 'is-invalid': data.submitted && FirstName.invalid }" #FirstName="ngModel" name="FirstName"
                required class="form-control" maxlength="50" />
              <div *ngIf="data.submitted && FirstName.invalid" class="invalid-feedback">
                <div *ngIf="FirstName.errors.required">Bu alan zorunludur.</div>
                <div *ngIf="FirstName.errors.maxlength">Maksimum 50 karakter giriniz.</div>                
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="required-span">Soyisim</label>
              <input type="text" [(ngModel)]="currentUser.LastName" #LastName="ngModel"
                [ngClass]="{ 'is-invalid': data.submitted && LastName.invalid }" name="LastName" required
                class="form-control" maxlength="50" />
              <div *ngIf="data.submitted && LastName.invalid" class="invalid-feedback">
                <div *ngIf="LastName.errors.required">Bu alan zorunludur.</div>
                <div *ngIf="LastName.errors.maxlength">Maksimum 50 karakter giriniz.</div>                                
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label class="required-span">Departman</label>
              <select #DepartmentId="ngModel" name="DepartmentId" required class="form-control"
                [(ngModel)]="currentUser.DepartmentId"
                [ngClass]="{ 'is-invalid': data.submitted && DepartmentId.invalid }">
                <option [ngValue]="null">Seçiniz</option>
                <option *ngFor="let department of departments" value={{department.DepartmentId}}>
                  {{department.Name}}
                </option>
              </select>
              <div *ngIf="data.submitted && DepartmentId.invalid" class="invalid-feedback">
                <div *ngIf="DepartmentId.errors.required">Bu alan zorunludur.</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="required-span">Lokasyon</label>
              <select #LocationId="ngModel" name="LocationId" required class="form-control"
                [(ngModel)]="currentUser.LocationId" [ngClass]="{ 'is-invalid': data.submitted && LocationId.invalid }">
                <option [ngValue]="null">Seçiniz</option>
                <option *ngFor="let location of locations" [ngValue]="location.LocationId">
                  {{location.Name}}
                </option>
              </select>
              <div *ngIf="data.submitted && LocationId.invalid" class="invalid-feedback">
                <div *ngIf="LocationId.errors.required">Bu alan zorunludur.</div>
              </div>
            </div>
          </div>
          <!-- form-group -->
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label class="required-span">Unvan</label>
              <input type="text" #UserTitle="ngModel" name="UserTitle" required class="form-control"
                [(ngModel)]="currentUser.UserTitle" maxlength="50" [ngClass]="{ 'is-invalid': data.submitted && UserTitle.invalid }" />
              <div *ngIf="data.submitted && UserTitle.invalid" class="invalid-feedback">
                <div *ngIf="UserTitle.errors.required">Bu alan zorunludur.</div>
                <div *ngIf="UserTitle.errors.maxlength">Maksimum 50 karakter giriniz.</div>                                
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="required-span">Şirket</label>
              <select #FirmId="ngModel" [(ngModel)]="currentUser.FirmId" name="FirmId" required class="form-control"
                [ngClass]="{ 'is-invalid': data.submitted && FirmId.invalid }">
                <option [ngValue]="null">Seçiniz</option>
                <option *ngFor="let firm of firms" value={{firm.FirmId}}>
                  {{firm.Name}}
                </option>
              </select>
              <div *ngIf="data.submitted && FirmId.invalid" class="invalid-feedback">
                <div *ngIf="FirmId.errors.required">Bu alan zorunludur.</div>
              </div>
            </div>
          </div>
          <!-- form-group -->
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label class="required-span">Rol</label>
              
              <ng-multiselect-dropdown
              [placeholder]="'Seçiniz'"
              [data]="roles"
              [settings]="dropdownSettings"
              (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>

              <div *ngIf="data.submitted && RoleId.invalid" class="invalid-feedback">
                <div *ngIf="RoleId.errors.required">Bu alan zorunludur.</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="required-span">E-posta</label>
              <input type="email" name="UserMail" #UserMail="ngModel" required maxlength="50" class="form-control"
                [(ngModel)]="currentUser.UserMail" [ngClass]="{ 'is-invalid': data.submitted && UserMail.invalid }" />
              <div *ngIf="data.submitted && UserMail.invalid" class="invalid-feedback">
                <div *ngIf="UserMail.errors.required">Bu alan zorunludur.</div>
                <div *ngIf="UserMail.errors.maxlength">Maksimum 50 karakter giriniz.</div>                                
              </div>
            </div>
          </div>
          <!-- form-group -->
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label class="required-span">Şifre</label>
              <input type="password" #Password="ngModel" maxlength="16" name="Password" required class="form-control"
                [(ngModel)]="currentUser.Password"
                [ngClass]="{ 'is-invalid': data.submitted && (Password.invalid || (!PasswordConfirm.invalid && !Password.invalid && Password.value != PasswordConfirm.value)) }" />
              <div *ngIf="data.submitted && Password.invalid" class="invalid-feedback">
                <div *ngIf="Password.errors.required">Bu alan zorunludur.</div>
                <div *ngIf="Password.errors.maxlength">Maksimum 16 karakter giriniz.</div>                                
              </div>
              <div
                *ngIf="data.submitted && !PasswordConfirm.invalid && !Password.invalid && Password.value != PasswordConfirm.value"
                class="invalid-feedback">
                <div>Şifreleriniz Uyuşmamaktadır.</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="required-span">Şifre Tekrar</label>
              <input type="password" maxlength="16" #PasswordConfirm="ngModel" ngModel name="PasswordConfirm" required
                class="form-control"
                [ngClass]="{ 'is-invalid': data.submitted && (PasswordConfirm.invalid || (!PasswordConfirm.invalid && !Password.invalid && Password.value != PasswordConfirm.value))  }" />
              <div *ngIf="data.submitted && PasswordConfirm.invalid" class="invalid-feedback">
                <div *ngIf="PasswordConfirm.errors.required">Bu alan zorunludur.</div>
                <div *ngIf="PasswordConfirm.errors.maxlength">Maksimum 16 karakter giriniz.</div>                                
              </div>
            </div>
          </div>
          <!-- form-group -->
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label>Telefon</label>
              <input type="text" name="PhoneNumber" class="form-control" [(ngModel)]="currentUser.PhoneNumber" />
            </div>
            <div class="form-group col-md-6">
              <label>Bağlı Olduğu Kişi</label>
              <select [(ngModel)]="currentUser.ParentUserId" name="ParentUserId" class="form-control">
                <option [ngValue]="null">Seçiniz</option>
                <option *ngFor="let user of users" value={{user.UserId}}>
                  {{user.FirstName + ' ' + user.LastName}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-az-primary" id="btnCreateUser" type="submit" data-toggle="modal"
            data-target="#modalInsertUser"
            *ngIf="isWaitingInsertOrUpdate == false">{{currentUser.UserId ? 'Kullanıcıyı Güncelle' : 'Kullanıcı Ekle'}}</button>
          <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->