<div class="az-content az-content-dashboard-four">
  <div class="media media-dashboard">
    <div class="media-body">
      <!-- Bread Crumb -->
      <div class="az-content-breadcrumb">
        <span>TANIMLAMALAR</span>
        <span>SÖZLEŞMELER</span>
      </div>
      <!-- END Bread Crumb END -->
      <div class="card card-dashboard-twelve mg-b-20">
        <div class="card-header">
          <h2 class="az-content-title">Sözleşmeler</h2>
          <div class="grp-btn-action">

            <button type="button" (click)="exportAsExcelFile(dataTable)" class="btn btn-success btn-excel-custom">
              <i [ngClass]="{'far fa-file-excel':isTableExporting == false}"
                [class.btn-refresh-loader]="isTableExporting == true"></i>
            </button>

            <button type="button" (click)="refreshTable()" class="btn btn-success btn-refresh-custom">
              <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}"
                [class.btn-refresh-loader]="isTableRefreshing == true"></i>
            </button>

            <button type="button" (click)="deleteAgreements()" class="btn btn-danger btn-delete-custom">
              {{dataTable.TGT_getSelectedItems().length > 0 ? dataTable.TGT_getSelectedItems().length: ""}}
              <i class="fas fa-trash"></i>
            </button>
            <button class="btn btn-az-primary" (click)="resetForm(data,true)" id="btnAddAgreement" data-toggle="modal"
              data-target="#modalAgreement">
              Sözleşme Ekle
            </button>
            <button style="display:none" (click)="resetForm(data,false)" id="btnEditAgreement" data-toggle="modal"
              data-target="#modalAgreement">
              Sözleşmeyi Düzenle
            </button>
          </div>
        </div>
        <p class="mg-b-20"></p>
        <div class="sales-overview">
          <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event, item)" [dataTable]="dataTable">
          </tree-grid-table>
        </div>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->

<!-- LARGE MODAL -->
<div id="modalAgreement" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Sözleşme bilgilerini giriniz.</h6>
        <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form" #data="ngForm" (ngSubmit)="onSubmit(data) && data.form.valid" novalidate>
        <div class="modal-body">
          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label class="required-span">Sözleşme No</label>
              <input [(ngModel)]="agreement.No" name="No" type="text" trim="blur" class="form-control" #No="ngModel"
                [ngClass]="{ 'is-invalid': data.submitted && No.invalid }" required maxlength="50" />
              <div *ngIf="data.submitted && No.invalid" class="invalid-feedback">
                <div *ngIf="No.errors.required">Bu alan zorunludur.</div>
                <div *ngIf="No.errors.maxlength">Maksimum 50 karakter giriniz.</div>

              </div>
            </div>
            <!-- SÖZLEŞME ADI -->
            <div class="form-group col-md-6">
              <label class="required-span">Sözleşme Adı</label>
              <input [(ngModel)]="agreement.Name" name="Name" type="text" trim="blur" class="form-control" #Name="ngModel"
                [ngClass]="{ 'is-invalid': data.submitted && Name.invalid }" required maxlength="50" />
              <div *ngIf="data.submitted && Name.invalid" class="invalid-feedback">
                <div *ngIf="Name.errors.required">Bu alan zorunludur.</div>
                <div *ngIf="Name.errors.maxlength">Maksimum 50 karakter giriniz.</div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <!-- SÖZLEŞME KODU -->
            <div class="form-group col-md-6">
              <label class="required-span">Sözleşme Kodu</label>
              <input [(ngModel)]="agreement.AgreementCode" #AgreementCode="ngModel" name="AgreementCode" type="text" trim="blur"
                class="form-control" [ngClass]="{ 'is-invalid': data.submitted && AgreementCode.invalid }" required
                maxlength="50" />
              <div *ngIf="data.submitted && AgreementCode.invalid" class="invalid-feedback">
                <div *ngIf="AgreementCode.errors.required">Bu alan zorunludur.</div>
                <div *ngIf="AgreementCode.errors.maxlength">Maksimum 50 karakter giriniz.</div>
              </div>
            </div>
            <!-- İLGİLİ ŞİRKET -->
            <div class="form-group col-md-6">
              <label class="required-span">İlgili Şirket</label>
              <select [(ngModel)]="agreement.CompanyId" name="CompanyId" class="form-control"
                [ngClass]="{ 'is-invalid': data.submitted && CompanyId.invalid }" (click)="loadCompanies()" required
                #CompanyId="ngModel">
                <option [ngValue]="null">Seçiniz</option>
                <option *ngFor="let company of companies" value="{{ company.CompanyId }}">
                  {{ company.Name }}
                </option>
              </select>
              <div *ngIf="data.submitted && CompanyId.invalid" class="invalid-feedback">
                <div *ngIf="CompanyId.errors.required">Bu alan zorunludur.</div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <!-- BAŞLANGIÇ TARİHİ -->
            <div class="col-md-6 form-group">
              <label class="required-span">Başlangıç Tarihi</label>
              <div class="input-group">
                <div class="input-group-append"
                  [class.is-invalid]="data.submitted && (!agreement.StartDate || startDateModel.status == 'INVALID' )">
                  <div (click)="startDate.toggle()" class="input-group-text">
                    <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                  </div>
                </div>
                <input class="form-control" type="text" placeholder="yyyy-mm-dd" name="startDate"
                  [(ngModel)]="agreement.StartDate" ngbDatepicker #startDate="ngbDatepicker" #startDateModel="ngModel"
                  [class.is-invalid]="data.submitted && (!agreement.StartDate || startDateModel.status == 'INVALID' )"
                  required>
                <div *ngIf="data.submitted && startDateModel.invalid" class="invalid-feedback">
                  <div *ngIf="startDateModel.errors.required">Bu alan zorunludur.</div>
                  <div *ngIf="!startDateModel.errors.required && startDateModel.status == 'INVALID'">
                    Lütfen Geçerli Format Giriniz.
                  </div>
                </div>
              </div>
            </div>
            <!-- BİTİŞ TARİHİ -->
            <div class="form-group col-md-6">
              <label class="required-span">Bitiş Tarihi</label>
              <div class="input-group">
                <div class="input-group-append"
                  [class.is-invalid]="data.submitted && (!agreement.EndDate || endDateModel.status == 'INVALID' )">
                  <div (click)="endDate.toggle()" class="input-group-text">
                    <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                  </div>
                </div>
                <input class="form-control" type="text" placeholder="yyyy-mm-dd" name="endDate"
                  [(ngModel)]="agreement.EndDate" ngbDatepicker #endDate="ngbDatepicker" #endDateModel="ngModel"
                  [class.is-invalid]="data.submitted && (!agreement.EndDate || endDateModel.status == 'INVALID' )"
                  required />
                <div *ngIf="data.submitted && endDateModel.invalid" class="invalid-feedback">
                  <div *ngIf="endDateModel.errors.required">Bu alan zorunludur.</div>
                  <div *ngIf="!endDateModel.errors.required && endDateModel.status == 'INVALID'">
                    Lütfen Geçerli Format Giriniz.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <!-- TUTAR -->
            <div class="form-group col-md-6">
              <label>Tutar</label>
              <input [(ngModel)]="agreement.Price" name="Price" maxlength="18" #Price="ngModel" type="text"
                class="form-control"
                [ngClass]="{ 'is-invalid': data.submitted && (Price.invalid || !isNumeric(Price.value)) && Price.value }" />
              <div *ngIf="data.submitted && ((Price.invalid || !isNumeric(Price.value)) && Price.value)"
                class="invalid-feedback">
                <div>Lütfen Geçerli Bir Sayı Giriniz.</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Dosya</label>
              <div class="file-area">
                <input #agreementFile name="AgreementFile" (change)="changeFile($event)" id="AgreementFile" type="file" class="form-control-file" style="display:none">
                <label for="AgreementFile" class="custom-file">
                  <label class="custom-file-text" for="AgreementFile">
                    {{agreementFiles.length > 0 ? agreementFiles[0].name : agreement.AgreementFile ? agreement.AgreementFile : 'Dosya Seçiniz'}}
                  </label>
                </label>
                <label class="custom-file-remove" (click)="clearFiles()"><span class="fa fa-times"></span></label>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <!-- AÇIKLAMA -->
            <div class="col-md-12">
              <div class="form-group">
                <label>Açıklama</label>
                <textarea [(ngModel)]="agreement.Description" #Description="ngModel" style="resize:none"
                  name="Description" maxlength="150" class="form-control"
                  [ngClass]="{ 'is-invalid': data.submitted && Description.invalid }" type="text"></textarea>
                <div *ngIf="data.submitted && Description.invalid" class="invalid-feedback">
                  <div *ngIf="Description.errors.maxlength">Maksimum 150 karakter giriniz.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <!-- BİLDİRİM GÖNDERİLSİN -->
            <div class="col-md-12">
              <div class="form-group">
                <label class="ckbox">
                  <input type="checkbox" [checked]="agreement.IsNotificationOn"
                    (change)="agreement.IsNotificationOn = !agreement.IsNotificationOn"
                    name="IsNotificationOn" /><span>Bildirim gönderilsin.</span>
                </label>
              </div>
            </div>
          </div>


        </div>
        <!-- modal-body -->
        <div class="modal-footer">
          <button id="btnInsertOrUpdateAgreement" *ngIf="isWaitingInsertOrUpdate == false" type="submit" class="btn btn-az-primary">
            {{agreement.AgreementId ? 'Sözleşmeyi Güncelle' : 'Sözleşme Ekle'}}
          </button>
          <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->