<div class="az-content az-content-dashboard-four">
    <div class="media media-dashboard">
      <div class="media-body">
        <!-- Bread Crumb -->
          <div class="az-content-breadcrumb">
              <span>TANIMLAMALAR</span>
              <span>SÖZLEŞMELER</span>
          </div>
        <!-- END Bread Crumb END -->
      <div class="card card-dashboard-twelve mg-b-20">
          <div class="card-header">
        <h2 class="az-content-title">Sözleşmeler</h2>
        <div class="grp-btn-action">
          <button type="button" (click)="deleteAgreements()" class="btn btn-danger btn-delete-custom">
            {{dataTable.TGT_getSelectedItems().length > 0 ? dataTable.TGT_getSelectedItems().length: ""}}
            <i class="fas fa-trash"></i>
          </button>
          <button class="btn btn-az-primary" (click)="resetForm(data,true)" id="btnAddAgreement"
            data-toggle="modal" data-target="#modalAgreement">
            Sözleşme Ekle
          </button>
          <button style="display:none" (click)="resetForm(data,false)" id="btnEditAgreement" data-toggle="modal"
            data-target="#modalAgreement">
            Sözleşmeyi Düzenle
          </button>
        </div>
        </div>
        <p class="mg-b-20"></p>
        <div class="sales-overview">
        <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event, item)" [dataTable]="dataTable">
        </tree-grid-table>
        </div>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->

<!-- LARGE MODAL -->
<div id="modalAgreement" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Sözleşme bilgilerini giriniz.</h6>
        <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form" #data="ngForm" (ngSubmit)="onSubmit(data) && data.form.valid" novalidate>
        <div class="modal-body">

          <input type="hidden" name="AgreementId" [(ngModel)]="agreement.AgreementId" />

          <div class="row justify-content-center">
              <div class="form-group col-md-6">
                <label class="required-span">Sözleşme No</label>
                <input [(ngModel)]="agreement.No" name="No" type="text" class="form-control" #No="ngModel"
                  [ngClass]="{ 'is-invalid': data.submitted && No.invalid }" required />
                <div *ngIf="data.submitted && No.invalid" class="invalid-feedback">
                  <div *ngIf="No.errors.required">Bu alan zorunludur.</div>
                </div>
            </div>
            <!-- SÖZLEŞME ADI -->
            <div class="form-group col-md-6">
                <label>Sözleşme Adı</label>
                <input [(ngModel)]="agreement.Name" name="No" type="text" class="form-control"
                  #Name="ngModel" />
            </div>
          </div>

          <div class="row justify-content-center">
            <!-- SÖZLEŞME KODU -->
            <div class="form-group col-md-6">
                <label>Sözleşme Kodu</label>
                <input [(ngModel)]="agreement.AgreementCode" name="AgreementCode" type="text"
                  class="form-control" />
            </div>
            <!-- İLGİLİ ŞİRKET -->
            <div class="form-group col-md-6">
              <label>İlgili Şirket</label>
              <select [(ngModel)]="agreement.CompanyId" name="CompanyId" class="form-control"
                (click)="loadCompanies()">
                <option value="">Seçiniz</option>
                <option *ngFor="let company of companies" value="{{ company.CompanyId }}">
                  {{ company.Name }}
                </option>
              </select>
            </div>
          </div>

          <div class="row justify-content-center">
            <!-- BAŞLANGIÇ TARİHİ -->
            <div class="col-md-6 form-group">
                <label class="required-span">Başlangıç Tarihi</label>
                <div class="input-group">
                  <div class="input-group-append">
                    <div (click)="startDate.toggle()" class="input-group-text">
                      <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                    </div>
                  </div>
                  <input class="form-control" type="text" placeholder="yyyy-mm-dd"
                      name="startDate" required [(ngModel)]="agreement.StartDate" ngbDatepicker #startDate="ngbDatepicker">
                  <div *ngIf="data.submitted && startDate.invalid" class="invalid-feedback">
                    <div *ngIf="startDate.errors.required">Bu alan zorunludur.</div>
                  </div>
                </div>

            </div>
            <!-- BİTİŞ TARİHİ -->
            <div class="form-group col-md-6">
                <label class="required-span">Bitiş Tarihi</label>
                <div class="input-group">
                  <div class="input-group-append">
                    <div (click)="endDate.toggle()" class="input-group-text">
                      <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                    </div>
                  </div>
                  <input class="form-control" type="text" placeholder="yyyy-mm-dd"
                      name="endDate" required [(ngModel)]="agreement.EndDate" ngbDatepicker #endDate="ngbDatepicker">
                  <div *ngIf="data.submitted && endDate.invalid" class="invalid-feedback">
                    <div *ngIf="endDate.errors.required">Bu alan zorunludur.</div>
                  </div>
                </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <!-- TUTAR -->
            <div class="form-group col-md-6">
                <label>Tutar</label>
                <input [(ngModel)]="agreement.Price" name="Price" type="text" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label>Dosya</label>
                <input #agreementFile name="AgreementFile" type="file"
                  class="form-control-file" (change)="upload(agreementFile.files)">
            </div>
          </div>

          <div class="row justify-content-center">
            <!-- AÇIKLAMA -->
            <div class="col-md-12">
              <div class="form-group">
                <label>Açıklama</label>
                <textarea [(ngModel)]="agreement.Description" style="resize:none" name="Description" class="form-control"
                  type="text"></textarea>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <!-- BİLDİRİM GÖNDERİLSİN -->
            <div class="col-md-12">
              <div class="form-group">
                <label class="ckbox">
                  <input type="checkbox" [(ngModel)]="agreement.IsNotificationOn"
                    name="IsNotificationOn" /><span>Bildirim gönderilsin.</span>
                </label>
              </div>
            </div>
          </div>


        </div>
        <!-- modal-body -->
        <div class="modal-footer">
          <button id="btnInsertOrUpdateAgreement" type="submit" class="btn btn-az-primary"
            (click)="upload(agreementFile.files)">{{agreement.AgreementId ? 'Sözleşmeyi Güncelle' : 'Sözleşme Ekle'}}</button>
          <!-- <button type="button" data-dismiss="modal" class="btn btn-outline-light btn-modal-close">Kapat</button> -->
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->