<div class="az-content">
  <div class="container-fluid">
    <div class="az-content-body">
      <div class="card card-dashboard-twelve mg-b-20">
        <h2 class="az-content-title">Sözleşmeler</h2>
        <div class="grp-btn-action">
          <button type="button" (click)="deleteAgreements()" class="btn btn-danger btn-delete-custom">
            {{dataTable.TGT_getSelectedItems().length > 0 ? dataTable.TGT_getSelectedItems().length: ""}}
            <i class="fas fa-trash"></i>
          </button>
          <button class="btn btn-orange btn-new-custom" (click)="resetForm(data,true)" id="btnAddAgreement"
            data-toggle="modal" data-target="#modalAgreement">
            Sözleşme Ekle
          </button>
          <button style="display:none" (click)="resetForm(data,false)" id="btnEditAgreement" data-toggle="modal"
            data-target="#modalAgreement">
            Sözleşmeyi Düzenle
          </button>
        </div>
        <p class="mg-b-20"></p>
        <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event, item)" [dataTable]="dataTable">
        </tree-grid-table>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->

<!-- LARGE MODAL -->
<div id="modalAgreement" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Sözleşme bilgilerini giriniz.</h6>
        <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form" #data="ngForm" (ngSubmit)="onSubmit(data) && data.form.valid" novalidate>
        <div class="modal-body">

          <input type="hidden" name="AgreementId" [(ngModel)]="agreement.AgreementId" />

          <div class="row justify-content-center">
            <!-- SÖZLEŞME NO -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Sözleşme No</label>
                <input [(ngModel)]="agreement.No" name="No" type="text" class="form-control txt-width" #No="ngModel"
                  [ngClass]="{ 'is-invalid': data.submitted && No.invalid }" required />
                <div *ngIf="data.submitted && No.invalid" class="invalid-feedback">
                  <div *ngIf="No.errors.required">Bu alan zorunludur.</div>
                </div>
              </div>
            </div>
            <!-- SÖZLEŞME ADI -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Sözleşme Adı</label>
                <input [(ngModel)]="agreement.Name" name="No" type="text" class="form-control txt-width"
                  #Name="ngModel" />
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <!-- SÖZLEŞME KODU -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Sözleşme Kodu</label>
                <input [(ngModel)]="agreement.AgreementCode" name="AgreementCode" type="text"
                  class="form-control txt-width" />
              </div>
            </div>
            <!-- İLGİLİ ŞİRKET -->
            <div class="col-md-6">
              <div class="form-group">
                <label>İlgili Şirket</label>
                <select [(ngModel)]="agreement.CompanyId" name="CompanyId" class="form-control txt-width"
                  (click)="loadCompanies()">
                  <option value="">Seçiniz</option>
                  <option *ngFor="let company of companies" value="{{ company.CompanyId }}">
                    {{ company.Name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <!-- BAŞLANGIÇ TARİHİ -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Başlangıç Tarihi</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                    </div>
                  </div>
                  <input id="datepicker" [(ngModel)]="agreement.StartDate" name="StartDate" type="text"
                    class="form-control" #StartDate="ngModel"
                    [ngClass]="{'is-invalid': data.submitted && StartDate.invalid}" required placeholder="MM/DD/YYYY">
                </div>
                <div *ngIf="data.submitted && StartDate.invalid" class="invalid-feedback">
                  <div *ngIf="StartDate.errors.required">Bu alan zorunludur.</div>
                </div>
              </div>
            </div>
            <!-- BİTİŞ TARİHİ -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Bitiş Tarihi</label>
                <input [(ngModel)]="agreement.EndDate" name="EndDate" type="datetime" class="form-control txt-width"
                  #EndDate="ngModel" [ngClass]="{ 'is-invalid': data.submitted && EndDate.invalid }" required />
                <div *ngIf="data.submitted && EndDate.invalid" class="invalid-feedback">
                  <div *ngIf="EndDate.errors.required">Bu alan zorunludur.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- TUTAR -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Tutar</label>
                <input [(ngModel)]="agreement.Price" name="Price" type="text" class="form-control txt-width" />
              </div>
            </div>
            <!-- DOSYA YÜKLE -->
            <!-- <div class="col-md-6">
                    <div class="form-group ">
                      <label>Dosya Yükle</label>
                      <input [(ngModel)]="agreement.AgreementFile" name="AgreementFile" type="file" class="form-control txt-width"/>
                    </div>
                </div> -->
          </div>

          <div class="row justify-content-center">
            <!-- DOSYA YÜKLE -->
            <div class="col-sm-12">
              <div class="custom-file">
                <input [(ngModel)]="agreement.AgreementFile" #agreementFile name="AgreementFile" type="file"
                  class="form-control-file txt-width" (change)="upload(agreementFile.files)">
                <!-- <label class="custom-file-label" for="customFile">Dosya Seç</label> -->
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <!-- AÇIKLAMA -->
            <div class="col-md-12">
              <div class="form-group">
                <label>Açıklama</label>
                <textarea [(ngModel)]="agreement.Description" name="Description" class="form-control txt-width"
                  type="text"></textarea>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <!-- BİLDİRİM GÖNDERİLSİN -->
            <div class="col-md-12">
              <div class="form-group justify-content-center">
                <label class="ckbox">
                  <input type="checkbox" [(ngModel)]="agreement.IsNotificationOn"
                    name="IsNotificationOn" /><span>Bildirim gönderilsin.</span>
                </label>
              </div>
            </div>
          </div>


        </div>
        <!-- modal-body -->
        <div class="modal-footer">
          <button id="btnInsertOrUpdateAgreement" type="submit" class="btn btn-orange btn-block btn-height"
            data-toggle="modal" data-target="#modalAgreement" (click)="upload(agreementFile.files)">Kaydet</button>
          <!-- <button type="button" data-dismiss="modal" class="btn btn-outline-light btn-modal-close">Kapat</button> -->
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->