.btn-orange {
  background: #e67300;
  color: white;
  float: right;
  border-radius: 0px;
}
.btnAgreement-height {
  min-height: 15px;
}
.btnAgreement-right {
  float: right;
  margin-bottom:10px;
  padding-right:0px;
}
.left {
  margin-left: 90px;
}
.txt-width{
  height:30px;
}
.btn-height{
min-height:15px;
}
