<div class="az-content">
    <div class="container-fluid">
      <div class="az-content-body">
        <div class="card card-dashboard-twelve mg-b-20">
          <h2 class="az-content-title">Demirbaş Kart Özellikleri</h2>
          <div class="grp-btn-action">
            <button type="button" (click)="deleteFixedAssetCardProperties()" class="btn btn-danger btn-delete-custom">
              {{dataTable.TGT_getSelectedItems().length > 0 ? dataTable.TGT_getSelectedItems().length : '' }}
              <i class="fas fa-trash"></i></button>
            <button class="btn btn-orange btn-new-custom" id="btnAddFixedAssetCardProperty" data-toggle="modal"
              data-target="#modalFixedAssetCardProperty" (click)="resetForm(data,true)">Özellik Ekle
            </button>
            <button style="display:none" id="btnEditFixedAssetCardProperty" data-toggle="modal"
              data-target="#modalFixedAssetCardProperty" (click)="resetForm(data,false)">Kategori Düzenle
            </button>
          </div>
          <p class="mg-b-20"></p>
          <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>
        </div>
      </div>
      <!-- az-content-body -->
    </div>
  </div>
  
  <!-- LARGE MODAL -->
  <div id="modalFixedAssetCardProperty" class="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">Demirbaş özellik bilgilerini giriniz.</h6>
          <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form #data="ngForm" (ngSubmit)="onSubmit(data)" class="form-register">
          <div class="modal-body">
            <input type="hidden" name="FixedAssetCardPropertyId"
              [(ngModel)]="fixedAssetCardProperty.FixedAssetCardPropertyId" />

              <!-- ÖZELLİK KODU -->
            <div class="row justify-content-center">
              <div class="form-group col-md-12">
                <label class="required-span">Özellik Kodu</label>
                <input [(ngModel)]="fixedAssetCardProperty.FixedAssetCardPropertyCode" name="FixedAssetCardPropertyCode"
                  type="text" class="form-control"
                  [ngClass]="{ 'is-invalid': data.submitted && FixedAssetCardPropertyCode.invalid }"
                  #FixedAssetCardPropertyCode="ngModel" required />
                <div *ngIf="data.submitted && FixedAssetCardPropertyCode.invalid" class="invalid-feedback">
                  <div *ngIf="FixedAssetCardPropertyCode.errors.required">Bu alan zorunludur.</div>
                </div>
              </div>
            </div>

            <!-- KATEGORİ ADI -->
            <div class="row justify-content-center">              
              <div class="form-group col-md-12">
                <label class="required-span">Kategori Adı</label>
                <input [(ngModel)]="fixedAssetCardPropertyCode.Name" name="Name" type="text" class="form-control"
                  #Name="ngModel" [ngClass]="{ 'is-invalid': data.submitted && Name.invalid }" required />
                <div *ngIf="data.submitted && Name.invalid" class="invalid-feedback">
                  <div *ngIf="Name.errors.required">Bu alan zorunludur.</div>
                </div>
              </div>
            </div>

            <!-- ÖZELLİK TİPİ -->
            <div class="row justify-content-center">
              <div class="form-group col-md-12">
                <label>Özellik Tipi</label>
                <select [(ngModel)]="fixedAssetCardPropertyCode.FixedAssetCardPropertyTypeId"
                  name="FixedAssetCardPropertyTypeId" class="form-control" (click)="loadFixedAssetCardPropertyTypes()">
                  <option value="">Yok</option>
                  <option *ngFor="let fixedAssetCardPropertyType of fixedAssetCardPropertyTypes"
                    value={{fixedAssetCardPropertyType.FixedAssetPropertyTypeId}}>
                    {{fixedAssetCardPropertyType.Name}}
                  </option>
                </select>
              </div>
            </div>

              <!-- ÖZELLİK DEĞERİ -->
              <div class="row justify-content-center">
                  <div class="form-group col-md-12">
                    <label>Özellik Değeri</label>
                    <input [(ngModel)]="fixedAssetCardProperty.FixedAssetCardProperty" name="FixedAssetCardPropertyCode" type="text" class="form-control" #FixedAssetCardPropertyCode="ngModel" />
                  </div>
              </div>

              <!-- TEKİL Mİ? -->
              <div class="row justify-content-center">
                  <div class="col-md-12">
                    <div class="form-group justify-content-center">
                      <label class="ckbox">
                        <input type="checkbox" [(ngModel)]="fixedAssetCardProperty.IsUnique"
                          name="IsUnique" /><span>Tekil mi?</span>
                      </label>
                    </div>
                  </div>
                </div>

          </div>
          <!-- modal-body -->
          
          <div class="modal-footer">
            <button class="btn btn-orange" id="btnInsertOrUpdateFixedAssetCardProperty" type="submit" data-toggle="modal"
              data-target="#modalInsertFixedAssetProperty" *ngIf="isWaitingInsertOrUpdate == false">
              {{fixedAssetCardProperty.FixedAssetCardPropertyId ?  'Demirbaş Özelliği Güncelle' : 'Demirbaş Kategorisi Ekle'}}
            </button>
            <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
          </div>
        </form>
      </div>
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- modal -->