.btn-orange {
  background: #e67300;
  color: white;
  border-radius: 5px;
}
.btnAddCategory-height {
  min-height: 15px;
}
.btnAddCategory-right {
  float: right;
  margin-bottom: 10px;
  padding-right: 0px;
}
.left {
  margin-left: 90px;
}
.txt-width {
  border-radius: 5px;
  height: 30px;
}
.btn-height {
  min-height: 15px;
}

 .flexProperty{
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  padding-bottom:10px;
}
.table-scroll{
height: 50px;
overscroll-behavior-y: contain;
overflow-y: scroll;
}