<div class="az-content az-content-dashboard-four">
  <div class="media media-dashboard">
    <div class="media-body">
      <!-- Bread Crumb -->
      <div class="az-content-breadcrumb">
        <span>{{getLanguageValue('Definitions')}}</span>
        <span>{{getLanguageValue('Fixed_Asset_Card_Properties')}}</span>
      </div>
      <!-- END Bread Crumb END -->
      <div class="card card-dashboard-twelve mg-b-20">
        <div class="card-header">

          <h2 class="az-content-title">{{getLanguageValue('Fixed_Asset_Card_Properties')}}</h2>
          <div class="grp-btn-action">

            <button type="button" (click)="exportAsExcelFile(dataTable)" class="btn btn-success btn-excel-custom">
              <i [ngClass]="{'far fa-file-excel':isTableExporting == false}"
                [class.btn-refresh-loader]="isTableExporting == true"></i>
            </button>

            <button type="button" (click)="refreshTable()" class="btn btn-success btn-refresh-custom">
              <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}"
                [class.btn-refresh-loader]="isTableRefreshing == true"></i>
            </button>

            <button type="button" *ngIf="IsAuthForDelete==true" data-toggle="modal" data-target="#modalShowDeletePopupForFixedAssetCardProperty"
              class="btn btn-danger btn-delete-custom">
              {{dataTable.TGT_getSelectedItems().length > 0 ? dataTable.TGT_getSelectedItems().length : '' }}
              <i class="fas fa-trash"></i></button>

            <button class="btn btn-az-primary" *ngIf="IsAuthForInsert==true" id="btnAddFixedAssetCardProperty"
              data-toggle="modal" data-target="#modalFixedAssetCardProperty" (click)="resetForm(data,true)">{{getLanguageValue('Add_Fixed_Asset_Card_Property_Name')}}
            </button>

            <button style="display:none" *ngIf="IsAuthForEdit==true" id="btnEditFixedAssetCardProperty"
              data-toggle="modal" data-target="#modalFixedAssetCardProperty" (click)="resetForm(data,false)">Özellik
              Düzenle
            </button>

          </div>
        </div>
        <div class="sales-overview">
          <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable">
          </tree-grid-table>
        </div>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>

<!-- LARGE MODAL -->
<div id="modalFixedAssetCardProperty" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">{{getLanguageValue('Enter_fixed_asset_card_property_informations')}}</h6>
        <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #data="ngForm" (ngSubmit)="onSubmit(data)" class="form-register">
        <div class="modal-body">
          <!-- ÖZELLİK KODU -->
          <div class="row justify-content-center">
            <div class="form-group col-md-12">
              <label class="required-span">{{getLanguageValue('Fixed_Asset_Card_Property_Code')}}</label>
              <input [(ngModel)]="fixedAssetCardProperty.FixedAssetCardPropertyCode" name="FixedAssetCardPropertyCode"
                type="text" trim="blur" class="form-control"
                [ngClass]="{ 'is-invalid': data.submitted && FixedAssetCardPropertyCode.invalid }"
                #FixedAssetCardPropertyCode="ngModel" required />
              <div *ngIf="data.submitted && FixedAssetCardPropertyCode.invalid" class="invalid-feedback">
                <div *ngIf="FixedAssetCardPropertyCode.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
              </div>
            </div>
          </div>

          <!-- ÖZELLİK ADI -->
          <div class="row justify-content-center">
            <div class="form-group col-md-12">
              <label class="required-span">{{getLanguageValue('Fixed_Asset_Card_Property_Name')}}</label>
              <input [(ngModel)]="fixedAssetCardProperty.Name" name="Name" type="text" trim="blur" class="form-control"
                #Name="ngModel" [ngClass]="{ 'is-invalid': data.submitted && Name.invalid }" required />
              <div *ngIf="data.submitted && Name.invalid" class="invalid-feedback">
                <div *ngIf="Name.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
              </div>
            </div>
          </div>

          <!-- ÖZELLİK TİPİ -->
          <div class="row justify-content-center">
            <div class="form-group col-md-12">
              <label class="required-span">{{getLanguageValue('Fixed_Asset_Card_Property_Type')}}</label>
              <div class="flexProperty">
                <div style="flex:1;">
                  <select [(ngModel)]="fixedAssetCardProperty.FixedAssetTypeId" name="FixedAssetTypeId"
                    class="form-control txt-width" #FixedAssetTypeId="ngModel"
                    [ngClass]="{ 'is-invalid': data.submitted && FixedAssetTypeId.invalid }" required
                    (change)="changeValue($event, fixedAssetCardProperty)">
                    <option [ngValue]="null">{{getLanguageValue('Choose')}}</option>
                    <option *ngFor="let fixedAssetType of fixedAssetTypes" value={{fixedAssetType.Id}}>
                      {{fixedAssetType.Name}}
                    </option>
                  </select>
                  <div *ngIf="data.submitted && FixedAssetTypeId.invalid" class="invalid-feedback">
                    <div *ngIf="FixedAssetTypeId.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
                  </div>
                </div>              

                <div style="width:135px; padding-left:15px; padding-top: 5px; margin-right:0px;">
                  <label class="ckbox">
                    <input type="checkbox" [(ngModel)]="fixedAssetCardProperty.IsUnique" (change)="fixedAssetPropertiesIsUnique($event)" name="IsUnique" /><span>{{getLanguageValue('Fixed_Asset_Card_Property_Is_Unique')}}</span>
                  </label>
                </div>
              </div>
              <div *ngIf="isUnique == true" style="color:red">
                <div>Liste özellik tipi için tekil kullanılamaz!</div>                      
              </div>
            </div>
          </div>

          <!-- ÖZELLİK DEĞERİ -->
          <div class="row justify-content-center">
            <div class="col-md-12 form-group" *ngIf="isListSelected == true">
              <label class="required-span">{{getLanguageValue('Fixed_Asset_Card_Property_Value')}}</label>
              <div class="flexProperty">
                <div style="flex:1;">
                  <input #Value name="Value" class="form-control" type="text" style="font-size: 13px;height: 27px;"
                    id="value" [ngClass]="{ 'is-invalid': data.submitted && Value.invalid }" required>
                  <div *ngIf="data.submitted && Value.invalid" class="invalid-feedback">
                    <div *ngIf="Value.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
                  </div>
                </div>
                <div class="property-add-value">
                  <span class="tree-table-sign typcn icon-default typcn-plus"
                    (click)="insertPropertyValueToArray(Value)"></span>
                </div>
              </div>
            </div>
          </div>

          <!-- ÖZELLİK DEĞERLERİ TABLOSU -->
          <!-- <tree-grid-table [dataTable]="dataTablePropertyValue"></tree-grid-table> -->
          <div class="property-values-table">
            <tree-grid-table class="table-scroll" *ngIf="isListSelected == true" [dataTable]="dataTablePropertyValue">
            </tree-grid-table>
          </div>

        </div>

        <!-- modal-body -->
        <div class="modal-footer">
          <button class="btn btn-az-primary" id="btnInsertOrUpdateFixedAssetCardProperty" type="submit"
            data-toggle="modal" data-target="#modalInsertFixedAssetProperty" *ngIf="isWaitingInsertOrUpdate == false">
            {{fixedAssetCardProperty.FixedAssetCardPropertyId ?  getLanguageValue('Reedit_Property') : getLanguageValue('Add_Fixed_Asset_Card_Property_Name')}}
          </button>
          <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->


 <!-- GÜNCELLEME ONAY -->

 <div class="modal" data-backdrop="static" id="modalShowQuestionPopupForFixedAssetCardProperty" style=" overflow-y: hidden !important;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content tx-size-sm">
      <div class="modal-body tx-center pd-y-20 pd-x-20">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="icon icon ion-ios-information-circle-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
        <h4 class="mg-b-20">{{getLanguageValue('Warning!')}}</h4>
        <p class="mg-b-20 mg-x-20">{{getLanguageValue('Are_you_sure_you_want_to_update_the_record')}}?</p>
   
        <div class="row" style="margin-bottom:20px;">
          <div class="col-md-6" style="padding-right: 0px;">
            <button class="btn btn-az-danger" style="float:right;" data-dismiss="modal" data-toggle="modal" aria-label="Close" >{{getLanguageValue('Cancel')}}</button>        
          </div>
       
          <div class="col-md-6">        
          <button class="btn btn-az-primary" id="btnYes" type="submit" style="padding: 5px 20px;" (click)="updateFixedAssetCardProperty()">{{getLanguageValue('Update')}}</button>
            </div>   
        </div>

      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->


<!-- SİLME ONAY -->
<div class="modal" data-backdrop="static" id="modalShowDeletePopupForFixedAssetCardProperty" style=" overflow-y: hidden !important;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content tx-size-sm">
      <div class="modal-body tx-center pd-y-20 pd-x-20">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="icon icon ion-ios-information-circle-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
        <h4 class="mg-b-20">{{getLanguageValue('Are_you_sure_you_want_to_delete')}}</h4>
        <p class="mg-b-20 mg-x-20">{{getLanguageValue('This_operation_can_not_be_undone')}}</p>
   
        <div class="row" style="margin-bottom:20px;">
          <div class="col-md-6" style="padding-right: 0px;">
            <button class="btn btn-az-danger" style="float:right; padding-left:32px; padding-right:32px;" data-dismiss="modal" data-toggle="modal" aria-label="Close" >{{getLanguageValue('Cancel')}}</button>        
          </div>
       
          <div class="col-md-6">        
          <button class="btn btn-az-primary" id="btnYes" type="submit" style="padding: 5px 20px;" (click)="deleteFixedAssetCardProperties()">{{getLanguageValue('Delete')}}</button>
            </div>   
        </div>

      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->
