.field_set {
    border: 1;
    border-color: #d0cbcb;
    border-style: solid;
    margin-top:15px;
    margin-bottom:20px;
  }
  
  .fieldset_text {
    color: #e67300;
  }
  
  .table-with-scroll{
    height: 430px;
    overscroll-behavior-y: contain;
    overflow-y: scroll;
    padding-left: 10px;
    }


  .table-scroll{
    overscroll-behavior-y: contain;
    padding-left: 10px;
    }
    