<div class="az-content az-content-dashboard-four">
    <div class="media media-dashboard">
      <div class="media-body">
        <!-- Bread Crumb -->
        <div class="az-content-breadcrumb">
          <span>{{getLanguageValue('Fixed_Asset_Management')}}</span>
          <span>{{getLanguageValue('Related_Fixed_Assets')}}</span>
        </div>
        <!-- END Bread Crumb END -->
        <div class="card card-dashboard-twelve mg-b-20">
          <div class="card-header">
            <h2 class="az-content-title">{{getLanguageValue('Related_Fixed_Assets')}}</h2>
            <div class="grp-btn-action">
  
                <button class="btn btn-az-primary " style="margin-right:10px" title="Demirbaş İlişki Koparma" (click)="loadRelationalFixedAssetPopup()"><i class="fas fa-unlink"></i></button>
             
                <!-- <button data-target="#modalBreakRelationship" data-toggle="modal" id="btnOpenRelationship" style="display:none;"></button>              -->

              <button class="btn btn-success btn-excel-custom" (click)="exportAsExcelFile(dataTable)" style="margin-right:10px">
                <i [ngClass]="{'far fa-file-excel':isTableExporting == false}"
                  [class.btn-refresh-loader]="isTableExporting == true"></i>
              </button>

              <button type="button" (click)="refreshTable()" style="margin-right:0"
                class="btn btn-success btn-refresh-custom">
                <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}"
                  [class.btn-refresh-loader]="isTableRefreshing == true"></i>
              </button>
  
            </div>
  
          </div>
          <div class="sales-overview">
            <tree-grid-table [dataTable]="dataTable"></tree-grid-table>
          </div>
        </div>
      </div>
      <!-- az-content-body -->
    </div>
  </div>
  <!-- az-content -->

  <!-- LARGE MODAL -->
<div id="modalBreakRelationship" class="modal" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">{{getLanguageValue('Warning!')}}</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <form name="form" #data="ngForm" (ngSubmit)="breakRelationship(data) && data.form.valid" novalidate>
          <div class="modal-body">
              <div>
                  <p>Seçili demirbaşlarınızın ilişkileri koparılacaktır. İşlemi gerçekleştirmek istediğinizden emin misiniz?</p>
                </div>
                <br>
                <div class="fixed-asset-table">
                  <tree-grid-table class="table-scroll" [dataTable]="dataTableRelationship"></tree-grid-table>
                </div>
          </div>
  
          <!-- modal-body -->
          <div class="modal-footer">
            <button class="btn btn-az-primary" id="btnBreakRelationship" type="submit" data-toggle="modal"
              data-target="#modalBreakRelationship">Demirbaş ilişkisini Kopar</button>
          </div>
        </form>
        <!-- </div> -->
      </div>
    </div>
    <!-- modal-dialog -->
  </div>
 

  
  <!-- DEMİRBAŞ İLİŞKİSİ KOPARMA -->
  <div class="modal" data-backdrop="static" id="modalRelationshipFixedAsset">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-size-sm">
          <div class="modal-body tx-center pd-y-20 pd-x-20">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <i class="icon icon ion-ios-close-circle-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
            <h4 class="tx-danger mg-b-20">{{getLanguageValue('Error')}}</h4>
            <p class="mg-b-20 mg-x-20">Seçilen demirbaşların ilişkisi bulunmadığı için işlem gerçekleştirilemedi!</p>
            <button type="button" class="btn btn-danger pd-x-25" aria-label="Close" style="margin-bottom:20px;" (click)="closeModal()">{{getLanguageValue('Error')}}</button>
          </div><!-- modal-body -->
        </div><!-- modal-content -->
      </div><!-- modal-dialog -->
    </div><!-- modal -->

    <app-popup [errorMessage]="errorMessage"></app-popup>