<div class="modal-header">
    <h6 class="modal-title">{{getLanguageValue('You_are_viewing_the_details_of_request')}}</h6>

      <span aria-hidden="true" class="close" style="margin-right: 15px;" data-toggle="tooltip" title="{{getLanguageValue('Download_Form')}}"><i class="fas fa-arrow-down" style="font-size: 18px;"></i></span>
      
    <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <form name="form" #data="ngForm" (ngSubmit)="onSubmit(data)">
    <div class="modal-body">
      <!-- <input type="hidden" name="TransactionLogId" [(ngModel)]="transactionLog.TransactionLogId" /> -->
  
      <!-- BARKOD -->            
      <!-- <div class="col-md-12" style="padding-left:0px;">                       
        <label><b>{{getLanguageValue('Barcode')}}:</b></label>                                            
        <span style="margin-left:20px;">{{ maintenance.FixedAsset.Barcode }}</span>
      </div> -->

       <!-- DEMİRBAŞ ADI -->
       <!-- <div class="col-md-12" style="padding-left:0px;">  
          <label><b>{{getLanguageValue('Fixed_Asset_Card_Name')}}:</b></label>
          <span style="margin-left:20px;">{{ maintenance.FixedAsset.FixedAssetCard.Name }}</span>
        </div> -->

      <!-- BAKIM NO -->    
      <!-- <div class="col-md-12" style="padding-left:0px;margin-bottom:20px;">  
          <label><b>{{getLanguageValue('Maintenance_Number')}}:</b></label>
          <span style="margin-left:20px;">{{ maintenance.MaintenanceNumber }}</span>
      </div> -->

    <div *ngFor="let workStep of workSteps; let i = index">
      <fieldset class="field_set" style="margin-bottom:25px;">
          <legend> 
              <label class="ckbox">
                  <input type="checkbox" name="IsDone" [(ngModel)]="workStep.IsDone" [checked]="workStep.IsDone"
                  (change)="IsWorkOrderDone($event)"/>
                  <span>{{i+1}}. iş adımı</span>
                </label> 
            </legend>

          <!-- <div class="row">
              <span  style="margin-left:20px;">Açıklama: {{maintenance.WorkOrder.WorkSteps[i].WorkStepConsumables.WorkStepId}}</span> 
              <input [attr.disabled]="workStep.IsDone == true ? '' : 'disabled'" type="text"name="ConsumableCardCode"class="form-control" />         
          </div> -->
          <div class="row justify-content-center">
            <div class="col-md-12 form-group">
              <label>{{getLanguageValue('Description')}}</label>
              <input [(ngModel)]="workStep.Description" name="Description_{{i}}" type="text" class="form-control" trim="blur" #Description="ngModel"
              [attr.disabled]="workStep.IsDone == true ? 'disabled' : null" />
            </div>
          </div>

            <div class="row justify-content-center">
              <div class="col-md-6 form-group">
                <label>Kullanılacak Sarf Malzeme Adeti</label>
                <input [(ngModel)]="workStep.WorkStepConsumables.Quantity" name="Quantity_{{i}}" type="text" class="form-control" trim="blur" #Quantity="ngModel"
                [attr.disabled]="workStep.IsDone == true ? 'disabled' : null" />
              </div>
            <!-- </div> -->

              <!-- <div class="row justify-content-center"> -->
                <div class="col-md-6 form-group">
                  <label>Kullanılan Sarf Malzeme Adeti</label>
                  <input [(ngModel)]="workStep.WorkStepConsumables.Quantity" name="Quantity_Used_{{i}}" type="text" class="form-control" trim="blur" #Quantity="ngModel"
                  [attr.disabled]="workStep.IsDone == true ? 'disabled' : null" />
                </div>
              </div>

        </fieldset>
    </div>

    </div>
  
    <!-- modal-body -->
    <div class="modal-footer">
      <button *ngIf="isWaitingInsertOrUpdate == false" class="btn btn-az-primary" id="btnFixBreakdown" type="submit">
        {{getLanguageValue('Save')}}
      </button>
      <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
    </div>
  </form>
  
  