<div class="az-content">  
  <div class="container-fluid">
    <div class="az-content-body">
      <div class="card card-dashboard-twelve mg-b-20">
      <h2 class="az-content-title">Rol Tanımlama</h2>      
      <div class="grp-btn-action">  
      <a class="nav-link-item-link" routerLink="/roleuser"
      routerLinkActive="active">Rol Kullanıcı Listesi</a>
      <button
      class="btn btn-orange"
      id="btnAddRoleAuth"
      data-toggle="modal"
      data-target="#modalRoleDefinition"
    > Rol Ekle
    </button>
      </div>
      <p class="mg-b-20"></p> 
            <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>
    </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>

<div class="pd-20 bg-gray-800">
  <!-- this modal is static modal for presentation purpose. -->
  <!-- class .d-block annd .pos-relative in .modal is for demo only -->
  <div id="modalRoleDefinition" class="modal">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">Rol Tanımlama</h6>
          <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form name="form" #data="ngForm"  (ngSubmit)="OnSubmitRole(data)">
        <div class="modal-body">
            <div class="row justify-content-center">
                <input type="hidden" name="RoleId" [(ngModel)]="role.RoleId"  />
                <div class="form-group">
                  <label>Rol</label>
                  <input  [(ngModel)]="role.Name" name="Name" type="text" class="form-control"/>              
                  <label>Açıklama</label>
                  <textarea  [(ngModel)]="role.Description" name="Description" rows="3" type="text" style="resize:none"  class="form-control"></textarea>
                </div>      
        </div>
      </div>
        <div class="modal-footer">
            <button id="btnInsertOrUpdateRole" type="submit" class="btn btn-orange btn-block btn-height" data-toggle="modal" data-target="#modalAddRole">Kaydet</button>   
          </div>
      </form>
        <!-- modal-body -->
      </div>
    </div>
    <!-- modal-dialog -->
  </div>

</div>