@import url('../../../../assets/lib/datatables.net-dt/css/jquery.dataTables.min.css');
@import url('../../../../assets/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css');
@import url('../../../../assets/lib/select2/css/select2.min.css');

.btn-orange {
   background: #e67300;
   color: white;
   border-radius: 5px;
 }
 .btn-height {
   min-height: 15px;
 }
 .right {
   float: left;
   margin-bottom:10px;
   padding-right:0px;
 }