<div class="az-content">  
  <div class="container-fluid">
    <div class="az-content-body">
      <div class="card card-dashboard-twelve mg-b-20">
      <h2 class="az-content-title">Rol Tanımlama</h2>      
      <div class="grp-btn-action">
        <button
          class="btn btn-orange"
          id="btnAddRoleAuth"
          data-toggle="modal"
          data-target="#modalRoleDefinition"
        > Rol Ekle
        </button>
        <button id="btnAddUserRole"   data-toggle="modal"
        data-target="#modalUserRoleDefinition" class="btn btn-orange"
        (click)="loadRoles()">Role Kullanıcı Ata</button>
      </div>
      <p class="mg-b-20"></p>
      <div class="row">
        <div class="col-md-6">
            <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>
        </div>
        <div class="col-md-6">
            <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTableUserRole"></tree-grid-table>
        </div>
      </div>
    </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>

<div class="pd-20 bg-gray-800">
  <!-- this modal is static modal for presentation purpose. -->
  <!-- class .d-block annd .pos-relative in .modal is for demo only -->
  <div id="modalRoleDefinition" class="modal">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">Rol Tanımlama</h6>
          <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form name="form" #data="ngForm"  (ngSubmit)="OnSubmitRole(data)">
        <div class="modal-body">
            <div class="row justify-content-center">
                <input type="hidden" name="RoleId" [(ngModel)]="role.RoleId"  />
                <div class="form-group">
                  <label>Rol</label>
                  <input  [(ngModel)]="role.Name" name="Name" type="text" class="form-control"/>              
                  <label>Açıklama</label>
                  <textarea  [(ngModel)]="role.Description" name="Description" rows="3" type="text" style="resize:none"  class="form-control"></textarea>
                </div>      
        </div>
      </div>
        <div class="modal-footer">
            <button id="btnInsertOrUpdateRole" type="submit" class="btn btn-orange btn-block btn-height" data-toggle="modal" data-target="#modalAddRole">Kaydet</button>   
          </div>
      </form>
        <!-- modal-body -->
      </div>
    </div>
    <!-- modal-dialog -->
  </div>

  <div id="modalUserRoleDefinition" class="modal">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content modal-content-demo">
          <div class="modal-header">
            <h6 class="modal-title">Role atanacak kullanıcıları belirleyiniz.</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <!--USER ROLE MODAL-->
          <form name="form" #dataUserRoleDefinition="ngForm" (ngSubmit)="OnSubmitUserRole(dataUserRole)">
          <div class="modal-body">
              <div class="row">
                  <!-- <input type="hidden" name="RoleId" [(ngModel)]="role.RoleId"/> -->
                  <div class="form-group col-md-6">
                    <label>Rol</label>
                    <select [(ngModel)]="role" name="role" class="form-control select2-no-search" style="width: 250px">
                        <option value=" ">Seçiniz</option>
                        <option *ngFor="let role of roles" value={{role.RoleId}}>{{role.Name}}</option>
                    </select>     
                    <label>Kullanıcı</label>
                    <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTableUserList"></tree-grid-table>
                        <!-- <ng-multiselect-dropdown
                          [placeholder]="'custom placeholder'"
                          [data]="roles"
                          [(ngModel)]="selectedItems"
                          [settings]="dropdownSettings"
                          (onSelect)="onItemSelect($event)"
                          (onSelectAll)="onSelectAll($event)">
                        </ng-multiselect-dropdown>            -->
<!--                            
                    <div class="row row-sm mg-b-20">
                          <p class="mg-b-10">Select2 Multiple Box</p>
                          <select class="form-control select2-no-search" multiple="multiple">
                            <option *ngFor="let role of roles" value="{{role.RoleId}}">{{role.Name}}</option>
                          </select>
                   </div> -->
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button id="btnAddRole" type="submit" class="btn btn-orange btn-block btn-height" data-toggle="modal" data-target="#modalAddUserRole">Kaydet</button>   
            </div>
        </form>
        <!--USER ROLE MODAL-->

          <!-- modal-body -->
        </div>
      </div>
      <!-- modal-dialog -->
    </div>
  <!-- modal -->
</div>

<script>
   $(function(){
  $(document).ready(function(){
          $('.select2').select2({
            placeholder: 'Choose one'
          });

          $('.select2-no-search').select2({
            minimumResultsForSearch: Infinity,
            placeholder: 'Choose one'
          });
        });
      });
</script>