<div class="az-content az-content-dashboard-four">
    <div class="media media-dashboard">
      <div class="media-body">
        <!-- Bread Crumb -->
        <div class="az-content-breadcrumb">
          <span>DETAYLI AMORTİSMAN LİSTESİ</span>
        </div>
        <!-- END Bread Crumb END -->
        <div class="card card-dashboard-twelve mg-b-20">
          <div class="card-header" style="padding-bottom:0px;">
            <h2 class="az-content-title" style="margin-left:20px;">Detaylı Amortisman Listesi</h2>

            <div class="grp-btn-action" style="margin-right: 10px;">

              <div *ngIf="isDetailInfo == true">          
                <button type="button" (click)="exportAsExcelFile(dataTable)" class="btn btn-success btn-excel-custom" style="margin-right:20px;" data-toggle="tooltip" data-placement="bottom" title="Excel">
                    <i [ngClass]="{'far fa-file-excel':isTableExporting == false}"
                      [class.btn-refresh-loader]="isTableExporting == true"></i>
                  </button>
                  <button type="button" (click)="refreshTable()" id="btnRefresh" class="btn btn-success btn-refresh-custom" data-toggle="tooltip" data-placement="bottom" title="{{getLanguageValue('Refresh_Table')}}">
                    <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}"
                      [class.btn-refresh-loader]="isTableRefreshing == true"></i>
                  </button>
              </div>
              <div *ngIf="isDetailInfoIFRS == true">          
                  <button type="button" (click)="exportAsExcelFile(dataTableIFRS)" class="btn btn-success btn-excel-custom" style="margin-right:20px;" data-toggle="tooltip" data-placement="bottom" title="Excel">
                      <i [ngClass]="{'far fa-file-excel':isTableExporting == false}"
                        [class.btn-refresh-loader]="isTableExporting == true"></i>
                    </button>
                    <button type="button" (click)="refreshTableIFRS()" id="btnRefresh" class="btn btn-success btn-refresh-custom" data-toggle="tooltip" data-placement="bottom" title="{{getLanguageValue('Refresh_Table')}}">
                      <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}"
                        [class.btn-refresh-loader]="isTableRefreshing == true"></i>
                    </button>
                </div>  
            </div>
          </div>   

          <div class="row">
            <div class="col-md-12">
                <fieldset class="field_set" style="padding-left: 10px; margin-right: 40px; margin-left: 40px; margin-top:10px;">
                    <legend>Toplam Değerler</legend>        
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">                          
                            <div class="col-md-5">                       
                                <label><b>Toplam Birikmiş Değer:</b></label>                                            
                            </div>
                            <div class="col-md-6">
                                <span>{{ totalAccumulatedValue }}</span>
                              </div>
                            </div>
                        </div> 

                      <div class="col-md-6">
                          <div class="row">
                              <div class="form-group col-md-4">
                                <label>Toplam Net Defter Değeri:</label>
                              </div>
                              <div class="col-md-6">
                                <span>{{ totalNddValue }}</span>
                              </div>
                            </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                          <div class="row">
                              <div class="form-group col-md-5">
                                <label>Toplam Aktif Amortisman Değeri:</label>
                              </div>
                              <div class="col-md-6">
                                <span>{{ totalRevaluatedValue }}</span>
                              </div>
                            </div>
                      </div>
                      <div class="col-md-6">
                          <div class="row">
                              <div class="form-group col-md-4">
                                <label>Toplam Amortisman Değeri:</label>
                              </div>
                              <div class="col-md-6">
                                <span>{{ totalDepreciationMonthlyValue }}</span>
                              </div>
                            </div>
                      </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12">
                <div *ngIf="isDepreciationList == true">

                    <fieldset class="field_set" style="padding-left: 10px; margin-right: 40px; margin-left: 40px; margin-top:10px;">
                        <legend>Filtre</legend>        
                    
                    <form name="form" #dataDepreciationFilter="ngForm" (ngSubmit)="onSubmitDepreciationFilter(dataDepreciationFilter) && dataDepreciationFilter.form.valid" novalidate>
                    
                        <div class="row">
                            <div class="col-md-6 form group" style="margin-top: 10px; margin-bottom: 10px;">
                              <div class="input-group">
                                <div class="input-group-append"
                                [class.is-invalid]="dataDepreciationFilter.submitted && (!fixedAssetFilter.EndDate || endDateModel.status == 'INVALID' )">
                                  <div (click)="endDate.toggle()" class="input-group-text">
                                    <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                  </div>
                                </div>
                                <input class="form-control" type="text" placeholder="yyyy-mm-dd" name="endDate"
                                  [(ngModel)]="fixedAssetFilter.EndDate" ngbDatepicker #endDate="ngbDatepicker" #endDateModel="ngModel" 
                                  [class.is-invalid]="dataDepreciationFilter.submitted && (!fixedAssetFilter.EndDate || endDateModel.status == 'INVALID' )"
                                  required>
                                  <div *ngIf="dataDepreciationFilter.submitted && endDateModel.invalid" class="invalid-feedback">
                                    <div *ngIf="endDateModel.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
                                    <div *ngIf="!endDateModel.errors.required && endDateModel.status == 'INVALID'">
                                      {{getLanguageValue('Format_is_not_valid')}}
                                    </div>
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-4 form-group">
                              <label class="ckbox" style="margin-left: 15px; margin-top: 15px;">
                                <input type="checkbox" [(ngModel)]="fixedAssetFilter.IsExitFixedAsset" (change)="isExitFixedAsset($event)"
                                name="IsValid" /><span>Çıkışı yapılmış demirbaşlar</span>
                              </label>
                            </div>
                            <div class="col-md-2">
                                <div class="grp-btn-action">
                                  <button id="btnFilterDepreciation" type="submit" class="btn btn-az-primary" style="margin-left:100px;margin-top: 5px; margin-right:10px;">Filtrele
                                  </button>

                                  <button class="btn btn-az-primary btn-filter-button" data-toggle="tooltip" style="margin-right: 10px;margin-top: 5px;" data-placement="bottom"
                                  title="{{getLanguageValue('Reset_Filter')}}" (click)="resetFilter(dataDepreciationFilter)">
                                  <i class="fas fa-filter"></i>
                                  <i class="fas fa-times"
                                  style="position: absolute; margin-left: 10px; margin-top: 3px; font-size: 10px;"></i>
                                  </button>
                                </div>
                              </div>
                          </div>                      
                      </form>
                    </fieldset>
                      
                </div>
                <div *ngIf="isDepreciationIFRSList == true">

                    <fieldset class="field_set" style="padding-left: 10px; margin-right: 40px; margin-left: 40px; margin-top:10px;">
                        <legend>{{getLanguageValue('Filter')}}</legend>        
                    
                    <form name="form" #dataDepreciationIFRSFilter="ngForm" (ngSubmit)="onSubmitDepreciationIFRSFilter(dataDepreciationIFRSFilter) && dataDepreciationIFRSFilter.form.valid" novalidate>
                     
                        <div class="row">
                          <div class="col-md-6 form group" style="margin-top: 10px; margin-bottom: 10px;">
                            <div class="input-group">
                              <div class="input-group-append"
                              [class.is-invalid]="dataDepreciationIFRSFilter.submitted && (!fixedAssetFilterIfrs.EndDate || endDateModel.status == 'INVALID' )">
                                <div (click)="endDate.toggle()" class="input-group-text">
                                  <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                </div>
                              </div>
                              <input class="form-control" type="text" placeholder="yyyy-mm-dd" name="endDate"
                                [(ngModel)]="fixedAssetFilterIfrs.EndDate" ngbDatepicker #endDate="ngbDatepicker" #endDateModel="ngModel" 
                                [class.is-invalid]="dataDepreciationIFRSFilter.submitted && (!fixedAssetFilterIfrs.EndDate || endDateModel.status == 'INVALID' )"
                                required>
                                <div *ngIf="dataDepreciationIFRSFilter.submitted && endDateModel.invalid" class="invalid-feedback">
                                  <div *ngIf="endDateModel.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
                                  <div *ngIf="!endDateModel.errors.required && endDateModel.status == 'INVALID'">
                                    {{getLanguageValue('Format_is_not_valid')}}
                                  </div>
                                </div>
                            </div>
                          </div>
                            <div class="col-md-4 form-group">
                              <label class="ckbox" style="margin-left: 15px; margin-top: 15px;">
                                <input type="checkbox" (change)="isExitFixedAsset($event)"
                                name="IsValid" /><span>Çıkışı yapılmış demirbaşlar</span>
                              </label>
                            </div>
                              <div class="col-md-2">
                                <div class="grp-btn-action">
                                  <button id="btnFilterDepreciationIFRS" type="submit" class="btn btn-az-primary" style="margin-left:100px;margin-top: 5px; margin-right:10px;">{{getLanguageValue('Filter')}}
                                  </button>
                                  <button class="btn btn-az-primary btn-filter-button" data-toggle="tooltip" style="margin-right: 10px;margin-top: 5px;" data-placement="bottom"
                                  title="{{getLanguageValue('Reset_Filter')}}" (click)="resetFilter(dataDepreciationFilter)">
                                  <i class="fas fa-filter"></i>
                                  <i class="fas fa-times"
                                  style="position: absolute; margin-left: 10px; margin-top: 3px; font-size: 10px;"></i>
                                  </button>
                                </div>
                              </div>
                          </div>
                    </form>
                  </fieldset>
               </div>
            </div>
            
          </div>

          <!-- <div>
              <button class="btn btn-az-primary" id="btnFilterDepreciation" style="padding: 5px 20px;margin-right: 40px;margin-top: 5px;float: right;margin-bottom: 15px;"  id="showModal" data-toggle="modal" data-target="#modalFilterDepreciation">Filtrele</button>
          </div>  -->
            <div>

          </div>            
           <div class="card-body" style="padding-top:0px; margin-left:20px; margin-right:20px;">
                <mat-tab-group style="margin-top:10px;" (selectedTabChange)="tabChanged($event)">
                
                    <!-- AMORTİSMAN BİLGİLERİ -->
                    <mat-tab>
                      <ng-template mat-tab-label>
                        Detaylı Amortisman Listesi
                      </ng-template>
                      <div class="sales-overview" style="flex-direction:column; margin-top:20px; padding-left:0px;">
                          <tree-grid-table [dataTable]="dataTable"></tree-grid-table>
                        </div>
                    </mat-tab>
                    
                    <!-- IFRS BİLGİLERİ -->
                    <mat-tab>
                        <ng-template mat-tab-label>
                          Detaylı IFRS Listesi
                        </ng-template>
                        <div class="sales-overview" style="flex-direction:column; margin-top:20px; padding-left:0px;">
                            <tree-grid-table [dataTable]="dataTableIFRS"></tree-grid-table>
                          </div>
                    </mat-tab>
    
                    </mat-tab-group>

           </div>
        </div>
      </div>
      <!-- az-content-body -->
    </div>
  </div>
  <!-- az-content -->

<!-- LARGE MODAL -->
<!-- <div id="modalFilterDepreciation" class="modal" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">Amortisman bilgilerini giriniz.</h6>
          <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form name="form" #data="ngForm" (ngSubmit)="onSubmit(data) && data.form.valid" novalidate>
          <div class="modal-body">
                     <fieldset class="field_set" style="padding-left: 10px; margin-right: 10px; margin-left: 15px;">
                        <legend>Hesaplamanın Başlayacağı Tarih Aralığı</legend>        
                    
                        <div class="row form-group">                        
                        <div class="col-md-6 form group" style="margin-top: 10px; margin-bottom: 10px;">
                          <div class="input-group">
                            <div class="input-group-append">
                              <div (click)="depreciationDate.toggle()" class="input-group-text">
                                <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                              </div>
                            </div>
                            <input class="form-control" type="text" placeholder="yyyy-mm-dd" name="depreciationDate"
                              [(ngModel)]="fixedAsset.DepreciationDate" ngbDatepicker #depreciationDate="ngbDatepicker" #depreciationDateModel="ngModel">
                          </div>
                        </div>
                    </div>                           
                      </fieldset>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label class="ckbox" style="margin-left: 15px; margin-top: 15px;">
                                <input type="checkbox" [(ngModel)]="fixedAsset.WillDepreciationBeCalculated" [checked]="fixedAsset.WillDepreciationBeCalculated"
                                  name="WillDepreciationBeCalculated" /><span>{{getLanguageValue('Calculating_Depreciation')}}</span>
                              </label>
                        </div>
                        <div class="col-md-4 form-group">
                            <label class="ckbox" style="margin-left: 15px; margin-top: 15px;">
                                <input type="checkbox" [(ngModel)]="fixedAsset.WillIfrsbeCalculated" [checked]="fixedAsset.WillIfrsbeCalculated"
                                  name="WillIfrsbeCalculated" /><span>{{getLanguageValue('Calculating_IFRS')}}</span>
                              </label>
                        </div>
                        <div class="col-md-4 form-group">
                          <label class="ckbox" style="margin-left: 15px; margin-top: 15px;">
                              <input type="checkbox"
                              name="WillIfrsbeCalculated" /><span>Çıkışı yapılmış demirbaşlar</span>
                            </label>
                      </div>
                    </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="resetFilter()">Filtreyi Temizle</button>
            <button id="btnInsertOrUpdateFilterDepreciation" type="submit" class="btn btn-az-primary">Filtrele
            </button>
          </div>
        </form>
      </div>
    </div>
   </div> -->

