<div class="az-content">
  <div class="container">
    <div class="az-content-body">
      <h2 class="az-content-title">Rol Yetkilendirme</h2>
      <div class="grp-btn-action">  
        <button
          class="btn btn-orange"
          id="btnAddRoleAuth"
          data-toggle="modal"
          data-target="#modalRoleAuthorization">Role Yetki Atama    
        </button>
      </div>
      <p class="mg-b-20"></p>
            <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table> 
    </div>
    <!-- az-content-body -->
  </div>
</div>
<div class="pd-20 bg-gray-800">
  <div id="modalRoleAuthorization" class="modal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content modal-content-demo">
        <div class="modal-header">
          <h6 class="modal-title">Rol Tanımlama</h6>
          <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form name="form" #data="ngForm"  (ngSubmit)="OnSubmitRole(data)">
          <div class="modal-body">
            <div class="form-group">  
              <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTableRoleAuth"></tree-grid-table> 
            </div>    
          </div>
          <div class="modal-footer">
              <button id="btnInsertOrUpdateRole" type="submit" class="btn btn-orange btn-block btn-height" data-toggle="modal" data-target="#modalAddRole">Kaydet</button>   
          </div>
      </form>
        <!-- modal-body -->
      </div>
    </div>
    <!-- modal-dialog -->
  </div>
</div>

      
         