<div class="az-content az-content-dashboard-four">
  <div class="media media-dashboard">
    <div class="media-body">
      <!-- Bread Crumb -->
      <div class="az-content-breadcrumb">
        <span>{{getLanguageValue('Definitions')}}</span>
        <span>{{getLanguageValue('Role_Authorization')}}</span>
      </div>
      <!-- END Bread Crumb END -->
      <div class="card card-dashboard-twelve mg-b-20">
        <div class="card-header">
          <h2 class="az-content-title" style="margin-left:0">{{getLanguageValue('Role_Authorization')}}</h2>
          <div class="grp-btn-action">

            <button type="button" (click)="exportAsExcelFile(dataTable)" class="btn btn-success btn-excel-custom">
              <i [ngClass]="{'far fa-file-excel':isTableExporting == false}"
                [class.btn-refresh-loader]="isTableExporting == true"></i>
            </button>

            <button type="button" (click)="refreshTable()" class="btn btn-success btn-refresh-custom">
              <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}"
                [class.btn-refresh-loader]="isTableRefreshing == true"></i>
            </button>

            <button type="button" *ngIf="IsAuthForDelete==true" data-toggle="modal" data-target="#modalShowDeletePopupForRoleAuthorization"
              class="btn btn-danger btn-delete-custom">
              {{dataTable.TGT_getSelectedItems().length > 0 ? dataTable.TGT_getSelectedItems().length : '' }}
              <i class="fas fa-trash"></i>
            </button>

            <button class="btn btn-az-primary" *ngIf="IsAuthForInsert==true" (click)="resetForm(data,true)"
              id="btnAddRoleAuth" data-toggle="modal" data-target="#modalRoleAuthorization"><i
                class="fa fa-plus-circle fa-plus-circle-add"></i>{{getLanguageValue('Add_Authorization_To_Role')}}
            </button>

            <button style="display:none" *ngIf="IsAuthForEdit==true" (click)="resetForm(data,false)"
              id="btnEditRoleAuth" data-toggle="modal" data-target="#modalRoleAuthorization">{{getLanguageValue('Reedit_Role_Authorization')}}
            </button>

          </div>
        </div>
        <div class="sales-overview">
          <tree-grid-table [dataTable]="dataTable">
          </tree-grid-table>
        </div>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>

<div id="modalRoleAuthorization" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">{{getLanguageValue('Role_Authorization')}}</h6>
        <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form" #data="ngForm" (ngSubmit)="doRoleAuthorization(data)  && data.form.valid" novalidate>
        <div class="modal-body">
          <div class="row justify-content-center">
            <div class="col-md-12 form-group">
              <label class="required-span">Rol</label>
              <select [ngModel]="roleAuthorization.RoleId" name="RoleId" #RoleId="ngModel"
                (change)="onChange($event,roleAuthorization)"
                [ngClass]="{ 'is-invalid': data.submitted && RoleId.invalid }" required
                class="form-control select2-no-search">
                <option [ngValue]="null">Seçiniz</option>
                <option *ngFor="let role of roles" value={{role.RoleId}}>{{role.Name}}</option>
              </select>
              <div *ngIf="data.submitted && RoleId.invalid" class="invalid-feedback">
                <div *ngIf="RoleId.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-12 form-group role-auths">
              <tree-grid-table [dataTable]="dataTableRoleAuth"></tree-grid-table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="btnInsertOrUpdateRole" type="submit" class="btn btn-az-primary"
            *ngIf="isWaitingInsertOrUpdate == false" data-toggle="modal"
            data-target="#modalAddRole">Yetkilendir</button>
          <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
        </div>
      </form>
      <!-- modal-body -->
    </div>
  </div>
  <!-- modal-dialog -->
</div>


<!-- SİLME ONAY -->
<div class="modal" data-backdrop="static" id="modalShowDeletePopupForRoleAuthorization" style=" overflow-y: hidden !important;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content tx-size-sm">
      <div class="modal-body tx-center pd-y-20 pd-x-20">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="icon icon ion-ios-information-circle-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
        <h4 class="mg-b-20">{{getLanguageValue('Are_you_sure_you_want_to_delete')}}</h4>
        <p class="mg-b-20 mg-x-20">{{getLanguageValue('This_operation_can_not_be_undone')}}</p>
   
        <div class="row" style="margin-bottom:20px;">
          <div class="col-md-6" style="padding-right: 0px;">
            <button class="btn btn-az-danger" style="float:right; padding-left:32px; padding-right:32px;" data-dismiss="modal" data-toggle="modal" aria-label="Close" >{{getLanguageValue('Cancel')}}</button>        
          </div>
       
          <div class="col-md-6">        
          <button class="btn btn-az-primary" id="btnYes" type="submit" style="padding: 5px 20px; padding-left: 37px;padding-right: 37px;" (click)="deleteRoleAuth()">{{getLanguageValue('Delete')}}</button>
            </div>   
        </div>

      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->
