<div class="az-content az-content-dashboard-four">
  <div class="media media-dashboard">
    <div class="media-body">
      <!-- Bread Crumb -->
      <div class="az-content-breadcrumb">
          <span>TANIMLAMALAR</span>
          <span>ROL YETKİLENDİRME</span>
      </div>
    <!-- END Bread Crumb END -->
      <div class="card card-dashboard-twelve mg-b-20">
          <div class="card-header">
        <h2 class="az-content-title" style="margin-left:0">Rol Yetkilendirme</h2>
        <div class="grp-btn-action">
            
          <button type="button" (click)="exportAsExcelFile(dataTable)" class="btn btn-success btn-excel-custom">
            <i [ngClass]="{'far fa-file-excel':isTableExporting == false}" [class.btn-refresh-loader]="isTableExporting == true"></i>
          </button>
                      
          <button type="button" (click)="refreshTable()" class="btn btn-success btn-refresh-custom">
            <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}" [class.btn-refresh-loader]="isTableRefreshing == true"></i>
          </button>

          <button type="button" (click)="deleteRoleAuth()" class="btn btn-danger btn-delete-custom">
            {{dataTable.TGT_getSelectedItems().length > 0 ? dataTable.TGT_getSelectedItems().length : '' }}
            <i class="fas fa-trash"></i>
          </button>

          <button class="btn btn-az-primary" (click)="resetForm(data,true)"  id="btnAddRoleAuth" data-toggle="modal"
            data-target="#modalRoleAuthorization"><i class="fa fa-plus-circle fa-plus-circle-add"></i>Role Yetki Atama
          </button>
          
          <button style="display:none" (click)="resetForm(data,false)" id="btnEditRoleAuth" data-toggle="modal"
           data-target="#modalRoleAuthorization">Role Yetki Düzenle
          </button>
          
        </div>
      </div>       
      <div class="sales-overview">
        <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>
      </div>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>

<div id="modalRoleAuthorization" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Rol Yetkilendirme</h6>
        <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form" #data="ngForm" (ngSubmit)="doRoleAuthorization(data)  && data.form.valid" novalidate>
        <div class="modal-body">
          <input type="hidden" [(ngModel)]="roleAuthorization.RoleAuthorizationId" name="RoleAuthorizationId" />
          <div class="row justify-content-center">
          <div class="col-md-12 form-group">
              <label class="required-span">Rol</label>
              <select [ngModel]="roleAuthorization.RoleId" name="RoleId" #RoleId="ngModel" (change)="onChange($event,roleAuthorization)" 
                [ngClass]="{ 'is-invalid': data.submitted && RoleId.invalid }" required 
                class="form-control select2-no-search">
                <option [ngValue]="null" >Seçiniz</option>
                <option *ngFor="let role of roles" value={{role.RoleId}} >{{role.Name}}</option>
              </select>
              <div *ngIf="data.submitted && RoleId.invalid" class="invalid-feedback">
                <div *ngIf="RoleId.errors.required">Bu alan zorunludur.</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-md-12 form-group role-auths">
              <tree-grid-table  [dataTable]="dataTableRoleAuth"></tree-grid-table>
          </div>
          </div>
        </div>
        <div class="modal-footer">
          <button id="btnInsertOrUpdateRole" type="submit" class="btn btn-az-primary" *ngIf="isWaitingInsertOrUpdate == false"
            data-toggle="modal" data-target="#modalAddRole">Yetkilendir</button>
            <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
        </div>
      </form>
      <!-- modal-body -->
    </div>
  </div>
  <!-- modal-dialog -->
</div>