.btn-orange {
    background: #e67300;
    color: white;
    border-radius: 0px;
  }

  .field_set{
    border:1;
    border-color: #d0cbcb;
    border-style: solid;
  }
  
  .flexProperty {
    flex: 1;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
  }
  .property-add-value {
    width: 30px;
    padding-left: 12px;
    align-self: center;
  }

  .my-drop-zone {
    border: dotted 1px lightgray;
    height: 100px;
    width:100px
  }

  .custom-file-text {
    margin: 0;
    padding: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.file-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}