<div class="az-content">  
  <div class="container-fluid">
    <div class="az-content-body">
      <div class="card card-dashboard-twelve mg-b-20">
      <h2 class="az-content-title">Demirbaş Listesi</h2>      
      <div class="row">      
        <div class="grp-btn-action" style="
        height: 10px"> 
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Demirbaş Girişi"><i class="typcn typcn-folder"></i></button>
        
        <button class="btn btn-danger btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Demirbaş Çıkışı"><i class="typcn typcn-folder"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Demirbaş İlişkiendir"><i class="typcn typcn-folder"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Askıya Al"><i class="typcn typcn-folder"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Kayıp Demirbaş"><i class="typcn typcn-folder"></i></button>

        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Zimmet Ekle"><i class="typcn typcn-folder"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Zimmet Değiştir"><i class="typcn typcn-folder"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Zimmet İptal"><i class="typcn typcn-folder"></i></button>
 
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title=""><i class="typcn typcn-folder"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Kayıp Demirbaş"><i class="typcn typcn-folder"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Kayıp Demirbaş"><i class="typcn typcn-folder"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Kayıp Demirbaş"><i class="typcn typcn-folder"></i></button>

        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Kayıp Demirbaş"><i class="typcn typcn-folder"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Kayıp Demirbaş"><i class="typcn typcn-folder"></i></button>
      </div>
        <div class="grp-btn-action" style="
        height: 10px"> 
        <button class="btn btn-orange btn-new-custom btn-secondary" >Toplu</button>
        <button class="btn btn-orange btn-new-custom btn-secondary" >Filtre</button>      
      </div>
        <hr class="mg-y-30 mg-lg-y-50">

        <p class="mg-b-20"></p>
      </div>
      <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<div class="pd-20 bg-gray-800">
    
</div>
