.my-drop-zone {
    border: dotted 1px lightgray;
    height: 250px;
    width: 250px
}

.label-text {
    margin-left: 0px;
    margin-top: 5px;
}

.field_set {
    border: 1;
    border-color: #d0cbcb;
    border-style: solid;
}

.table-scroll {
    height: 500px;
    overscroll-behavior-y: contain;
    overflow-y: scroll;
}

.table-pagination {
    padding-top: 0;
    color: #333333;
    float: right;
    text-align: center;
    width: 100%;
}

.table-pagination-select {
    height: 35px;
    float: right;
    margin-left: 20px;
    border-radius: 3px;
    border: 1px solid #bfc3c7;
    color: #5a5a5a;
    font-size: 13px;
    padding: 5px;
    border-radius: 0;
}

.pagination-nav {
    float: right;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #e67300;
    border-color: #cc6703;
    max-height: 35px;
}

.property-add-value {
    width: 30px;
    padding-left: 12px;
    align-self: center;
  }

  .table-info-without-margin {
    margin-left: 0;
}