<div class="az-content az-content-dashboard-four">
    <div class="media media-dashboard">
      <div class="media-body">
      <!-- Bread Crumb -->
      <div class="az-content-breadcrumb">
          <span>OPERASYONLAR</span>
          <span>DEMİRBAŞ LİSTESİ</span>
      </div>
      <div class="card card-dashboard-twelve mg-b-20">
          <div class="card-header">
      <h2 class="az-content-title">Demirbaş Listesi</h2>      
      </div>
      <div class="row">     
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Demirbaş Girişi"><i class="fas fa-plus-circle"></i></button>
        
        <button class="btn btn-danger btn-new-custom btn-secondary" data-toggle="modal" data-target="#modalOperation" title="Demirbaş Çıkışı"><i class="fas fa-minus-circle"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Demirbaş İlişkiendir"><i class="fas fa-link"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Askıya Al"><i class="fas fa-level-up-alt"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Kayıp Demirbaş"><i class="fas fa-search-minus"></i></button>

        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Zimmet Ekle"><i class="fas fa-user-check"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Zimmet Değiştir"><i class="fas fa-user-edit"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Zimmet İptal"><i class="fas fa-user-times"></i></button>
 
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Barkod Değiştirme"><i class="fas fa-digital-tachograph"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Şirket Değiştirme"><i class="fas fa-building"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Lokasyon Değiştirme"><i class="fas fa-map-marker-alt"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Departman Değiştrime"><i class="fas fa-sitemap"></i></button>

        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Excel"><i class="far fa-file-excel"></i></button>
        <button class="btn btn-success btn-new-custom btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Form"><i class="fas fa-file-download"></i></button>

        <button class="btn btn-orange btn-new-custom btn-secondary" ><i class="fas fa-retweet"></i></button>
        <button class="btn btn-orange btn-new-custom btn-secondary" ><i class="fas fa-filter"></i></button>      
      </div>
      <div class="sales-overview">
      <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable"></tree-grid-table>
      </div>
    </div>
    <!-- az-content-body -->
    </div>
  </div>
</div>
  <div id="modalOperation" class="modal" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div style="position: relative;
        display: flex;
        flex-direction: column;      
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0.3rem;
        outline: 0;">
          <div class="modal-header">
            <h6 class="modal-title"></h6>
            <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <app-fa-exit [faBarcodes]=" selectedBarcodes()"></app-fa-exit>
      </div>
        </div>
      </div>
      <!-- modal-dialog -->
    </div>
