.custom-alert-info-area {
    position: absolute;
    right: 0;
}

.custom-alert-info {
    margin: 0;
    margin-left: 20px;
    margin-top: 12px;
    margin-right: 20px;
    z-index: 90000;
    width: 300px;
    max-width: 300px;
    right: 0;
    transform: translateX(130%);
}

.custom-alert-info-title {
    margin-bottom: 0;
}