<div class="az-content az-content-dashboard-four">
  <div class="media media-dashboard">
    <div class="media-body">
      <!-- Bread Crumb -->
      <div class="az-content-breadcrumb">
        <span>MALZEME LİSTESİ</span>
      </div>
      <!-- END Bread Crumb END -->
      <div class="card card-dashboard-twelve mg-b-20">
        <div class="card-header">
          <h2 class="az-content-title">Malzeme Listesi</h2>
          <div class="grp-btn-action">

            <button class="btn btn-az-primary" id="btnAddConsumable"
              data-toggle="modal" data-target="#modalAddConsumable" (click)="resetForm(data,true)" style="margin-right:10px"><i
              class="fas fa-plus-circle"></i>
            </button>

            <button style="display: none" id="btnExitConsumable" data-toggle="modal" data-target="#modalExitConsumable" class="btn btn-danger btn-exit-assets"><i class="fas fa-minus-circle"></i></button>

            <button (click)="doOperation(1)" class="btn btn-danger btn-exit-assets"  style="margin-right:10px"><i class="fas fa-minus-circle"></i></button>

            <button  class="btn btn-az-primary" id="btnFilterConsumableRequest" style="margin-right:10px" data-dismiss="modal" (click)="filter()"> <i class="fas fa-filter"></i></button>          

            <button class="btn btn-az-primary btn-filter-button" data-toggle="tooltip"  style="margin-right:10px" data-placement="bottom"
            title="{{getLanguageValue('Reset_Filter')}}" (click)="refreshTable()">
            <i class="fas fa-filter"></i>
            <i class="fas fa-times"
              style="position: absolute; margin-left: 10px; margin-top: 3px; font-size: 10px;"></i>
          </button>

            <button class="btn btn-success btn-excel-custom" (click)="exportAsExcelFile(dataTable)"
            data-toggle="tooltip" data-placement="bottom" title="Excel" style="margin-right:10px"><i
              [ngClass]="{'far fa-file-excel':isTableExporting == false}"
              [class.btn-refresh-loader]="isTableExporting == true"></i>
          </button>

            <button type="button" (click)="refreshTable()"  id="refreshTable"
              class="btn btn-success btn-refresh-custom" style="margin-right:10px" data-toggle="tooltip" data-placement="bottom" title="{{getLanguageValue('Refresh_Table')}}">
              <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}"
                [class.btn-refresh-loader]="isTableRefreshing == true" ></i>
            </button>

          </div>
        </div>
        <div class="sales-overview" style="flex-direction:column">
          <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable">
          </tree-grid-table>
           <!-- Pagination Side -->
           <div class="table-pagination">
            <!-- Per In Page Select area -->
            <select class="table-pagination-select" (change)="loadConsumableList(perInPage,1,isFilter)" [(ngModel)]="perInPage">
              <option *ngFor="let perIn of dataTable.perInPages" value="{{perIn}}">{{perIn}}</option>
              <option value="1000">{{getLanguageValue('All')}}</option>
            </select>
            <!-- END Per In Page Select area END -->
            <!-- Paginations -->
            <nav class="pagination-nav">
              <ul class="pagination">
                <ng-container *ngFor="let page of pages">
                  <li class="page-item" [class.disabled]="page.isDisabled" [class.active]="page.isActive"><button
                      (click)="loadConsumableList(perInPage,page.value,isFilter)" class="page-link">{{page.display}}</button>
                  </li>
                </ng-container>
              </ul>
            </nav>
            <!-- END Paginations END -->
          </div>
          <!-- END Pagination Side END -->
        </div>
      </div>
      <!-- az-content-body -->
    </div>
  </div>
</div>

<!-- ADD CONSUMABLE MATERIAL MODAL -->
<div id="modalAddConsumable" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">
          Malzeme bilgilerini giriniz.
        </h6>
        <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #data="ngForm" (ngSubmit)="addConsumableMaterial(data)" class="form-register">
        <div class="modal-body">
          <div class="row justify-content-center">

            <div class="form-group col-md-6">
                <label class="required-span">Malzeme Kategorisi</label>
                <select [(ngModel)]="consumable.ConsumableCategoryId" name="ConsumableCategoryId" class="form-control select2-no-search" (change)="loadConsumableCardByCategoryId($event)"
                [ngClass]="{ 'is-invalid': data.submitted && ConsumableCategoryId.invalid }" #ConsumableCategoryId="ngModel" required>
                <option [ngValue]="null">Seçiniz</option>
                <option *ngFor="let categories of consumableCategories" value="{{categories.ConsumableCategoryId}}">{{categories.ConsumableCategoryName}}</option>
              </select>  
              <div *ngIf="data.submitted && ConsumableCategoryId.invalid" class="invalid-feedback">
                <div *ngIf="ConsumableCategoryId.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
              </div>             
            </div>

            <div class="form-group col-md-6">
                <label class="required-span">Malzeme Adı</label>
                <select [(ngModel)]="consumable.ConsumableCardId"
                name="ConsumableCardId" class="form-control select2-no-search" (change)="loadConsumableUnitByCardId($event)"
                [ngClass]="{ 'is-invalid': data.submitted && ConsumableCardId.invalid }" #ConsumableCardId="ngModel" required>
                <option [ngValue]="null">Seçiniz</option>
                <option *ngFor="let card of consumableCards"  value="{{card.ConsumableCardId}}">{{card.ConsumableCardName}} </option>
              </select>   
              <div *ngIf="data.submitted && ConsumableCardId.invalid" class="invalid-feedback">
                <div *ngIf="ConsumableCardId.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
              </div>           
            </div>

          </div>

          <div class="row justify-content-center">
          <div class="form-group col-md-6">
              <label class="required-span">{{getLanguageValue('Location')}}</label>
              <div style="display:flex;">
                <button id="btnLocation" (click)="toggleDropdown('location')" class="dropdown-button" type="button"  [class.dropdown-button-valid]="data.submitted && !selectedLocation"  required>{{selectedLocation ? selectedLocation.Name : getLanguageValue('Choose') }}</button>
                  <span class="span-dropdown"  (click)="resetDropdown('location')" class="typcn icon-default typcn-times span-dropdown"></span>
                </div>
                <div *ngIf="data.submitted && !selectedLocation" style="color:red">
                  <div *ngIf="!selectedLocation">{{getLanguageValue('This_value_is_required')}}</div>
                </div>    
                <div class="custom-dropdown" *ngIf="isLocationDropdownOpen==true">
                  <tree-grid-table (onClickItem)="onClickDepreciation($event,item)" [dataTable]="dataTableLocation"></tree-grid-table>
                </div>
          </div>
          <div class="form-group col-md-6">
              <label>Tedarikçi</label>
              <select [(ngModel)]="consumable.CompanyId"
                name="CompanyId" class="form-control select2-no-search">
                <option [ngValue]="null">Seçiniz</option>
                <option *ngFor="let company of companies" value="{{company.CompanyId}}">{{company.Name}}</option>
              </select>            
            </div>
          </div>

          <div class="row justify-content-center">            
              <div class="form-group col-md-6">
                  <label class="required-span">Miktar</label>
                  <input [(ngModel)]="consumable.ConsumableAmount" name="ConsumableAmount" class="form-control" type="text"
                  [ngClass]="{ 'is-invalid': data.submitted && ConsumableAmount.invalid }" #ConsumableAmount="ngModel" required/>
                  <div *ngIf="data.submitted && ConsumableAmount.invalid" class="invalid-feedback">
                    <div *ngIf="ConsumableAmount.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
                  </div>
              </div>  
              <div class="form-group col-md-6">
                    <label>Birim</label>
                    <input name="ConsumableUnits"  value="{{consumableCard.ConsumableUnit == null ? '' : consumableCard.ConsumableUnit.ConsumableUnitName}}" class="form-control" type="text" disabled/>
              </div>            
          </div>

          <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label>Özellik Adı</label>
              <select #FixedAssetCardPropertyId [(ngModel)]="fixedAssetPropertyDetail.FixedAssetCardPropertyId" name="FixedAssetCardPropertyId" (click)="loadFixedAssetProperties()" (change)="loadValuesByPropertyId($event)" class="form-control select2-no-search" >
                <option value="-1">{{getLanguageValue('Choose_a_property')}}</option>
                <option *ngFor="let property of fixedassetproperty" value="{{property.FixedAssetCardPropertyId}}">{{property.Name}}</option>
              </select> 
              <div *ngIf="visible == true" style="color:red">
                  <div>Bir {{getLanguageValue('Choose_a_property')}}.</div>
                </div> 
            </div>
            <div class="form-group col-md-6">
                <label>Özellik Değeri</label>   
                <div class="flexProperty">
                  <div style="flex:1;">
                  <select [(ngModel)]="fixedAssetCardPropertyValue.FixedAssetPropertyValueId" name="FixedAssetPropertyValueId" *ngIf="isListSelected==true" (change)="getPropertyValue($event)" class="form-control select2-no-search" style="font-size: 13px;height: 27px;">
                    <option [ngValue]="null">{{getLanguageValue('Choose_a_property_value')}}</option>
                    <option *ngFor="let value of fixedassetpropertyvalues" value="{{value.Value}}">{{value.Value}}</option>
                  </select> 
                  <input [(ngModel)]="fixedAssetPropertyDetail.Value" name="Value" *ngIf="isListSelected==false"  class="form-control" type="text" style="font-size: 13px;height: 27px;">
                  <div *ngIf="visiblePropertyName == true" style="color:red">
                      <div>Özellik değeri giriniz.</div>
                    </div>
                                    
                  </div>
                  <div class="property-add-value">                    
                    <span class="tree-table-sign typcn icon-default typcn-plus" (click)="insertPropertyValueToArray(FixedAssetCardPropertyId)"></span>
                  </div>    
                </div>
            </div>
          </div>   
          <div class="row justify-content-center">
              <div class="form-group col-md-12">   
                      <tree-grid-table [dataTable]="dataTablePropertyValue"></tree-grid-table>
              </div>   
          </div>            
          <div *ngIf="visibleRequiredProperty" style="color:red">              
              <div>Lütfen en az bir özellik giriniz.</div>                    
            </div> 
        </div>
        <!-- modal-body -->
        <div class="modal-footer">
          <button class="btn btn-az-primary" id="btnInsertOrUpdateConsumableCategory" type="submit"
            data-toggle="modal" data-target="#modalInsertConsumableCategory" *ngIf="isWaitingInsertOrUpdate == false">
            Ekle
          </button>
          <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->

<!-- EXIT CONSUMABLE MATERIAL MODAL -->
<div id="modalExitConsumable" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">     
          Çıkış yapılacak malzeme bilgilerini giriniz.
        </h6>
        <button id="CloseExitModal" type="button" class="close" (click)="resetExitForm(data,true)" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #exitData="ngForm" (ngSubmit)="exitConsumableMaterial(exitData)" class="form-register">
        <div class="modal-body">
          <div class="row justify-content-center">

            <div class="form-group col-md-6">
              <label>Malzeme Kodu</label>
              <input  name="ConsumableCardCode"  value="{{consumable.ConsumableCard == null ? '' : consumable.ConsumableCard.ConsumableCardCode}}" class="form-control" type="text" disabled/>
            </div>

            <div class="form-group col-md-6">
                <label>Malzeme Adı</label>
                <input name="ConsumableCardId"  value="{{consumable.ConsumableCard == null ? '' : consumable.ConsumableCard.ConsumableCardName}}" class="form-control" type="text" disabled/>
           </div>

          </div>

          <div class="row justify-content-center">

          <div class="form-group col-md-6">
              <label>{{getLanguageValue('Location')}}</label>
              <input name="LocationId"  value="{{consumable.ConsumableLocation == null ? '' : consumable.ConsumableLocation.Name}}" class="form-control" type="text" disabled/>
          </div>

          <div class="form-group col-md-6">
            <label>Malzeme Kategorisi</label>
            <input name="ConsumableCategoryId"  value="{{consumable.ConsumableCard == null ? '' : consumable.ConsumableCard.ConsumableCategory.ConsumableCategoryName}}" class="form-control" type="text" disabled/>
          </div>       
          </div>

          <div class="row justify-content-center">
              <div class="form-group col-md-12">   
                      <tree-grid-table [dataTable]="dataTablePropertyValue"></tree-grid-table>
              </div>   
          </div>   

          <div class="row justify-content-center">
              <div class="form-group col-md-6">  
                  <label style="margin-bottom: 0;
                  font-weight: 700;" class="required-span">Gönderilecek Departman</label>               
                  <div class="" style="display: flex;
                  flex-direction: column;">
                           
                       <div style="display:flex;">
                          <button id="btnDepartment" (click)="toggleDropdown('department')" class="dropdown-button" type="button"  [class.dropdown-button-valid]="exitData.submitted && !selectedDepartment">{{selectedDepartment ? selectedDepartment.Name : getLanguageValue('Choose') }}</button>
                            <span class="span-dropdown"  (click)="resetDropdown('department')" class="typcn icon-default typcn-times span-dropdown"></span>
                          </div>
                          <div *ngIf="exitData.submitted && !selectedDepartment" style="color:red">
                              <div *ngIf="!selectedDepartment">{{getLanguageValue('This_value_is_required')}}</div>
                          </div>
                  </div>
                    <div class="custom-dropdown" *ngIf="isDepartmentDropdownOpen==true">
                        <tree-grid-table (onClickItem)="onClickDepartment($event,item)" [dataTable]="dataTableDepartment"></tree-grid-table>
                      </div>           
              </div>  
              <div class="form-group col-md-6">
                <label class="required-span">Gönderilecek Kişi</label>
                <select [(ngModel)]="exitconsumable.ReceivedUserId" name="ReceivedUserId" style="width:100%;" place class="form-control select2-no-search"  [ngClass]="{ 'is-invalid': exitData.submitted && ReceivedUserId.invalid }" #ReceivedUserId="ngModel" required>
                  <option [ngValue]="null">Seçiniz</option>
                  <option *ngFor="let user of users" value="{{user.UserId}}">{{user.FirstName + ' ' + user.LastName }}</option>
                </select>  
                <div *ngIf="exitData.submitted && ReceivedUserId.invalid" class="invalid-feedback">
                    <div *ngIf="ReceivedUserId.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
                  </div>            
              </div>            
          </div>
   

          <div class="row justify-content-center">            
              <div class="form-group col-md-6">
                  <label class="required-span">Miktar</label>
                  <input [(ngModel)]="exitconsumable.FreeExitAmount" name="FreeExitAmount" class="form-control" type="text"
                  [ngClass]="{ 'is-invalid': exitData.submitted && FreeExitAmount.invalid }" #FreeExitAmount="ngModel" required/>
                  <div *ngIf="exitData.submitted && FreeExitAmount.invalid" class="invalid-feedback">
                    <div *ngIf="FreeExitAmount.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
                  </div>
              </div>  
              <div class="form-group col-md-6">
                    <label>Birim</label>
                    <input name="ConsumableUnits"  value="{{consumableUnit == null ? '' : consumableUnit}}" class="form-control" type="text" disabled/>
              </div>            
          </div>
          <div class="row justify-content-center">
              <div class="form-group col-md-12">
                  <label>Açıklama</label>
                  <input  [(ngModel)]="exitconsumable.Description" name="Description" class="form-control" type="text"/>
            </div>
          </div>
        </div>
        <!-- modal-body -->
        <div class="modal-footer">
          <button class="btn btn-az-primary" id="btnInsertOrUpdateConsumableCategory" type="submit"
            data-toggle="modal" data-target="#modalInsertConsumableCategory" *ngIf="isWaitingInsertOrUpdate == false">
            Sarf Malzeme Çıkışı
          </button>
          <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->


<!-- FILTER MODAL FOR CONSUMABLE LIST-->
<div id="modalFilterForConsumableList" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">
          {{getLanguageValue('Identify_filter_values')}}
        </h6>
        <button id="CloseFilterModal" type="button" (click)="clearFilterConsumableList()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #dataFilter="ngForm" class="form-register">
        <div class="modal-body">    

          <div class="row justify-content-center"> 
              <div class="form-group col-md-6">
                  <label>Malzeme Kategorisi</label>
                  <div style="display:flex;">
                      <button id="btnConsumableCategory" (click)="toggleDropdown('category')" class="dropdown-button" type="button">{{dataTableCategory.TGT_getSelectedItems().length > 0 ? dataTableCategory.TGT_getSelectedItems().length + " " +  getLanguageValue('The_Category_Selected')  : getLanguageValue('Choose') }}</button>
                        <span class="span-dropdown"  (click)="resetDropdown('category')" class="typcn icon-default typcn-times span-dropdown"></span>
                    </div> 
                    <div class="custom-dropdown" *ngIf="isCategoryDropdownOpen==true">
                        <tree-grid-table [dataTable]="dataTableCategory"></tree-grid-table>
                      </div>             
                </div>   
            <div class="form-group col-md-6">
              <label>Malzeme Adı</label>
              <div style="display:flex;">
                  <button id="btnConsumableMaterial" (click)="toggleDropdown('card')" class="dropdown-button" type="button">{{dataTableConsumableMaterial.TGT_getSelectedItems().length > 0 ? dataTableConsumableMaterial.TGT_getSelectedItems().length + " " +  getLanguageValue('The_Card_Selected')  : getLanguageValue('Choose') }}</button>
                    <span class="span-dropdown"  (click)="resetDropdown('card')" class="typcn icon-default typcn-times span-dropdown"></span>
                </div> 
                <div class="custom-dropdown" *ngIf="isCardDropdownOpen==true">
                    <tree-grid-table  [dataTable]="dataTableConsumableMaterial"></tree-grid-table>
                  </div>           
          </div>  
        </div>

        <div class="row justify-content-center"> 
          <div class="form-group col-md-6">
            <label>{{getLanguageValue('Location')}}</label>
            <div style="display:flex;">
              <button id="btnLocation" (click)="toggleDropdown('location')" class="dropdown-button" type="button"  [class.dropdown-button-valid]="data.submitted && !selectedLocation">{{dataTableLocationFilter.TGT_getSelectedItems().length > 0 ? dataTableLocationFilter.TGT_getSelectedItems().length + " " +  getLanguageValue('The_Location_Selected')  : getLanguageValue('Choose') }}</button>
                <span class="span-dropdown"  (click)="resetDropdown('location')" class="typcn icon-default typcn-times span-dropdown"></span>
              </div>
              <div *ngIf="data.submitted && !selectedLocation" style="color:red">
                <div *ngIf="!selectedLocation">{{getLanguageValue('This_value_is_required')}}</div>
              </div>    
              <div class="custom-dropdown" *ngIf="isLocationDropdownOpen==true">
                <tree-grid-table [dataTable]="dataTableLocationFilter"></tree-grid-table>
              </div>
        </div> 
        <div class="form-group col-md-6">              
      </div>  
    </div>
        
        <div class="row justify-content-center">
            <div class="form-group col-md-6">
              <label>Özellik Adı</label>
              <select #FixedAssetCardPropertyId [(ngModel)]="fixedAssetPropertyDetail.FixedAssetCardPropertyId" name="FixedAssetCardPropertyId" (click)="loadFixedAssetProperties()" (change)="loadValuesByPropertyId($event)" class="form-control select2-no-search" >
                <option value="-1">{{getLanguageValue('Choose_a_property')}}</option>
                <option *ngFor="let property of fixedassetproperty" value="{{property.FixedAssetCardPropertyId}}">{{property.Name}}</option>
              </select> 
              <div *ngIf="visible == true" style="color:red">
                  <div>Bir {{getLanguageValue('Choose_a_property')}}.</div>
                </div> 
            </div>
            <div class="form-group col-md-6">
                <label>Özellik Değeri</label>   
                <div class="flexProperty">
                  <div style="flex:1;">
                  <select [(ngModel)]="fixedAssetCardPropertyValue.FixedAssetPropertyValueId" name="FixedAssetPropertyValueId" *ngIf="isListSelected==true" (change)="getPropertyValue($event)" class="form-control select2-no-search" style="font-size: 13px;height: 27px;">
                    <option [ngValue]="null">{{getLanguageValue('Choose_a_property_value')}}</option>
                    <option *ngFor="let value of fixedassetpropertyvalues" value="{{value.Value}}">{{value.Value}}</option>
                  </select> 
                  <input [(ngModel)]="fixedAssetPropertyDetail.Value" name="Value" *ngIf="isListSelected==false"  class="form-control" type="text" style="font-size: 13px;height: 27px;">
                  <div *ngIf="visiblePropertyName == true" style="color:red">
                      <div>Özellik değeri giriniz.</div>
                    </div>
                
                  </div>
                  <div class="property-add-value">                    
                    <span class="tree-table-sign typcn icon-default typcn-plus" (click)="insertPropertyValueToArray(FixedAssetCardPropertyId)"></span>
                  </div>    
                </div>
            </div>
          </div> 
 
        <div class="row justify-content-center">
          <div class="form-group col-md-12">   
              <tree-grid-table [dataTable]="dataTablePropertyValueForFilter"></tree-grid-table>
          </div>  
        
        </div> 
        </div>
        <!-- modal-body -->
        <div class="modal-footer">
          <button class="btn btn-danger"  type="button" (click)="clearFilterConsumableList()">
            Filtre Temizle
          </button>         
          <button class="btn btn-az-primary" type="button" (click)="isFilterConsumableList(true)" >
             Filtrele
            </button>   
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->