<div class="modal-header">
  <h6 class="modal-title">Şirket değişimi için gerekli bilgileri giriniz.</h6>
  <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form name="form" #data="ngForm" (ngSubmit)="ChangeFirm(data)">
  <div class="modal-body">
    <!-- BARKOD -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>Barkod</label>
        <input name="Barcodes" value="{{ faBarcode.Barcode }}" type="text" class="form-control" disabled />
      </div>
    </div>

    <!-- DEMİRBAŞ ADI -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>Demirbaş Adı</label>
        <input name="Name" value="{{ faBarcode.FixedAssetCard.Name }}" type="text" class="form-control" disabled />
      </div>
    </div>

    <!-- YENİ FİRMA -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>Yeni Firma</label>
        <select [(ngModel)]="fixedAsset.FirmId" name="FirmId" class="form-control" (change)="getFirmId($event)" #FirmId="ngModel"
          [ngClass]="{ 'is-invalid': data.submitted && FirmId.invalid }" required>
          <option [ngValue]="null">Yok</option>
          <option *ngFor="let firm of userFirms" value={{firm.FirmId}}>
            {{ firm.Name }}
          </option>
        </select>
        <div *ngIf="data.submitted && FirmId.invalid" class="invalid-feedback">
          <div *ngIf="FirmId.errors.required">Bu alan zorunludur.</div>
        </div>
      </div>
    </div>
    
    <!-- YENİ LOKASYON -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>Yeni Lokasyon</label>
        <select [(ngModel)]="fixedAsset.LocationId" name="LocationId"  (change)="getLocationId($event)" class="form-control" #LocationId="ngModel"
          [ngClass]="{ 'is-invalid': data.submitted && LocationId.invalid }" required>
          <option [ngValue]="null">Yok</option>
          <option *ngFor="let loc of locations" value={{loc.LocationId}}>
            {{ loc.Name }}
          </option>
        </select>
        <div *ngIf="data.submitted && LocationId.invalid" class="invalid-feedback">
          <div *ngIf="LocationId.errors.required">Bu alan zorunludur.</div>
        </div>
      </div>
    </div>    

    <!-- YENİ DEPARTMAN -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>Yeni Departman</label>
        <select [(ngModel)]="fixedAsset.DepartmentId" name="DepartmentId"  class="form-control" #DepartmentId="ngModel"
          [ngClass]="{ 'is-invalid': data.submitted && DepartmentId.invalid }" required>
          <option [ngValue]="null">Yok</option>
          <option *ngFor="let dep of departments" value={{dep.DepartmentId}}>
            {{ dep.Name }}
          </option>
        </select>
        <div *ngIf="data.submitted && DepartmentId.invalid" class="invalid-feedback">
          <div *ngIf="DepartmentId.errors.required">Bu alan zorunludur.</div>
        </div>
      </div>
    </div>

    <!-- YENİ PERSONEL -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>Zimmetlenecek Personel</label>
        <select [(ngModel)]="fixedAsset.UserId" name="UserId"  class="form-control" #UserId="ngModel"
          [ngClass]="{ 'is-invalid': data.submitted && UserId.invalid }" required>
          <option [ngValue]="null">Yok</option>
          <option *ngFor="let user of users" value={{user.UserId}}>
            {{ user.FirstName + ' ' + user.LastName}}
          </option>
        </select>
        <div *ngIf="data.submitted && UserId.invalid" class="invalid-feedback">
          <div *ngIf="UserId.errors.required">Bu alan zorunludur.</div>
        </div>
      </div>
    </div>
   </div>

  <!-- modal-body -->
  <div class="modal-footer">
    <button *ngIf="isWaitingInsertOrUpdate == false" class="btn btn-az-primary" id="btnChangeFirm" type="submit"
      data-toggle="modal" data-target="#modalChangeFirm">
      Kaydet
    </button>
    <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
  </div>
</form>