<div class="modal-header">
  <h6 class="modal-title">{{getLanguageValue('Enter_information_about_changing_firm')}}</h6>
  <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form name="form" #data="ngForm" (ngSubmit)="ChangeFirm(data)">
  <div class="modal-body">
    <!-- BARKOD -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>{{getLanguageValue('Barcode')}}</label>
        <input name="Barcodes" value="{{ faBarcode.Barcode }}" type="text" class="form-control" disabled />
      </div>
    </div>

    <!-- DEMİRBAŞ ADI -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>{{getLanguageValue('Fixed_Asset_Card_Name')}}</label>
        <input name="Name" value="{{ faBarcode.FixedAssetCard.Name }}" type="text" class="form-control" disabled />
      </div>
    </div>

    <!-- YENİ FİRMA -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label class="required-span">{{getLanguageValue('New_Firm')}}</label>
        <select [(ngModel)]="fixedAsset.FirmId" name="FirmId" class="form-control" (change)="getFirmId($event)" #FirmId="ngModel"
          [ngClass]="{ 'is-invalid': data.submitted && FirmId.invalid }" required>
          <option [ngValue]="null">Yok</option>
          <option *ngFor="let firm of userFirms" value={{firm.FirmId}}>
            {{ firm.Name }}
          </option>
        </select>
        <div *ngIf="data.submitted && FirmId.invalid" class="invalid-feedback">
          <div *ngIf="FirmId.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
        </div>
      </div>
    </div>
    
    <!-- YENİ LOKASYON -->
    <!-- <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>Yeni Lokasyon</label>
        <select [(ngModel)]="fixedAsset.LocationId" name="LocationId"  (change)="getLocationId($event)" class="form-control" #LocationId="ngModel"
          [ngClass]="{ 'is-invalid': data.submitted && LocationId.invalid }" required>
          <option [ngValue]="null">Yok</option>
          <option *ngFor="let loc of locations" value={{loc.LocationId}}>
            {{ loc.Name }}
          </option>
        </select>
        <div *ngIf="data.submitted && LocationId.invalid" class="invalid-feedback">
          <div *ngIf="LocationId.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
        </div>
      </div>
    </div>     -->

    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <div>
            <label class="required-span" style="margin-bottom: 0;
            font-weight: 700;" >Lokasyon</label>
            <!-- <select [(ngModel)]="fixedAsset.LocationId" name="LocationId" class="form-control select2-no-search" style="width:100%;" [ngClass]="{ 'is-invalid': data.submitted && LocationId.invalid }" #LocationId="ngModel" required (change)="loadDepartmentByLocationId($event)">
                <option value="">Lokasyon Seçiniz</option>
                <option *ngFor="let location of locations" value="{{location.LocationId}}">{{location.Name}}</option>
            </select>       -->
            <div style="display:flex;">
            <button id="btnLocation" (click)="toggleDropdown('location')" class="dropdown-button" type="button"  
            [class.dropdown-button-valid]="data.submitted && !selectedLocation"  required>{{selectedLocation ? selectedLocation.Name : 'Seçiniz' }}</button>
              <span class="span-dropdown"  (click)="resetDropdown('location')" class="typcn icon-default typcn-times span-dropdown"></span>
            </div>
            <div *ngIf="data.submitted && !selectedLocation" style="color:red">
              <div *ngIf="!selectedLocation">{{getLanguageValue('This_value_is_required')}}</div>
            </div>
        </div>
        <div class="custom-dropdown" *ngIf="isLocationDropdownOpen==true">
                <tree-grid-table (onClickItem)="onClickLocation($event,item)" [dataTable]="dataTableLocation"></tree-grid-table>
        </div>
  </div>
</div>    

    <!-- YENİ DEPARTMAN -->
    <!-- <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>Yeni Departman</label>
        <select [(ngModel)]="fixedAsset.DepartmentId" name="DepartmentId"  class="form-control" #DepartmentId="ngModel">
          <option [ngValue]="null">Yok</option>
          <option *ngFor="let dep of departments" value={{dep.DepartmentId}}>
            {{ dep.Name }}
          </option>
        </select>  
      </div>
    </div> -->
    
    <div class="row justify-content-center">
        <div class="col-md-12 form-group">
        <div class="" style="display: flex;
        flex-direction: column;">
        <label style="margin-bottom: 0;
        font-weight: 700;">{{getLanguageValue('Department')}}</label>
             <div style="display:flex;">
                <button id="btnDepartment" (click)="toggleDropdown('department')" class="dropdown-button" type="button"  [class.is-invalid]="data.submitted && !selectedDepartment">{{selectedDepartment ? selectedDepartment.Name : 'Seçiniz' }}</button>
                  <span class="span-dropdown"  (click)="resetDropdown('department')" class="typcn icon-default typcn-times span-dropdown"></span>
                </div>
        </div>
          <div class="custom-dropdown" *ngIf="isDepartmentDropdownOpen==true">
              <tree-grid-table (onClickItem)="onClickDepartment($event,item)" [dataTable]="dataTableDepartment"></tree-grid-table>
            </div>
          </div>
        </div> 


    <!-- YENİ PERSONEL -->
    <div class="row justify-content-center">
      <div class="col-md-12 form-group">
        <label>Zimmetlenecek Personel</label>
        <select [(ngModel)]="fixedAsset.UserId" name="UserId"  class="form-control" #UserId="ngModel">
          <option [ngValue]="null">Yok</option>
          <option *ngFor="let user of users" value={{user.UserId}}>
              {{user.RegistrationNumber ? user.RegistrationNumber + ' - ' + user.FirstName + ' ' + user.LastName : user.FirstName + ' ' + user.LastName }}
          </option>
        </select>
      </div>
    </div>
   </div>

  <!-- modal-body -->
  <div class="modal-footer">
    <button *ngIf="isWaitingInsertOrUpdate == false" class="btn btn-az-primary" id="btnChangeFirm" type="submit"
      data-toggle="modal" data-target="#modalChangeFirm">
      {{getLanguageValue('Save')}}
    </button>
    <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
  </div>
</form>