<div class="az-content az-content-dashboard-four">
  <div class="media media-dashboard">
    <div class="media-body">
      <!-- Bread Crumb -->
      <div class="az-content-breadcrumb">
        <span>{{getLanguageValue('Fixed_Asset_Management')}}</span>
        <span>{{getLanguageValue('Transaction_List')}}</span>
      </div>
      <!-- END Bread Crumb END -->
      <div class="card card-dashboard-twelve mg-b-20">
        <div class="card-header">
          <h2 class="az-content-title">{{getLanguageValue('Transaction_List')}}</h2>
          <div class="grp-btn-action">
              
            <button id="btnTransactionInfo" class="btn btn-success btn-excel-custom" style="display:none" data-toggle="modal" data-target="#modalTransactionLogInfo">
            </button>

            
            <button class="btn btn-success btn-excel-custom" (click)="downloadForm()" style="margin-right:10px" data-toggle="tooltip"
            data-placement="bottom" title="Form"><i class="fas fa-file-download"></i></button>


            <button class="btn btn-success btn-excel-custom" (click)="exportAsExcelFile(dataTable)" style="margin-right:10px" data-toggle="tooltip" data-placement="bottom" title="Excel">
              <i [ngClass]="{'far fa-file-excel':isTableExporting == false}"
                [class.btn-refresh-loader]="isTableExporting == true"></i>
            </button>

            <button type="button" (click)="refreshTable()" style="margin-right:0" 
              class="btn btn-success btn-refresh-custom" data-toggle="tooltip" data-placement="bottom" title="{{getLanguageValue('Refresh_Table')}}">
              <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}"
                [class.btn-refresh-loader]="isTableRefreshing == true"></i>
            </button>

            <!-- <button class="btn btn-az-primary btn-filter-button"  data-toggle="modal" data-target="#modalTransaction"
            title="Demirbaş Filtreleme" style="margin-left:10px">
            <i class="fas fa-filter"></i>
            </button> -->

          </div>
        </div>
        <div class="sales-overview" style="flex-direction:column">
          <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event)"  [dataTable]="dataTable"></tree-grid-table>
                    <!-- Pagination Side -->
                    <div class="table-pagination">
                        <!-- Per In Page Select area -->
                        <select class="table-pagination-select" (change)="loadTransactionList(perInPage,1)" [(ngModel)]="perInPage">
                          <option *ngFor="let perIn of dataTable.perInPages" value="{{perIn}}">{{perIn}}</option>
                          <option value="1000">{{getLanguageValue('All')}}</option>
                        </select>
                        <!-- END Per In Page Select area END -->
                        <!-- Paginations -->
                        <nav class="pagination-nav">
                          <ul class="pagination">
                            <ng-container *ngFor="let page of pages">
                              <li class="page-item" [class.disabled]="page.isDisabled" [class.active]="page.isActive"><button
                                  (click)="loadTransactionList(perInPage,page.value)" class="page-link">{{page.display}}</button>
                              </li>
                            </ng-container>
                          </ul>
                        </nav>
                        <!-- END Paginations END -->
                      </div>
                      <!-- END Pagination Side END -->
        </div>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->

<div id="modalTransactionLogInfo" class="modal" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content modal-content-demo" style="width: 900px;">
        <div class="modal-header">
          <h6 class="modal-title">{{getLanguageValue('Transaction_Informations')}}</h6>
          <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">      
          <fieldset  class="field_set">
            <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>{{getLanguageValue('Barcode')}} :</label>
                    </div>
                    <div class="col-md-6">
                        <span>{{transaction.Barcode}}</span> 
                    </div> 
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                    <div class="form-group col-md-6">
                      <label>{{getLanguageValue('Transaction_Type')}} :</label>
                      </div>
                      <div class="col-md-6">
                        <span>{{transaction.TransactionType}}</span>
                      </div>
                </div>
              </div>
              </div> 
              <div class="row justify-content-center">
                  <div class="col-md-6">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>{{getLanguageValue('Transaction_Date')}} :</label>
                        </div>
                        <div class="col-md-6">
                            <span>{{transaction.TransactionDate ? transaction.TransactionDate.toString().substring(0, 10).split("-").reverse().join("-") : ""}}</span> 
                        </div> 
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                        <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Transaction_User')}} :</label>
                          </div>
                          <div class="col-md-6">
                            <span>{{transaction.FromUser}}</span>
                          </div>
                    </div>
                  </div>
              </div>
          </fieldset>

      
            <div class="row justify-content-center">            
              <div class="col-md-6">
                  <fieldset  class="field_set" [hidden]="hideToFixedAsset == true || hideFromFixedAsset == true">
                      <legend>{{getLanguageValue('Old')}}</legend>
                      <div class="row" *ngIf="hideOldFiedAsset">
                          <div class="col-md-12" style="text-align:center" >
                          <span>{{getLanguageValue('There_is_no_record_before')}}</span>
                        </div>
                      </div>
                <div [hidden]="hideOldFiedAsset == true">
                        <!-- *ngIf="transaction.ExistingBarcode" -->
                  <div class="row" *ngIf="transaction.NewBarcode">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Barcode')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ExistingBarcode ? transaction.ExistingBarcode : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
                  <!-- *ngIf="transaction.FromFixedAssetCardCategory" -->
                  <div class="row" *ngIf="transaction.ToFixedAssetCardCategory">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Fixed_Asset_Category_')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromFixedAssetCardCategory ? transaction.FromFixedAssetCardCategory : getLanguageValue('There_is_no_record_before') }}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.ToFixedAssetCard">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Fixed_Asset_Card')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromFixedAssetCard  ? transaction.FromFixedAssetCard : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
                  
                  <div class="row" *ngIf="transaction.ToLocation">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Location')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromLocation  ? transaction.FromLocation : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
                  
                  <div class="row" *ngIf="transaction.ToDepartment">
                      <div class="form-group col-md-6">
                          <label>Departman :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromDepartment  ? transaction.FromDepartment : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.ToCompany">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Supplier')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromCompany  ? transaction.FromCompany : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
                  <div class="row" *ngIf="transaction.ToInsuranceCompany">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Insurance_Company')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromInsuranceCompany ? transaction.FromInsuranceCompany : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
                  
                  <div class="row" *ngIf="transaction.ToUser">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Embezzled_User')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromUser ? transaction.FromUser : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
                  <div class="row" *ngIf="transaction.ToSerialNumber">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Serial_Number')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromSerialNumber ? transaction.FromSerialNumber : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
                  
                  <div class="row" *ngIf="transaction.ToStatus">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Fixed_Asset_Statu')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromStatus ? transaction.FromStatus : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
                  <div class="row" *ngIf="transaction.ToBrand">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Fixed_Asset_Brand_')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromBrand ? transaction.FromBrand : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
                  <div class="row" *ngIf="transaction.ToModel">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Fixed_Asset_Model_')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromModel ? transaction.FromModel : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
                  <div class="row" *ngIf="transaction.ToExpenseCenter">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Expense_Center')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromExpenseCenter ? transaction.FromExpenseCenter : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
                  <div class="row" *ngIf="transaction.ToInvoiceNo">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Invoice_No')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromInvoiceNo ? transaction.FromInvoiceNo : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
                  <div class="row" *ngIf="transaction.ToInvoiceDate">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Invoice_Date')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromInvoiceDate ? transaction.FromInvoiceDate : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
                  <div class="row" *ngIf="transaction.ToGuaranteeStartDate">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Guarentee_Start_Date')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromGuaranteeStartDate ? transaction.FromGuaranteeStartDate : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
                  <div class="row" *ngIf="transaction.ToGuaranteeEndDate">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Guarentee_End_Date')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromGuaranteeEndDate ? transaction.FromGuaranteeEndDate : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
                  <div class="row" *ngIf="transaction.FixedAssetIsActive">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Active_State')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FixedAssetIsActive ? transaction.FixedAssetIsActive : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
                  <div class="row" *ngIf="transaction.ToCompany">
                      <div class="form-group col-md-6">
                          <label>Tedarikçi :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FromCompany ? transaction.FromCompany : getLanguageValue('There_is_no_record_before')}}</span> 
                      </div> 
                  </div>
               
                </div>
                </fieldset>
              </div>           
            
              <div class="col-md-6">
                  <fieldset  class="field_set" [hidden]="hideToFixedAsset == true || hideFromFixedAsset == true">
                      <legend>{{getLanguageValue('Actual')}}</legend>
                       
                <div class="row" *ngIf="transaction.NewBarcode" >
                    <div class="form-group col-md-6">
                        <label>{{getLanguageValue('Barcode')}} :</label>
                    </div>
                    <div class="col-md-6">
                        <span>{{transaction.NewBarcode}}</span> 
                    </div> 
                </div>

                      
                  <div class="row" *ngIf="transaction.ToFixedAssetCardCategory" >
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Fixed_Asset_Category_')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToFixedAssetCardCategory}}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.ToFixedAssetCard">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Fixed_Asset_Card')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToFixedAssetCard}}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.ToLocation" >
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Location')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToLocation}}</span> 
                      </div> 
                  </div>
                  
                  <div class="row" *ngIf="transaction.ToDepartment">
                      <div class="form-group col-md-6">
                          <label>Departman :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToDepartment}}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.ToCompany">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Supplier')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToCompany}}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.ToInsuranceCompany">
                      <div class="form-group col-md-6">
                          <label>Sigorta Şirket :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToInsuranceCompany}}</span> 
                      </div> 
                  </div>

                 
                  <div class="row"  *ngIf="transaction.ToUser">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Embezzled_User')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToUser}}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.ToSerialNumber">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Serial_Number')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToSerialNumber}}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.ToStatus">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Fixed_Asset_Statu')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToStatus}}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.ToBrand">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Fixed_Asset_Brand_')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToBrand}}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.ToModel">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Fixed_Asset_Model_')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToModel}}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.ToExpenseCenter">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Expense_Center')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToExpenseCenter}}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.ToInvoiceNo">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Invoice_No')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToInvoiceNo}}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.ToInvoiceDate">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Invoice_Date')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToInvoiceDate}}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.ToGuaranteeStartDate">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Guarentee_Start_Date')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToGuaranteeStartDate}}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.ToGuaranteeEndDate">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Guarentee_End_Date')}} :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToGuaranteeEndDate}}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.FixedAssetIsActive">
                      <div class="form-group col-md-6">
                          <label>{{getLanguageValue('Active_State')}}:</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.FixedAssetIsActive}}</span> 
                      </div> 
                  </div>

                  <div class="row" *ngIf="transaction.ToCompany">
                      <div class="form-group col-md-6">
                          <label>Tedarikçi :</label>
                      </div>
                      <div class="col-md-6">
                          <span>{{transaction.ToCompany}}</span> 
                      </div> 
                  </div>
                  
                  </fieldset>
              </div>
            </div>

            <fieldset class="field_set"   style = "margin-top: 8px;" [hidden]="hideCheckOutReason == true">
              <legend>{{getLanguageValue('Exit_Transactions')}}</legend>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="row" >
                            <div class="form-group col-md-6">
                                <label>{{getLanguageValue('Exit_Type')}} :</label>
                            </div>
                            <div class="col-md-6">
                                <span>{{transaction.CheckOutDescription}}</span> 
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Çıkış Lokasyonu :</label>
                            </div>
                            <div class="col-md-6">
                                <span>{{transaction.CheckOutLocation}}</span> 
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6" >
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>{{getLanguageValue('Sell_Price')}} :</label>
                            </div>
                            <div class="col-md-6">
                                <span>{{transaction.CheckOutPrice}}</span> 
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class="row" >
                            <div class="form-group col-md-6">
                                <label>{{getLanguageValue('Expected_Arrival_Date')}} :</label>
                            </div>
                            <div class="col-md-6">
                                <span>{{transaction.CheckInExpectedArrivalDate}}</span> 
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="row" >
                            <div class="form-group col-md-6">
                                <label>{{getLanguageValue('Undo_Suspend_Date')}} :</label>
                            </div>
                            <div class="col-md-6">
                                <span>{{transaction.UndoSuspensionDate}}</span> 
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label></label>
                            </div>
                            <div class="col-md-6">
                                <span></span> 
                            </div> 
                        </div>
                    </div>
                </div>
            </fieldset>

        </div>
          <!-- modal-body -->
          <div class="modal-footer">
            
          </div>     
      </div>
    </div>
    <!-- modal-dialog -->
  </div>