<div class="az-content az-content-dashboard-four">
  <div class="media media-dashboard">
    <div class="media-body">
      <!-- Bread Crumb -->
      <div class="az-content-breadcrumb">
        <span>{{getLanguageValue('Definitions')}}</span>
        <span>{{getLanguageValue('Fixed_Asset_Cards')}}</span>
      </div>
      <div class="card card-dashboard-twelve mg-b-20">
        <div class="card-header">
          <h2 class="az-content-title">{{getLanguageValue('Fixed_Asset_Cards')}}</h2>
          <div class="grp-btn-action">

            <button type="button" (click)="exportAsExcelFile(dataTable)" class="btn btn-success btn-excel-custom" data-toggle="tooltip" data-placement="bottom" title="Excel">
              <i [ngClass]="{'far fa-file-excel':isTableExporting == false}"
                [class.btn-refresh-loader]="isTableExporting == true"></i>
            </button>

            <button type="button" (click)="refreshTable()" class="btn btn-success btn-refresh-custom">
              <i [ngClass]="{'fas fa-sync-alt':isTableRefreshing== false}"
                [class.btn-refresh-loader]="isTableRefreshing == true"></i>
            </button>

            <button type="button" *ngIf="IsAuthForDelete==true" (click)="onDelete()" data-toggle="tooltip" data-placement="bottom" title="{{getLanguageValue('Delete')}}"
              class="btn btn-danger btn-delete-custom">
              {{dataTable.TGT_getSelectedItems().length > 0 ? dataTable.TGT_getSelectedItems().length : '' }}
              <i class="fas fa-trash"></i></button>

            <button class="btn btn-az-primary" *ngIf="IsAuthForInsert==true" id="btnAddFixedAssetCard"
              data-toggle="modal" data-target="#modalFixedAssetCard" (click)="resetForm(data,true)"><i class="fa fa-plus-circle fa-plus-circle-add"></i>{{getLanguageValue('Add_Fixed_Asset_Card')}}</button>

            <button style="display:none" *ngIf="IsAuthForEdit==true" id="btnEditFixedAssetCard" data-toggle="modal"
              data-target="#modalFixedAssetCard" (click)="resetForm(data,false)">{{getLanguageValue('Readit_Fixed_Asset_Card')}}</button>
          </div>
        </div>
        <div class="sales-overview">
          <tree-grid-table (onDoubleClickItem)="onDoubleClickItem($event,item)" [dataTable]="dataTable">
          </tree-grid-table>
        </div>
      </div>
    </div>
    <!-- az-content-body -->
  </div>
</div>
<!-- az-content -->

<!-- LARGE MODAL -->
<div id="modalFixedAssetCard" class="modal" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">{{getLanguageValue('Enter_fixed_asset_card_informations')}}</h6>
        <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form" #data="ngForm" (ngSubmit)="onSubmit(data) && data.form.valid" novalidate>
        <div class="modal-body">
          <div class="row justify-content-center">
            <div class="col-md-12 form-group">
              <label class="required-span">{{getLanguageValue('Fixed_Asset_Card_Code')}}</label>
              <input type="text" trim="blur" [(ngModel)]="fixedAssetCard.FixedAssetCardCode"
                #FixedAssetCardCode="ngModel" [ngClass]="{ 'is-invalid': data.submitted && FixedAssetCardCode.invalid }"
                name="FixedAssetCardCode" required maxlength="50" class="form-control" />
              <div *ngIf="data.submitted && FixedAssetCardCode.invalid" class="invalid-feedback">
                <div *ngIf="FixedAssetCardCode.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
                <div *ngIf="FixedAssetCardCode.errors.maxlength">{{getLanguageValue('Only_can_enter_max_50_character')}}</div>

              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-12 form-group">
              <label class="required-span">{{getLanguageValue('Fixed_Asset_Card_Name')}}</label>
              <input [(ngModel)]="fixedAssetCard.Name" name="Name" type="text" trim="blur" class="form-control"
                #Name="ngModel" [ngClass]="{ 'is-invalid': data.submitted && Name.invalid }" maxlength="50" required />
              <div *ngIf="data.submitted && Name.invalid" class="invalid-feedback">
                <div *ngIf="Name.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
                <div *ngIf="Name.errors.maxlength">{{getLanguageValue('Only_can_enter_max_50_character')}}</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-12 form-group">
              <label class="required-span">{{getLanguageValue('Fixed_Asset_Category_Name')}}</label>
              <select [(ngModel)]="fixedAssetCard.FixedAssetCardCategoryId" name="FixedAssetCardCategoryId"
                [ngClass]="{ 'is-invalid': data.submitted && FixedAssetCardCategoryId.invalid }" class="form-control"
                (click)="loadFixedAssetCardCategories()" #FixedAssetCardCategoryId="ngModel" required>
                <option [ngValue]="null">Yok</option>
                <option *ngFor="let fixedAssetCardCategory of fixedAssetCardCategories"
                  value={{fixedAssetCardCategory.FixedAssetCardCategoryId}}>{{fixedAssetCardCategory.Name}}</option>
              </select>
              <div *ngIf="data.submitted && FixedAssetCardCategoryId.invalid" class="invalid-feedback">
                <div *ngIf="FixedAssetCardCategoryId.errors.required">{{getLanguageValue('This_value_is_required')}}</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-12 form-group">
              <label>{{getLanguageValue('Description')}}</label>
              <textarea [(ngModel)]="fixedAssetCard.Description" name="Description" style="resize:none" rows="2"
                #Description="ngModel" class="form-control" type="text" maxlength="150"></textarea>
              <div *ngIf="data.submitted && Description.invalid" class="invalid-feedback">
                <div *ngIf="Description.errors.maxlength">{{getLanguageValue('Only_can_enter_max_150_character')}}</div>
              </div>
            </div>
          </div>
        </div>
        <!-- form-group -->
        <div class="modal-footer ustify-content-center">
          <button id="btnInsertOrUpdateFixedAssetCard" type="submit" class="btn btn-az-primary" data-toggle="modal"
            *ngIf="isWaitingInsertOrUpdate == false"
            data-target="#modalInsertFixedAssetCard">{{fixedAssetCard.FixedAssetCardId ? getLanguageValue('Readit_Fixed_Asset_Card') : getLanguageValue('Add_Fixed_Asset_Card')}}</button>
          <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<!-- modal -->


 <!-- GÜNCELLEME ONAY -->

 <div class="modal" data-backdrop="static" id="modalShowQuestionPopupForFixedAssetCard" style=" overflow-y: hidden !important;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content tx-size-sm">
      <div class="modal-body tx-center pd-y-20 pd-x-20">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="icon icon ion-ios-information-circle-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
        <h4 class="mg-b-20">{{getLanguageValue('Warning!')}}</h4>
        <p class="mg-b-20 mg-x-20">{{getLanguageValue('Are_you_sure_you_want_to_update_the_record')}}?</p>
   
        <div class="row" style="margin-bottom:20px;">
          <div class="col-md-6" style="padding-right: 0px;">
            <button class="btn btn-az-danger" style="float:right;" data-dismiss="modal" data-toggle="modal" aria-label="Close" >{{getLanguageValue('Cancel')}}</button>        
          </div>
       
          <div class="col-md-6">        
          <button class="btn btn-az-primary" id="btnYes" type="submit" style="padding: 5px 20px;" (click)="updateFixedAssetCard()">{{getLanguageValue('Update')}}</button>
            </div>   
        </div>

      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->


<!-- SİLME ONAY -->
<div class="modal" data-backdrop="static" id="modalShowDeletePopupForFixedAssetCard" style=" overflow-y: hidden !important;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content tx-size-sm">
      <div class="modal-body tx-center pd-y-20 pd-x-20">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="icon icon ion-ios-information-circle-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
        <h4 class="mg-b-20">{{getLanguageValue('Are_you_sure_you_want_to_delete')}}</h4>
        <p class="mg-b-20 mg-x-20">{{getLanguageValue('This_operation_can_not_be_undone')}}</p>
   
        <div class="row" style="margin-bottom:20px;">
          <div class="col-md-6" style="padding-right: 0px;">
            <button class="btn btn-az-danger" style="float:right; padding-left:32px; padding-right:32px;" data-dismiss="modal" data-toggle="modal" aria-label="Close" >{{getLanguageValue('Cancel')}}</button>        
          </div>
       
          <div class="col-md-6">        
          <button class="btn btn-az-primary" id="btnYes" type="submit" style="padding: 5px 20px; padding-left: 37px;padding-right: 37px;" (click)="deleteFixedAssetCards()">{{getLanguageValue('Delete')}}</button>
            </div>   
        </div>

      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->



<!-- SİLEMEME UYARI -->
<div class="modal" data-backdrop="static" id="modalShowErrorPopup" style=" overflow-y: hidden !important;">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content tx-size-sm">
        <div class="modal-body tx-center pd-y-20 pd-x-20">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <i class="icon icon ion-ios-information-circle-outline tx-100 tx-warning lh-1 mg-t-20 d-inline-block" style="margin-left: 20px;"></i>
          <h4 class="mg-b-20">{{getLanguageValue('Warning!')}}</h4>
          <p class="mg-b-20 mg-x-20">{{ notDeletedBarcode }} {{getLanguageValue('Code_can_not_be_deleted_because_it_uses_in_the_system')}}</p>
     
          <div class="row justify-content-center" style="margin-bottom:20px;">
              <button class="btn btn-az-primary" data-dismiss="modal" data-toggle="modal" aria-label="Close" >{{getLanguageValue('Okay')}}</button>        
          </div>
  
        </div><!-- modal-body -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- modal -->
  