<div id="modalFixedAsset" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-demo">
      <div class="modal-header">
        <h6 class="modal-title">Demirbaş bilgilerini giriniz.</h6>
        <button id="CloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="form" #data="ngForm" (ngSubmit)="OnSubmit(data) && data.form.invalid" novalidate>
        <div class="modal-body">
          <h6>Demirbaş bilgilerini giriniz.</h6>
          <div class="row justify-content-center">
            <input type="hidden" name="FixedAssetId" [(ngModel)]="fixedAsset.FixedAssetId" />
            <div class="form-group">
              <label>Kod</label>
              <input [(ngModel)]="expenseCenter.ExpenseCenterCode" name="ExpenseCenterCode" type="text"
                class="form-control" #ExpenseCenterCode="ngModel"
                [ngClass]="{ 'is-invalid': data.submitted && Name.invalid }" required />
              <div *ngIf="data.submitted && ExpenseCenterCode.invalid" class="invalid-feedback">
                <div *ngIf="ExpenseCenterCode.errors.required">Bu alan zorunludur.</div>
              </div>
              <label>Masraf Yeri</label>
              <input [(ngModel)]="expenseCenter.Name" name="Name" type="text" class="form-control" #Name="ngModel"
                [ngClass]="{ 'is-invalid': data.submitted && Name.invalid }" required />
              <div *ngIf="data.submitted && Name.invalid" class="invalid-feedback">
                <div *ngIf="Name.errors.required">Bu alan zorunludur.</div>
              </div>
            </div>
          </div>
        </div>
        <!-- modal-body -->
        <div class="modal-footer">
          <button id="btnInsertOrUpdateExpenseCenter" type="submit" class="btn btn-orange btn-block btn-height"
            data-toggle="modal" *ngIf="isWaitingInsertOrUpdate == false"
            data-target="#modalInsertExpenseCenter">{{expenseCenter.ExpenseCenterId ? 'Güncelle' : 'Kaydet'}}</button>
          <div *ngIf="isWaitingInsertOrUpdate == true" class="button-loader"></div>
        </div>
      </form>
    </div>
  </div>
  <!-- modal-dialog -->
</div>