<form name="form" #data="ngForm" novalidate>
<mat-horizontal-stepper >   
  <mat-step label="Genel Bilgiler" style="background-color: #e67300;">
        <div class="row justify-content-center">
          <div class="form-group col-md-6">           
          <input [(ngModel)]="fixedAsset.Barcode" (focusout)="isBarcodeUnique(fixedAsset.Barcode)" name="Barcode" 
          [disabled]="disabledBarcode==true" type="text" placeholder="Barkod" class="form-control"
          [ngClass]="{ 'is-invalid': data.submitted && Barcode.invalid }" #Barcode="ngModel" required/>
          <div *ngIf="data.submitted && Barcode.invalid" class="invalid-feedback">
            <div *ngIf="Barcode.errors.required">Bu alan zorunludur.</div>
          </div>
          <div *ngIf="errorMessage!= ''">{{errorMessage}}</div>
        </div>                 
          <div class="form-group col-md-6">
          <input [(ngModel)]="fixedAsset.SerialNumber" name="SerialNumber" type="text" placeholder="Seri Numarası" class="form-control"/>
          </div>
        </div>
        <div class="row justify-content-center">     
          <div class="form-group col-md-3">
            <div style="padding-left:15px; padding-top: 5px; margin-right:0px;">
                <label class="ckbox">
                  <input type="checkbox" name="isBarcodeManual" (change)="isBarcodeManual($event)"/><span>Manuel Barkod</span>
                </label>
            </div>          
          </div>
          <div class="form-group col-md-3"> 
                <input type="number" name="quantity" min="1" max="100" placeholder="Adet" class="form-control" required/>         
          </div>                          
          <div class="form-group col-md-6">
              <select [(ngModel)]="fixedAsset.StatusId" name="StatusId" class="form-control select2" style="width:100%"  [ngClass]="{ 'is-invalid': data.submitted && StatusId.invalid }" #StatusId="ngModel" required>
                  <option [ngValue]="null">Demirbaş Statüsü Seçiniz</option>
                  <option *ngFor="let statu of statuses" value="{{statu.FixedAssetStatusId}}">{{statu.Name}}</option>
              </select>
              <div *ngIf="data.submitted && StatusId.invalid" class="invalid-feedback">
                <div *ngIf="StatusId.errors.required">Bu alan zorunludur.</div>
              </div>        
          </div>
        </div>
        <div class="row justify-content-center">
        <div class="form-group col-md-6">
            <select [(ngModel)]="fixedAsset.FixedAssetCardCategoryId" name="FixedAssetCardCategoryId" style="width:100%;" (click)="loadCategoriesList()" (change)="loadFaCardByCategoryId($event)" class="form-control select2"  [ngClass]="{ 'is-invalid': data.submitted && FixedAssetCardCategoryId.invalid }" #FixedAssetCardCategoryId="ngModel" required >
                <option [ngValue]="null">Demirbaş Kategorisi Seçiniz</option>
                <option *ngFor="let category of fixedassetcategories" value="{{category.FixedAssetCardCategoryId}}">{{category.Name}}</option>
            </select> 
            <div *ngIf="data.submitted && FixedAssetCardCategoryId.invalid" class="invalid-feedback">
                <div *ngIf="FixedAssetCardCategoryId.errors.required">Bu alan zorunludur.</div>
            </div>  
        </div>
        <div class="form-group col-md-6">
            <select [(ngModel)]="fixedAsset.UserId" name="UserId" class="form-control select2" style="width:100%;"   [ngClass]="{ 'is-invalid': data.submitted && UserId.invalid }" #UserId="ngModel" required >
                <option [ngValue]="null">Personel Seçiniz</option>
                <option *ngFor="let staff of staffs" value="{{staff.UserId}}">{{staff.UserMail}}</option>
            </select> 
            <div *ngIf="data.submitted && UserId.invalid" class="invalid-feedback">
                  <div *ngIf="UserId.errors.required">Bu alan zorunludur.</div>
            </div> 
        </div>
        </div>  
        <div class="row justify-content-center">
        <div class="form-group col-md-6">
            <select [(ngModel)]="fixedAsset.FixedAssetCardId" name="FixedAssetCardId" style="width:100%;"  class="form-control select2" [ngClass]="{ 'is-invalid': data.submitted && FixedAssetCardId.invalid }" #FixedAssetCardId="ngModel" required >
                <option [ngValue]="null">Demirbaş Seçiniz</option>
                <option *ngFor="let fa of fixedassetcards" value="{{fa.FixedAssetCardId}}">{{fa.Name}}</option>
            </select> 
            <div *ngIf="data.submitted && FixedAssetCardId.invalid" class="invalid-feedback">
                  <div *ngIf="FixedAssetCardId.errors.required">Bu alan zorunludur.</div>
            </div>        
        </div>
        <div class="form-group col-md-6">
            <select [(ngModel)]="fixedAsset.FixedAssetCardBrandId" name="FixedAssetCardBrandId" style="width:100%;" class="form-control select2" 
            (click)="loadBrandList()" (change)="loadModelByBrandId($event)">
              <option [ngValue]="null">Marka Seçiniz</option>
              <option *ngFor="let brand of brands" value="{{brand.FixedAssetCardBrandId}}">{{brand.Name}}</option>
            </select> 
        </div>
        </div>
        <div class="row justify-content-center">
        <div class="form-group col-md-6">
            <select [(ngModel)]="fixedAsset.DepartmentId" name="DepartmentId" class="form-control select2" style="width:100%;" [ngClass]="{ 'is-invalid': data.submitted && DepartmentId.invalid }" #DepartmentId="ngModel" required >
                <option [ngValue]="null" >Departman Seçiniz</option>
                <option *ngFor="let department of departments" value="{{department.DepartmentId}}">{{department.Name}}</option>
              </select> 
              <div *ngIf="data.submitted && DepartmentId.invalid" class="invalid-feedback">
                  <div *ngIf="DepartmentId.errors.required">Bu alan zorunludur.</div>
              </div> 
        </div>
        <div class="form-group col-md-6">
            <select [(ngModel)]="fixedAsset.FixedAssetCardModelId" name="FixedAssetCardModelId" style="width:100%;"  class="form-control select2">
                <option [ngValue]="null" >Model Seçiniz</option>
                <option *ngFor="let model of models" value="{{model.FixedAssetCardModelId}}">{{model.Name}}</option>
              </select> 
          </div>
        </div>
        <div class="row justify-content-center">
        <div class="form-group col-md-6">
            <select [(ngModel)]="fixedAsset.LocationId" name="LocationId" class="form-control select2" style="width:100%;" [ngClass]="{ 'is-invalid': data.submitted && LocationId.invalid }" #LocationId="ngModel" required>
                <option [ngValue]="null">Lokasyon Seçiniz</option>
                <option *ngFor="let location of locations" value="{{location.LocationId}}">{{location.Name}}</option>
            </select>      
            <div *ngIf="data.submitted && LocationId.invalid" class="invalid-feedback">
                <div *ngIf="LocationId.errors.required">Bu alan zorunludur.</div>
            </div>  
        </div>
        <div class="form-group col-md-6">
            <select [(ngModel)]="fixedAsset.CompanyId" name="CompanyId" style="width:100%;" class="form-control select2">
                <option [ngValue]="null" >Tedarikçi Seçiniz</option>
                <option *ngFor="let company of companies" value="{{company.CompanyId}}">{{company.Name}}</option>
            </select>              
        </div>
        </div>
        <div>
            <button mat-button matStepperNext>Next</button>
        </div>  
  </mat-step>
  <mat-step label="Özellik Bilgileri">
        <div class="row justify-content-center">         
            <div class="form-group col-md-4">
              <label>Özellik Adı</label>
                <select #FixedAssetCardPropertyId [(ngModel)]="fixedAssetPropertyDetail.FixedAssetCardPropertyId" name="FixedAssetCardPropertyId" (click)="loadFixedAssetProperties()" (change)="loadValuesByPropertyId($event)" class="form-control select2" style="width:100%">
                    <option value="-1">Özellik Seçiniz</option>
                    <option *ngFor="let property of fixedassetproperty" value="{{property.FixedAssetCardPropertyId}}">{{property.Name}}</option>
                </select>   
            </div>
            <div class="form-group col-md-4"> 
                <label>Özellik Değeri</label>    
                  <div class="flexProperty">        
                  <div style="flex:1;">            
                   <select [(ngModel)]="fixedAssetCardPropertyValue.FixedAssetPropertyValueId" name="FixedAssetPropertyValueId" *ngIf="isListSelected==true" (change)="getPropertyValue($event)" class="form-control select2-no-search">
                        <option [ngValue]="null">Özellik Değeri Seçiniz</option>
                        <option *ngFor="let value of fixedassetpropertyvalues" value="{{value.Value}}">{{value.Value}}</option>
                   </select> 
                   <input [(ngModel)]="fixedAssetPropertyDetail.Value" name="Value" *ngIf="isListSelected==false"  class="form-control" type="text"
                  style="font-size: 13px;height: 27px;">
                        <!-- <div *ngIf="Value.errors.required">Bu alan zorunludur.</div> -->
                  </div>
                  <div class="property-add-value">                    
                      <span class="tree-table-sign typcn icon-default typcn-plus" (click)="insertPropertyValueToArray(FixedAssetCardPropertyId)"></span>
                  </div>  
                  </div>                
            </div>                  
            <div class="form-group col-md-4">
              <label>Demirbaş Resmi</label>
              <div class="file-area">
              <input #Picture [(ngModel)]="fixedAsset.Picture" id="FixedAssetImage" name="Picture" type="file" class="form-control-file" style="display:none">
                <label for="FixedAssetImage" class="custom-file">
                  <label class="custom-file-text" for="FixedAssetImage">
                   Dosya Seçiniz
                  </label>
                </label>
                <label class="custom-file-remove" (click)="clearFiles()"><span class="fa fa-times"></span></label>
              </div> 
            </div>   
          </div>  
          <div class="row justify-content-center">  
          <div class="form-group col-md-8">
            <tree-grid-table [dataTable]="dataTablePropertyValue"></tree-grid-table>
          </div> 
          <div class="form-group col-md-4 ">        
                  
          </div>
        </div> 
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
  </mat-step>
  <mat-step label="Finansal Bilgiler">
            <div class="row justify-content-center">
              <div class="form-group col-md-3">
                  <input type="text" placeholder="Fiyat" class="form-control"/>               
              </div>
              <div class="form-group col-md-3">
                  <select class="form-control select2-no-search">
                    <option value="-1" >Para Pirimi</option>
                    <option *ngFor="let currency of currencies" value="{{currency.CurrencyId}}">{{currency.Name}}</option>
                  </select>       
              </div>
              <div class="form-group col-md-6">                
                      <input type="text" placeholder="Fatura Numarası" class="form-control"/>  
              </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-md-6">
                    <div class="input-group">
                        <div class="input-group-append">
                          <div (click)="invoiceDate.toggle()" class="input-group-text">
                            <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                          </div>
                        </div>
                        <input class="form-control" type="text" placeholder="Makbuz Tarihi"
                            name="invoiceDate"
                            ngbDatepicker #invoiceDate="ngbDatepicker"/>        
                            <!-- <div *ngIf="data.submitted && endDateModel.invalid" class="invalid-feedback">
                              <div *ngIf="endDateModel.errors.required">Bu alan zorunludur.</div>
                              <div *ngIf="!endDateModel.errors.required && endDateModel.status == 'INVALID'">
                                Lütfen Geçerli Format Giriniz.
                              </div>
                            </div>      -->
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="input-group-append">
                              <div (click)="invoiceDate.toggle()" class="input-group-text">
                                <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                              </div>
                            </div>
                            <input class="form-control" type="text" placeholder="Fatura Tarihi"
                                name="invoiceDate"
                                ngbDatepicker #invoiceDate="ngbDatepicker"/>        
                           
                          </div>
                    </div>
            </div>

            <div class="row justify-content-center">
                <div class="form-group col-md-6">
                  <select class="form-control select2-no-search">
                      <option value="-1" >Sigorta Şirketi</option>
                      <option *ngFor="let company of companies" value = "{{company.CompanyId}}">{{company.Name}}</option>
                  </select>  
                </div>
                <div class="form-group col-md-6">
                  <select class="form-control select2-no-search">
                      <option value="-1" >Masraf Merkezi</option>
                      <option *ngFor="let expense of expensecenters" value="{{expense.ExpenseCenterId}}">{{expense.Name}}</option>
                  </select>
                </div>
              </div>

                <div class="row justify-content-center">
                <div class="form-group col-md-6">
                    <div style="padding-left:15px; padding-top: 5px; margin-right:0px;">
                        <label class="ckbox">
                          <input type="checkbox"/><span>Amortisman Hesaplanacak mı ?</span>
                        </label>
                    </div>
                  </div>
                <div class="form-group col-md-6">
                    <div style="padding-left:15px; padding-top: 5px; margin-right:0px;">
                        <label class="ckbox">
                          <input type="checkbox"/><span>IFRS Hesaplanacak mı ?</span>
                        </label>
                    </div>
                </div>
            </div>  

            <div class="row justify-content-center">
              <div class="form-group col-md-6">
                  <select class="form-control select2-no-search">
                      <option value="-1" >Seçiniz</option>
                      <option >Amortisman Hesaplama Yöntemi</option>
                  </select>   
              </div>
              <div class="form-group col-md-3">
                  <input type="text" placeholder="Fiyat" class="form-control"/>   
              </div>
              <div class="form-group col-md-3">
                  <select [(ngModel)]="fixedAsset.IFRSCurrecyId" name="IFRSCurrecyId" class="form-control select2-no-search">
                      <option value="-1">IFRS Para Pirimi</option>
                      <option *ngFor="let currency of ifrscurrencies" value="{{currency.CurrencyId}}">{{currency.Name}}</option>
                  </select> 
              </div>
          </div>  

          <div class="row justify-content-center">
              <div class="form-group col-md-6">
                <input type="text" placeholder="Amortisman Periyodu" class="form-control"/>
              </div>
              <div class="form-group col-md-6">
                  <input type="text" placeholder="IFRS Periyodu" class="form-control"/>
                </div>
          </div>

          <div class="row justify-content-center">
              <div class="form-group col-md-6">
                  <div style="padding-left:15px; padding-top: 5px; margin-right:0px;">
                      <label class="ckbox">
                        <input type="checkbox"/><span>Demirbaş Aktif mi ?</span>
                      </label>
                  </div>    
              </div>
              <div class="form-group col-md-3">
                  <div class="input-group">
                      <div class="input-group-append">
                        <div (click)="invoiceDate.toggle()" class="input-group-text">
                          <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                        </div>
                      </div>
                      <input class="form-control" type="text" placeholder="Garanti Süresi Başlangıç Tarihi"
                          name="invoiceDate"
                          ngbDatepicker #invoiceDate="ngbDatepicker"/>        
                          <!-- <div *ngIf="data.submitted && endDateModel.invalid" class="invalid-feedback">
                            <div *ngIf="endDateModel.errors.required">Bu alan zorunludur.</div>
                            <div *ngIf="!endDateModel.errors.required && endDateModel.status == 'INVALID'">
                              Lütfen Geçerli Format Giriniz.
                            </div>
                          </div>      -->
                   </div>
              </div>
              <div class="form-group col-md-3">
                  <div class="input-group">
                      <div class="input-group-append">
                        <div (click)="invoiceDate.toggle()" class="input-group-text">
                          <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                        </div>
                      </div>
                      <input class="form-control" type="text" placeholder="Garanti Süresi Bitiş Tarihi"
                          name="invoiceDate"
                          ngbDatepicker #invoiceDate="ngbDatepicker"/>        
                          <!-- <div *ngIf="data.submitted && endDateModel.invalid" class="invalid-feedback">
                            <div *ngIf="endDateModel.errors.required">Bu alan zorunludur.</div>
                            <div *ngIf="!endDateModel.errors.required && endDateModel.status == 'INVALID'">
                              Lütfen Geçerli Format Giriniz.
                            </div>
                          </div>      -->
                   </div>
              </div>
            </div>

          <div class="row justify-content-center">
            <div class="form-group col-md-6">
                <div class="input-group">
                    <div class="input-group-append">
                      <div (click)="invoiceDate.toggle()" class="input-group-text">
                        <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                      </div>
                    </div>
                    <input class="form-control" type="text" placeholder="Aktifleştirme Tarihi"
                        name="invoiceDate"
                        ngbDatepicker #invoiceDate="ngbDatepicker"/>        
                        <!-- <div *ngIf="data.submitted && endDateModel.invalid" class="invalid-feedback">
                          <div *ngIf="endDateModel.errors.required">Bu alan zorunludur.</div>
                          <div *ngIf="!endDateModel.errors.required && endDateModel.status == 'INVALID'">
                            Lütfen Geçerli Format Giriniz.
                          </div>
                        </div>      -->
                  </div>
              </div>
              <div class="form-group col-md-6">
                  <div style="padding-left:15px; padding-top: 5px; margin-right:0px;">
                      <label class="ckbox">
                        <input type="checkbox"/><span>Enflasyon Hesaplanacak mı ?</span>
                      </label>
                  </div>   
              </div>
          </div> 
          <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
          </div>        
  </mat-step>
  <mat-step label="Dosya">
  </mat-step>
  <mat-step label="Demirbaş Listesi">
  </mat-step>
  </mat-horizontal-stepper>
  </form>

    




