.form-group select {
  height: 27px;
  font-size: 13px;
  padding-top: 3px;
  border-radius: 0;
}

.btn-orange {
  background: #e67300;
  color: white;
  border-radius: 0px;
}

.flexProperty {
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}


.table-scroll {
  height: 50px;
  overscroll-behavior-y: contain;
  overflow-y: scroll;
}

.custom-files{
  background: white;
  border: white;
  width: 925px;
  height: 92px;
}

.custom-file-text {
  margin: 0;
  padding: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.my-drop-zone-image {
  border: dotted 1px lightgray;
  height: 150px;
  width:150px
}

.property-values-table {
  max-height: 180px;
  overflow-y: auto;
}

.property-add-value {
  width: 30px;
  padding-left: 12px;
  align-self: center;
}

.file-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.my-drop-zone {
  border: dotted 3px lightgray;
  height: 100px;
}

.nv-file-over {
  border: dotted 3px red;
} /* Default class applied to drop zones on over */

.another-file-over-class {
  border: dotted 3px #e67300;
}

.field_set{
    border:1;
    border-color: #d0cbcb;
    border-style: solid;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

